<div class="doc-wcag-list">
  <ul class="doc-wcag-list__ul">
    {{#each this.criteria as |criterion|}}
      {{#if (and @criteriaList (includes criterion.number @criteriaList))}}
        <li class="doc-wcag-list__li">
          <a href={{criterion.url}} class="doc-wcag-list__link">
          {{criterion.number}} {{criterion.title}}:</a>
          {{criterion.description}}
        </li>
      {{/if}}
    {{else}}
      <li>No relevant Success Criterion found.</li>
    {{/each}}
  </ul>
</div>