{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{! @glint-nocheck: not typesafe yet }}
{{page-title "AppFrame Component - Frameless"}}

<Hds::AppFrame @hasHeader={{false}} as |Frame|>
  <Frame.Sidebar>
    <Hds::SideNav @isResponsive={{true}} @hasA11yRefocus={{false}} @isCollapsible={{true}} @hasHeader={{false}}>
      <:header>
        <Hds::SideNav::Header>
          <:logo>
            <Hds::SideNav::Header::HomeLink @icon="hashicorp" @ariaLabel="HashiCorp" @href="#" />
          </:logo>
          <:actions>
            <Hds::SideNav::Header::IconButton @icon="search" @ariaLabel="Search" />
            <Hds::Dropdown @listPosition="bottom-left" as |dd|>
              <dd.ToggleIcon @icon="help" @text="help menu" />
              <dd.Title @text="Help & Support" />
              <dd.Interactive @text="Documentation" @href="#" />
              <dd.Interactive @text="Tutorials" @href="#" />
              <dd.Interactive @text="Terraform Provider" @href="#" />
              <dd.Interactive @text="Changelog" @href="#" />
              <dd.Separator />
              <dd.Interactive @text="Create support ticket" @href="#" />
              <dd.Interactive @text="Give feedback" @href="#" />
            </Hds::Dropdown>
            <Hds::Dropdown @listPosition="bottom-left" as |dd|>
              <dd.ToggleIcon @icon="user" @text="user menu" />
              <dd.Title @text="Signed In" />
              <dd.Description @text="email@domain.com" />
              <dd.Interactive @href="#" @text="Account Settings" />
            </Hds::Dropdown>
          </:actions>
        </Hds::SideNav::Header>
      </:header>
      <:body>
        <Hds::SideNav::List aria-label="Dashboard" as |SNL|>
          <SNL.Link @icon="dashboard" @text="Dashboard" @isActive={{true}} />
        </Hds::SideNav::List>
        <Hds::SideNav::List aria-label="Services" as |SNL|>
          <SNL.Title>Services</SNL.Title>
          <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
          <SNL.Link @text="Consul" @icon="consul" @href="#" />
          <SNL.Link @text="Packer" @icon="packer" @href="#" />
          <SNL.Link @text="Vault" @icon="vault" @href="#" />
          <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @href="#" />
          <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
          <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
          <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} />
        </Hds::SideNav::List>
        <Hds::SideNav::List aria-label="Organization" as |SNL|>
          <SNL.Title>Default Org</SNL.Title>
          <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
          <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" @hasSubItems={{true}} />
          <SNL.Link @text="Billing" @icon="credit-card" @href="#" @hasSubItems={{true}} />
          <SNL.Link @text="Settings" @icon="settings" @href="#" @hasSubItems={{true}} />
          <SNL.Link @href="#" @isHrefExternal="true" @icon="guide" @text="Documentation" />
        </Hds::SideNav::List>
      </:body>
      <:footer>
        <Hds::Dropdown class="shw-layout-app-frame-full-width-elem" as |dd|>
          <dd.ToggleButton @text="Choose an organization" @icon="org" />
          <dd.Checkmark>
            organizationName
          </dd.Checkmark>
        </Hds::Dropdown>
      </:footer>
    </Hds::SideNav>
  </Frame.Sidebar>

  <Frame.Main>
    <div class="shw-layout-app-frame__main-content-padding">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Breadcrumb>
          <Hds::Breadcrumb>
            <Hds::Breadcrumb::Item @text="Organization" @icon="dashboard" />
            <Hds::Breadcrumb::Item @text="Project" @icon="file-text" />
            <Hds::Breadcrumb::Item @text="Clusters" @icon="server-cluster" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
        <PH.IconTile @icon="server-cluster" />
        <PH.Badges>
          <Hds::Badge @text="Status badge" @icon="award" @color="highlight" />
        </PH.Badges>
        <PH.Subtitle>Project dashboard</PH.Subtitle>
        <PH.Description>
          An overview of all resources in the project.
          <Hds::Link::Inline @color="secondary" @href="#">Learn more</Hds::Link::Inline>.
        </PH.Description>
        <PH.Actions>
          <Hds::Button @text="Create" @icon="plus" @iconPosition="leading" @color="primary" />
        </PH.Actions>
      </Hds::PageHeader>
    </div>
  </Frame.Main>

  <Frame.Footer>
    <Hds::AppFooter as |AF|>
      <AF.LegalLinks />
    </Hds::AppFooter>
  </Frame.Footer>
</Hds::AppFrame>