{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{! @glint-nocheck: not typesafe yet }}
{{page-title "AppFrame Component - Frameless"}}

<Hds::AppFrame @hasHeader={{false}} as |Frame|>
  <Frame.Sidebar>
    <Hds::SideNav
      @isResponsive={{true}}
      @a11yRefocusSkipTo="main"
      @hasA11yRefocus={{true}}
      @isCollapsible={{true}}
      @hasHeader={{false}}
    >
      <:header>
        <Hds::SideNav::Header>
          <:logo>
            <Hds::SideNav::Header::HomeLink @icon="hashicorp" @ariaLabel="HashiCorp" @href="#" />
          </:logo>
          <:actions>
            <Hds::Button @icon="search" @isIconOnly={{true}} @text="Search" />
            <Hds::Dropdown @enableCollisionDetection={{true}} as |dd|>
              <dd.ToggleIcon @icon="help" @text="help menu" />
              <dd.Title @text="Help & Support" />
              <dd.Interactive @text="Documentation" @href="#" />
              <dd.Interactive @text="Tutorials" @href="#" />
              <dd.Interactive @text="Terraform Provider" @href="#" />
              <dd.Interactive @text="Changelog" @href="#" />
              <dd.Separator />
              <dd.Interactive @text="Create support ticket" @href="#" />
              <dd.Interactive @text="Give feedback" @href="#" />
            </Hds::Dropdown>
            <Hds::Dropdown @enableCollisionDetection={{true}} as |dd|>
              <dd.ToggleIcon @icon="user" @text="user menu" />
              <dd.Title @text="Signed In" />
              <dd.Description @text="email@domain.com" />
              <dd.Interactive @href="#" @text="Account Settings" />
            </Hds::Dropdown>
          </:actions>
        </Hds::SideNav::Header>
      </:header>
      <:body>
        <Hds::SideNav::List class="hds-side-nav-hide-when-minimized" aria-label="Dashboard" as |SNL|>
          <SNL.Link @icon="dashboard" @text="Dashboard" @isActive={{true}} />
        </Hds::SideNav::List>
        <Hds::SideNav::List class="hds-side-nav-hide-when-minimized" aria-label="Services" as |SNL|>
          <SNL.Title>Services</SNL.Title>
          <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
          <SNL.Link @text="Consul" @icon="consul" @href="#" />
          <SNL.Link @text="Packer" @icon="packer" @href="#" />
          <SNL.Link @text="Vault" @icon="vault" @href="#" />
          <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @href="#" />
          <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
          <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
          <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} />
        </Hds::SideNav::List>
        <Hds::SideNav::List class="hds-side-nav-hide-when-minimized" aria-label="Organization" as |SNL|>
          <SNL.Title>Default Org</SNL.Title>
          <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
          <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" @hasSubItems={{true}} />
          <SNL.Link @text="Billing" @icon="credit-card" @href="#" @hasSubItems={{true}} />
          <SNL.Link @text="Settings" @icon="settings" @href="#" @hasSubItems={{true}} />
          <SNL.Link @href="#" @isHrefExternal="true" @icon="guide" @text="Documentation" />
        </Hds::SideNav::List>
      </:body>
      <:footer>
        <Hds::Dropdown
          class="hds-side-nav-hide-when-minimized shw-layout-app-frame-full-width-elem"
          @enableCollisionDetection={{true}}
          as |dd|
        >
          <dd.ToggleButton @text="Choose an organization" @icon="org" />
          <dd.Checkmark>
            organizationName
          </dd.Checkmark>
        </Hds::Dropdown>
      </:footer>
    </Hds::SideNav>
  </Frame.Sidebar>

  <Frame.Main id="main">
    <div class="shw-layout-app-frame__main-content-padding">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Breadcrumb>
          <Hds::Breadcrumb>
            <Hds::Breadcrumb::Item @text="Organization" @icon="dashboard" />
            <Hds::Breadcrumb::Item @text="Project" @icon="file-text" />
            <Hds::Breadcrumb::Item @text="Clusters" @icon="server-cluster" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
        <PH.IconTile @icon="server-cluster" />
        <PH.Badges>
          <Hds::Badge @text="Status badge" @icon="award" @color="highlight" />
        </PH.Badges>
        <PH.Subtitle>Project dashboard</PH.Subtitle>
        <PH.Description>
          An overview of all resources in the project.
          <Hds::Link::Inline @color="secondary" @href="#">Learn more</Hds::Link::Inline>.
        </PH.Description>
        <PH.Actions>
          <Hds::Button @text="Create" @icon="plus" @iconPosition="leading" @color="primary" />
        </PH.Actions>
      </Hds::PageHeader>

      <Hds::Text::Body>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi aperiam a molestias quisquam sapiente
          alias corporis sit aliquid similique esse illum at itaque ducimus, eligendi eos. Iure dolor eos cumque autem
          placeat pariatur voluptate deserunt quas, iste quo alias? Sequi, qui ipsa. Laborum, ipsa atque alias nostrum
          nihil repudiandae ratione inventore, qui impedit obcaecati facilis quaerat aliquam omnis consequuntur. Ab,
          deleniti vel. Optio consequuntur sint officiis distinctio dolorem nobis porro ipsum natus hic debitis nihil at
          nostrum, reiciendis exercitationem quod deserunt inventore, repellendus officia cum temporibus. Molestias
          voluptate magni earum unde officia illum doloribus facere natus molestiae quisquam nobis adipisci non
          distinctio quam asperiores saepe, ab veniam dolor animi sed accusamus nulla nam dolorem. Quos reprehenderit
          molestiae veritatis fugiat eligendi temporibus fuga modi, id recusandae dolor mollitia accusantium soluta
          cumque corporis ipsa tempore amet dolorum. Velit nemo voluptatum, culpa libero assumenda ea quae dolorem
          molestias fugiat, maxime eveniet ipsum, et facere aut animi praesentium. Eum voluptatum eaque fugit aspernatur
          voluptas maxime, iste blanditiis doloribus amet repellendus aut cupiditate beatae aperiam molestiae hic saepe
          optio. Neque voluptates quidem, tempore harum aliquid esse perferendis officiis repudiandae dicta? Excepturi
          temporibus molestias sit consectetur consequatur exercitationem et necessitatibus cumque aliquam, quisquam
          dolores alias reiciendis.</p>
        <p>Dicta ab ut, facilis aliquid sit praesentium nesciunt molestias consequatur doloribus fugiat eius laborum aut
          ullam animi excepturi. Recusandae ipsum, quia quis nesciunt asperiores, distinctio aut eligendi facilis ex
          pariatur consectetur, maxime sunt omnis natus vitae amet soluta exercitationem deserunt maiores labore
          corporis eum a porro! Cupiditate fugit architecto reprehenderit pariatur sed rerum enim repellat consequuntur
          ducimus. Aspernatur, quia eligendi? Dignissimos commodi, voluptatem aliquid inventore nobis non qui
          repellendus earum fugit harum a eum eligendi? Id, excepturi! Illum obcaecati maiores, expedita assumenda
          perspiciatis vero dolor quis similique in? Tempora numquam, ipsum ut odio cupiditate soluta aliquid saepe
          necessitatibus explicabo repellat animi! Ut optio adipisci rem ab harum eaque dolores, et animi magnam
          commodi? Quisquam, autem, eum enim quae quam tempore aperiam libero velit adipisci illum tempora ad, at
          deserunt. Est eum molestiae illum possimus nesciunt, impedit culpa, non minus vero labore fuga, nemo id velit
          cumque! Nemo, nesciunt eaque provident consequatur recusandae quisquam illum quidem obcaecati praesentium
          magnam delectus architecto modi neque iure, qui eveniet perferendis iusto soluta quasi laudantium accusamus!
          Possimus, mollitia aut quibusdam voluptatibus dolore accusantium omnis, odio dolores enim vitae dicta rerum
          sit obcaecati modi iste odit repellendus officia quam. Cupiditate ipsum fuga, vitae cumque tempora
          perspiciatis.</p>
        <p>Quisquam est tenetur eius cum voluptate magnam odit ipsum iusto officia quis iste, dignissimos autem
          accusantium aspernatur ea in vel minima nihil commodi aperiam tempora, ullam illum. Ea in molestiae ducimus
          saepe natus minima fugit numquam cupiditate mollitia, ipsa deserunt accusamus quas nobis fuga modi aspernatur
          iure. Similique inventore totam fugit nobis quaerat, numquam rem quos labore cupiditate est. Ratione incidunt
          voluptas minus ipsam necessitatibus aperiam rerum, sapiente explicabo laudantium dicta rem praesentium.
          Repudiandae tenetur velit eligendi odio exercitationem eum natus voluptas? Minus, suscipit! Id, dignissimos.
          Maiores labore voluptatibus repellendus earum beatae quae qui, repellat, voluptas commodi hic enim voluptate
          obcaecati iste. Praesentium qui explicabo nemo, modi nihil asperiores molestias nobis vitae alias nesciunt
          mollitia. Illo labore fuga quia unde consectetur ut cum, beatae tempora vitae nihil aperiam recusandae dolor
          facilis quod repudiandae ratione? Consequuntur illum, autem nulla et neque deserunt at quo reprehenderit in
          voluptatibus rerum, iste, maxime cum eius aperiam eos laborum accusantium dolore laboriosam est sunt assumenda
          nemo sint. Ex officia quam iusto modi facere molestiae reprehenderit beatae ducimus voluptate provident?
          Saepe, voluptate magnam nemo, corrupti, rem ea sequi sunt aut commodi nobis quia. Voluptatem aliquam,
          obcaecati id nemo expedita incidunt culpa minus praesentium, rerum porro quos?</p>
        <p>Voluptate est quibusdam nostrum blanditiis, voluptatibus neque officia eum similique laboriosam voluptates
          hic in obcaecati aliquid aperiam excepturi saepe dolorem illum! Aperiam accusamus id, libero et veritatis in
          quidem aliquam amet exercitationem architecto voluptatum voluptates pariatur sapiente assumenda dolores eius
          repellendus excepturi asperiores molestias natus recusandae. Incidunt similique consequuntur, cum nostrum
          quidem fugit tenetur. Earum ipsa reprehenderit rerum ab, sed omnis dignissimos ea explicabo illo incidunt
          delectus odio modi consequuntur provident magni non, eos voluptatum! Temporibus accusantium pariatur cum qui
          saepe neque, hic accusamus sequi velit distinctio! Quidem eos recusandae assumenda eum veniam repellat culpa
          atque cumque architecto. Deserunt nam omnis cupiditate corrupti est ipsa nesciunt, maxime accusantium numquam
          velit modi, commodi libero placeat ipsum? Iusto harum modi voluptas provident, impedit, tempora quas,
          quibusdam voluptatem facilis debitis repellat quae. Itaque laboriosam nobis quia assumenda tempora
          reprehenderit distinctio odio accusamus omnis beatae ipsum id reiciendis quod est illo modi facere sapiente
          doloremque, maxime libero laborum blanditiis! Architecto numquam cupiditate, ratione ipsum necessitatibus
          reiciendis temporibus accusamus eius iure unde eveniet minima obcaecati veniam ad vero sint eos voluptatem
          ipsa sit amet labore voluptates facilis nobis doloribus! Nobis ex alias ducimus quia numquam voluptas
          possimus. Esse neque consequatur nobis ipsum facere corporis quidem.</p>
        <p>Quam fugiat nihil quasi porro dolores nemo? Asperiores consequuntur rerum eaque perspiciatis ab, quaerat
          debitis totam animi vero officiis cumque ipsa minus tempore cum dolores. Obcaecati, quis officiis! Incidunt
          quas non sed cumque earum sunt optio aspernatur ut quibusdam commodi quia quos ea similique enim consequuntur
          eos dolorum cupiditate quaerat totam modi ratione, voluptate quidem. Inventore libero nisi corrupti. Quibusdam
          ex quidem hic perspiciatis assumenda magnam, labore architecto veritatis eos numquam, expedita aperiam.
          Ratione architecto quia beatae temporibus incidunt neque illo voluptatum aperiam, rem eos deleniti aspernatur
          impedit animi. Facilis voluptas eligendi iste saepe provident sed libero laboriosam at nesciunt voluptate
          dolore modi, ut tenetur? Necessitatibus recusandae nihil voluptas pariatur veritatis nesciunt a vero quae,
          nemo molestiae tempore quasi eius provident ipsum tenetur labore autem ratione fuga perferendis earum quia? At
          neque incidunt, temporibus ducimus nam magni minima eum in esse labore, alias, odio voluptatibus ipsam
          repellendus praesentium quae! Ipsum, reprehenderit aliquid. Sapiente hic blanditiis illum perferendis minus
          beatae nisi rerum qui voluptatum eos quos cupiditate, commodi unde aperiam tenetur in tempora laudantium
          explicabo consequatur autem labore quasi omnis, ut deserunt. Excepturi non maiores laboriosam, magni commodi
          accusantium mollitia! Quos ut dolore esse! Officiis dolor laboriosam impedit. Fuga, error fugiat?</p>
        <p>Animi nulla nisi quia quis molestias omnis odit repellat consectetur soluta et, vel modi voluptatibus! Ut ad
          facere ea debitis. Tenetur explicabo, omnis amet aspernatur atque tempora accusamus sint aperiam obcaecati
          alias! Perferendis, libero, reprehenderit nostrum esse quaerat perspiciatis harum suscipit earum ipsa omnis
          dolores nam natus error placeat tempora exercitationem recusandae. Repudiandae veritatis nulla consequatur
          dolor! Numquam enim at tempore odio voluptatum. Esse, impedit? Perspiciatis delectus illo cupiditate. Vitae
          est cumque sed possimus magni alias voluptas, quisquam, temporibus, obcaecati optio assumenda recusandae
          similique nulla doloribus quas expedita rem. Consequuntur similique neque magni doloremque voluptatibus ut
          voluptas mollitia corporis aliquid? Hic unde quam harum expedita beatae quis, fugit quae. Atque et velit nisi
          iure, asperiores ratione provident laboriosam aut odit deleniti unde sit eligendi dignissimos reprehenderit,
          vel quas magnam incidunt, dolore magni suscipit cumque adipisci accusamus placeat dicta. Labore autem veniam
          ex doloremque quaerat hic voluptas facere ipsa natus, excepturi inventore optio quidem deserunt repudiandae
          possimus. Neque, molestias blanditiis nisi cum praesentium nostrum. Officiis repellat totam deleniti in,
          doloribus animi vero, exercitationem culpa molestias quasi at molestiae quas. Aliquam laboriosam error dolorem
          magnam ad earum nisi fugit asperiores! Sint minima similique delectus sed ratione numquam natus dolore
          praesentium facilis deserunt.</p>
        <p>Nemo ratione quos, consequatur magni libero, incidunt provident, cumque quod dolorum numquam debitis earum
          minima? Quae, in, officia optio minus neque est dolores commodi, atque dolorum consectetur deserunt culpa
          tempora numquam iusto ab magnam nesciunt ratione! Animi quisquam aliquam praesentium officia dolores,
          necessitatibus distinctio aliquid placeat quasi! Et dolorum tempore explicabo iste amet non at qui aut
          temporibus eum reiciendis fuga, similique ipsa illum ipsam! Veritatis adipisci totam sunt architecto
          repudiandae nemo perferendis dolorem? Veritatis perferendis, cupiditate, architecto harum consequatur
          excepturi adipisci temporibus doloribus porro iste beatae dicta at sit qui voluptatibus ipsa fugit quod ipsum
          ab, libero soluta? Hic distinctio tenetur itaque provident praesentium aspernatur architecto officia ea
          assumenda exercitationem, eius dolorum quod, optio porro. Dolore delectus illum accusantium quibusdam quos non
          autem voluptatum cumque cum accusamus alias, beatae tenetur velit illo nesciunt doloremque ipsum minima ad,
          voluptatem quae! Quod labore iusto omnis, vitae eum animi impedit cum porro dicta consequatur! Quisquam, quo
          asperiores in voluptates, odit, autem culpa sunt est architecto fuga aperiam perferendis quia nostrum. Non eos
          pariatur nesciunt! Dolorum voluptatibus, dicta quos sapiente dolor autem doloremque cupiditate commodi totam
          quisquam unde ab iste molestias exercitationem delectus illo laboriosam illum distinctio officia? Sed
          blanditiis temporibus natus repellendus?</p>
        <p>Esse consectetur maxime unde voluptates rem est minus cum soluta aut quisquam eum omnis corrupti rerum
          voluptatum autem molestiae quidem magnam, exercitationem quas odit placeat fugit fugiat! Modi adipisci
          molestiae rem voluptatum eos perferendis autem distinctio quam, officiis ipsa voluptas earum qui illum iste
          aliquid porro praesentium laborum dicta enim optio suscipit repellendus mollitia consequuntur ea? Nesciunt
          odit exercitationem ab pariatur, est vel! Odio quidem eaque aut cum ea officiis ducimus nisi error a hic magni
          voluptatibus sit pariatur similique minima mollitia nam eius iste, itaque ipsam. Iure, aperiam molestiae!
          Molestias magni eos ipsa fugiat perferendis quae odio ipsum explicabo maiores porro, nobis facere nisi
          recusandae laboriosam, vel necessitatibus impedit modi praesentium dolores consectetur hic quam sint. Commodi
          iusto vitae quia aliquid officia unde, est rem possimus in cupiditate! Qui odio impedit suscipit, ipsa animi
          molestias dolores enim ea a optio quo ex magnam! Possimus quibusdam, laborum atque consequatur unde quasi aut
          pariatur voluptas ab itaque, nisi debitis molestiae neque. Nisi, provident rem. Fugit, dolore. Eos corporis
          quae minus magni in consequatur provident voluptate. Quis maxime sequi nostrum optio recusandae hic veniam
          earum dolorum, ipsam illo error molestiae, doloremque esse! Repellendus perferendis error ad dolor, suscipit
          cumque? Ex, non quas.</p>
        <p>Neque voluptate itaque eaque sit nulla repellendus officiis odit similique laudantium, ducimus veritatis sed
          eius provident, sunt corrupti illum accusamus pariatur corporis reprehenderit ipsum, culpa voluptatibus quis
          ad! Earum vitae necessitatibus tempora sapiente odit eos suscipit impedit, aut natus eum distinctio. Alias
          fuga rerum quibusdam, qui placeat enim pariatur tempore consectetur? Repellendus excepturi, fuga incidunt
          itaque enim aut provident ut laboriosam minima optio error in, inventore officia. Ab quia neque laudantium
          debitis expedita ut ad vitae necessitatibus velit, nisi, inventore eos excepturi fuga reiciendis error alias!
          Corporis dolor aut laboriosam est provident magni sequi, modi quibusdam voluptatibus similique cum expedita
          dolore beatae rem officia labore fugiat libero totam maxime illum, debitis culpa ex soluta autem! Esse
          consequuntur quisquam dolor nisi aperiam hic consectetur sint, voluptas repellendus vitae error, veritatis
          harum enim! Porro cumque eum maiores nam aspernatur odit voluptate saepe similique cupiditate, molestias
          consequatur ex expedita non amet sint, id nemo tempore deserunt reiciendis! Consectetur adipisci iste cumque
          ut modi voluptate impedit, ab, accusamus hic dolor pariatur eligendi perspiciatis explicabo ipsam nostrum
          nesciunt harum voluptatum. Illo, molestiae voluptatum? Cum, accusantium amet facilis eveniet, temporibus in
          autem distinctio ratione alias voluptas omnis, sequi magnam provident? Vitae, omnis! Delectus nobis magni ut.</p>
        <p>Corrupti consequatur, velit tenetur excepturi ea quod voluptatem nisi commodi expedita reprehenderit. Minus
          est amet, repellat rem molestiae ratione doloremque nihil temporibus voluptatibus veritatis suscipit soluta
          tenetur, nam accusamus quasi unde saepe a modi excepturi nisi sapiente asperiores voluptas. Libero vero, illo
          qui harum maiores illum voluptas natus accusantium quasi quae ut consequuntur nostrum error saepe quod fugit
          possimus nulla magni porro! Autem reiciendis amet sunt nesciunt, natus ullam saepe nihil, quo eius corrupti
          dolorum fugit omnis beatae dicta excepturi nulla quis laudantium ratione, nisi a dolor voluptatum? Amet,
          repellendus dolor. Perferendis praesentium eaque assumenda iusto corporis, nulla accusamus recusandae, facere
          rerum, voluptatem modi labore quae! Ratione culpa quod autem quia ipsa optio natus quos nisi dignissimos
          perspiciatis, laborum adipisci recusandae voluptate! Nihil dolorem doloremque iste quia quasi illo voluptatum,
          eveniet natus voluptatibus, asperiores sequi nesciunt explicabo quidem atque sit suscipit blanditiis
          accusantium laboriosam deleniti mollitia. Quia saepe repellendus dolore officia dignissimos impedit vitae sed
          quam placeat vero tempora, at quod earum magni praesentium eius iure eligendi. Illo rem sint fugit ullam
          pariatur voluptatum est culpa ratione ab quaerat doloribus accusantium ducimus similique asperiores
          dignissimos, perspiciatis deleniti hic quam laudantium unde harum nobis eos, nemo sit! Quasi explicabo itaque
          animi!</p>
      </Hds::Text::Body>
    </div>
  </Frame.Main>

  <Frame.Footer>
    <Hds::AppFooter as |AF|>
      <AF.LegalLinks />
    </Hds::AppFooter>
  </Frame.Footer>
</Hds::AppFrame>