{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "AppFrame Component"}}

<Shw::Text::H1>AppFrame</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Containers</Shw::Text::H2>

  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    <SG.Item @label="With header/sidebar/main/footer">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="Without header">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="Without sidebar">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="Without footer">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="With modal container (empty)">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
          <Frame.Modals />
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="With modal container (with content)">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
          <Frame.Modals>
            <div class="shw-layout-app-frame-fake-overlay" />
            <div class="shw-layout-app-frame-fake-modal">
              <Shw::Placeholder @width="100%" @height="100%" @text="modal" @background="#ffffffb5" />
            </div>
          </Frame.Modals>
        </Hds::AppFrame>
      </div>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>3d Visualization</Shw::Text::H3>

  <button type="button" {{on "click" this.toggle3DVisualization}} {{style margin-bottom="20px"}}>
    {{if this.show3DVisualization "Hide" "Show"}}
  </button>

  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    <SG.Item>
      <div
        class="shw-layout-app-frame-wrapper shw-layout-app-frame-wrapper--with-3d
          {{if this.show3DVisualization 'shw-is-3d' 'shw-is-flat'}}"
      >
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
          <Frame.Modals>
            <div class="shw-layout-app-frame-fake-overlay" />
            <div class="shw-layout-app-frame-fake-modal">
              <Shw::Placeholder @width="100%" @height="100%" @text="modal" @background="#ffffffb5" />
            </div>
          </Frame.Modals>
        </Hds::AppFrame>
      </div>
    </SG.Item>
  </Shw::Grid>
</section>

{{! For some reason, Ember tests don't play well with iframes (URL not found) so we don't snapshots them in Percy }}
<section>
  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Framed</Shw::Text::H3>

  <Shw::Frame
    @id="demo-full-app-frame"
    @src="/layouts/app-frame/frameless/demo-full-app-frame"
    @label="Full app-frame"
  />

  <Shw::Frame
    @id="demo-full-app-frame-with-modal"
    @src="/layouts/app-frame/frameless/demo-full-app-frame-with-modal"
    @label="Full app-frame with modal"
  />
</section>

<section data-test-percy>
  <Shw::Divider />

  <Shw::Text::H2>Content</Shw::Text::H2>

  {{! 
    Note: The below examples are commented out as they are redundant to the following "Framed" examples.
    However we still need to find a solution for adding visual regression tests for the framed examples. 
    (So we may decide to uncomment these examples to add them back to the visual regression tests depending.)
  }}
  {{!-- <Shw::Grid @columns={{1}} {{style gap="2rem"}} as |SG|>
    <SG.Item @label="With AppHeader & typical child component content" {{style width="100%"}}>
      <Hds::AppFrame class="shw-component-app-frame-container" as |Frame|>
        <Frame.Header>
          <Hds::AppHeader>
            <:logo>
              <Hds::AppHeader::HomeLink @icon="hashicorp" @ariaLabel="HashiCorp home menu" @href="#" />
            </:logo>
            <:globalActions>
              <Hds::Dropdown as |dd|>
                <dd.ToggleButton @text="Choose an organization" @icon="org" />
                <dd.Checkmark>
                  organizationName
                </dd.Checkmark>
              </Hds::Dropdown>
            </:globalActions>
            <:utilityActions>
              <Hds::Dropdown @listPosition="bottom-right" as |dd|>
                <dd.ToggleIcon @icon="help" @text="help menu" />
                <dd.Title @text="Help & Support" />
                <dd.Interactive @text="Documentation" @href="#" />
                <dd.Interactive @text="Tutorials" @href="#" />
                <dd.Interactive @text="Terraform Provider" @href="#" />
                <dd.Interactive @text="Changelog" @href="#" />
                <dd.Separator />
                <dd.Interactive @text="Create support ticket" @href="#" />
                <dd.Interactive @text="Give feedback" @href="#" />
              </Hds::Dropdown>
              <Hds::Dropdown @listPosition="bottom-right" as |dd|>
                <dd.ToggleIcon @icon="user" @text="user menu" />
                <dd.Title @text="Signed In" />
                <dd.Description @text="email@domain.com" />
                <dd.Interactive @href="#" @text="Account Settings" />
              </Hds::Dropdown>
            </:utilityActions>
          </Hds::AppHeader>
        </Frame.Header>
        <Frame.Sidebar>
          <Hds::SideNav
            @isResponsive={{true}}
            @hasA11yRefocus={{false}}
            @isCollapsible={{true}}
          >
            <:body>
              <Hds::SideNav::List aria-label="Dashboard" as |SNL|>
                <SNL.Link @icon="dashboard" @text="Dashboard" @isActive={{true}} />
              </Hds::SideNav::List>
              <Hds::SideNav::List aria-label="Services" as |SNL|>
                <SNL.Title>Services</SNL.Title>
                <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
                <SNL.Link @text="Consul" @icon="consul" @href="#" />
                <SNL.Link @text="Packer" @icon="packer" @href="#" />
                <SNL.Link @text="Vault" @icon="vault" @href="#" />
                <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @href="#" />
                <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
                <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
                <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} />
              </Hds::SideNav::List>
              <Hds::SideNav::List aria-label="Organization" as |SNL|>
                <SNL.Title>Default Org</SNL.Title>
                <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
                <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" @hasSubItems={{true}} />
                <SNL.Link @text="Billing" @icon="credit-card" @href="#" @hasSubItems={{true}} />
                <SNL.Link @text="Settings" @icon="settings" @href="#" @hasSubItems={{true}} />
                <SNL.Link @href="#" @isHrefExternal="true" @icon="guide" @text="Documentation" />
              </Hds::SideNav::List>
            </:body>
          </Hds::SideNav>
        </Frame.Sidebar>
        <Frame.Main>
          <Shw::Placeholder @height="100%" @text="main" @background="#fff" />
        </Frame.Main>
        <Frame.Footer>
          <Hds::AppFooter as |AF|>
            <AF.LegalLinks />
          </Hds::AppFooter>
        </Frame.Footer>
      </Hds::AppFrame>
    </SG.Item>

    <SG.Item @label="SideNav without AppHeader" {{style width="100%"}}>
      <Hds::AppFrame class="shw-component-app-frame-container" as |Frame|>
        <Frame.Sidebar>
          <Hds::SideNav @isResponsive={{true}} @hasA11yRefocus={{false}} @isCollapsible={{true}} @hasHeader={{false}}>
            <:header>
              <Hds::SideNav::Header>
                <:logo>
                  <Hds::SideNav::Header::HomeLink @icon="hashicorp" @ariaLabel="HashiCorp" @href="#" />
                </:logo>
                <:actions>
                  <Hds::Button @icon="search" @isIconOnly={{true}} @text="Search" />
                  <Hds::Dropdown @listPosition="bottom-left" as |dd|>
                    <dd.ToggleIcon @icon="help" @text="help menu" />
                    <dd.Title @text="Help & Support" />
                    <dd.Interactive @text="Documentation" @href="#" />
                    <dd.Interactive @text="Tutorials" @href="#" />
                    <dd.Interactive @text="Terraform Provider" @href="#" />
                    <dd.Interactive @text="Changelog" @href="#" />
                    <dd.Separator />
                    <dd.Interactive @text="Create support ticket" @href="#" />
                    <dd.Interactive @text="Give feedback" @href="#" />
                  </Hds::Dropdown>
                  <Hds::Dropdown @listPosition="bottom-left" as |dd|>
                    <dd.ToggleIcon @icon="user" @text="user menu" />
                    <dd.Title @text="Signed In" />
                    <dd.Description @text="email@domain.com" />
                    <dd.Interactive @href="#" @text="Account Settings" />
                  </Hds::Dropdown>
                </:actions>
              </Hds::SideNav::Header>
            </:header>
            <:body>
              <Hds::SideNav::List aria-label="Dashboard" as |SNL|>
                <SNL.Link @icon="dashboard" @text="Dashboard" @isActive={{true}} />
              </Hds::SideNav::List>
              <Hds::SideNav::List aria-label="Services" as |SNL|>
                <SNL.Title>Services</SNL.Title>
                <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
                <SNL.Link @text="Consul" @icon="consul" @href="#" />
                <SNL.Link @text="Packer" @icon="packer" @href="#" />
                <SNL.Link @text="Vault" @icon="vault" @href="#" />
                <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @href="#" />
                <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
                <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
                <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} />
              </Hds::SideNav::List>
              <Hds::SideNav::List aria-label="Organization" as |SNL|>
                <SNL.Title>Default Org</SNL.Title>
                <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
                <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" @hasSubItems={{true}} />
                <SNL.Link @text="Billing" @icon="credit-card" @href="#" @hasSubItems={{true}} />
                <SNL.Link @text="Settings" @icon="settings" @href="#" @hasSubItems={{true}} />
                <SNL.Link @href="#" @isHrefExternal="true" @icon="guide" @text="Documentation" />
              </Hds::SideNav::List>
            </:body>
            <:footer>
              <Hds::Dropdown class="shw-layout-app-frame-full-width-elem" as |dd|>
                <dd.ToggleButton @text="Choose an organization" @icon="org" />
                <dd.Checkmark>
                  organizationName
                </dd.Checkmark>
              </Hds::Dropdown>
            </:footer>
          </Hds::SideNav>
        </Frame.Sidebar>
        <Frame.Main>
          <Shw::Placeholder @height="100%" @text="main" @background="#fff" />
        </Frame.Main>
        <Frame.Footer>
          <Hds::AppFooter as |AF|>
            <AF.LegalLinks />
          </Hds::AppFooter>
        </Frame.Footer>
      </Hds::AppFrame>
    </SG.Item>
  </Shw::Grid> --}}
</section>

{{! For some reason, Ember tests don't play well with iframes (URL not found) so we don't snapshots them in Percy }}
<section>
  {{!-- <Shw::Divider @level={{2}} /> --}}

  <Shw::Text::H3>Framed</Shw::Text::H3>

  <Shw::Frame
    @id="demo-full-app-frame-with-app-header"
    @src="/layouts/app-frame/frameless/demo-full-app-frame-with-app-header"
    @height="780"
    @label="Full AppFrame with AppHeader"
  />

  <Shw::Frame
    @id="demo-full-app-frame-with-side-nav"
    @src="/layouts/app-frame/frameless/demo-full-app-frame-with-side-nav"
    @height="780"
    @label="Full AppFrame with SideNav but without AppHeader"
  />
</section>