{{page-title "Components"}}

<Doc::Page::Stage>
  <Doc::Page::Cover @title="Components" />
  <Doc::Page::Content @breakthrough={{true}}>
    <Doc::Cards::Deck @cols="4" @cards={{this.cards.components}} />
    <h2 class="doc-text-h2">Overrides</h2>
    <Doc::Cards::Deck @cols="4" @cards={{this.cards.overrides}} />
    <h2 class="doc-text-h2">Utilities</h2>
    <Doc::Cards::Deck @cols="4" @cards={{this.cards.utilities}} />
  </Doc::Page::Content>
</Doc::Page::Stage>