{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<main class="doc-page-home" id="main">
  <div class="doc-page-home__content">
    <div class="doc-page-home__hero">
      <h1><span class="doc-page-home__hero-helios">Helios</span> Design System</h1>
      <p>The Helios Design System from HashiCorp provides the open source building blocks to design and implement
        consistent, accessible, and delightful product experiences.</p>
      <div class="doc-page-home__hero-links">
        <Doc::LinkWithIcon
          @route="show"
          @model="whats-new/release-notes"
          @label="Release Notes"
          @icon="arrow-right"
          @isAnimated={{true}}
        />
        <Doc::LinkWithIcon
          @href="https://go.hashi.co/hds-rollout"
          @label="Helios Roadmap"
          @icon="external-link"
          @isAnimated={{true}}
        />
        <Doc::LinkWithIcon
          @href="https://go.hashi.co/hds-feedback"
          @label="Share Feedback"
          @icon="external-link"
          @isAnimated={{true}}
        />
      </div>
    </div>
    <ul class="doc-page-home__cards" role="list" aria-label="the cornerstones of the helios design system">
      {{#each this.cards as |card|}}
        <li class="doc-page-home__card">
          <p class="doc-page-home__card-title">{{capitalize card.title}}</p>
          <p class="doc-page-home__card-description">{{capitalize card.description}}</p>
          <Doc::LinkWithIcon
            class="doc-page-home__card-link"
            @route={{card.route}}
            @label="Explore"
            @icon="arrow-right"
            @fillParent={{true}}
            @isAnimated={{true}}
            aria-label={{concat "Explore " card.title ": " card.description}}
          />
        </li>
      {{/each}}
    </ul>
  </div>
</main>