{{page-title this.title}}

<Doc::Page::Stage>
  {{#if this.model.hasCover}}
    <Doc::Page::Cover
      @title={{this.title}}
      @description={{this.description}}
      @extra={{this.extra}}
      @tabs={{this.tabs}}
      @selectedTab={{this.currentTab}}
      @onClickTab={{this.onClickTab}}
    />
  {{/if}}

  <Doc::Page::Content @breakthrough={{not this.model.hasSidecar}} id={{this.model.showContentId}}>
    {{#if this.currentTab}}
      <section id={{this.currentTab.lowerLabel}} role="tabpanel" aria-labelledby={{this.currentTab.id}}>
        <DynamicTemplate @templateString={{this.renderedContent}} @componentId={{this.model.id}} />
      </section>
    {{else}}
      <DynamicTemplate @templateString={{this.renderedContent}} @componentId={{this.model.id}} />
    {{/if}}

    {{#if this.relatedComponents}}
      <Doc::RelatedComponents @cards={{this.relatedComponents}} />
    {{/if}}
  </Doc::Page::Content>

  {{#if this.model.hasSidecar}}
    <Doc::Page::Sidecar @sidecarId={{this.sidecarId}} @sidecar={{this.sidecarContent}} />
  {{/if}}
</Doc::Page::Stage>