{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "AppFrame Component"}}

<Shw::Text::H1>AppFrame</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Containers</Shw::Text::H2>

  <Shw::Grid @columns={{2}} {{style gap="2rem"}} as |SG|>
    <SG.Item @label="With header/sidebar/main/footer">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="Without header">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="Without sidebar">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="Without footer">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="With modal container (empty)">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
          <Frame.Modals />
        </Hds::AppFrame>
      </div>
    </SG.Item>
    <SG.Item @label="With modal container (with content)">
      <div class="shw-layout-app-frame-wrapper">
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
          <Frame.Modals>
            <div class="shw-layout-app-frame-fake-overlay" />
            <div class="shw-layout-app-frame-fake-modal">
              <Shw::Placeholder @width="100%" @height="100%" @text="modal" @background="#ffffffb5" />
            </div>
          </Frame.Modals>
        </Hds::AppFrame>
      </div>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>3d Visualization</Shw::Text::H3>

  <button type="button" {{on "click" this.toggle3DVisualization}} {{style margin-bottom="20px"}}>
    {{if this.show3DVisualization "Hide" "Show"}}
  </button>

  <Shw::Grid @columns={{2}} {{style gap="2rem"}} as |SG|>
    <SG.Item>
      <div
        class="shw-layout-app-frame-wrapper shw-layout-app-frame-wrapper--with-3d
          {{if this.show3DVisualization 'shw-is-3d' 'shw-is-flat'}}"
      >
        <Hds::AppFrame as |Frame|>
          <Frame.Header>
            <Shw::Placeholder @height="60px" @text="header" @background="#e5ffd2" />
          </Frame.Header>
          <Frame.Sidebar>
            <Shw::Placeholder @width="120px" @height="100%" @text="sidebar" @background="#e4c5f3" />
          </Frame.Sidebar>
          <Frame.Main>
            <Shw::Placeholder @height="100%" @text="main" @background="#d2f4ff" />
          </Frame.Main>
          <Frame.Footer>
            <Shw::Placeholder @height="60px" @text="footer" @background="#fff8d2" />
          </Frame.Footer>
          <Frame.Modals>
            <div class="shw-layout-app-frame-fake-overlay" />
            <div class="shw-layout-app-frame-fake-modal">
              <Shw::Placeholder @width="100%" @height="100%" @text="modal" @background="#ffffffb5" />
            </div>
          </Frame.Modals>
        </Hds::AppFrame>
      </div>
    </SG.Item>
  </Shw::Grid>
</section>