{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Layout::Flex Component"}}

<Shw::Text::H1>Layout::Flex</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Direction</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="row (default)">
      <Shw::Outliner>
        <Hds::Layout::Flex @direction="row">
          <Shw::Placeholder @text="item #1" @height="40" @background="#e4c5f3" />
          <Shw::Placeholder @text="item #2" @height="40" @background="#e5ffd2" />
          <Shw::Placeholder @text="item #3" @height="40" @background="#d2f4ff" />
          <Shw::Placeholder @text="item #4" @height="40" @background="#fff8d2" />
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="column" {{style width="25%"}}>
      <Shw::Outliner>
        <Hds::Layout::Flex @direction="column">
          <Shw::Placeholder @text="item #1" @height="40" @background="#e4c5f3" />
          <Shw::Placeholder @text="item #2" @height="40" @background="#e5ffd2" />
          <Shw::Placeholder @text="item #3" @height="40" @background="#d2f4ff" />
          <Shw::Placeholder @text="item #4" @height="40" @background="#fff8d2" />
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Wrap</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |wrap|}}
        <SF.Item @label={{if wrap "wrap" "nowrap (default)"}}>
          <Shw::Outliner {{style width="650px" max-width="100%"}}>
            <Hds::Layout::Flex @wrap={{wrap}}>
              <Shw::Placeholder @text="#1" @width="200" @height="40" @background="#e4c5f3" {{style flex="none"}} />
              <Shw::Placeholder @text="#2" @width="200" @height="40" @background="#e5ffd2" {{style flex="none"}} />
              <Shw::Placeholder @text="#3" @width="200" @height="40" @background="#d2f4ff" {{style flex="none"}} />
              <Shw::Placeholder @text="#4" @width="200" @height="40" @background="#fff8d2" {{style flex="none"}} />
              <Shw::Placeholder @text="#5" @width="200" @height="40" @background="#f3d9c5" {{style flex="none"}} />
            </Hds::Layout::Flex>
          </Shw::Outliner>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Justify + Align</Shw::Text::H2>
  <Shw::Text::Body>These are the
    <code>justify-content</code>
    and
    <code>align-items</code>
    CSS properties of
    <code>flexbox</code>.</Shw::Text::Body>

  {{#each @model.DIRECTIONS as |direction|}}
    <Shw::Text::H3>direction={{direction}}</Shw::Text::H3>
    <Shw::Grid @columns={{@model.JUSTIFYS.length}} @gap="2rem" as |SG|>
      {{#each @model.ALIGNS as |align ac|}}
        {{#if (eq ac 0)}}
          {{#each @model.JUSTIFYS as |justify|}}
            <SG.Item>
              <span class="shw-label">justify={{justify}}</span>
            </SG.Item>
          {{/each}}
        {{/if}}
        {{#each @model.JUSTIFYS as |justify jc|}}
          <SG.Item @label={{if (eq jc 0) (concat "align=" align) "​"}}>
            <Shw::Outliner {{style width="120px" height="120px"}}>
              <Hds::Layout::Flex
                @direction={{direction}}
                @justify={{justify}}
                @align={{align}}
                {{style width="100%" height="100%"}}
              >
                <Shw::Placeholder
                  @text="#A"
                  @width="auto"
                  @height="auto"
                  {{style min-width="24px" min-height="24px"}}
                  @background="#e4c5f3"
                />
                <Shw::Placeholder
                  @text="#B"
                  @width="auto"
                  @height="auto"
                  {{style min-width="24px" min-height="24px"}}
                  @background="#e5ffd2"
                />
                <Shw::Placeholder
                  @text="#C"
                  @width="auto"
                  @height="auto"
                  {{style min-width="24px" min-height="24px"}}
                  @background="#d2f4ff"
                />
              </Hds::Layout::Flex>
            </Shw::Outliner>
          </SG.Item>
        {{/each}}
      {{/each}}
    </Shw::Grid>
  {{/each}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Display</Shw::Text::H3>

  <Shw::Flex @gap="2rem" as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |isInline|}}
        <SF.Item @label={{if isInline "inline-flex (isInline=true)" "flex (default)"}}>
          <Hds::Text::Body @size="200" @tag="p">
            Lorem
            <Hds::Layout::Flex @isInline={{isInline}}>
              <Shw::Placeholder @text="#1" @width="24" @height="24" @background="#e4c5f3" />
              <Shw::Placeholder @text="#2" @width="24" @height="24" @background="#e5ffd2" />
              <Shw::Placeholder @text="#3" @width="24" @height="24" @background="#d2f4ff" />
              <Shw::Placeholder @text="#4" @width="24" @height="24" @background="#fff8d2" />
            </Hds::Layout::Flex>
            sit amet
            <Hds::Layout::Flex @isInline={{isInline}}>
              <Shw::Placeholder @text="#A" @width="24" @height="24" @background="#e4c5f3" />
              <Shw::Placeholder @text="#B" @width="24" @height="24" @background="#e5ffd2" />
              <Shw::Placeholder @text="#C" @width="24" @height="24" @background="#d2f4ff" />
              <Shw::Placeholder @text="#D" @width="24" @height="24" @background="#fff8d2" />
            </Hds::Layout::Flex>
            elit.
          </Hds::Text::Body>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

</section>

<Shw::Divider />

<section data-test-percy>

  <Shw::Text::H2>Flex::Item</Shw::Text::H2>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item @label="used directly or via yielded component">
      <Shw::Outliner>
        <Hds::Layout::Flex as |HLF|>
          <Shw::Placeholder @text="item #1" @height="40" @background="#e4c5f3" />
          <Hds::Layout::Flex::Item>
            <Shw::Placeholder @text="item #2 within Flex::Item" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <Shw::Placeholder @text="item #3" @height="40" @background="#d2f4ff" />
          <HLF.Item>
            <Shw::Placeholder @text="item #4 within HLF.Item" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Basis</Shw::Text::H3>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item as |SGI|>
      <SGI.Label>with <code>size</code> values</SGI.Label>
      <Shw::Outliner>
        <Hds::Layout::Flex as |HLF|>
          <Hds::Layout::Flex::Item @basis="10em">
            <Shw::Placeholder @text="item #1 with basis=10em" @height="40" @background="#e4c5f3" />
          </Hds::Layout::Flex::Item>
          <Hds::Layout::Flex::Item @basis="200px">
            <Shw::Placeholder @text="item #2 with basis=200px" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <HLF.Item @basis="40%">
            <Shw::Placeholder @text="item #3 with basis=40%" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item @basis="auto">
            <Shw::Placeholder @text="item #4 with basis=auto" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
    <SG.Item as |SGI|>
      <SGI.Label>with <code>keyword</code> values</SGI.Label>
      <Shw::Outliner>
        <Hds::Layout::Flex as |HLF|>
          <Hds::Layout::Flex::Item @basis="auto">
            <Shw::Placeholder @text="item #1 with basis=auto" @height="40" @background="#e4c5f3" />
          </Hds::Layout::Flex::Item>
          <Hds::Layout::Flex::Item @basis="content">
            <Shw::Placeholder @text="item #2 with basis=content" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <HLF.Item @basis="max-content">
            <Shw::Placeholder @text="item #3 with basis=max-content" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item @basis="fit-content">
            <Shw::Placeholder @text="item #4 with basis=fit-content" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Grow</Shw::Text::H3>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item as |SGI|>
      <SGI.Label>with <code>0/1</code> and <code>true/false</code> values</SGI.Label>
      <Shw::Outliner>
        <Hds::Layout::Flex as |HLF|>
          <Hds::Layout::Flex::Item @grow={{0}}>
            <Shw::Placeholder @text="item #1 with grow=0" @height="40" @background="#e4c5f3" />
          </Hds::Layout::Flex::Item>
          <Hds::Layout::Flex::Item @grow={{1}}>
            <Shw::Placeholder @text="item #2 with grow=1" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <HLF.Item @grow={{false}}>
            <Shw::Placeholder @text="item #3 with grow=false" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item @grow={{true}}>
            <Shw::Placeholder @text="item #4 with grow=true" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
    <SG.Item as |SGI|>
      <SGI.Label>with <code>numeric/string</code> values (to handle special cases)</SGI.Label>
      <Shw::Outliner>
        <Hds::Layout::Flex as |HLF|>
          <Hds::Layout::Flex::Item @grow={{1}}>
            <Shw::Placeholder @text="item #1 with grow=1" @height="40" @background="#e4c5f3" />
          </Hds::Layout::Flex::Item>
          <Hds::Layout::Flex::Item @grow={{2}}>
            <Shw::Placeholder @text="item #2 with grow=2" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <HLF.Item @grow="3">
            <Shw::Placeholder @text="item #3 with grow='3'" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item @grow="4">
            <Shw::Placeholder @text="item #4 with grow='4'" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Shrink</Shw::Text::H3>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item as |SGI|>
      <SGI.Label>with <code>0/1</code> and <code>true/false</code> values</SGI.Label>
      <Shw::Outliner {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <Hds::Layout::Flex::Item @basis="300px" @shrink={{0}}>
            <Shw::Placeholder @text="item #1 with shrink=0" @height="40" @background="#e4c5f3" />
          </Hds::Layout::Flex::Item>
          <Hds::Layout::Flex::Item @basis="300px" @shrink={{1}}>
            <Shw::Placeholder @text="item #2 with shrink=1" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <HLF.Item @basis="300px" @shrink={{false}}>
            <Shw::Placeholder @text="item #3 with shrink=false" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink={{true}}>
            <Shw::Placeholder @text="item #4 with shrink=true" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
    <SG.Item as |SGI|>
      <SGI.Label>with <code>numeric/string</code> values (to handle special cases)</SGI.Label>
      <Shw::Outliner {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <Hds::Layout::Flex::Item @basis="300px" @shrink={{1}}>
            <Shw::Placeholder @text="item #1 with shrink=1" @height="40" @background="#e4c5f3" />
          </Hds::Layout::Flex::Item>
          <Hds::Layout::Flex::Item @basis="300px" @shrink={{2}}>
            <Shw::Placeholder @text="item #2 with shrink=2" @height="40" @background="#e5ffd2" />
          </Hds::Layout::Flex::Item>
          <HLF.Item @basis="300px" @shrink="3">
            <Shw::Placeholder @text="item #3 with shrink='3'" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink="4">
            <Shw::Placeholder @text="item #4 with shrink='4'" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>enableCollapseBelowContentSize</Shw::Text::H3>

  <Shw::Text::Body>This property applies a
    <code>min-width: 0</code>
    to the flex item to allow the element to shrink below its content's intrinsic minimum width.</Shw::Text::Body>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item @label="first flex item has enableCollapseBelowContentSize=true">
      <Shw::Outliner {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <HLF.Item @enableCollapseBelowContentSize={{true}}>
            <Shw::Placeholder @height="40" @background="#e4c5f3">
              <span {{style display="block" white-space="nowrap" overflow="hidden" text-overflow="ellipsis"}}>item #1
                with a very long text that might cause overflow issues</span>
            </Shw::Placeholder>
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #2 with width=150px" @width="150px" @height="40" @background="#e5ffd2" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #3 with width=150px" @width="150px" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #4" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
    <SG.Item @label="first flex item has basis=0px">
      <Shw::Outliner {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <HLF.Item @basis="0px">
            <Shw::Placeholder @height="40" @background="#e4c5f3">
              <pre {{style white-space="nowrap" overflow="hidden" text-overflow="ellipsis"}}>item #1 with a very long
                text that might cause overflow issues</pre>
            </Shw::Placeholder>
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #2 with width=150px" @width="150px" @height="40" @background="#e5ffd2" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #3 with width=150px" @width="150px" @height="40" @background="#d2f4ff" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #4" @height="40" @background="#fff8d2" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </Shw::Outliner>
    </SG.Item>
  </Shw::Grid>

</section>