{{page-title "Elevation"}}

<h2 class="dummy-h2">Elevation</h2>

<section>
  <div class="dummy-design-guidelines">
    <h3 class="dummy-h3">Design guidelines</h3>
    <p class="dummy-paragraph"><a href="https://www.figma.com/file/oQsMzMMnynfPWpMEt91OpH/?node-id=1988%3A2">Figma UI
        Kit</a></p>
    <img class="dummy-figma-docs" src="/assets/images/elevation-design-usage.png" alt="" role="none" />
  </div>
</section>

<section data-test-percy>
  <h3 class="dummy-h3">Showcase</h3>
  <h4 class="dummy-h4">Elevation:</h4>
  <p class="dummy-paragraph">Standalone shadow effects</p>
  <div class="dummy-elevation-sample">
    {{#each @model.ELEVATIONS as |elevation|}}
      <div class="hds-elevation-{{elevation}}">
        <DummyPlaceholder @text={{elevation}} @width="100" @height="100" @background="transparent" />
      </div>
    {{/each}}
  </div>
  <h4 class="dummy-h4">Surface:</h4>
  <p class="dummy-paragraph">Shadow effects combined with an additional edge</p>
  <div class="dummy-elevation-sample">
    {{#each @model.SURFACES as |surface|}}
      <div class="hds-surface-{{surface}}">
        <DummyPlaceholder @text={{surface}} @width="100" @height="100" @background="transparent" />
      </div>
    {{/each}}
  </div>
</section>