{{page-title "Typography"}}

<h2 class="dummy-h2">Typography</h2>

<section>
  <p>TODO</p>
</section>

<section>
  <h3 class="dummy-h3">Helper classes</h3>
  <p class="dummy-paragraph">These are the CSS helper classes that you can use.</p>
  {{! prettier-ignore-start }}
  <CodeBlock @language="css" @code={{this.csshelpers}} />
  {{! prettier-ignore-end }}
</section>

<section data-test-percy>
  <h3 class="dummy-h3">Showcase</h3>

  <h4 class="dummy-h4">Families</h4>
  {{#each this.families as |family|}}
    <div class="dummy-typography-sample dummy-typography-sample--family">
      <h5 class="dummy-h5">{{family}}</h5>
      <p class="hds-font-family-{{family}}">The fox jumped over the lazy dog</p>
    </div>
  {{/each}}

  <h4 class="dummy-h4">Weights</h4>
  {{#each this.weights as |weight|}}
    <div class="dummy-typography-sample dummy-typography-sample--weight">
      <h5 class="dummy-h5">{{weight}}</h5>
      <p class="hds-font-family-sans-text hds-font-weight-{{weight}}">The fox jumped over the lazy dog</p>
    </div>
  {{/each}}

  <h4 class="dummy-h4">Styles</h4>
  <div class="dummy-typography-sample dummy-typography-sample--style">
    {{#each this.styles as |style|}}
      <h5 class="dummy-h5">{{style}}</h5>
      {{#each this.weights as |weight|}}
        <p class="hds-typography-{{style}} hds-font-weight-{{weight}}">The fox jumped over the lazy dog ({{weight}})</p>
      {{/each}}
    {{/each}}
  </div>

</section>