{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-component-api__property">
  {{#if @name}}
    <div class="doc-component-api__property-info">
      <code class="doc-component-api__property-name">{{@name}}</code>
      {{#if @type}}
        <code class="doc-component-api__property-type">{{@type}}</code>
      {{/if}}
      {{#if @required}}
        <Doc::Badge @type="critical-inverted">Required</Doc::Badge>
      {{/if}}
    </div>
  {{/if}}
  {{#if (or @values @valueNote)}}
    {{#if @values}}
      <ul class="doc-component-api__property-values" role="list">
        {{#each @values as |value|}}
          <li
            class="doc-component-api__property-value
              {{if (eq @default value) 'doc-component-api__property-value--default'}}"
          >
            {{value}}{{#if (eq @default value)}} <span class="doc-sr-only">(default)</span>{{/if}}
          </li>
        {{/each}}
      </ul>
    {{else if @valueNote}}
      <div class="doc-component-api__property-values">
        {{@valueNote}}
      </div>
    {{/if}}
  {{else if @default}}
    <ul class="doc-component-api__property-values" role="list">
      <li class="doc-component-api__property-value doc-component-api__property-value--default">
        {{@default}}
        <span class="doc-sr-only">(default)</span>
      </li>
    </ul>
  {{/if}}
  {{#if (has-block)}}
    <div class="doc-component-api__property-description">
      {{yield (hash Banner=(component "doc/banner" type="warning"))}}
    </div>
  {{/if}}
</div>