<dl class="doc-component-api__property">
  <dt class="doc-component-api__term doc-component-api__term--name">Name</dt>
  <dd class="doc-component-api__description doc-component-api__description--name">
    <code class="doc-component-api__property-name">{{@name}}</code>
  </dd>
  {{#if @type}}
    <dt class="doc-component-api__term doc-component-api__term--type">Type</dt>
    <dd class="doc-component-api__description doc-component-api__description--type">
      <code class="doc-component-api__property-type">{{@type}}</code>
    </dd>
  {{/if}}
  {{#if @required}}
    <dt class="doc-component-api__term doc-component-api__term--required">Required</dt>
    <dd class="doc-component-api__description doc-component-api__description--required">
        <span class="doc-component-api__property-required">Required</span>
    </dd>
  {{/if}}
  {{#if (or @values @valueNote)}}
    <dt class="doc-component-api__term doc-component-api__term--values">Values</dt> 
    <dd class="doc-component-api__description doc-component-api__description--values">
      {{#if @values}}
      <ul class="doc-component-api__property-values">
        {{#each @values as |value|}}
          <li class="doc-component-api__property-value{{if (eq @default value) "--default"}}">
            {{value}}{{#if (eq @default value)}} <span class="doc-sr-only">(default)</span>{{/if}}
          </li>
        {{/each}}
      </ul>
      {{else if @valueNote}}
        {{@valueNote}}
      {{/if}}
    </dd>
  {{/if}}
  {{#if (has-block)}}
    <dt class="doc-component-api__term doc-component-api__term--description">Description</dt>
    <dd class="doc-component-api__description doc-component-api__description--description">
      {{yield}}
    </dd>
  {{/if}}
</dl>
