{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Icon"}}

<Shw::Text::H1>Icon</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Size</Shw::Text::H2>

  <Shw::Text::Body>Base sizes</Shw::Text::Body>

  <Shw::Flex as |SF|>
    <SF.Item @label="16px (default)">
      <FlightIcon @name="bug" />
    </SF.Item>
    <SF.Item @label="24px">
      <FlightIcon @name="bug" @size="24" />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::Body>Custom sizes</Shw::Text::Body>

  <Shw::Flex as |SF|>
    <SF.Item @label="12px (stretched)">
      <div {{style width="12px" height="12px"}}>
        <FlightIcon @name="bug" @size="16" @stretched={{true}} />
      </div>
    </SF.Item>
    <SF.Item @label="32px (stretched)">
      <div {{style width="32px" height="32px"}}>
        <FlightIcon @name="bug" @size="24" @stretched={{true}} />
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Color</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>Unspecified color (<code>currentColor</code>)</SFI.Label>
      <FlightIcon @name="bookmark" />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>Custom red color, specified via <code>@color</code> argument</SFI.Label>
      <FlightIcon @name="folder-fill" @color="red" />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>Unspecified color (<code>currentColor</code>) + parent with custom blue color (to check inheritance)</SFI.Label>
      <a {{style color="blue"}} href="#">
        <FlightIcon @name="external-link" />
      </a>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>Custom orange color, specified via
        <code>@color</code>
        argument + parent with
        <code>!important</code>
        green color declared (to check overrides not working)</SFI.Label>
      {{! template-lint-disable no-inline-styles }}
      <div style="color:green !important">
        <FlightIcon @name="heart-fill" @color="orange" />
      </div>
      {{! template-lint-enable no-inline-styles }}
    </SF.Item>
  </Shw::Flex>

</section>