{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="shw-frame" style={{this.style}}>
  {{#if @label}}
    <Shw::Label>{{@label}}</Shw::Label>
  {{/if}}
  <div class="shw-frame__browser">
    <div class="shw-frame__browser-navigation">
      <a class="shw-frame__open-link" href={{this.src}} target="_blank" rel="noopener noreferrer">
        <FlightIcon @name="external-link" @isInlineBlock={{false}} @stretched={{true}} />
        <span class="sr-only">open the frame in a new window</span>
      </a>
    </div>
    <iframe
      id={{@id}}
      class="shw-frame__browser-viewport"
      src={{this.src}}
      referrerpolicy="no-referrer"
      sandbox="allow-same-origin allow-scripts"
      loading="lazy"
      title={{this.title}}
      ...attributes
    ></iframe>
  </div>
</div>