{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Layout::Flex Component"}}

<Shw::Text::H1>Layout::Flex</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Direction</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item
      @label="row (default)"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex @direction="row">
        <Shw::Placeholder @text="item #1" @height="40" />
        <Shw::Placeholder @text="item #2" @height="40" />
        <Shw::Placeholder @text="item #3" @height="40" />
        <Shw::Placeholder @text="item #4" @height="40" />
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item
      @label="column"
      {{style width="25%"}}
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex @direction="column">
        <Shw::Placeholder @text="item #1" @height="40" />
        <Shw::Placeholder @text="item #2" @height="40" />
        <Shw::Placeholder @text="item #3" @height="40" />
        <Shw::Placeholder @text="item #4" @height="40" />
      </Hds::Layout::Flex>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Wrap</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |wrap|}}
        <SF.Item
          @label={{if wrap "wrap" "nowrap (default)"}}
          class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
        >
          <div {{style width="650px" max-width="100%"}}>
            <Hds::Layout::Flex @wrap={{wrap}}>
              <Shw::Placeholder @text="#1" @width="200" @height="40" {{style flex-shrink="0"}} />
              <Shw::Placeholder @text="#2" @width="200" @height="40" {{style flex-shrink="0"}} />
              <Shw::Placeholder @text="#3" @width="200" @height="40" {{style flex-shrink="0"}} />
              <Shw::Placeholder @text="#4" @width="200" @height="40" {{style flex-shrink="0"}} />
              <Shw::Placeholder @text="#5" @width="200" @height="40" {{style flex-shrink="0"}} />
            </Hds::Layout::Flex>
          </div>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Justify + Align</Shw::Text::H2>
  <Shw::Text::Body>These are the
    <code>justify-content</code>
    and
    <code>align-items</code>
    CSS properties of
    <code>flexbox</code>.</Shw::Text::Body>

  {{#each @model.DIRECTIONS as |direction|}}
    <Shw::Text::H3>direction={{direction}}</Shw::Text::H3>
    <Shw::Grid @columns={{@model.JUSTIFYS.length}} @gap="2rem" as |SG|>
      {{#each @model.ALIGNS as |align ac|}}
        {{#if (eq ac 0)}}
          {{#each @model.JUSTIFYS as |justify|}}
            <SG.Item>
              <span class="shw-label">justify={{justify}}</span>
            </SG.Item>
          {{/each}}
        {{/if}}
        {{#each @model.JUSTIFYS as |justify jc|}}
          {{! Notice: we're  using an invisible character here to preserve the alignment of the items }}
          <SG.Item
            @label={{if (eq jc 0) (concat "align=" align) "​"}}
            class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
          >
            <div {{style width="120px" height="120px"}}>
              <Hds::Layout::Flex
                @direction={{direction}}
                @justify={{justify}}
                @align={{align}}
                {{style width="100%" height="100%"}}
              >
                <Shw::Placeholder
                  @text="#A"
                  @width="auto"
                  @height="auto"
                  {{style min-width="24px" min-height="24px"}}
                />
                <Shw::Placeholder
                  @text="#B"
                  @width="auto"
                  @height="auto"
                  {{style min-width="24px" min-height="24px"}}
                />
                <Shw::Placeholder
                  @text="#C"
                  @width="auto"
                  @height="auto"
                  {{style min-width="24px" min-height="24px"}}
                />
              </Hds::Layout::Flex>
            </div>
          </SG.Item>
        {{/each}}
      {{/each}}
    </Shw::Grid>
  {{/each}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Gap</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Single value</Shw::Text::H4>

  {{#each @model.DIRECTIONS as |direction|}}
    <Shw::Grid @columns={{4}} @gap="1rem 2rem" as |SG|>
      {{#each @model.GAPS as |gap|}}
        <SG.Item
          @label="gap={{if (eq gap '0') '0 (default)' gap}}"
          class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
        >
          <Hds::Layout::Flex @direction={{direction}} @gap={{gap}}>
            <Shw::Placeholder @text="#1" @height="24" />
            <Shw::Placeholder @text="#2" @height="24" />
            <Shw::Placeholder @text="#3" @height="24" />
            <Shw::Placeholder @text="#4" @height="24" />
          </Hds::Layout::Flex>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
  {{/each}}

  <Shw::Text::H4 @tag="h3">Double value (row/column)</Shw::Text::H4>

  <Shw::Flex @gap="2rem 4rem" as |SF|>
    {{! we use only a subset of possible combinations, just for testing purposes }}
    {{#each @model.DEMO_GAP_ARRAYS as |gapsArray|}}
      <SF.Item @label="gap=[{{gapsArray}}]" class="shw-layout-flex-example-outline-flex-container">
        <div {{style width="500px"}}>
          <Hds::Layout::Flex @gap={{gapsArray}} @wrap={{true}}>
            <Shw::Placeholder @text="item #1" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #2" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #3" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #4" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #5" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #6" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #7" @width="100px" @height="24" />
            <Shw::Placeholder @text="item #8" @width="100px" @height="24" />
          </Hds::Layout::Flex>
        </div>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <br />
  <br />

  <Shw::Text::H4 @tag="h3">Nested layouts</Shw::Text::H4>

  <Shw::Flex @gap="2rem" @direction="column" class="shw-layout-flex-example-nested-layouts" as |SF|>
    <SF.Item @label="Parent Flex w/ @gap=16, nested Flex without/ @gap (defaults to 0)">
      <Hds::Layout::Flex @gap="16" @align="center" as |LF|>
        <Shw::Placeholder @text="item #1" @height="48" />
        <Shw::Placeholder @text="item #2" @height="48" />
        <LF.Item @basis="25%" @grow="0" @shrink="0">
          <Hds::Layout::Flex>
            <Shw::Placeholder @text="item #3A" @height="24" />
            <Shw::Placeholder @text="item #3B" @height="24" />
            <Shw::Placeholder @text="item #3C" @height="24" />
          </Hds::Layout::Flex>
        </LF.Item>
        <Shw::Placeholder @text="item #4" @height="48" />
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item @label="Parent Flex w/ @gap=16, nested Flex wo/ @gap=0 (explicit)">
      <Hds::Layout::Flex @gap="16" @align="center" as |LF|>
        <Shw::Placeholder @text="item #1" @height="48" />
        <Shw::Placeholder @text="item #2" @height="48" />
        <LF.Item @basis="25%" @grow="0" @shrink="0">
          <Hds::Layout::Flex @gap="0">
            <Shw::Placeholder @text="item #3A" @height="24" />
            <Shw::Placeholder @text="item #3B" @height="24" />
            <Shw::Placeholder @text="item #3C" @height="24" />
          </Hds::Layout::Flex>
        </LF.Item>
        <Shw::Placeholder @text="item #4" @height="48" />
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item @label="Parent Flex w/ @gap=48, nested Flex w/ @gap=16">
      <Hds::Layout::Flex @gap="48" @align="center" as |LF|>
        <Shw::Placeholder @text="item #1" @height="48" />
        <Shw::Placeholder @text="item #2" @height="48" />
        <LF.Item @basis="25%" @grow="0" @shrink="0">
          <Hds::Layout::Flex @gap="16">
            <Shw::Placeholder @text="item #3A" @height="24" />
            <Shw::Placeholder @text="item #3B" @height="24" />
            <Shw::Placeholder @text="item #3C" @height="24" />
          </Hds::Layout::Flex>
        </LF.Item>
        <Shw::Placeholder @text="item #4" @height="48" />
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item @label="Parent Flex w/ @gap=48, nested Grid w/ @gap=16">
      <Hds::Layout::Flex @gap="48" @align="center" as |LF|>
        <Shw::Placeholder @text="item #1" @height="48" />
        <Shw::Placeholder @text="item #2" @height="48" />
        <LF.Item @basis="25%" @grow="0" @shrink="0">
          <Hds::Layout::Grid @gap="16">
            <Shw::Placeholder @text="item #3A" @height="24" />
            <Shw::Placeholder @text="item #3B" @height="24" />
            <Shw::Placeholder @text="item #3C" @height="24" />
          </Hds::Layout::Grid>
        </LF.Item>
        <Shw::Placeholder @text="item #4" @height="48" />
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item @label="Parent Grid w/ @gap=48, nested Flex w/ @gap=16">
      <Hds::Layout::Grid @gap="48" @align="center" as |LG|>
        <Shw::Placeholder @text="item #1" @height="48" />
        <Shw::Placeholder @text="item #2" @height="48" />
        <LG.Item>
          <Hds::Layout::Flex @gap="16">
            <Shw::Placeholder @text="item #3A" @height="24" />
            <Shw::Placeholder @text="item #3B" @height="24" />
            <Shw::Placeholder @text="item #3C" @height="24" />
          </Hds::Layout::Flex>
        </LG.Item>
        <Shw::Placeholder @text="item #4" @height="48" />
      </Hds::Layout::Grid>
    </SF.Item>
  </Shw::Flex>

  <br />
  <br />

  <Shw::Text::H4 @tag="h3">Custom values (overrides)</Shw::Text::H4>

  <Shw::Flex @direction="column" @gap="2rem" as |SF|>
    <SF.Item
      @label="gap-column=20px (via classname)"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex class="shw-layout-flex-example-gap-override">
        <Shw::Placeholder @text="#1" @height="24" />
        <Shw::Placeholder @text="#2" @height="24" />
        <Shw::Placeholder @text="#3" @height="24" />
        <Shw::Placeholder @text="#4" @height="24" />
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item
      @label="gap-column=1.25rem / gap-row=20px (via inline style)"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex
        @wrap={{true}}
        {{style --hds-layout-flex-row-gap="20px" --hds-layout-flex-column-gap="1.25rem"}}
      >
        <Shw::Placeholder @text="#1" @width="45%" @height="24" />
        <Shw::Placeholder @text="#2" @width="45%" @height="24" />
        <Shw::Placeholder @text="#3" @width="45%" @height="24" />
        <Shw::Placeholder @text="#4" @width="45%" @height="24" />
      </Hds::Layout::Flex>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Display</Shw::Text::H2>

  <Shw::Flex @gap="2rem" as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |isInline|}}
        <SF.Item
          @label={{if isInline "inline-flex (isInline=true)" "flex (default)"}}
          class="shw-layout-flex-example-tint-flex-items"
        >
          <Hds::Text::Body @size="200" @tag="p">
            Lorem
            <Hds::Layout::Flex @isInline={{isInline}}>
              <Shw::Placeholder @text="#1" @width="24" @height="24" />
              <Shw::Placeholder @text="#2" @width="24" @height="24" />
              <Shw::Placeholder @text="#3" @width="24" @height="24" />
              <Shw::Placeholder @text="#4" @width="24" @height="24" />
            </Hds::Layout::Flex>
            sit amet
            <Hds::Layout::Flex @isInline={{isInline}}>
              <Shw::Placeholder @text="#A" @width="24" @height="24" />
              <Shw::Placeholder @text="#B" @width="24" @height="24" />
              <Shw::Placeholder @text="#C" @width="24" @height="24" />
              <Shw::Placeholder @text="#D" @width="24" @height="24" />
            </Hds::Layout::Flex>
            elit.
          </Hds::Text::Body>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

</section>

<Shw::Divider />

<section data-test-percy>

  <Shw::Text::H2>Flex::Item</Shw::Text::H2>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item
      @label="used directly or via yielded component"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex as |HLF|>
        <Shw::Placeholder @text="item #1" @height="40" />
        <Hds::Layout::Flex::Item>
          <Shw::Placeholder @text="item #2 within Flex::Item" @height="40" @background="transparent" />
        </Hds::Layout::Flex::Item>
        <Shw::Placeholder @text="item #3" @height="40" />
        <HLF.Item>
          <Shw::Placeholder @text="item #4 within HLF.Item" @height="40" @background="transparent" />
        </HLF.Item>
      </Hds::Layout::Flex>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Basis</Shw::Text::H3>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items" as |SGI|>
      <SGI.Label>with <code>size</code> values</SGI.Label>
      <Hds::Layout::Flex as |HLF|>
        <HLF.Item @basis={{0}}>
          <Shw::Placeholder @text="item #1 with basis=0" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="10em">
          <Shw::Placeholder @text="item #2 with basis=10em" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="200px">
          <Shw::Placeholder @text="item #3 with basis=200px" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="40%">
          <Shw::Placeholder @text="item #4 with basis=40%" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="6vw">
          <Shw::Placeholder @text="item #5 with basis=6vw" @height="40" @background="transparent" />
        </HLF.Item>
      </Hds::Layout::Flex>
    </SG.Item>
    <SG.Item class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items" as |SGI|>
      <SGI.Label>with <code>keyword</code> values</SGI.Label>
      <Hds::Layout::Flex as |HLF|>
        <HLF.Item @basis="auto">
          <Shw::Placeholder @text="item #1 with basis=auto" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="content">
          <Shw::Placeholder @text="item #2 with basis=content" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="max-content">
          <Shw::Placeholder @text="item #3 with basis=max-content" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @basis="fit-content">
          <Shw::Placeholder @text="item #4 with basis=fit-content" @height="40" @background="transparent" />
        </HLF.Item>
      </Hds::Layout::Flex>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Grow</Shw::Text::H3>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items" as |SGI|>
      <SGI.Label>with <code>0/1</code> and <code>true/false</code> values</SGI.Label>
      <Hds::Layout::Flex as |HLF|>
        <HLF.Item @grow={{0}}>
          <Shw::Placeholder @text="item #1 with grow=0" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @grow={{1}}>
          <Shw::Placeholder @text="item #2 with grow=1" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @grow={{false}}>
          <Shw::Placeholder @text="item #3 with grow=false" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @grow={{true}}>
          <Shw::Placeholder @text="item #4 with grow=true" @height="40" @background="transparent" />
        </HLF.Item>
      </Hds::Layout::Flex>
    </SG.Item>
    <SG.Item class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items" as |SGI|>
      <SGI.Label>with <code>numeric/string</code> values (to handle special cases)</SGI.Label>
      <Hds::Layout::Flex as |HLF|>
        <HLF.Item @grow={{2}}>
          <Shw::Placeholder @text="item #1 with grow=2" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @grow={{3}}>
          <Shw::Placeholder @text="item #2 with grow=3" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @grow="4">
          <Shw::Placeholder @text="item #3 with grow='4'" @height="40" @background="transparent" />
        </HLF.Item>
        <HLF.Item @grow="5">
          <Shw::Placeholder @text="item #4 with grow='5'" @height="40" @background="transparent" />
        </HLF.Item>
      </Hds::Layout::Flex>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Shrink</Shw::Text::H3>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items" as |SGI|>
      <SGI.Label>with <code>0/1</code> and <code>true/false</code> values</SGI.Label>
      <div {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <HLF.Item @basis="300px" @shrink={{0}}>
            <Shw::Placeholder @text="item #1 with shrink=0" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink={{1}}>
            <Shw::Placeholder @text="item #2 with shrink=1" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink={{false}}>
            <Shw::Placeholder @text="item #3 with shrink=false" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink={{true}}>
            <Shw::Placeholder @text="item #4 with shrink=true" @height="40" @background="transparent" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </div>
    </SG.Item>
    <SG.Item class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items" as |SGI|>
      <SGI.Label>with <code>numeric/string</code> values (to handle special cases)</SGI.Label>
      <div {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <HLF.Item @basis="300px" @shrink={{2}}>
            <Shw::Placeholder @text="item #1 with shrink=2" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink={{3}}>
            <Shw::Placeholder @text="item #2 with shrink=3" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink="4">
            <Shw::Placeholder @text="item #3 with shrink='4'" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item @basis="300px" @shrink="5">
            <Shw::Placeholder @text="item #4 with shrink='5'" @height="40" @background="transparent" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </div>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>enableCollapseBelowContentSize</Shw::Text::H3>

  <Shw::Text::Body>This property applies a
    <code>min-width: 0</code>
    to the flex item to allow the element to shrink below its content's intrinsic minimum width.</Shw::Text::Body>

  <Shw::Grid @columns={{1}} as |SG|>
    <SG.Item
      @label="first flex item has enableCollapseBelowContentSize=true"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <div {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <HLF.Item @enableCollapseBelowContentSize={{true}}>
            <Shw::Placeholder @height="40" @background="transparent">
              <span {{style display="block" white-space="nowrap" overflow="hidden" text-overflow="ellipsis"}}>item #1
                with a very long text that might cause overflow issues</span>
            </Shw::Placeholder>
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #2 with width=150px" @width="150px" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #3 with width=150px" @width="150px" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #4" @height="40" @background="transparent" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </div>
    </SG.Item>
    <SG.Item
      @label="first flex item has basis=0px"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <div {{style max-width="600px"}}>
        <Hds::Layout::Flex as |HLF|>
          <HLF.Item @basis="0px">
            <Shw::Placeholder @height="40" @background="transparent">
              <pre
                {{style white-space="nowrap" overflow="hidden" text-overflow="ellipsis"}}
              >item #1 with a very long
                text that might cause overflow issues</pre>
            </Shw::Placeholder>
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #2 with width=150px" @width="150px" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #3 with width=150px" @width="150px" @height="40" @background="transparent" />
          </HLF.Item>
          <HLF.Item>
            <Shw::Placeholder @text="item #4" @height="40" @background="transparent" />
          </HLF.Item>
        </Hds::Layout::Flex>
      </div>
    </SG.Item>
  </Shw::Grid>

</section>

<Shw::Divider />

<section data-test-percy>

  <Shw::Text::H2>Examples</Shw::Text::H2>

  <Shw::Flex @direction="column" @gap="2rem" as |SF|>
    <SF.Item @label="icon + text" class="shw-layout-flex-example-outline-flex-blocks">
      <Hds::Layout::Flex @align="center" @gap="8">
        <Hds::Icon @name="info" @size="24" />
        <Hds::Text::Body @size="200" @tag="p">Lorem ipsum dolor sit amet</Hds::Text::Body>
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item @label="media + text" class="shw-layout-flex-example-outline-flex-blocks">
      <Hds::Layout::Flex @align="center" @gap="8">
        <img
          src="/assets/images/avatar.png"
          alt="portrait of a cat wearing old-fashioned formal wear"
          class="shw-layout-flex-example-avatar"
        />
        <Hds::Text::Body @size="200" @tag="p">Lorem ipsum dolor sit amet</Hds::Text::Body>
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item @label="generic input + button" class="shw-layout-flex-example-outline-flex-blocks">
      <Hds::Layout::Flex @align="center" @gap="8">
        <input id="example-input-1" type="text" placeholder="Just a generic input" />
        <button type="button">Button</button>
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item
      @label="centered content"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex @justify="center" @align="center" @tag="section" {{style width="300px" height="200px"}}>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>I am centered</Hds::Text::Body>
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item
      @label="equally spaced"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex @justify="space-between" @align="center" @tag="section">
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>We</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>Should</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>All</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>Be</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>Equally</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>Spaced</Hds::Text::Body>
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item
      @label="one item growing"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex @gap="16" as |HLF|>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>I use only the content width</Hds::Text::Body>
        <HLF.Item @grow={{1}} @tag="article">
          <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>I use all the rest of the available space</Hds::Text::Body>
        </HLF.Item>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>I use only the content width</Hds::Text::Body>
      </Hds::Layout::Flex>
    </SF.Item>
    <SF.Item
      @label="one item at the end"
      class="shw-layout-flex-example-outline-flex-container shw-layout-flex-example-tint-flex-items"
    >
      <Hds::Layout::Flex @gap="16" @tag="section">
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>I am on the left side</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}}>I am on the left side too</Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style padding="4px 8px"}} {{style margin-left="auto"}}>I on the right
          side (using margin-left auto)</Hds::Text::Body>
      </Hds::Layout::Flex>

    </SF.Item>
  </Shw::Flex>

</section>