<Hds::Button @text="Open form modal" @color="secondary" {{on "click" this.activateModal}} />

{{#if this.isOpen}}
  <Hds::Modal id="form-modal" @onClose={{this.deactivateModal}} as |M|>
    <M.Header>
      Why do you want to leave the beta?
    </M.Header>
    <M.Body>
      <Hds::Form id="leaving-beta-form" {{on "submit" this.submitForm}} as |FORM|>
        <FORM.Section>
          <Hds::Form::Select::Field @width="100%" as |F|>
            <F.Label>Select the primary reason</F.Label>
            <F.Options>
              <option></option>
            </F.Options>
          </Hds::Form::Select::Field>
          <Hds::Form::Textarea::Field @isOptional={{true}} as |F|>
            <F.Label>Your feedback</F.Label>
          </Hds::Form::Textarea::Field>
        </FORM.Section>
      </Hds::Form>
    </M.Body>
    <M.Footer as |F|>
      <Hds::ButtonSet>
        <Hds::Button type="submit" form="leaving-beta-form" @text="Leave Beta" />
        <Hds::Button type="button" @text="Cancel" @color="secondary" {{on "click" F.close}} />
      </Hds::ButtonSet>
    </M.Footer>
  </Hds::Modal>
{{/if}}