<div class="doc-table-of-contents__folder">
  <button
    type="button"
    aria-controls={{this.contentId}}
    aria-expanded={{this.isOpen}}
    class="doc-table-of-contents__button {{if this.isOpen 'open'}}"
    {{on "click" this.toggleIsOpen}}
  >{{@name}}</button>
  {{#if this.isOpen}}
    <Doc::TableOfContents @structuredPageTree={{@item.children}} @depth={{add @depth 1}} id={{this.contentId}} />
  {{/if}}
</div>