<Hds::DisclosurePrimitive class="doc-table-of-contents__folder" @isOpen={{@item.isOpen}}>
  <:toggle as |t|>
    <button
      type="button"
      aria-controls={{this.contentId}}
      aria-expanded={{if t.isOpen "true" "false"}}
      class="doc-table-of-contents__button {{if t.isOpen 'open'}}"
      {{on "click" t.onClickToggle}}
    >{{@name}}</button>
  </:toggle>

  <:content>
    <Doc::TableOfContents id={{this.contentId}} @structuredPageTree={{@item.children}} @depth={{add @depth 1}} />
  </:content>
</Hds::DisclosurePrimitive>