{{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}

<ul class="doc-table-of-contents">
  {{#each-in @structuredPageTree as |key item|}}
    <li class="doc-table-of-contents__item doc-table-of-contents__item--depth-{{@depth}}">
      {{#if item.pageURL}}
        <LinkTo class="doc-table-of-contents__link doc-text-navigation" @route="show" @model={{item.pageURL}}>
          {{item.pageAttributes.title}}
        </LinkTo>
      {{else}}
        {{#if (eq @depth 1)}}
          <div class="doc-table-of-contents__heading doc-text-label">{{capitalize key}}</div>
          <Doc::TableOfContents @structuredPageTree={{item}} @depth={{add @depth 1}} />
        {{else}}
          <details class="doc-table-of-contents__folder" open>
            <summary class="doc-table-of-contents__summary doc-text-navigation">{{capitalize key}}</summary>
            <Doc::TableOfContents @structuredPageTree={{item}} @depth={{add @depth 1}} />
          </details>
        {{/if}}
      {{/if}}
    </li>
  {{/each-in}}
</ul>