{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}

<ul class="doc-table-of-contents" role="list">
  {{#each-in @structuredPageTree as |key item|}}
    <li class="doc-table-of-contents__item doc-table-of-contents__item--depth-{{@depth}}">
      {{#if item.pageURL}}
        <LinkTo
          class="doc-table-of-contents__link"
          @route="show"
          @model={{item.pageURL}}
          @query={{hash tab=null searchQuery=null selectedGroupType=null selectedIconSize=null}}
          @current-when={{"show"}}
        >
          {{#if item.pageAttributes.navigation.label}}
            {{item.pageAttributes.navigation.label}}
          {{else}}
            {{item.pageAttributes.title}}
            {{#if item.pageAttributes.status.deprecated}}
              <Doc::Badge @type="warning-inverted" @size="medium">Deprecated</Doc::Badge>
            {{/if}}
            {{#if item.pageAttributes.status.updated}}
              <Doc::Badge @type="neutral-inverted" @size="medium">Updated</Doc::Badge>
            {{/if}}
          {{/if}}
        </LinkTo>
      {{else}}
        {{#if (eq @depth 1)}}
          <div class="doc-table-of-contents__heading">{{humanize key}}</div>
          <Doc::TableOfContents @structuredPageTree={{item}} @depth={{add @depth 1}} />
        {{else}}
          <details class="doc-table-of-contents__folder" open={{item.isOpen}}>
            <summary class="doc-table-of-contents__summary">{{humanize key}}</summary>
            <Doc::TableOfContents @structuredPageTree={{item.children}} @depth={{add @depth 1}} />
          </details>
        {{/if}}
      {{/if}}
    </li>
  {{/each-in}}
</ul>