{{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}

<ul class="doc-toc">
  {{#each this.sortedTocs as |toc|}}
    {{#if toc.pages}}
      <li class="doc-toc-item">
        <span style={{this.leftPadStyle}}>
          {{capitalize toc.title}}
        </span>
        <DummyTableOfContents @tocs={{toc.pages}} @level={{add @level 1}}/>
      </li>
    {{else}}
      <LinkTo @route="show" @model={{toc.id}}>
        <li class="doc-toc-item doc-toc-item-link" style={{this.leftPadStyle}}>
          {{capitalize toc.title}}
        </li>
      </LinkTo>
    {{/if}}
  {{/each}}
</ul>