{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Accordion Component"}}

<Shw::Text::H1>Accordion</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Type</Shw::Text::H2>

  {{#each @model.TYPES as |type index|}}
    <Shw::Text::H3>{{capitalize type}}</Shw::Text::H3>

    <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
      <SG.Item @label="One item">
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item>
            <:toggle>Item one</:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>

      <SG.Item @label="Multiple items">
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item>
            <:toggle>Item one</:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </A.Item>

          <A.Item @isStatic={{true}}>
            <:toggle>Item two</:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </A.Item>

          <A.Item @containsInteractive={{true}}>
            <:toggle>Item three</:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>
    </Shw::Grid>

    {{#if (lt index 1)}}
      <Shw::Divider @level={{2}} />
    {{/if}}
  {{/each}}

  <Shw::Divider />

  <Shw::Text::H2>Size</Shw::Text::H2>

  {{#each @model.SIZES as |size index|}}
    <Shw::Text::H3>{{capitalize size}}</Shw::Text::H3>

    <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
      {{#each @model.TYPES as |type|}}
        <SG.Item @label={{type}}>
          <Hds::Accordion @size={{size}} @type={{type}} as |A|>
            <A.Item>
              <:toggle>Item one</:toggle>
              <:content>
                <Shw::Placeholder @text="generic content" @height="40" />
              </:content>
            </A.Item>

            <A.Item @isStatic={{true}}>
              <:toggle>Item two</:toggle>
              <:content>
                <Shw::Placeholder @text="generic content" @height="40" />
              </:content>
            </A.Item>

            <A.Item @containsInteractive={{true}}>
              <:toggle>Item three</:toggle>
              <:content>
                <Shw::Placeholder @text="generic content" @height="40" />
              </:content>
            </A.Item>
          </Hds::Accordion>
        </SG.Item>
      {{/each}}
    </Shw::Grid>

    {{#if (lt index 2)}}
      <Shw::Divider @level={{2}} />
    {{/if}}
  {{/each}}

  <Shw::Divider />

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Text::H3>Generic content</Shw::Text::H3>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="{{capitalize type}} with generic content in toggle">
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item>
            <:toggle>
              <Shw::Placeholder @text="generic content" @height="24" />
            </:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Rich content</Shw::Text::H3>

  <Shw::Flex {{style gap="2rem" marginBottom="2rem"}} @direction="column" as |SF|>
    <SF.Item @label="With rich content in toggle (HTML header tag)">
      <Hds::Accordion as |A|>
        <A.Item>
          <:toggle>
            <h4 class="hds-typography-display-300">Header tag example</h4>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </A.Item>
      </Hds::Accordion>
    </SF.Item>
  </Shw::Flex>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    <SG.Item @label="With interactive content in toggle and in toggled content">
      <Hds::Accordion as |A|>
        <A.Item @containsInteractive={{true}} @isOpen={{true}}>
          <:toggle>
            <div class="shw-component-accordion-layout shw-component-accordion-layout--justify">
              <span>
                Related text
                <a href="https://www.hashicorp.com/">A link</a>
              </span>

              <Hds::Button @text="Details" @color="secondary" @size="small" />
            </div>
          </:toggle>
          <:content>
            <Hds::Form::TextInput::Field @type="email" as |F|>
              <F.Label>Email</F.Label>
            </Hds::Form::TextInput::Field>
            <p>
              <Hds::Button @text="Submit" />
            </p>
          </:content>
        </A.Item>
      </Hds::Accordion>
    </SG.Item>

    <SG.Item @label="With rich content in toggle (Alert) and containing a table">
      <Hds::Accordion as |A|>
        <A.Item @isOpen={{true}}>
          <:toggle>
            <Hds::Alert @type="compact" @color="success" as |A|>
              <A.Title>Title</A.Title>
              <A.Description>Plan finished <small>22 days ago</small></A.Description>
            </Hds::Alert>
          </:toggle>
          <:content>
            <p class="hds-typography-body-200">
              <strong>Queued:</strong>
              9 days ago >
              <strong>Finished:</strong>
              9 days ago
            </p>
            <Hds::Table @caption="Example table">
              <:head as |H|>
                <H.Tr>
                  <H.Th>Name</H.Th>
                  <H.Th>Type</H.Th>
                  <H.Th>Value</H.Th>
                </H.Tr>
              </:head>
              <:body as |B|>
                <B.Tr>
                  <B.Td>Cell one A</B.Td>
                  <B.Td>Cell two A</B.Td>
                  <B.Td>Cell three A</B.Td>
                </B.Tr>
                <B.Tr>
                  <B.Td>Cell one B</B.Td>
                  <B.Td>Cell two B</B.Td>
                  <B.Td>Cell three B</B.Td>
                </B.Tr>
              </:body>
            </Hds::Table>
          </:content>
        </A.Item>
      </Hds::Accordion>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Nested Accordions</Shw::Text::H3>

  {{#each @model.TYPES as |type|}}
    <Shw::Text::H4>{{capitalize type}}</Shw::Text::H4>

    <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
      <SG.Item {{style flex="1"}}>
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item @isOpen={{true}}>
            <:toggle>Item one</:toggle>
            <:content>
              <Hds::Accordion @type={{type}} as |AA|>
                <AA.Item>
                  <:toggle>Nested item one</:toggle>
                  <:content>
                    <Shw::Placeholder @text="generic content" @height="40" />
                  </:content>
                </AA.Item>
              </Hds::Accordion>
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>

      <SG.Item {{style flex="1"}}>
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item @isOpen={{true}}>
            <:toggle>Item one</:toggle>
            <:content>
              <Hds::Accordion @type={{type}} as |AA|>
                <AA.Item>
                  <:toggle>Nested item one</:toggle>
                  <:content>
                    <Shw::Placeholder @text="generic content" @height="40" />
                  </:content>
                </AA.Item>
                <AA.Item>
                  <:toggle>Nested item two</:toggle>
                  <:content>
                    <Shw::Placeholder @text="generic content" @height="40" />
                  </:content>
                </AA.Item>
              </Hds::Accordion>
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>
    </Shw::Grid>

    <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
      <SG.Item @label="Nested Accordion with containsInteractive=true nested in containsInteractive=false">
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item @isOpen={{true}}>
            <:toggle>Item with containsInteractive=false (the default)</:toggle>
            <:content>
              <Hds::Accordion @type={{type}} as |AA|>
                <AA.Item @containsInteractive={{true}}>
                  <:toggle>Nested item with containsInteractive=true</:toggle>
                  <:content>
                    <Shw::Placeholder @text="generic content" @height="40" />
                  </:content>
                </AA.Item>
              </Hds::Accordion>
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>

      <SG.Item @label="Nested Accordion with containsInteractive=false nested in containsInteractive=true">
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item @isOpen={{true}} @containsInteractive={{true}}>
            <:toggle>Item with containsInteractive=true</:toggle>
            <:content>
              <Hds::Accordion @type={{type}} as |AA|>
                <AA.Item>
                  <:toggle>Nested item with containsInteractive=false (the default)</:toggle>
                  <:content>
                    <Shw::Placeholder @text="generic content" @height="40" />
                  </:content>
                </AA.Item>
              </Hds::Accordion>
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>
    </Shw::Grid>
  {{/each}}

  <Shw::Text::H4>Mixed</Shw::Text::H4>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    <SG.Item @label="type=flush nested in type=card" {{style flex="1"}}>
      <Hds::Accordion as |A|>
        <A.Item @isOpen={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Hds::Accordion @type="flush" as |AA|>
              <AA.Item>
                <:toggle>Nested item one</:toggle>
                <:content>
                  <Shw::Placeholder @text="generic content" @height="40" />
                </:content>
              </AA.Item>
              <AA.Item @containsInteractive={{true}}>
                <:toggle>Nested item two</:toggle>
                <:content>
                  <Shw::Placeholder @text="generic content" @height="40" />
                </:content>
              </AA.Item>
            </Hds::Accordion>
          </:content>
        </A.Item>
      </Hds::Accordion>
    </SG.Item>
    <SG.Item @label="type=card nested in type=flush" {{style flex="1"}}>
      <Hds::Accordion @type="flush" as |A|>
        <A.Item @isOpen={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Hds::Accordion as |AA|>
              <AA.Item>
                <:toggle>Nested item one</:toggle>
                <:content>
                  <Shw::Placeholder @text="generic content" @height="40" />
                </:content>
              </AA.Item>
              <AA.Item @containsInteractive={{true}}>
                <:toggle>Nested item two</:toggle>
                <:content>
                  <Shw::Placeholder @text="generic content" @height="40" />
                </:content>
              </AA.Item>
            </Hds::Accordion>
          </:content>
        </A.Item>
      </Hds::Accordion>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Edge cases</Shw::Text::H3>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="With long content in toggle which wraps">
        <Hds::Accordion @type={{type}} as |A|>
          <A.Item>
            <:toggle>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero culpa expedita assumenda at nisi minus
              unde fuga iure suscipit aut qui, odit natus eum voluptates ut molestiae! Perferendis, impedit qui? Lorem
              ipsum dolor sit amet?
            </:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </A.Item>
        </Hds::Accordion>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>Base elements</Shw::Text::H2>

  <Shw::Text::H3>Accordion::Item</Shw::Text::H3>

  <Shw::Text::H4>Type</Shw::Text::H4>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="type={{type}}">
        <Hds::Accordion::Item @type={{type}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="type={{type}}, containsInteractive=true">
        <Hds::Accordion::Item @containsInteractive={{true}} @type={{type}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4>isOpen</Shw::Text::H4>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="isOpen=false (default)">
        <Hds::Accordion::Item @type={{type}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="isOpen=true">
        <Hds::Accordion::Item @type={{type}} @isOpen={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4>containsInteractive</Shw::Text::H4>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="containsInteractive=false (default)">
        <Hds::Accordion::Item @type={{type}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="containsInteractive=true">
        <Hds::Accordion::Item @type={{type}} @containsInteractive={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4>isStatic</Shw::Text::H4>

  <Shw::Grid {{style gap="2rem"}} @columns={{2}} as |SG|>
    {{#each @model.TYPES as |type|}}
      <SG.Item @label="isStatic=true">
        <Hds::Accordion::Item @type={{type}} @isStatic={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>

      <SG.Item @label="isStatic=true, containsInteractive=true">
        <Hds::Accordion::Item @type={{type}} @isStatic={{true}} @containsInteractive={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>

      <SG.Item @label="isStatic=true, isOpen=true">
        <Hds::Accordion::Item @type={{type}} @isStatic={{true}} @isOpen={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>

      <SG.Item @label="isStatic=true, containsInteractive=true, isOpen=true">
        <Hds::Accordion::Item @type={{type}} @isStatic={{true}} @containsInteractive={{true}} @isOpen={{true}}>
          <:toggle>Item one</:toggle>
          <:content>
            <Shw::Placeholder @text="generic content" @height="40" />
          </:content>
        </Hds::Accordion::Item>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4>States</Shw::Text::H4>

  {{#each @model.TYPES as |type|}}
    {{#let (array false true) as |booleans|}}
      <Shw::Text::Body>{{capitalize type}}</Shw::Text::Body>
      <Shw::Grid {{style gap="2rem"}} @columns={{4}} as |SG|>
        {{#each @model.STATES as |state|}}
          <SG.Item @label={{state}}>
            <Shw::Flex @direction="column" {{style gap="2rem"}} as |SF|>
              {{#each booleans as |containsInteractive|}}
                {{#each booleans as |isOpen|}}
                  <SF.Item>
                    <Hds::Accordion::Item
                      @containsInteractive={{containsInteractive}}
                      @isOpen={{isOpen}}
                      @type={{type}}
                      mock-state-value={{state}}
                      mock-state-selector="{{if
                        (and (or (eq state 'active') (eq state 'hover')) (not containsInteractive))
                        '.hds-disclosure-primitive__toggle'
                        (if (not-eq state 'hover') '.hds-accordion-item__button')
                      }}"
                    >
                      <:toggle>Item</:toggle>
                      <:content>
                        <Shw::Placeholder @text="generic content" @height="40" />
                      </:content>
                    </Hds::Accordion::Item>
                  </SF.Item>
                {{/each}}
              {{/each}}
            </Shw::Flex>
          </SG.Item>
        {{/each}}
      </Shw::Grid>
      <Shw::Divider @level={{2}} />
    {{/let}}
  {{/each}}

  <Shw::Text::H3>Accordion::Item::Button</Shw::Text::H3>

  <Shw::Text::H4>States</Shw::Text::H4>

  {{#each @model.SIZES as |size|}}
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |bool|}}
        <Shw::Flex
          {{style gap="2rem" justifyContent="space-between"}}
          @label="size={{size}}, parentContainsInteractive={{bool}}"
          as |SF|
        >
          {{#each @model.STATES as |state|}}
            <SF.Item @label={{state}}>
              <div class="shw-component-accordion-standalone-button hds-accordion-item--size-{{size}}">
                <Hds::Accordion::Item::Button
                  @parentContainsInteractive={{bool}}
                  @onClickToggle={{this.noop}}
                  @size={{size}}
                  mock-state-value={{state}}
                  aria-label={{state}}
                />
              </div>
            </SF.Item>
          {{/each}}

          <SF.Item @label="isOpen=true">
            <div class="shw-component-accordion-standalone-button hds-accordion-item--size-{{size}}">
              <Hds::Accordion::Item::Button
                @parentContainsInteractive={{bool}}
                @isOpen={{true}}
                @onClickToggle={{this.noop}}
                @size={{size}}
                aria-label="open is true"
              />
            </div>
          </SF.Item>

          <SF.Item @label="focus & isOpen=true" {{style width="calc(20% - 2rem)" position="relative"}}>
            <div class="shw-component-accordion-standalone-button hds-accordion-item--size-{{size}}">
              <Hds::Accordion::Item::Button
                @parentContainsInteractive={{bool}}
                @isOpen={{true}}
                @onClickToggle={{this.noop}}
                @size={{size}}
                mock-state-value="focus"
                aria-label="focused and is open"
              />
            </div>
          </SF.Item>
        </Shw::Flex>
      {{/each}}
    {{/let}}
  {{/each}}
</section>