{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "AdvancedTable Component"}}

<Shw::Text::H1>AdvancedTable</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Basic AdvancedTable</Shw::Text::H2>
  <Shw::Text::H3>Keyboard interaction</Shw::Text::H3>

  <Shw::Text::Body>To navigate the AdvancedTable with a keyboard</Shw::Text::Body>

  <ul class="shw-component-advanced-table-instruction-list">
    <li><strong>Arrow Keys</strong>: Move between the cells</li>
    <li><strong>Enter</strong>: Focuses the first interactive element in the cell. After press enter, you can tab to all
      focusable elements in the cell. Focus is trapped within the cell.</li>
    <li><strong>Escape</strong>: If focused on an interactive element within a cell, it moves the focus back to the
      cell. After press escape, you can arrow key between the cells again.</li>
    <li><strong>Home (fn + left)</strong>: Move to first cell in the row</li>
    <li><strong>End (fn + right)</strong>: Move to last cell in the row</li>
    <li><strong>PageUp (fn + up)</strong>: Move to first cell in the column</li>
    <li><strong>PageDown (fn + down)</strong>: Move to last cell in the column</li>
  </ul>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" tooltip="More information." isSortable=true)
      (hash key="album" label="Album" tooltip="More information." isSortable=true)
      (hash key="year" label="Release Year" tooltip="More information." isSortable=true)
      (hash key="other" label="Additional Actions")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Th @scope="row"><Hds::Link::Inline @href="#showcase">{{B.data.artist}}</Hds::Link::Inline></B.Th>
        <B.Td>
          <div class="shw-component-table-cell-content-div">
            <Hds::Icon @name={{B.data.icon}} @isInline={{true}} />
            {{B.data.album}}
          </div>
        </B.Td>
        <B.Td>
          <Hds::Badge @text={{B.data.year}} @type={{B.data.badge-type}} @color={{B.data.badge-color.name}} />
        </B.Td>
        <B.Td>
          <Hds::ButtonSet>
            <Hds::Button @text="Add" @isIconOnly={{true}} @icon="plus" @size="small" />
            <Hds::Button @text="Edit" @isIconOnly={{true}} @icon="edit" @size="small" @color="secondary" />
            <Hds::Button @text="Delete" @isIconOnly={{true}} @icon="trash" @size="small" @color="critical" />
          </Hds::ButtonSet>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Nested rows</Shw::Text::H2>

  <Shw::Text::H3>With default expanded rows</Shw::Text::H3>
  <Hds::AdvancedTable
    @model={{this.model.nestedData}}
    @columns={{array
      (hash key="name" label="Name")
      (hash key="status" label="Status" width="auto")
      (hash key="description" label="Description")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Th>
          {{B.data.name}}
        </B.Th>
        <B.Td>
          {{B.data.status}}
        </B.Td>
        <B.Td>
          {{B.data.description}}
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H3>With nested rows and custom children key</Shw::Text::H3>

  <Hds::AdvancedTable
    @model={{this.model.nestedDataCustom}}
    @childrenKey="data"
    @columns={{array
      (hash key="name" label="Name")
      (hash key="status" label="Status" width="auto")
      (hash key="description" label="Description")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Th>
          {{B.data.name}}
        </B.Th>
        <B.Td>
          {{B.data.status}}
        </B.Td>
        <B.Td>
          {{B.data.description}}
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H3>With nested rows and cells that span rows</Shw::Text::H3>

  <Hds::AdvancedTable
    @model={{this.model.spanningData}}
    @columns={{array
      (hash key="name" label="Name")
      (hash key="service" label="Service")
      (hash key="description" label="Description")
    }}
  >
    <:body as |B|>
      <B.Tr>
        {{#if B.data.name}}
          <B.Th @rowspan={{if B.isExpanded (add B.data.children.length 1) 1}}>{{B.data.name}}</B.Th>
        {{/if}}
        <B.Td>{{B.data.service}}</B.Td>
        <B.Td>{{B.data.description}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Sticky header</Shw::Text::H2>

  <Hds::AdvancedTable
    @isSelectable={{true}}
    @onSelectionChange={{this.onMultiSelectUsersSelectionChange__demo3}}
    @model={{this.model.userData}}
    @columns={{array
      (hash key="id" label="ID" width="auto")
      (hash key="name" label="Name")
      (hash key="email" label="Email")
      (hash key="role" label="Role")
    }}
    @hasStickyHeader={{true}}
    @isStriped={{true}}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.id}}"
      >
        <B.Td>{{B.data.id}}</B.Td>
        <B.Td>{{B.data.name}}</B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.role}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Sorting</Shw::Text::H2>

  <Shw::Text::H3>Basic sorting</Shw::Text::H3>

  <Shw::Text::H4>Sortable table (all columns sortable)</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4>Sortable table (only some columns sortable)</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4>Sortable table, one column right-aligned</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true align="right")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td @align="right">{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4>Sortable table, some columns sortable, artist column pre-sorted.</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year")
    }}
    @sortBy="artist"
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Custom sorting</Shw::Text::H3>

  <Shw::Text::H4>Sortable table with custom sorting done via extra key added to the data model</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.clustersWithExtraData}}
    @columns={{array
      (hash label="Peer name" isSortable=true key="peer-name")
      (hash label="Cluster partition")
      (hash label="Status" isSortable=true key="status-sort-order")
      (hash label="Imported services")
      (hash label="Exported services")
      (hash label="Actions" align="right")
    }}
    @sortBy="status-sort-order"
    @sortOrder="asc"
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.peer-name}}</B.Td>
        <B.Td>{{B.data.cluster-partition}}</B.Td>
        <B.Td>
          {{#if (eq B.data.status "failing")}}
            <Hds::Badge @text="Failing" @color="critical" @icon="x" @type="outlined" />
          {{else if (eq B.data.status "active")}}
            <Hds::Badge @text="Active" @color="success" @icon="check" @type="outlined" />
          {{else if (eq B.data.status "pending")}}
            <Hds::Badge @text="Pending" @color="neutral" @icon="loading" @type="outlined" />
          {{else if (eq B.data.status "establishing")}}
            <Hds::Badge @text="Establishing" @color="highlight" @icon="loading" @type="outlined" />
          {{/if}}
        </B.Td>
        <B.Td>{{B.data.services.imported}}</B.Td>
        <B.Td>{{B.data.services.exported}}</B.Td>
        <B.Td @align="right">
          <Hds::Dropdown @isInline={{true}} as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
            <dd.Interactive @route="components.table">Create</dd.Interactive>
            <dd.Interactive @route="components.table">Read</dd.Interactive>
            <dd.Interactive @route="components.table">Update</dd.Interactive>
            <dd.Separator />
            <dd.Interactive @route="components.table" @color="critical" @icon="trash">Delete</dd.Interactive>
          </Hds::Dropdown>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4>Sortable table with custom <code>sortingFunction</code> declared in the column hash</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.clusters}}
    @columns={{array
      (hash label="Peer name" isSortable=true key="peer-name")
      (hash label="Cluster partition")
      (hash label="Status" isSortable=true key="status" sortingFunction=this.customSortingFunction)
      (hash label="Imported services")
      (hash label="Exported services")
      (hash label="Actions" align="right")
    }}
    @sortBy="status"
    @sortOrder="asc"
    @onSort={{this.customOnSort}}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.peer-name}}</B.Td>
        <B.Td>{{B.data.cluster-partition}}</B.Td>
        <B.Td>
          {{#if (eq B.data.status "failing")}}
            <Hds::Badge @text="Failing" @color="critical" @icon="x" @type="outlined" />
          {{else if (eq B.data.status "active")}}
            <Hds::Badge @text="Active" @color="success" @icon="check" @type="outlined" />
          {{else if (eq B.data.status "pending")}}
            <Hds::Badge @text="Pending" @color="neutral" @icon="loading" @type="outlined" />
          {{else if (eq B.data.status "establishing")}}
            <Hds::Badge @text="Establishing" @color="highlight" @icon="loading" @type="outlined" />
          {{/if}}
        </B.Td>
        <B.Td>{{B.data.services.imported}}</B.Td>
        <B.Td>{{B.data.services.exported}}</B.Td>
        <B.Td @align="right">
          <Hds::Dropdown @isInline={{true}} as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
            <dd.Interactive @route="components.table">Create</dd.Interactive>
            <dd.Interactive @route="components.table">Read</dd.Interactive>
            <dd.Interactive @route="components.table">Update</dd.Interactive>
            <dd.Separator />
            <dd.Interactive @route="components.table" @color="critical" @icon="trash">Delete</dd.Interactive>
          </Hds::Dropdown>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Tooltip</Shw::Text::H2>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true tooltip="Artist performing the album")
      (hash key="album" label="Album" tooltip="Name of the album")
      (hash key="vinyl-cost" label="Vinil Cost (USD)" isSortable=true tooltip="Cost of the vinyl" align="right")
      (hash key="year" label="Release Year" tooltip="Year of release of the album" align="right")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td @align="right">{{B.data.vinyl-cost}}</B.Td>
        <B.Td @align="right">{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Multi-select</Shw::Text::H2>

  <Hds::AdvancedTable
    @isSelectable={{true}}
    @onSelectionChange={{this.onSelectionChangeLogArguments}}
    @model={{this.model.selectableData}}
    @columns={{array
      (hash key="lorem" label="Row #")
      (hash key="ipsum" label="Ipsum")
      (hash key="dolor" label="Dolor")
    }}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.lorem}}"
      >
        <B.Td>{{B.data.lorem}}</B.Td>
        <B.Td>{{B.data.ipsum}}</B.Td>
        <B.Td>{{B.data.dolor}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4 @tag="h3">Sortable table with sorting by selected item</Shw::Text::H4>

  <Hds::AdvancedTable
    @isSelectable={{true}}
    @onSelectionChange={{this.onMultiSelectSelectionChange}}
    @model={{this.multiSelectSelectableData}}
    @columns={{array
      (hash key="lorem" label="Row #" isSortable=true)
      (hash key="ipsum" label="Ipsum")
      (hash key="dolor" label="Dolor")
    }}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.lorem}}"
      >
        <B.Td>{{B.data.lorem}}</B.Td>
        <B.Td>{{B.data.ipsum}}</B.Td>
        <B.Td>{{B.data.dolor}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Functional examples</Shw::Text::H3>

  <Shw::Text::H4>With inline filter</Shw::Text::H4>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo1__toggle-scope"
        type="checkbox"
        checked={{this.multiSelectToggleScope__demo1}}
        {{on "change" this.toggleMultiSelectToggleScope__demo1}}
      />
      <label for="multi-select-demo1__toggle-scope">Extend "Select All" scope to non-displayed rows</label>
    </div>
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo1__toggle-debug"
        type="checkbox"
        checked={{this.multiSelectToggleDebug__demo1}}
        {{on "change" this.toggleMultiSelectToggleDebug__demo1}}
      />
      <label for="multi-select-demo1__toggle-debug">Show all rows' state</label>
    </div>
    <div class="shw-component-table-demo-topbar__action">
      <label for="multi-select-demo1__filter">Filter:</label>
      <Hds::Form::Select::Base
        id="multi-select-demo1__filter"
        {{on "change" this.onChangeMultiSelectFilter__demo1}}
        as |C|
      >
        <C.Options>
          <option value="all" selected={{eq this.multiSelectFilterRows__demo1 "all"}}>Show all rows</option>
          <option value="even" selected={{eq this.multiSelectFilterRows__demo1 "even"}}>Show even rows</option>
          <option value="odd" selected={{eq this.multiSelectFilterRows__demo1 "odd"}}>Show odd rows</option>
        </C.Options>
      </Hds::Form::Select::Base>
    </div>
  </div>
  <Hds::AdvancedTable
    @isSelectable={{true}}
    @onSelectionChange={{this.onSelectionChangeWithModel__demo1}}
    @model={{this.multiSelectFilteredData__demo1}}
    @columns={{array
      (hash key="lorem" label="Row #")
      (hash key="ipsum" label="Ipsum")
      (hash key="dolor" label="Dolor")
    }}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.id}}"
      >
        <B.Td>{{B.data.lorem}}</B.Td>
        <B.Td>{{B.data.ipsum}}</B.Td>
        <B.Td>{{B.data.dolor}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>
  {{#if this.multiSelectToggleDebug__demo1}}
    {{#each this.multiSelectModelData__demo1 as |row|}}
      <pre>row{{row.id}} = {{if row.isSelected "✅"}}</pre>
    {{/each}}
  {{/if}}

  <Shw::Text::H4>With pagination</Shw::Text::H4>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo2__toggle"
        type="checkbox"
        checked={{this.multiSelectToggleScope__demo2}}
        {{on "change" this.toggleMultiSelectPaginatedToggleScope__demo2}}
      />
      <label for="multi-select-demo2__toggle">Extend "Select All" scope to non-displayed rows</label>
    </div>
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo2__toggle-debug"
        type="checkbox"
        checked={{this.multiSelectToggleDebug__demo2}}
        {{on "change" this.toggleMultiSelectPaginatedToggleDebug__demo2}}
      />
      <label for="multi-select-demo2__toggle-debug">Show all rows' state</label>
    </div>
  </div>

  <div class="shw-component-table-with-pagination-demo-wrapper">
    <Hds::AdvancedTable
      @isSelectable={{true}}
      @onSelectionChange={{this.onMultiSelectPaginatedSelectionChange__demo2}}
      @model={{this.multiSelectPaginatedData_demo2}}
      @columns={{array
        (hash key="lorem" label="Row #")
        (hash key="ipsum" label="Ipsum")
        (hash key="dolor" label="Dolor")
      }}
    >
      <:body as |B|>
        <B.Tr
          @selectionKey={{B.data.id}}
          @isSelected={{B.data.isSelected}}
          @selectionAriaLabelSuffix="row #{{B.data.id}}"
        >
          <B.Td>{{B.data.lorem}}</B.Td>
          <B.Td>{{B.data.ipsum}}</B.Td>
          <B.Td>{{B.data.dolor}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::AdvancedTable>
    <Hds::Pagination::Numbered
      @totalItems={{this.multiSelectPaginatedTotalItems_demo2}}
      @currentPageSize={{this.multiSelectPaginatedCurrentPageSize_demo2}}
      @pageSizes={{array 2 4}}
      @currentPage={{this.multiSelectPaginatedCurrentPage_demo2}}
      @onPageChange={{this.onMultiSelectPaginatedPageChange_demo2}}
      @onPageSizeChange={{this.onMultiSelectPaginatedPageSizeChange_demo2}}
      @ariaLabel="Pagination for basic multi-select table"
    />
    {{#if this.multiSelectToggleDebug__demo2}}
      {{#each this.multiSelectModelData__demo2 as |row|}}
        <pre>row{{row.id}} = {{if row.isSelected "✅"}}</pre>
      {{/each}}
    {{/if}}
  </div>

  <Shw::Text::H4>Delete selected rows</Shw::Text::H4>

  <Shw::Text::Body>This demo emulates, for example, when a user needs to delete the selected users.</Shw::Text::Body>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo3__toggle"
        type="checkbox"
        checked={{this.multiSelectToggleScope__demo3}}
        {{on "change" this.toggleMultiSelectPaginatedToggleScope__demo3}}
      />
      <label for="multi-select-demo3__toggle">Extend "Select All" scope to non-displayed rows</label>
    </div>
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo3__toggle-debug"
        type="checkbox"
        checked={{this.multiSelectToggleDebug__demo3}}
        {{on "change" this.toggleMultiSelectPaginatedToggleDebug__demo3}}
      />
      <label for="multi-select-demo3__toggle-debug">Show all rows' state</label>
    </div>
    <div class="shw-component-table-demo-topbar__action">
      <Hds::Button @text="Delete users" @icon="trash" {{on "click" this.multiSelectDeleteSelectedUsers_demo3}} />
    </div>
  </div>

  <div class="shw-component-table-with-pagination-demo-wrapper">
    <Hds::AdvancedTable
      @isSelectable={{true}}
      @onSelectionChange={{this.onMultiSelectUsersSelectionChange__demo3}}
      @model={{this.multiSelectUsersData_demo3}}
      @columns={{array
        (hash key="id" label="ID")
        (hash key="name" label="Name")
        (hash key="email" label="Email")
        (hash key="role" label="Role")
      }}
    >
      <:body as |B|>
        <B.Tr
          @selectionKey={{B.data.id}}
          @isSelected={{B.data.isSelected}}
          @selectionAriaLabelSuffix="row #{{B.data.id}}"
        >
          <B.Td>{{B.data.id}}</B.Td>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.role}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::AdvancedTable>
    <Hds::Pagination::Numbered
      @totalItems={{this.multiSelectUsersTotalItems_demo3}}
      @currentPageSize={{this.multiSelectUsersCurrentPageSize_demo3}}
      @pageSizes={{array 4 8}}
      @currentPage={{this.multiSelectUsersCurrentPage_demo3}}
      @onPageChange={{this.onMultiSelectUsersPageChange_demo3}}
      @onPageSizeChange={{this.onMultiSelectUsersPageSizeChange_demo3}}
      @ariaLabel="Pagination for multi-select table with delete action"
    />
    {{#if this.multiSelectToggleDebug__demo3}}
      {{#each this.multiSelectModelData__demo3 as |row|}}
        <pre>row{{row.id}} = {{if row.isSelected "✅"}}</pre>
      {{/each}}
    {{/if}}
  </div>

  <Shw::Text::H4>Execute action on selected rows</Shw::Text::H4>

  <Shw::Text::Body>This demo emulates, for example, when a user needs to download the selected files.</Shw::Text::Body>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__action">
      <Hds::Button @text="Animate users" @icon="play" {{on "click" this.multiSelectAnimateSelectedUsers_demo4}} />
    </div>
  </div>

  <Hds::AdvancedTable
    @isSelectable={{true}}
    @onSelectionChange={{this.onMultiSelectSelectionChange__demo4}}
    @model={{this.multiSelectUserData__demo4}}
    @columns={{array
      (hash key="id" label="ID")
      (hash key="name" label="Name")
      (hash key="email" label="Email")
      (hash key="role" label="Role")
    }}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.id}}"
      >
        <B.Td>{{B.data.id}}</B.Td>
        <B.Td>
          <span class={{if B.data.isAnimated "shw-component-table-animate-user"}}>{{B.data.name}}</span>
        </B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.role}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Table customization</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Density</Shw::Text::H4>

  <Shw::Flex @direction="column" @gap="2rem" as |SF|>
    {{#let (array "default" "short" "tall") as |densities|}}
      {{#each densities as |density|}}
        <SF.Item @label={{capitalize density}}>
          <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
            {{#let (array false true) as |booleans|}}
              {{#each booleans as |bool|}}
                <SG.Item>
                  <Hds::AdvancedTable
                    @isSelectable={{bool}}
                    @density={{if (not (eq density "default")) density}}
                    @model={{this.model.userDataShort}}
                    @columns={{array
                      (hash key="id" label="ID")
                      (hash key="name" label="Name")
                      (hash key="email" label="Email")
                      (hash key="role" label="Role")
                    }}
                  >
                    <:body as |B|>
                      <B.Tr @selectionKey={{B.data.id}}>
                        <B.Td>{{B.data.id}}</B.Td>
                        <B.Td>{{B.data.name}}</B.Td>
                        <B.Td>{{B.data.email}}</B.Td>
                        <B.Td>{{B.data.role}}</B.Td>
                      </B.Tr>
                    </:body>
                  </Hds::AdvancedTable>
                </SG.Item>
              {{/each}}
            {{/let}}
          </Shw::Grid>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Striping</Shw::Text::H4>

  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |bool|}}
        <SG.Item>
          <Hds::AdvancedTable
            @isStriped={{true}}
            @isSelectable={{bool}}
            @model={{this.model.userDataShort}}
            @columns={{array
              (hash key="id" label="ID")
              (hash key="name" label="Name")
              (hash key="email" label="Email")
              (hash key="role" label="Role")
            }}
          >
            <:body as |B|>
              <B.Tr @selectionKey={{B.data.id}}>
                <B.Td>{{B.data.id}}</B.Td>
                <B.Td>{{B.data.name}}</B.Td>
                <B.Td>{{B.data.email}}</B.Td>
                <B.Td>{{B.data.role}}</B.Td>
              </B.Tr>
            </:body>
          </Hds::AdvancedTable>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Sortable table, last column not sortable, visually hidden and with custom width.</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
      (hash key="other" label="Select an action from the menu" width="55px" isVisuallyHidden=true)
    }}
    @valign="middle"
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
        <B.Td @align="right">
          <Hds::Dropdown @isInline={{true}} as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
            <dd.Interactive @route="components.table">Create</dd.Interactive>
            <dd.Interactive @route="components.table">Read</dd.Interactive>
            <dd.Interactive @route="components.table">Update</dd.Interactive>
            <dd.Separator />
            <dd.Interactive @route="components.table" @color="critical" @icon="trash">Delete</dd.Interactive>
          </Hds::Dropdown>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4 @tag="h3">Table where last column has right-aligned text</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
      (hash key="vinyl-cost" label="Vinyl Cost (USD)" align="right")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
        <B.Td @align="right">{{B.data.vinyl-cost}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H4 @tag="h3">Table with multi-line content</Shw::Text::H4>

  <Hds::AdvancedTable
    @model={{this.model.music}}
    @caption="table with multi-line content"
    @columns={{array
      (hash key="artist" label="Artist")
      (hash key="album" label="Album")
      (hash key="quote" label="Quote" width="50%")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>&ldquo;{{B.data.quote}}&rdquo;</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Layout</Shw::Text::H2>

  <Shw::Text::H3>AdvancedTable with custom column widths</Shw::Text::H3>
  <Hds::AdvancedTable
    @model={{this.model.music}}
    @caption="table with multi-line content"
    @columns={{array
      (hash key="artist" label="Artist (120px)" width="120px")
      (hash key="album" label="Album (1fr)" width="1fr")
      (hash key="quote" label="Quote (2fr)" width="2fr")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>&ldquo;{{B.data.quote}}&rdquo;</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Text::H3>Selectable AdvancedTable with custom column widths</Shw::Text::H3>
  <Hds::AdvancedTable
    @isSelectable={{true}}
    @model={{this.model.userDataShort}}
    @columns={{array
      (hash key="id" label="ID (120px)" width="120px")
      (hash key="name" label="Name (auto)" width="auto")
      (hash key="email" label="Email (1fr)" width="1fr")
      (hash key="role" label="Role (auto)" width="auto")
    }}
  >
    <:body as |B|>
      <B.Tr @selectionKey={{B.data.id}}>
        <B.Td>{{B.data.id}}</B.Td>
        <B.Td>{{B.data.name}}</B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.role}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Large AdvancedTable with overflowing container</Shw::Text::H3>

  <Shw::Text::H4>Container with overflow = 'auto' + Columns width (in
    <code>px</code>)</Shw::Text::H4>

  <div class="shw-component-advanced-table-scrollable-wrapper">
    <Hds::AdvancedTable
      @model={{this.model.manyColumns}}
      @columns={{array
        (hash key="first_name" label="First Name" isSortable=true width="200px")
        (hash key="last_name" label="Last Name" isSortable=true width="200px")
        (hash key="age" label="Age" isSortable=true align="right")
        (hash key="email" label="Email" isSortable=true)
        (hash key="phone" label="Phone" isSortable=true)
        (hash key="bio" label="Biography" width="350px")
        (hash key="education" label="Education Degree" isSortable=true)
        (hash key="occupation" label="Occupation" isSortable=true)
      }}
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.first_name}}</B.Td>
          <B.Td>{{B.data.last_name}}</B.Td>
          <B.Td @align="right">{{B.data.age}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.phone}}</B.Td>
          <B.Td>{{B.data.bio}}</B.Td>
          <B.Td>{{B.data.education}}</B.Td>
          <B.Td>{{B.data.occupation}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::AdvancedTable>
  </div>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>AdvancedTable with <code>colspan/rowspan</code> attributes</Shw::Text::H3>

  <Hds::AdvancedTable
    @model={{this.model.spanningManualData}}
    @columns={{array
      (hash key="name" label="Name")
      (hash key="service" label="Service")
      (hash key="description" label="Description")
      (hash key="email" label="Email")
    }}
  >
    <:body as |B|>
      <B.Tr id={{B.data.id}}>
        {{#if B.data.name}}
          <B.Th @rowspan={{B.data.name.rowspan}} @colspan={{B.data.name.colspan}}>{{#if B.data.name.text}}
              {{B.data.name.text}}
            {{else}}
              {{B.data.name}}
            {{/if}}
          </B.Th>
        {{/if}}
        {{#if B.data.service}}
          <B.Td @rowspan={{B.data.service.rowspan}} @colspan={{B.data.service.colspan}}>
            {{#if B.data.service.text}}
              {{B.data.service.text}}
            {{else}}
              {{B.data.service}}
            {{/if}}
          </B.Td>
        {{/if}}
        {{#if B.data.description}}
          <B.Td @rowspan={{B.data.description.rowspan}} @colspan={{B.data.description.colspan}}>
            {{#if B.data.description.text}}
              {{B.data.description.text}}
            {{else}}
              {{B.data.description}}
            {{/if}}
          </B.Td>
        {{/if}}
        {{#if B.data.email}}
          <B.Td>
            {{B.data.email}}
          </B.Td>
        {{/if}}
      </B.Tr>
    </:body>
  </Hds::AdvancedTable>

  <Shw::Divider />

  <Shw::Text::H2>Base elements</Shw::Text::H2>

  <Shw::Text::H3>Tr</Shw::Text::H3>

  <Shw::Text::Body>These examples are for display only, clicking the expand button will not toggle the rows.</Shw::Text::Body>

  <Shw::Flex @direction="column" @label="Nested rows" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__tbody">
          <div class="hds-advanced-table__expandable-tr-group">
            <Hds::AdvancedTable::Tr @depth={{0}}>
              <Hds::AdvancedTable::Th @depth={{0}} @isExpandable={{true}}>
                Depth 0
              </Hds::AdvancedTable::Th>
              <Hds::AdvancedTable::Td>
                Lorem
              </Hds::AdvancedTable::Td>
              <Hds::AdvancedTable::Td>
                Ipsum
              </Hds::AdvancedTable::Td>
              <Hds::AdvancedTable::Td>
                Dolor
              </Hds::AdvancedTable::Td>
            </Hds::AdvancedTable::Tr>
            <div class="hds-advanced-table__expandable-tr-group">
              <Hds::AdvancedTable::Tr @depth={{1}}>
                <Hds::AdvancedTable::Th @depth={{1}} @isExpandable={{true}}>
                  Depth 1
                </Hds::AdvancedTable::Th>
                <Hds::AdvancedTable::Td>
                  Lorem
                </Hds::AdvancedTable::Td>
                <Hds::AdvancedTable::Td>
                  Ipsum
                </Hds::AdvancedTable::Td>
                <Hds::AdvancedTable::Td>
                  Dolor
                </Hds::AdvancedTable::Td>
              </Hds::AdvancedTable::Tr>
              <div class="hds-advanced-table__expandable-tr-group">
                <Hds::AdvancedTable::Tr @depth={{2}}>
                  <Hds::AdvancedTable::Th @depth={{2}} @isExpandable={{true}}>
                    Depth 2
                  </Hds::AdvancedTable::Th>
                  <Hds::AdvancedTable::Td>
                    Lorem
                  </Hds::AdvancedTable::Td>
                  <Hds::AdvancedTable::Td>
                    Ipsum
                  </Hds::AdvancedTable::Td>
                  <Hds::AdvancedTable::Td>
                    Dolor
                  </Hds::AdvancedTable::Td>
                </Hds::AdvancedTable::Tr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" @label="Nested rows with multiline" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__tbody">
          <div class="hds-advanced-table__expandable-tr-group">
            <Hds::AdvancedTable::Tr @depth={{0}}>
              <Hds::AdvancedTable::Th @depth={{0}} @isExpandable={{true}}>
                Depth 0 - This is a very long text that should go on two lines
              </Hds::AdvancedTable::Th>
              <Hds::AdvancedTable::Td>
                Lorem
              </Hds::AdvancedTable::Td>
              <Hds::AdvancedTable::Td>
                Ipsum
              </Hds::AdvancedTable::Td>
              <Hds::AdvancedTable::Td>
                Dolor
              </Hds::AdvancedTable::Td>
            </Hds::AdvancedTable::Tr>
            <div class="hds-advanced-table__expandable-tr-group">
              <Hds::AdvancedTable::Tr @depth={{1}}>
                <Hds::AdvancedTable::Th @depth={{1}} @isExpandable={{true}}>
                  Depth 1 - This is a very long text that should go on two lines
                </Hds::AdvancedTable::Th>
                <Hds::AdvancedTable::Td>
                  Lorem
                </Hds::AdvancedTable::Td>
                <Hds::AdvancedTable::Td>
                  Ipsum
                </Hds::AdvancedTable::Td>
                <Hds::AdvancedTable::Td>
                  Dolor
                </Hds::AdvancedTable::Td>
              </Hds::AdvancedTable::Tr>
              <div class="hds-advanced-table__expandable-tr-group">
                <Hds::AdvancedTable::Tr @depth={{2}}>
                  <Hds::AdvancedTable::Th @depth={{2}} @isExpandable={{true}}>
                    Depth 2 - This is a very long text that should go on two lines
                  </Hds::AdvancedTable::Th>
                  <Hds::AdvancedTable::Td>
                    Lorem
                  </Hds::AdvancedTable::Td>
                  <Hds::AdvancedTable::Td>
                    Ipsum
                  </Hds::AdvancedTable::Td>
                  <Hds::AdvancedTable::Td>
                    Dolor
                  </Hds::AdvancedTable::Td>
                </Hds::AdvancedTable::Tr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>ThSort</Shw::Text::H3>

  <Shw::Flex @direction="column" @label="Interactive states + Sorting order" as |SF|>
    {{#each @model.STATES as |state|}}
      <SF.Item @grow={{true}}>
        <div class="hds-advanced-table" style="grid-template-columns: repeat(3, 1fr);">
          <div class="hds-advanced-table__thead">
            <div class="hds-advanced-table__tr">
              <Hds::AdvancedTable::ThSort
                mock-state-value={{state}}
                mock-state-selector="button"
                @tooltip="Here is more information"
              >
                Unsorted ({{state}})
              </Hds::AdvancedTable::ThSort>
              <Hds::AdvancedTable::ThSort @sortOrder="asc" mock-state-value={{state}} mock-state-selector="button">
                Ascending
              </Hds::AdvancedTable::ThSort>
              <Hds::AdvancedTable::ThSort @sortOrder="desc" mock-state-value={{state}} mock-state-selector="button">
                Descending
              </Hds::AdvancedTable::ThSort>
            </div>
          </div>
        </div>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Flex @label="Alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(6, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::ThSort>Left</Hds::AdvancedTable::ThSort>
            <Hds::AdvancedTable::ThSort @tooltip="Here is more information">Left</Hds::AdvancedTable::ThSort>
            <Hds::AdvancedTable::ThSort @align="center">Center</Hds::AdvancedTable::ThSort>
            <Hds::AdvancedTable::ThSort
              @align="center"
              @tooltip="Here is more information"
            >Center</Hds::AdvancedTable::ThSort>
            <Hds::AdvancedTable::ThSort @align="right">Right</Hds::AdvancedTable::ThSort>
            <Hds::AdvancedTable::ThSort
              @align="right"
              @tooltip="Here is more information"
            >Right</Hds::AdvancedTable::ThSort>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" @label="Multi-line" as |SF|>
    <SF.Item {{style width="600px"}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(2, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::ThSort>
              This is a very long text that should go on two lines
            </Hds::AdvancedTable::ThSort>
            <Hds::AdvancedTable::ThSort @tooltip="Here is more information">
              This is a very long text that should go on two lines
            </Hds::AdvancedTable::ThSort>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Th</Shw::Text::H3>

  <Shw::Flex @label="Interactive states" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            {{#each @model.STATES as |state|}}
              <Hds::AdvancedTable::Th
                @tooltip="Here is more information"
                mock-state-value={{state}}
                mock-state-selector="button"
              >
                {{capitalize state}}
              </Hds::AdvancedTable::Th>
            {{/each}}
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>
  <Shw::Flex @label="Expandable" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            {{#each @model.STATES as |state|}}
              <Hds::AdvancedTable::Th mock-state-value={{state}} mock-state-selector="button" @isExpandable={{true}}>
                {{capitalize state}}
              </Hds::AdvancedTable::Th>
            {{/each}}
          </div>
        </div>
      </div>
    </SF.Item>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            {{#each @model.STATES as |state|}}
              <Hds::AdvancedTable::Th
                mock-state-value={{state}}
                mock-state-selector="button"
                @isExpandable={{true}}
                @isExpanded={{true}}
              >
                {{capitalize state}}
              </Hds::AdvancedTable::Th>
            {{/each}}
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Expandable with tooltip" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            {{#each @model.STATES as |state|}}
              <Hds::AdvancedTable::Th
                @tooltip="Here is more information"
                mock-state-value={{state}}
                mock-state-selector="button"
                @isExpandable={{true}}
              >
                {{capitalize state}}
              </Hds::AdvancedTable::Th>
            {{/each}}
          </div>
        </div>
      </div>
    </SF.Item>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            {{#each @model.STATES as |state|}}
              <Hds::AdvancedTable::Th
                @tooltip="Here is more information"
                mock-state-value={{state}}
                mock-state-selector="button"
                @isExpandable={{true}}
                @isExpanded={{true}}
              >
                {{capitalize state}}
              </Hds::AdvancedTable::Th>
            {{/each}}
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(6, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Left</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @tooltip="Here is more information">Left</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @align="center">Center</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @align="center" @tooltip="Here is more information">Center</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @align="right">Right</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @align="right" @tooltip="Here is more information">Right</Hds::AdvancedTable::Th>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Display" as |SF|>
    <SF.Item @label="Th with visually hidden text" @grow={{true}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Lorem</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th>Ipsum</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th>Dolor</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @isVisuallyHidden={{true}}>Sit amet</Hds::AdvancedTable::Th>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" @label="Multi-line" as |SF|>
    <SF.Item {{style width="600px"}}>
      <div class="hds-advanced-table" style="grid-template-columns: repeat(2, 1fr);">
        <div class="hds-advanced-table__thead hds-advanced-table__thead--sticky">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>
              This is a very long text that should go on two lines
            </Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @tooltip="Here is more information">
              This is a very long text that should go on two lines
            </Hds::AdvancedTable::Th>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>ThSelectable</Shw::Text::H3>

  <Shw::Flex @direction="row" @gap="2rem" as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |bool1|}}
        {{#each booleans as |bool2|}}
          <SF.Item @label="{{if bool1 'Selected' 'Deselected'}} {{if bool2 ' with sort'}}">
            <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: auto 1fr;">
              <div class="hds-advanced-table__thead">
                <div class="hds-advanced-table__tr">
                  <Hds::AdvancedTable::ThSelectable
                    @selectionScope="col"
                    @isSelected={{bool1}}
                    @onClickSortBySelected={{if bool2 this.noop}}
                  />
                  <Hds::AdvancedTable::Th>Lorem</Hds::AdvancedTable::Th>
                </div>
              </div>
              <div class="hds-advanced-table__tbody">
                <div class="hds-advanced-table__tr">
                  <Hds::AdvancedTable::ThSelectable @selectionScope="row" @isSelected={{bool1}} />
                  <Hds::AdvancedTable::Td>Ipsum</Hds::AdvancedTable::Td>
                </div>
              </div>
            </div>
            <br />
            <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: auto 1fr;">
              <div class="hds-advanced-table__thead">
                <div class="hds-advanced-table__tr">
                  <Hds::AdvancedTable::ThSelectable
                    @selectionScope="col"
                    @isSelected={{bool1}}
                    @onClickSortBySelected={{if bool2 this.noop}}
                    mock-state-value="focus"
                    mock-state-selector="input"
                  />
                  <Hds::AdvancedTable::Th>Lorem</Hds::AdvancedTable::Th>
                </div>
              </div>
              <div class="hds-advanced-table__tbody">
                <div class="hds-advanced-table__tr">
                  <Hds::AdvancedTable::ThSelectable
                    @selectionScope="row"
                    @isSelected={{bool1}}
                    mock-state-value="focus"
                    mock-state-selector="input"
                  />
                  <Hds::AdvancedTable::Td>Ipsum</Hds::AdvancedTable::Td>
                </div>
              </div>
            </div>
          </SF.Item>
        {{/each}}
      {{/each}}
    {{/let}}
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |bool|}}
        <SF.Item @label="Indeterminate {{if bool ' with sort'}}">
          <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: auto 1fr;">
            <div class="hds-advanced-table__thead">
              <div class="hds-advanced-table__tr">
                <Hds::AdvancedTable::ThSelectable
                  @selectionScope="col"
                  @isSelected={{true}}
                  @onClickSortBySelected={{if bool this.noop}}
                  @didInsert={{this.mockIndeterminateState}}
                />
                <Hds::AdvancedTable::Th>Lorem</Hds::AdvancedTable::Th>
              </div>
            </div>
            <div class="hds-advanced-table__tbody">
              <div class="hds-advanced-table__tr">
                <Hds::AdvancedTable::ThSelectable
                  @selectionScope="row"
                  @isSelected={{false}}
                  @didInsert={{this.mockIndeterminateState}}
                />
                <Hds::AdvancedTable::Td>Ipsum</Hds::AdvancedTable::Td>
              </div>
            </div>
          </div>
          <br />
          <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: auto 1fr;">
            <div class="hds-advanced-table__thead">
              <div class="hds-advanced-table__tr">
                <Hds::AdvancedTable::ThSelectable
                  @selectionScope="col"
                  @isSelected={{true}}
                  @didInsert={{this.mockIndeterminateState}}
                  @onClickSortBySelected={{if bool this.noop}}
                  mock-state-value="focus"
                  mock-state-selector="input"
                />
                <Hds::AdvancedTable::Th>Lorem</Hds::AdvancedTable::Th>
              </div>
            </div>
            <div class="hds-advanced-table__tbody">
              <div class="hds-advanced-table__tr">
                <Hds::AdvancedTable::ThSelectable
                  @selectionScope="row"
                  @isSelected={{false}}
                  @didInsert={{this.mockIndeterminateState}}
                  mock-state-value="focus"
                  mock-state-selector="input"
                />
                <Hds::AdvancedTable::Td>Ipsum</Hds::AdvancedTable::Td>
              </div>
            </div>
          </div>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Td</Shw::Text::H3>

  <Shw::Flex @label="Horizontal alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <div class="hds-advanced-table hds-advanced-table--density-medium" style="grid-template-columns: repeat(4, 1fr);">
        <div class="hds-advanced-table__thead">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>
              Entity
            </Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th>
              Left
            </Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @align="center">
              Center
            </Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Th @align="right">
              Right
            </Hds::AdvancedTable::Th>
          </div>
        </div>
        <div class="hds-advanced-table__tbody">
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Text</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left">Text is left aligned</Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center">Text is center aligned</Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right">Text is right aligned</Hds::AdvancedTable::Td>
          </div>
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Icon</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left"><Hds::Icon @name="film" @isInline={{true}} /></Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center"><Hds::Icon
                @name="film"
                @isInline={{true}}
              /></Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right"><Hds::Icon
                @name="film"
                @isInline={{true}}
              /></Hds::AdvancedTable::Td>
          </div>
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Icon + Inline text</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left"><Hds::Icon @name="film" @isInline={{true}} />
              <span>Text in a <code>&lt;span&gt;</code></span></Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center"><Hds::Icon @name="film" @isInline={{true}} />
              <span>Text in a <code>&lt;span&gt;</code></span></Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right"><Hds::Icon @name="film" @isInline={{true}} />
              <span>Text in a <code>&lt;span&gt;</code></span></Hds::AdvancedTable::Td>
          </div>
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Badge</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left"><Hds::Badge @text="Badge" /></Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center"><Hds::Badge @text="Badge" /></Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right"><Hds::Badge @text="Badge" /></Hds::AdvancedTable::Td>
          </div>
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Button (with inline container)</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left">
              <div {{style display="inline-block"}}>
                <Hds::Button @size="small" @icon="plus" @text="Lorem ipsum" @color="secondary" />
              </div>
            </Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center">
              <div {{style display="inline-block"}}>
                <Hds::Button @size="small" @icon="plus" @text="Lorem ipsum" @color="secondary" />
              </div>
            </Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right">
              <div {{style display="inline-block"}}>
                <Hds::Button @size="small" @icon="plus" @text="Lorem ipsum" @color="secondary" />
              </div>
            </Hds::AdvancedTable::Td>
          </div>
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Dropdown (with <code>@isInline</code>)</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left">
              <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
                <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <dd.Interactive @route="components.table">Dropdown</dd.Interactive>
              </Hds::Dropdown>
            </Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center">
              <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
                <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <dd.Interactive @route="components.table">Dropdown</dd.Interactive>
              </Hds::Dropdown>
            </Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right">
              <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
                <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <dd.Interactive @route="components.table">Dropdown</dd.Interactive>
              </Hds::Dropdown>
            </Hds::AdvancedTable::Td>
          </div>
          <div class="hds-advanced-table__tr">
            <Hds::AdvancedTable::Th>Tooltip(Button)</Hds::AdvancedTable::Th>
            <Hds::AdvancedTable::Td @align="left">
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="center">
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </Hds::AdvancedTable::Td>
            <Hds::AdvancedTable::Td @align="right">
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </Hds::AdvancedTable::Td>
          </div>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  {{!-- <Shw::Flex @label="Vertical alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <Hds::Table @valign="top" @isSelectable={{true}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Spacer</H.Th>
            <H.Th>Text</H.Th>
            <H.Th>Icon</H.Th>
            <H.Th>Icon + Text</H.Th>
            <H.Th>Icon + Text (with flex container)</H.Th>
            <H.Th>Badge</H.Th>
            <H.Th>Dropdown</H.Th>
            <H.Th>Tooltip(Button)</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <B.Th>Top (default)<Shw::Placeholder @height="50" /></B.Th>
            <B.Td>Text is top aligned</B.Td>
            <B.Td><Hds::Icon @name="film" @isInline={{true}} /></B.Td>
            <B.Td><Hds::Icon @name="film" @isInline={{true}} /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td>
              <div {{style display="flex" gap="8px" align-items="center"}}>
                <Hds::Icon @name="film" />
                <span>Text in a <code>&lt;span&gt;</code></span>
              </div>
            </B.Td>
            <B.Td><Hds::Badge @text="Badge" /></B.Td>
            <B.Td>
              <Hds::Dropdown as |D|>
                <D.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <D.Interactive @route="components.table">Dropdown</D.Interactive>
              </Hds::Dropdown>
            </B.Td>
            <B.Td>
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
    <SF.Item @grow={{true}}>
      <Hds::Table @valign="middle" @isSelectable={{true}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Spacer</H.Th>
            <H.Th>Text</H.Th>
            <H.Th>Icon</H.Th>
            <H.Th>Icon + Text</H.Th>
            <H.Th>Icon + Text (with flex container)</H.Th>
            <H.Th>Badge</H.Th>
            <H.Th>Dropdown</H.Th>
            <H.Th>Tooltip(Button)</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <B.Th><Shw::Placeholder @height="25" />Middle<Shw::Placeholder @height="25" /></B.Th>
            <B.Td>Text is middle aligned</B.Td>
            <B.Td><Hds::Icon @name="film" @isInline={{true}} /></B.Td>
            <B.Td><Hds::Icon @name="film" @isInline={{true}} /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td>
              <div {{style display="flex" gap="8px" align-items="center"}}>
                <Hds::Icon @name="film" />
                <span>Text in a <code>&lt;span&gt;</code></span>
              </div>
            </B.Td>
            <B.Td><Hds::Badge @text="Badge" /></B.Td>
            <B.Td>
              <Hds::Dropdown as |D|>
                <D.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <D.Interactive @route="components.table">Dropdown</D.Interactive>
              </Hds::Dropdown>
            </B.Td>
            <B.Td>
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
    <SF.Item @grow={{true}}>
      <Hds::Table @valign="baseline" @isSelectable={{true}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Spacer</H.Th>
            <H.Th>Text</H.Th>
            <H.Th>Icon</H.Th>
            <H.Th>Icon + Text</H.Th>
            <H.Th>Icon + Text (with flex container)</H.Th>
            <H.Th>Badge</H.Th>
            <H.Th>Dropdown</H.Th>
            <H.Th>Tooltip(Button)</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <B.Th><Shw::Placeholder @height="25" />Baseline<Shw::Placeholder @height="25" /></B.Th>
            <B.Td>Text is middle aligned</B.Td>
            <B.Td><Hds::Icon @name="film" @isInline={{true}} /></B.Td>
            <B.Td><Hds::Icon @name="film" @isInline={{true}} /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td>
              <div {{style display="flex" gap="8px" align-items="center"}}>
                <Hds::Icon @name="film" @isInline={{true}} />
                <span>Text in a <code>&lt;span&gt;</code></span>
              </div>
            </B.Td>
            <B.Td><Hds::Badge @text="Badge" /></B.Td>
            <B.Td>
              <Hds::Dropdown as |D|>
                <D.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <D.Interactive @route="components.table">Dropdown</D.Interactive>
              </Hds::Dropdown>
            </B.Td>
            <B.Td>
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex> --}}

  {{!-- 

  

  <Shw::Text::H3>ThButtonTooltip</Shw::Text::H3>

  <Shw::Grid @label="Interactive states" @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label={{capitalize state}}>
        <Hds::Table::ThButtonTooltip @tooltip="Here is more information" mock-state-value={{state}} />
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>ThButtonSort</Shw::Text::H3>

  <Shw::Grid @label="Interactive states + Sorting order" @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label={{capitalize state}}>
        <Shw::Flex @direction="row" as |SF|>
          <SF.Item>
            <Hds::Table::ThButtonSort mock-state-value={{state}} />
          </SF.Item>
          <SF.Item>
            <Hds::Table::ThButtonSort @sortOrder="asc" mock-state-value={{state}} />
          </SF.Item>
          <SF.Item>
            <Hds::Table::ThButtonSort @sortOrder="desc" mock-state-value={{state}} />
          </SF.Item>
        </Shw::Flex>
      </SG.Item>
    {{/each}}
  </Shw::Grid> --}}

</section>