{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "AppFooter Component"}}

<Shw::Text::H1>AppFooter</Shw::Text::H1>

<section data-test-percy>
  <div class="{{if this.showHighlight 'shw-component-app-footer-layout-highlight'}}">
    <Shw::Text::H2>Content</Shw::Text::H2>

    <button type="button" {{on "click" this.toggleHighlight}}>
      {{if this.showHighlight "Hide" "Show"}}
      layout highlight
    </button>

    <Shw::Flex @direction="column" {{style marginTop="32px"}} as |SF|>
      <SF.Item @label="With only generic content">
        <Hds::AppFooter as |AF|>
          <AF.ExtraBefore>
            <Shw::Placeholder @height="2em" {{style width="fit-content"}} @text="Extra Content Before" />
          </AF.ExtraBefore>
          <AF.Item>
            <Shw::Placeholder @height="2em" @text="Item" />
          </AF.Item>
          <AF.Item>
            <Shw::Placeholder @height="2em" @text="Item" />
          </AF.Item>
          <AF.Item>
            <Shw::Placeholder @height="2em" @text="Item" />
          </AF.Item>
          <AF.ExtraAfter>
            <Shw::Placeholder @height="2em" {{style width="fit-content"}} @text="Extra Content After" />
          </AF.ExtraAfter>
        </Hds::AppFooter>
      </SF.Item>

      <SF.Item @label="With only the default content">
        <Hds::AppFooter />
      </SF.Item>

      <SF.Item @label="With minimal recommended content">
        <Hds::AppFooter as |AF|>
          <AF.LegalLinks />
        </Hds::AppFooter>
      </SF.Item>

      <SF.Item @label="With StatusLink & custom Link content (with leading icon)">
        <Hds::AppFooter as |AF|>
          <AF.StatusLink @status="operational" />
          <AF.Link
            @href="https://cloud.hashicorp.com/docs/changelog"
            @icon="logs"
            @iconPosition="leading"
          >Changelog</AF.Link>
          <AF.LegalLinks />
        </Hds::AppFooter>
      </SF.Item>

      <SF.Item @label="With custom “meta” items (non-link) content">
        <Hds::AppFooter as |AF|>
          <AF.StatusLink @status="operational" />
          <AF.LegalLinks />
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">v.2.0</Hds::Text::Body>
          </AF.Item>
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">Product Name</Hds::Text::Body>
          </AF.Item>
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">API: 1.0</Hds::Text::Body>
          </AF.Item>
        </Hds::AppFooter>
      </SF.Item>

      <SF.Item @label="With theme selector as Extra Content Before">
        <Hds::AppFooter as |AF|>
          <AF.ExtraBefore>
            <Hds::Dropdown as |dd|>
              <dd.ToggleButton @text="Theme" @color="secondary" @size="small" />
              <dd.Interactive @icon="monitor" {{on "click" dd.close}} @text="System" />
              <dd.Interactive @icon="moon" {{on "click" dd.close}} @text="Dark" />
              <dd.Interactive @icon="sun" {{on "click" dd.close}} @text="Light" />
            </Hds::Dropdown>
          </AF.ExtraBefore>
          <AF.StatusLink @status="operational" />
          <AF.Link @href="https://cloud.hashicorp.com/docs/changelog">Changelog</AF.Link>
          <AF.LegalLinks />
        </Hds::AppFooter>
      </SF.Item>
    </Shw::Flex>

    <Shw::Divider />

    <Shw::Text::H2>Theme</Shw::Text::H2>

    <button type="button" {{on "click" this.toggleHighlight}}>
      {{if this.showHighlight "Hide" "Show"}}
      layout highlight
    </button>

    <Shw::Flex @direction="column" {{style marginTop="32px"}} as |SF|>
      <SF.Item @label="theme=light">
        <Hds::AppFooter as |AF|>
          <AF.StatusLink @status="operational" />
          <AF.LegalLinks />
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">v.2.0</Hds::Text::Body>
          </AF.Item>
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">Product Name</Hds::Text::Body>
          </AF.Item>
        </Hds::AppFooter>
      </SF.Item>

      <SF.Item @label="theme=dark">
        <Hds::AppFooter @theme="dark" as |AF|>
          <AF.StatusLink @status="operational" />
          <AF.LegalLinks />
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">v.2.0</Hds::Text::Body>
          </AF.Item>
          <AF.Item>
            <Hds::Text::Body @tag="span" @size="100">Product Name</Hds::Text::Body>
          </AF.Item>
        </Hds::AppFooter>
      </SF.Item>
    </Shw::Flex>

    <Shw::Divider />

    <Shw::Text::H2>Layout</Shw::Text::H2>

    <button type="button" {{on "click" this.toggleHighlight}}>
      {{if this.showHighlight "Hide" "Show"}}
      layout highlight
    </button>

    <Shw::Flex @direction="column" {{style marginTop="32px"}} as |SF|>
      {{#let (array "desktop" "tablet" "mobile-large" "mobile-small") as |layouts|}}
        {{#each layouts as |layout|}}
          <SF.Item @label={{layout}}>
            <div class={{(concat (concat "shw-component-app-footer-" layout) "-view")}}>
              <Hds::AppFooter as |AF|>
                <AF.ExtraBefore>
                  <Shw::Placeholder
                    class="shw-app-footer-extra"
                    @height="2em"
                    {{style width="fit-content"}}
                    @text="Before"
                  />
                </AF.ExtraBefore>
                <AF.StatusLink @status="operational" />
                <AF.LegalLinks />
                <AF.Item>
                  <Hds::Text::Body @tag="span" @size="100">v.2.0</Hds::Text::Body>
                </AF.Item>
                <AF.Item>
                  <Hds::Text::Body @tag="span" @size="100">Name</Hds::Text::Body>
                </AF.Item>
                <AF.Item>
                  <Hds::Text::Body @tag="span" @size="100">API: 1.0</Hds::Text::Body>
                </AF.Item>
                <AF.ExtraAfter>
                  <Shw::Placeholder
                    class="shw-app-footer-extra"
                    @height="2em"
                    {{style width="fit-content"}}
                    @text="After"
                  />
                </AF.ExtraAfter>
              </Hds::AppFooter>
            </div>
          </SF.Item>
        {{/each}}
      {{/let}}
    </Shw::Flex>

    <Shw::Divider />

    <Shw::Text::H2>Base components & child components</Shw::Text::H2>

    <button type="button" {{on "click" this.toggleHighlight}}>
      {{if this.showHighlight "Hide" "Show"}}
      layout highlight
    </button>

    <Shw::Text::H3>AppFooter::Item</Shw::Text::H3>

    <ul class="hds-app-footer__list">
      <Hds::AppFooter::Item><Hds::Text::Body
          @tag="span"
          @size="100"
          @color="primary"
        >Item</Hds::Text::Body></Hds::AppFooter::Item>
    </ul>

    <Shw::Divider @level={{2}} />

    <Shw::Text::H3>AppFooter::Link</Shw::Text::H3>

    <Shw::Text::H4>States</Shw::Text::H4>

    {{#let (array "light" "dark") as |themes|}}
      {{#each themes as |theme|}}
        <Shw::Text::Body><strong>{{theme}} theme</strong></Shw::Text::Body>

        <Shw::Flex {{style gap="2rem" justifyContent="space-between"}} as |SF|>
          {{#each @model.LINK_STATES as |state|}}
            <SF.Item @label={{state}}>
              <ul class={{(concat "hds-app-footer__list hds-app-footer--theme-" theme)}}>
                <Hds::AppFooter::Link @href="#" mock-state-value={{state}}>Link</Hds::AppFooter::Link>
              </ul>
            </SF.Item>
          {{/each}}
        </Shw::Flex>
      {{/each}}
    {{/let}}

    <Shw::Divider @level={{2}} />

    <Shw::Text::H3>AppFooter::StatusLink</Shw::Text::H3>

    <Shw::Text::H4>Status variants</Shw::Text::H4>

    {{#let (array "light" "dark") as |themes|}}
      {{#each themes as |theme|}}
        <Shw::Text::Body><strong>{{theme}} theme</strong></Shw::Text::Body>

        <Shw::Flex {{style gap="2rem" justifyContent="space-between"}} as |SF|>
          {{#each-in @model.STATUS_LINK_STATUSES as |status|}}
            <SF.Item @label={{status}}>
              <ul class={{(concat "hds-app-footer__list hds-app-footer--theme-" theme)}}>
                <Hds::AppFooter::StatusLink @status={{status}} />
              </ul>
            </SF.Item>
          {{/each-in}}
        </Shw::Flex>
      {{/each}}
    {{/let}}

    <Shw::Text::H4>With custom values</Shw::Text::H4>

    <Shw::Text::Body><strong>Custom values combined with a standard status</strong></Shw::Text::Body>

    <Shw::Flex {{style gap="2rem"}} as |SF|>
      <SF.Item @label="with custom text">
        <ul class="hds-app-footer__list hds-app-footer--theme-light">
          <Hds::AppFooter::StatusLink @status="operational" @text="Operativo" />
        </ul>
      </SF.Item>

      <SF.Item @label="with custom icon color">
        <ul class="hds-app-footer__list hds-app-footer--theme-light">
          <Hds::AppFooter::StatusLink @status="operational" @statusIconColor="purple" />
        </ul>
      </SF.Item>

      <SF.Item @label="with custom icon">
        <ul class="hds-app-footer__list hds-app-footer--theme-light">
          <Hds::AppFooter::StatusLink @status="operational" @statusIcon="cloud-check" />
        </ul>
      </SF.Item>
    </Shw::Flex>

    <Shw::Text::Body><strong>Custom values with no status</strong></Shw::Text::Body>
    <Shw::Flex {{style gap="2rem"}} as |SF|>
      <SF.Item @label="with custom icon and text">
        <ul class="hds-app-footer__list hds-app-footer--theme-light">
          <Hds::AppFooter::StatusLink @statusIcon="hexagon-fill" @text="Lorem ipsum" />
        </ul>
      </SF.Item>

      <SF.Item @label="with custom icon, icon color, text, & href">
        <ul class="hds-app-footer__list hds-app-footer--theme-light">
          <Hds::AppFooter::StatusLink
            @statusIcon="waypoint"
            @statusIconColor="var(--token-color-waypoint-brand)"
            @href="https://www.hashicorp.com/products/waypoint"
            @text="Waypoint"
          />
        </ul>
      </SF.Item>
    </Shw::Flex>

    <Shw::Divider @level={{2}} />

    <Shw::Text::H3>AppFooter::LegalLinks</Shw::Text::H3>

    <Shw::Flex {{style gap="2rem"}} @direction="column" as |SF|>
      <SF.Item @label="with default url for “Terms” link">
        <ul class="hds-app-footer__list hds-app-footer--theme-light">
          <Hds::AppFooter::LegalLinks />
        </ul>
      </SF.Item>
    </Shw::Flex>

    <Shw::Divider @level={{2}} />

    <Shw::Text::H3>AppFooter::Copyright</Shw::Text::H3>

    <Shw::Flex {{style gap="2rem"}} as |SF|>
      <SF.Item @label="with default (current) year">
        <Hds::AppFooter::Copyright />
      </SF.Item>

      <SF.Item @label="with custom year">
        <Hds::AppFooter::Copyright @year="1984" />
      </SF.Item>
    </Shw::Flex>
  </div>
</section>