{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "BadgeCount component"}}

<Shw::Text::H1>BadgeCount</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item>
      <Hds::BadgeCount @text="3" />
    </SF.Item>
    <SF.Item>
      <Hds::BadgeCount @text="99+" />
    </SF.Item>
    <SF.Item>
      <Hds::BadgeCount @text="v1.2.3" />
    </SF.Item>
  </Shw::Flex>
  <Shw::Flex as |SF|>
    <SF.Item>
      <p>This is a paragraph: <Hds::BadgeCount @text="3" /></p>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Size</Shw::Text::H2>

  <Shw::Flex as |SF|>
    {{#each @model.BADGE_COUNT_SIZES as |size|}}
      <SF.Item @label={{capitalize size}}>
        <Hds::BadgeCount @text="Lorem ipsum" @size={{size}} />
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Text::H2>Type</Shw::Text::H2>

  <Shw::Flex as |SF|>
    {{#each @model.BADGE_COUNT_TYPES as |type|}}
      <SF.Item @label={{capitalize type}}>
        <Hds::BadgeCount @text="Lorem ipsum" @type={{type}} />
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Text::H2>Color</Shw::Text::H2>

  {{#each @model.BADGE_COUNT_COLORS as |color|}}
    <Shw::Grid @label={{capitalize color}} @columns={{3}} {{style width="fit-content"}} as |SG|>
      {{#each @model.BADGE_COUNT_SIZES as |size|}}
        {{#each @model.BADGE_COUNT_TYPES as |type|}}
          <SG.Item class="shw-component-badge-sample-color--{{color}}">
            <Hds::BadgeCount @text="3" @size={{size}} @type={{type}} @color={{color}} />
          </SG.Item>
        {{/each}}
      {{/each}}
    </Shw::Grid>
  {{/each}}
</section>