{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Card component"}}

<Shw::Text::H1>Card container</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Elevation</Shw::Text::H2>

  <div class="shw-component-card-wrapper">
    {{! template-lint-disable no-potential-path-strings }}
    <Shw::Grid @label="@level" @columns={{3}} {{style width="fit-content"}} as |SG|>
      {{#each @model.CONTAINER_LEVELS as |level|}}
        <SG.Item>
          <Hds::Card::Container @level={{level}}>
            <Shw::Placeholder @text={{level}} @width="200" @height="200" @background="transparent" />
          </Hds::Card::Container>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
    <Shw::Grid @label="@levelHover" @columns={{3}} {{style width="fit-content"}} as |SG|>
      {{#each @model.CONTAINER_LEVELS as |level|}}
        <SG.Item>
          <Hds::Card::Container @levelHover={{level}} mock-state-value="hover">
            <Shw::Placeholder @text={{level}} @width="200" @height="200" @background="transparent" />
          </Hds::Card::Container>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
    <Shw::Grid @label="@levelActive" @columns={{3}} {{style width="fit-content"}} as |SG|>
      {{#each @model.CONTAINER_LEVELS as |level|}}
        <SG.Item>
          <Hds::Card::Container @levelActive={{level}} mock-state-value="active">
            <Shw::Placeholder @text={{level}} @width="200" @height="200" @background="transparent" />
          </Hds::Card::Container>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
    {{! template-lint-enable no-potential-path-strings }}
  </div>

  <Shw::Text::H2>Border</Shw::Text::H2>

  <div class="shw-component-card-wrapper">
    <Shw::Grid @columns={{3}} {{style width="fit-content"}} as |SG|>
      {{#each @model.CONTAINER_LEVELS as |level|}}
        <SG.Item>
          <Hds::Card::Container @level={{level}} @hasBorder={{true}}>
            <Shw::Placeholder @text={{level}} @width="200" @height="200" @background="transparent" />
          </Hds::Card::Container>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
  </div>
  <Shw::Text::H2>Background</Shw::Text::H2>

  <div class="shw-component-card-wrapper">
    <Shw::Grid @columns={{2}} {{style width="fit-content"}} as |SG|>
      {{#each @model.CONTAINER_BACKGROUNDS as |background|}}
        <SG.Item>
          <Hds::Card::Container @level="mid" @hasBorder={{true}} @background={{background}}>
            <Shw::Placeholder @text={{background}} @width="200" @height="200" @background="transparent" />
          </Hds::Card::Container>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
  </div>

  <Shw::Text::H2>Overflow</Shw::Text::H2>
  <div class="shw-component-card-wrapper">
    <Shw::Grid @columns={{2}} {{style width="fit-content" gap="2rem"}} as |SG|>
      <SG.Item>
        <Hds::Card::Container @level="mid" @hasBorder={{true}}>
          <div class="shw-component-card-overflow__wrapper-relative">
            <Shw::Placeholder @text="visible (default)" @width="200" @height="200" @background="#e1f5fe" />
            <div class="shw-component-card-overflow__content-absolute"></div>
          </div>
        </Hds::Card::Container>
      </SG.Item>
      <SG.Item>
        <Hds::Card::Container @level="mid" @hasBorder={{true}} @overflow="hidden">
          <div class="shw-component-card-overflow__wrapper-relative">
            <Shw::Placeholder @text="hidden" @width="200" @height="200" @background="#e1f5fe" />
            <div class="shw-component-card-overflow__content-absolute"></div>
          </div>
        </Hds::Card::Container>
      </SG.Item>
    </Shw::Grid>
  </div>

</section>