{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "CodeEditor Component"}}

<Shw::Text::H1>CodeEditor</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Content</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="No content">
      <Hds::CodeEditor />
    </SF.Item>
    <SF.Item @label="With initial content">
      <Hds::CodeEditor @value={{this.demoCode}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Header</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With title">
      <Hds::CodeEditor as |CE|>
        <CE.Title>Code editor with title</CE.Title>
      </Hds::CodeEditor>
    </SF.Item>
    <SF.Item @label="With description">
      <Hds::CodeEditor as |CE|>
        <CE.Description>This is a code editor with a description</CE.Description>
      </Hds::CodeEditor>
    </SF.Item>
    <SF.Item @label="Expandable editor">
      <Hds::CodeEditor @canExpand={{true}} />
    </SF.Item>
    <SF.Item @label="With copyable content">
      <Hds::CodeEditor @canCopy={{true}} @value={{this.demoCode}} />
    </SF.Item>
    <SF.Item @label="With custom header content">
      <Hds::CodeEditor as |CE|>
        <CE.ToolbarButton @text="Custom button" />
      </Hds::CodeEditor>
    </SF.Item>
    <SF.Item @label="Complex header">
      <Hds::CodeEditor @canCopy={{true}} @canExpand={{true}} @value={{this.demoCode}} as |CE|>
        <CE.Title>Complex header</CE.Title>
        <CE.Description>This is a complex example</CE.Description>
        <CE.ToolbarButton @text="Custom button" />
      </Hds::CodeEditor>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Syntax highlighting</Shw::Text::H2>
  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    {{#each this.languages as |lang|}}
      <SG.Item @label={{lang.label}}>
        <Hds::CodeEditor @language={{lang.value}} @value={{lang.code}} />
      </SG.Item>
    {{/each}}
  </Shw::Grid>
</section>