{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "CodeEditor Component"}}

<Shw::Text::H1>CodeEditor</Shw::Text::H1>

<section data-test-percy>
  <Hds::CodeEditor
    @canCopy={{true}}
    @canExpand={{true}}
    @title="Lorem Ipsum"
    @description="lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    @value={{this.demoCode}}
    @language="json"
    @onInput={{fn (mut this.demoCode)}}
  />
</section>