{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "CodeEditor Component"}}

<Shw::Text::H1>CodeEditor</Shw::Text::H1>

<section data-test-percy>
  <Hds::CodeEditor
    @canCopy={{true}}
    @canExpand={{true}}
    @title="Code Editor"
    @description="Write some code for us"
    @value={{this.demoCode}}
    @language="json"
    @onInput={{fn (mut this.demoCode)}}
    as |CE|
  >
    <CE.ToolbarButton @text="Copy" />
  </Hds::CodeEditor>
</section>