{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Flyout Component"}}

<Shw::Text::H1>Flyout</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Size</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    {{#each @model.SIZES as |size|}}
      <SF.Item @label={{capitalize size}} class="shw-component-flyout-sample-item">
        <Hds::Flyout open @size={{size}} id="flyout-example-{{size}}" as |F|>
          <F.Header>{{capitalize size}}</F.Header>
          <F.Body>
            <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
          </F.Body>
        </Hds::Flyout>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Text::H3>Header</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Title with icon" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-icon" as |F|>
        <F.Header @icon="info">Title</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="Title with tagline" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-tagline" as |F|>
        <F.Header @tagline="Tagline">Title</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="Title with tagline and icon" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-tagline-icon" as |F|>
        <F.Header @tagline="Tagline" @icon="info">A very, very long title that spans multiple lines to test this element</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="Title with description" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-description" as |F|>
        <F.Header>Title</F.Header>
        <F.Description>
          This is a very long
          <strong>description</strong>
          to test appropriate text
          <Hds::Link::Inline @href="#">wrapping</Hds::Link::Inline>
          and formatting on this element
        </F.Description>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
      </Hds::Flyout>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Body</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With basic style" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-basic-style" as |F|>
        <F.Header @tagline="Tagline" @icon="info">
          Title
        </F.Header>
        <F.Description>
          Description
        </F.Description>
        <F.Body tabindex="0">
          <p class="hds-typography-body-300 hds-foreground-primary">HashiCorp uses data collected by cookies and
            JavaScript libraries to improve your browsing experience, analyze site traffic, and increase the overall
            performance of our site. By using our website, you’re agreeing to our Privacy Policy and Cookie Policy.</p>
          <br />
          <p class="hds-typography-body-300 hds-foreground-primary">The categories below outline which companies and
            tools we use for collecting data. To opt out of a category of data collection, set the toggle to “Off” and
            save your preferences.</p>
        </F.Body>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="With generic content" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-generic-content" as |F|>
        <F.Header @icon="info">Title</F.Header>
        <F.Body>
          <Shw::Placeholder @text="some generic content" @height="50" />
        </F.Body>
      </Hds::Flyout>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Footer</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="One action" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-one-action" as |F|>
        <F.Header>Title</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
        <F.Footer>
          <Hds::Button type="submit" @text="Primary" />
        </F.Footer>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="Two actions" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-two-actions" as |F|>
        <F.Header>Title</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
        <F.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Primary" />
            <Hds::Button type="button" @text="Secondary" @color="secondary" />
          </Hds::ButtonSet>
        </F.Footer>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="Three actions" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-three-action" as |F|>
        <F.Header>Title</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
        <F.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Primary" />
            <Hds::Button type="button" @text="Secondary" @color="secondary" />
            <Hds::Button
              type="button"
              @text="Tertiary"
              @color="tertiary"
              @icon="arrow-right"
              @iconPosition="trailing"
            />
          </Hds::ButtonSet>
        </F.Footer>
      </Hds::Flyout>
    </SF.Item>
    <SF.Item @label="Generic footer content" class="shw-component-flyout-sample-item">
      <Hds::Flyout open id="flyout-example-footer-generic" as |F|>
        <F.Header>Title</F.Header>
        <F.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Flyout content</p>
        </F.Body>
        <F.Footer>
          <Shw::Placeholder @text="some generic content" @height="50" />
        </F.Footer>
      </Hds::Flyout>
    </SF.Item>
  </Shw::Flex>

</section>

<Shw::Divider />

<section>
  <Shw::Text::H2>Demo</Shw::Text::H2>

  <button type="button" {{on "click" (fn this.activateFlyout "mediumFlyoutActive")}}>Open medium flyout</button>
  <button type="button" {{on "click" (fn this.activateFlyout "largeFlyoutActive")}}>Open large flyout</button>

  {{#if this.mediumFlyoutActive}}
    <Hds::Flyout id="medium-flyout" @onClose={{fn this.deactivateFlyout "mediumFlyoutActive"}} as |F|>
      <F.Header>
        Medium flyout title
      </F.Header>
      <F.Body>
        <p class="hds-typography-body-300 hds-foreground-primary">
          Aliquam ac enim iaculis, faucibus enim id, dapibus quam. Nunc nibh mi, vehicula sed enim eget, lacinia
          venenatis tortor. Quisque vitae accumsan est, eu vehicula arcu. Pellentesque ut turpis tortor. Curabitur eu
          turpis nec tellus vehicula imperdiet finibus in magna. Fusce tincidunt condimentum tristique. Ut mauris enim,
          finibus pulvinar vulputate at, ultrices ut purus. Aenean tincidunt eros a scelerisque blandit. Praesent vel
          fermentum velit, nec sodales turpis. Suspendisse ac rhoncus urna. Donec fermentum, justo aliquam facilisis
          sodales, quam magna pulvinar turpis, ut commodo diam ex ut arcu. Ut suscipit nisi sed bibendum pretium.
          Quisque efficitur, arcu quis congue consectetur, ex lorem euismod arcu, id viverra velit lacus non odio.
          Vestibulum ac mauris tortor. Pellentesque nec dignissim libero.
        </p>
        <p class="hds-typography-body-300 hds-foreground-primary">
          Duis euismod semper egestas. Vivamus consectetur augue eu mattis suscipit. Ut libero ipsum, sollicitudin a
          ornare ornare, consectetur eget mauris. Pellentesque sodales ligula eget purus congue molestie. Vivamus dolor
          magna, condimentum at consectetur vestibulum, mollis a purus. Aliquam malesuada arcu quis orci imperdiet
          accumsan. Donec pharetra odio libero, id cursus ipsum tristique vitae. Morbi placerat hendrerit massa vel
          varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec maximus
          porttitor ipsum, sed ultricies est fermentum at. In dignissim luctus ex vel condimentum.
        </p>
        <p class="hds-typography-body-300 hds-foreground-primary">
          Nulla facilisi. Mauris consequat vehicula nunc, ut rutrum elit posuere quis. Duis convallis elit ac nibh
          viverra dapibus. Quisque eu laoreet arcu, in pharetra sapien. Nulla velit urna, elementum non dignissim in,
          gravida et dui. Praesent tincidunt vel leo sed ornare. Proin finibus metus dictum odio blandit dictum. Donec
          ipsum tellus, molestie nec aliquam sit amet, sollicitudin non neque. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.
        </p>
      </F.Body>
      <F.Footer as |FF|>
        <Hds::Button type="button" @text="Primary" {{on "click" FF.close}} />
      </F.Footer>
    </Hds::Flyout>
  {{/if}}

  {{#if this.largeFlyoutActive}}
    <Hds::Flyout id="large-flyout" @size="large" @onClose={{fn this.deactivateFlyout "largeFlyoutActive"}} as |F|>
      <F.Header>
        Large flyout title
      </F.Header>
      <F.Body>
        <p class="hds-typography-body-300 hds-foreground-primary">
          Aliquam ac enim iaculis, faucibus enim id, dapibus quam. Nunc nibh mi, vehicula sed enim eget, lacinia
          venenatis tortor. Quisque vitae accumsan est, eu vehicula arcu. Pellentesque ut turpis tortor. Curabitur eu
          turpis nec tellus vehicula imperdiet finibus in magna. Fusce tincidunt condimentum tristique. Ut mauris enim,
          finibus pulvinar vulputate at, ultrices ut purus. Aenean tincidunt eros a scelerisque blandit. Praesent vel
          fermentum velit, nec sodales turpis. Suspendisse ac rhoncus urna. Donec fermentum, justo aliquam facilisis
          sodales, quam magna pulvinar turpis, ut commodo diam ex ut arcu. Ut suscipit nisi sed bibendum pretium.
          Quisque efficitur, arcu quis congue consectetur, ex lorem euismod arcu, id viverra velit lacus non odio.
          Vestibulum ac mauris tortor. Pellentesque nec dignissim libero.
        </p>
        <p class="hds-typography-body-300 hds-foreground-primary">
          Duis euismod semper egestas. Vivamus consectetur augue eu mattis suscipit. Ut libero ipsum, sollicitudin a
          ornare ornare, consectetur eget mauris. Pellentesque sodales ligula eget purus congue molestie. Vivamus dolor
          magna, condimentum at consectetur vestibulum, mollis a purus. Aliquam malesuada arcu quis orci imperdiet
          accumsan. Donec pharetra odio libero, id cursus ipsum tristique vitae. Morbi placerat hendrerit massa vel
          varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec maximus
          porttitor ipsum, sed ultricies est fermentum at. In dignissim luctus ex vel condimentum.
        </p>
      </F.Body>
      <F.Footer as |FF|>
        <Hds::ButtonSet>
          <Hds::Button type="submit" @text="Primary" {{on "click" FF.close}} />
          <Hds::Button type="button" @text="Secondary" @color="secondary" {{on "click" FF.close}} />
        </Hds::ButtonSet>
      </F.Footer>
    </Hds::Flyout>
  {{/if}}
</section>