{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "IconTile"}}

<Shw::Text::H1>IconTile</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Size</Shw::Text::H2>

  <Shw::Grid @columns={{2}} {{style width="fit-content"}} as |SG|>
    <SG.Item @label="With logo">
      <Shw::Flex as |SF|>
        {{#each @model.SIZES as |size|}}
          <SF.Item>
            <Hds::IconTile @logo="boundary" @size={{size}} />
          </SF.Item>
        {{/each}}
      </Shw::Flex>
    </SG.Item>
    <SG.Item @label="With icon">
      <Shw::Flex as |SF|>
        {{#each @model.SIZES as |size|}}
          <SF.Item>
            <Hds::IconTile @icon="dashboard" @size={{size}} />
          </SF.Item>
        {{/each}}
      </Shw::Flex>
    </SG.Item>
    <SG.Item @label="With logo + secondary icon">
      <Shw::Flex as |SF|>
        {{#each @model.SIZES as |size|}}
          <SF.Item>
            <Hds::IconTile @logo="boundary" @size={{size}} @iconSecondary="plus" />
          </SF.Item>
        {{/each}}
      </Shw::Flex>
    </SG.Item>
    <SG.Item @label="With icon + secondary icon">
      <Shw::Flex as |SF|>
        {{#each @model.SIZES as |size|}}
          <SF.Item>
            <Hds::IconTile @icon="dashboard" @size={{size}} @iconSecondary="trash" />
          </SF.Item>
        {{/each}}
      </Shw::Flex>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H2>Logo</Shw::Text::H2>

  <Shw::Grid @columns={{5}} as |SG|>
    {{#each @model.PRODUCTS as |product|}}
      <SG.Item @label={{product}}>
        <Shw::Flex as |SF2|>
          {{#each @model.SIZES as |size|}}
            <SF2.Item>
              <Hds::IconTile @logo={{product}} @size={{size}} />
            </SF2.Item>
          {{/each}}
        </Shw::Flex>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Text::H2>Icon color</Shw::Text::H2>

  <Shw::Grid @columns={{5}} as |SG|>
    {{#each @model.COLORS as |color|}}
      {{! As agreed with designers, we prefer to hide the option of icon with "hcp" color }}
      {{#if (not-eq color "hcp")}}
        <SG.Item @label={{color}}>
          <Shw::Flex as |SF|>
            {{#each @model.SIZES as |size|}}
              <SF.Item>
                <Hds::IconTile @icon="dashboard" @size={{size}} @color={{color}} />
              </SF.Item>
            {{/each}}
          </Shw::Flex>
        </SG.Item>
      {{/if}}
    {{/each}}
  </Shw::Grid>
</section>