{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "KeyValuePair Component"}}

<Shw::Text::H1>KeyValuePair</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Hds::KeyValuePair @isOptional={{true}} @data={{this.sampleData}}>
    <:header as |H|>
      <H.Legend>Tags applied to this workspace</H.Legend>
      <H.HelperText>Use tags to correlate, organize or filter your resources using key-only or key/value pairs. You
        can add up to 3 tags per resource.</H.HelperText>
      <H.Error>There is an error.</H.Error>
    </:header>

    <:row as |R|>
      <R.Cell as |C|>
        <C.Label>Key</C.Label>
        <C.HelperText>The key you enter should be a good key.</C.HelperText>
        <C.SelectBase>
          {{#each R.rowData.field1Options as |field1Option|}}
            <option value={{field1Option}} selected={{if (eq field1Option R.rowData.field1Value) true null}}>{{field1Option}}</option>
          {{/each}}
        </C.SelectBase>
        {{#if R.rowData.field1Error}}
          <C.Error>{{R.rowData.field1Error}}</C.Error>
        {{/if}}
      </R.Cell>
      <R.Cell as |C|>
        <C.Label>Value</C.Label>
        <C.TextInputBase @value={{R.rowData.field2Value}} @isOptional={{true}} />
        {{#if R.rowData.field2Error}}
          <C.Error>{{R.rowData.field2Error}}</C.Error>
        {{/if}}
      </R.Cell>
      <R.Cell as |C|>
        <C.Generic>
          <Shw::Placeholder @height="36px" @text="generic" />
        </C.Generic>
      </R.Cell>
    </:row>

    <:footer as |F|>
      <F.ExtraBefore>
        <Shw::Placeholder @height="36px" @text="footer before" />
      </F.ExtraBefore>
      <F.ExtraAfter>
        <Shw::Placeholder @height="36px" @text="footer after" />
      </F.ExtraAfter>
    </:footer>
  </Hds::KeyValuePair>

</section>