{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Modal Component"}}

<Shw::Text::H1>Modal</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Size</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    {{#each @model.SIZES as |size|}}
      <SF.Item @label={{capitalize size}} class="shw-component-modal-sample-item">
        <Hds::Modal open @size={{size}} id="modal-example-{{size}}" as |M|>
          <M.Header>
            {{capitalize size}}
          </M.Header>
          <M.Body>
            <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
          </M.Body>
          <M.Footer>
            <Hds::ButtonSet>
              <Hds::Button type="submit" @text="Confirm" />
              <Hds::Button type="button" @text="Cancel" @color="secondary" />
            </Hds::ButtonSet>
          </M.Footer>
        </Hds::Modal>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Color</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    {{#each @model.COLORS as |color|}}
      <SF.Item @label={{capitalize color}} class="shw-component-modal-sample-item">
        <Hds::Modal open @color={{color}} id="modal-example-{{color}}" as |M|>
          <M.Header
            @icon={{concat (if (eq color "warning") "alert-triangle") (if (eq color "critical") "alert-diamond")}}
          >
            {{capitalize color}}
          </M.Header>
          <M.Body>
            <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
          </M.Body>
          <M.Footer>
            <Hds::ButtonSet>
              <Hds::Button type="submit" @text="Confirm" @color={{if (eq color "critical") "critical"}} />
              <Hds::Button type="button" @text="Cancel" @color="secondary" />
            </Hds::ButtonSet>
          </M.Footer>
        </Hds::Modal>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Text::H3>Header</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With icon" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-icon" as |M|>
        <M.Header @icon="info">
          Title
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
    <SF.Item @label="With tagline" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-tagline" as |M|>
        <M.Header @tagline="Tagline">
          Title
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
    <SF.Item @label="With tagline and icon" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-tagline-icon" as |M|>
        <M.Header @tagline="Tagline" @icon="info">
          Title
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Body</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With basic style" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-basic-content" as |M|>
        <M.Header @tagline="Tagline" @icon="info">
          A very, very long title that spans multiple lines to test this element
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">HashiCorp uses data collected by cookies and
            JavaScript libraries to improve your browsing experience, analyze site traffic, and increase the overall
            performance of our site. By using our website, you’re agreeing to our Privacy Policy and Cookie Policy.</p>
          <br />
          <p class="hds-typography-body-300 hds-foreground-primary">The categories below outline which companies and
            tools we use for collecting data. To opt out of a category of data collection, set the toggle to “Off” and
            save your preferences.</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
    <SF.Item @label="With generic content" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-generic-content" as |M|>
        <M.Header>
          Title
        </M.Header>
        <M.Body>
          <Shw::Placeholder @text="some generic content" @height="50" />
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Footer</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="One action" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-one-action" as |M|>
        <M.Header>
          Title
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
    <SF.Item @label="Two actions" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-two-actions" as |M|>
        <M.Header>
          Title
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
    <SF.Item @label="Three actions" class="shw-component-modal-sample-item">
      <Hds::Modal open id="modal-example-three-actions" as |M|>
        <M.Header>
          Title
        </M.Header>
        <M.Body>
          <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
        </M.Body>
        <M.Footer>
          <Hds::ButtonSet>
            <Hds::Button type="submit" @text="Confirm" />
            <Hds::Button type="button" @text="Cancel" @color="secondary" />
            <Hds::Button type="button" @text="Tertiary" @color="tertiary" @icon="plus" />
          </Hds::ButtonSet>
        </M.Footer>
      </Hds::Modal>
    </SF.Item>
  </Shw::Flex>

</section>

<Shw::Divider />

<section>
  <Shw::Text::H2>Demo</Shw::Text::H2>

  <button type="button" {{on "click" (fn this.activateModal "basicModalActive")}}>Open basic modal</button>

  {{#if this.basicModalActive}}
    <Hds::Modal id="basic-modal" @onClose={{fn this.deactivateModal "basicModalActive"}} as |M|>
      <M.Header>
        Modal title
      </M.Header>
      <M.Body>
        <p class="hds-typography-body-300 hds-foreground-primary">Modal content</p>
      </M.Body>
      <M.Footer as |F|>
        <Hds::Button type="button" @text="Confirm" {{on "click" F.close}} />
      </M.Footer>
    </Hds::Modal>
  {{/if}}

  <button type="button" {{on "click" (fn this.activateModal "formModalActive")}}>Open form modal</button>

  {{! template-lint-disable no-autofocus-attribute }}
  {{#if this.formModalActive}}
    <Hds::Modal id="form-modal" @onClose={{fn this.deactivateModal "formModalActive"}} as |M|>
      <M.Header>
        Why do you want to leave the beta?
      </M.Header>
      <M.Body>
        <form name="leaving-beta-form">
          <Hds::Form::Select::Field autofocus @width="100%" as |F|>
            <F.Label>Select the primary reason</F.Label>
            <F.Options>
              <option></option>
            </F.Options>
          </Hds::Form::Select::Field>
          <Hds::Form::Textarea::Field @isOptional={{true}} as |F|>
            <F.Label>Your feedback</F.Label>
          </Hds::Form::Textarea::Field>
        </form>
      </M.Body>
      <M.Footer as |F|>
        <Hds::ButtonSet>
          <Hds::Button type="submit" @text="Leave Beta" {{on "click" (fn this.deactivateModal "formModalActive")}} />
          <Hds::Button type="button" @text="Cancel" @color="secondary" {{on "click" F.close}} />
        </Hds::ButtonSet>
      </M.Footer>
    </Hds::Modal>
  {{/if}}

  <button type="button" {{on "click" (fn this.activateModal "tabsModalActive")}}>Open tabs modal</button>

  {{#if this.tabsModalActive}}
    <Hds::Modal id="tabs-modal" @onClose={{fn this.deactivateModal "tabsModalActive"}} as |M|>
      <M.Header>
        Modal title
      </M.Header>
      <M.Body>
        <Hds::Tabs as |T|>
          <T.Tab>One</T.Tab>
          <T.Tab>Two</T.Tab>
          <T.Tab>Three</T.Tab>
          <T.Panel>
            <p class="hds-typography-body-300 hds-foreground-primary">Content 1</p>
          </T.Panel>
          <T.Panel>
            <p class="hds-typography-body-300 hds-foreground-primary">Content 2</p>
          </T.Panel>
          <T.Panel>
            <p class="hds-typography-body-300 hds-foreground-primary">Content 3</p>
          </T.Panel>
        </Hds::Tabs>
      </M.Body>
      <M.Footer as |F|>
        <Hds::Button type="button" @text="Confirm" {{on "click" F.close}} />
      </M.Footer>
    </Hds::Modal>
  {{/if}}

</section>
{{! template-lint-enable no-autofocus-attribute }}