{{!
Copyright (c) HashiCorp, Inc.
SPDX-License-Identifier: MPL-2.0
}}

{{page-title "PageHeader Component"}}

<Shw::Text::H1>PageHeader</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Basic examples</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Only title">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Badge">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Badges>
          <Hds::Badge @text="Badge" @icon="beaker" @color="highlight" />
        </PH.Badges>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="IconTile">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.IconTile @icon="server-cluster" />
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Breadcrumb">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Breadcrumb>
          <Hds::Breadcrumb aria-label="breadcrumbs with page title example">
            <Hds::Breadcrumb::Item @text="Organization" @icon="org" />
            <Hds::Breadcrumb::Item @text="Project" @icon="folder" />
            <Hds::Breadcrumb::Item @text="User" @icon="user" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Subtitle + description">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Subtitle>Subtitle lorem ipsum</PH.Subtitle>
        <PH.Description>Description lorem ipsum dolor sit amet.</PH.Description>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Single action">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Actions>
          <Hds::Button @text="Create registry" @icon="plus" @iconPosition="leading" @color="primary" />
        </PH.Actions>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Two actions">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Actions>
          <Hds::Dropdown as |DD|>
            <DD.ToggleButton @text="Manage" @color="secondary" />
            <DD.Interactive @text="Manage cluster externally" />
            <DD.Interactive @text="Launch desktop" />
            <DD.Interactive @text="Delete" @color="critical" @icon="trash" />
          </Hds::Dropdown>
          <Hds::Button @text="Create" @icon="plus" @iconPosition="leading" @color="primary" />
        </PH.Actions>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Three actions">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Actions>
          <Hds::Button @color="tertiary" @text="Migrate instructions" @icon="migrate" @iconPosition="leading" />
          <Hds::Button @color="secondary" @text="Edit cluster" />
          <Hds::Button @color="primary" @text="Create cluster" @icon="plus" @iconPosition="leading" />
        </PH.Actions>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Custom metadata">
      <Hds::PageHeader as |PH|>
        <PH.Title>Page title</PH.Title>
        <PH.Generic>
          <Shw::Placeholder @text="generic content" @width="500" @height="36" @background="#e1f5fe" />
        </PH.Generic>
      </Hds::PageHeader>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{3}} />

  <Shw::Text::H2>Complex examples</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Product landing page">
      <Hds::PageHeader as |PH|>
        <PH.Title>HCP Packer</PH.Title>
        <PH.Breadcrumb>
          <Hds::Breadcrumb aria-label="breadcrumbs with complex examples">
            <Hds::Breadcrumb::Item @text="Sandbox" @icon="org" />
            <Hds::Breadcrumb::Item @text="HCP Packer" @icon="packer" />
            <Hds::Breadcrumb::Item @text="jane-doe" @icon="file-text" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
        <PH.IconTile @icon="packer-color" @color="packer" />
        <PH.Description>Create and view Packer registries in HCP.
        </PH.Description>
        <PH.Actions>
          <Hds::Button @text="Create Packer registery" @icon="plus" @iconPosition="leading" />
        </PH.Actions>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Item page">
      <Hds::PageHeader as |PH|>
        <PH.Title>Boundary clusters</PH.Title>
        <PH.IconTile @icon="boundary-color" @color="boundary" />
        <PH.Breadcrumb>
          <Hds::Breadcrumb aria-label="breadcrumb example with item page">
            <Hds::Breadcrumb::Item @text="Cloud sandbox" @icon="org" />
            <Hds::Breadcrumb::Item @text="Boundary clusters" @icon="boundary" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
        <PH.Badges>
          <Hds::Badge @text="Active" @icon="check" @color="success" />
        </PH.Badges>
        <PH.Subtitle>boundary-cluster-name</PH.Subtitle>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Multiple badges">
      <Hds::PageHeader as |PH|>
        <PH.Title>Consul cluster</PH.Title>
        <PH.Badges>
          <Hds::Badge @text="Active" @icon="check" @color="success" />
          <Hds::Badge @text="Deployed to AWS west-2" @color="highlight" @icon="rocket" />
          <Hds::BadgeCount @text="v1.5" @color="neutral" />
          <Hds::Badge @text="Locked by jane-doe" @color="warning" @icon="lock" />
        </PH.Badges>
        <PH.Description>
          While this is supported by the contextual component, this many badges being used to represent metadata can be
          problematic.
        </PH.Description>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Kitchen sink example">
      <Hds::PageHeader as |PH|>
        <PH.Title>Users</PH.Title>
        <PH.Subtitle>Access control (IAM)</PH.Subtitle>
        <PH.Description>Manage organization users, roles, and access control.
        </PH.Description>
        <PH.Description>This is a second description, in case multiple paragraphs are needed.</PH.Description>
        <PH.Breadcrumb>
          <Hds::Breadcrumb>
            <Hds::Breadcrumb::Item @text="Cloud sandbox" @icon="org" />
            <Hds::Breadcrumb::Item @text="jane-doe" @icon="file-text" />
            <Hds::Breadcrumb::Item @text="Access control (IAM)" @icon="users" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
        <PH.IconTile @icon="users" @color="terraform" />
        <PH.Actions>
          <Hds::Dropdown as |DD|>
            <DD.ToggleButton @text="Manage users" @color="secondary" />
            <DD.Interactive @text="Assign roles" @icon="user" />
            <DD.Interactive @text="Batch edit" @icon="edit" />
            <DD.Interactive @text="Delete user" @icon="trash" />
          </Hds::Dropdown>
          <Hds::Button @text="Add user" @icon="plus" @iconPosition="leading" />
        </PH.Actions>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="With custom metadata">
      <Hds::PageHeader as |PH|>
        <PH.Title>Custom metadata</PH.Title>
        <PH.Subtitle>beta-feature-cluster</PH.Subtitle>
        <PH.Generic>
          <Hds::Alert @type="compact" @color="warning" as |A|>
            <A.Title>Beta feature</A.Title>
            <A.Description>
              This feature is in beta and is subject to change. Refer to the
              <Hds::Link::Inline @href="#" @icon="external-link">HCP documentation</Hds::Link::Inline>
              for more information and roadmap.
            </A.Description>
          </Hds::Alert>
        </PH.Generic>
        <PH.Actions>
          <Hds::Button @text="Get started" @icon="beaker" @iconPosition="leading" />
        </PH.Actions>
        <PH.Badges>
          <Hds::Badge @text="Beta feature" @icon="wand" @color="highlight" />
        </PH.Badges>
      </Hds::PageHeader>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{3}} />

  <Shw::Text::H2>Overflow examples and edge cases</Shw::Text::H2>

  <Shw::Text::Body @tag="p">
    These examples are meant to showcase the flexiblity, responsiveness, and potential gotchas related to the layout and
    fluidity of the component.
  </Shw::Text::Body>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Long title">
      <Hds::PageHeader as |PH|>
        <PH.Title>Boundary cluster access control and clusters</PH.Title>
        <PH.IconTile @icon="boundary-color" @color="boundary" />
        <PH.Actions>
          <Hds::Dropdown as |DD|>
            <DD.ToggleButton @text="Manage users" @color="secondary" />
            <DD.Interactive @text="Assign roles" @icon="user" />
            <DD.Interactive @text="Batch edit" @icon="edit" />
            <DD.Interactive @text="Delete user" @icon="trash" />
          </Hds::Dropdown>
          <Hds::Button @text="Add user" @icon="plus" @iconPosition="leading" />
        </PH.Actions>
      </Hds::PageHeader>
      <Shw::Divider @level={{2}} />
    </SF.Item>

    <SF.Item @label="Long title + badge">
      <Hds::PageHeader as |PH|>
        <PH.Title>
          Page title with a very very very very long string that can span multiple lines
        </PH.Title>
        <PH.IconTile @logo="vagrant" />
        <PH.Badges>
          <Hds::Badge @text="Wrapping badge" @icon="mic" @color="critical" />
        </PH.Badges>
        <PH.Actions>
          <Hds::Button @text="Get started" @icon="terminal-screen" @iconPosition="trailing" />
        </PH.Actions>
      </Hds::PageHeader>

      <Shw::Text::Body @tag="p">
        In the case of a badge, the title and badge will wrap if the available space is exceeded.
      </Shw::Text::Body>
    </SF.Item>
    <SF.Item @label="Non-breaking Title/Subtitle/Description + badge">
      <Hds::PageHeader as |PH|>
        <PH.Title>
          Pagetitlewithaveryveryveryverylongnonbreakingstringthatcanspanmultiplelines
        </PH.Title>
        <PH.Subtitle
        >Subtitlewithaveryveryveryveryveryveryveryveryveryveryveryveryveryveveryveryveryveryveryveryveryveryveryveryveryveryryveryverylongnonbreakingstringthatcanspanmultiplelines</PH.Subtitle>
        <PH.Description
        >Descriptionwithaveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryveryverylongnonbreakingstringthatcanspanmultiplelines.</PH.Description>
        <PH.IconTile @logo="vagrant" />
        <PH.Badges>
          <Hds::Badge @text="Wrapping badge" @icon="mic" @color="critical" />
        </PH.Badges>
        <PH.Actions>
          <Hds::Button @text="Get started" @icon="terminal-screen" @iconPosition="trailing" />
        </PH.Actions>
      </Hds::PageHeader>

      <Shw::Text::Body @tag="p">
        In the case of non-breaking text the long string will be forced to wrap using the
        <code>break-word</code>
        option.
      </Shw::Text::Body>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{3}} />

  <Shw::Text::H2>Component wrapping</Shw::Text::H2>

  <Shw::Text::Body @tag="p">The component uses container queries to determine two breakpoints at
    <code>768px</code>
    and
    <code>400px</code>
    which stack the content in a single column.
  </Shw::Text::Body>

  <Shw::Flex {{style gap="2.5rem"}} @direction="column" as |SF|>
    {{#let (array "399px" "767px" "100%") as |widths|}}
      {{#each widths as |width|}}
        <SF.Item @label="Container width = {{width}}">
          <Shw::Outliner {{style width=width}}>
            <Hds::PageHeader as |PH|>
              <PH.Title>Title of the page</PH.Title>
              <PH.IconTile @icon="smartphone" />
              <PH.Breadcrumb>
                <Hds::Breadcrumb aria-label="example for {{width}}">
                  <Hds::Breadcrumb::Item @text="Organization" />
                  <Hds::Breadcrumb::Item @text="User" />
                </Hds::Breadcrumb>
              </PH.Breadcrumb>
              <PH.Badges>
                <Hds::Badge @text="Small viewport" @icon="tablet" />
              </PH.Badges>
              <PH.Subtitle>Forced small viewport</PH.Subtitle>
              <PH.Actions>
                <Hds::Button @text="Edit" @color="secondary" />
                <Hds::Button @text="Create" @color="primary" />
              </PH.Actions>
            </Hds::PageHeader>
          </Shw::Outliner>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>
</section>