{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Pagination Component"}}

<Shw::Text::H1>Pagination</Shw::Text::H1>

<section data-test-percy class="{{if this.showHighlight 'shw-component-pagination-layout-highlight'}}">

  <button id="dummy-toggle-highlight" type="button" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide" "Show"}}
    layout highlight
  </button>

  <Shw::Text::H2>Pagination::Numbered</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>Base (default)</SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{40}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showTotalItems=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{40}} @showTotalItems={{false}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showSizeSelector=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{40}} @showSizeSelector={{false}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showInfo=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{40}} @showInfo={{false}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With
        <code>@showInfo=&lcub;&lcub;false&rcub;&rcub;</code>
        +
        <code>@showSizeSelector=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{40}} @showInfo={{false}} @showSizeSelector={{false}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With
        <code>@currentPageSize=&lcub;&lcub;30&rcub;&rcub;</code>
        +
        <code>@currentPage=&lcub;&lcub;2&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Numbered
        @totalItems={{40}}
        @currentPageSize={{30}}
        @currentPage={{2}}
        @pageSizes={{array 10 30 50}}
      />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With
        <code>@showPageNumbers=&lcub;&lcub;false&rcub;&rcub;</code>
        +
        <code>@showLabels=&lcub;&lcub;true&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{40}} @showPageNumbers={{false}} @showLabels={{true}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>Truncation</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>With large number of pages (truncated by default)</SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{100}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With large number of pages (truncated with
        <code>@currentPage=&lcub;&lcub;4&rcub;&rcub;</code>)</SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{100}} @currentPage={{4}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With large number of pages (not truncated)</SFI.Label>
      <Hds::Pagination::Numbered @totalItems={{100}} @isTruncated={{false}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Pagination::Compact</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>Base (default)</SFI.Label>
      <Hds::Pagination::Compact />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>prev</code> disabled</SFI.Label>
      <Hds::Pagination::Compact @isDisabledPrev={{true}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showLabels=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Compact @showLabels={{false}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showSizeSelector=&lcub;&lcub;true&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Compact @showSizeSelector={{true}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With
        <code>@showSizeSelector=&lcub;&lcub;true&rcub;&rcub;</code>
        +
        <code>@currentPageSize=&lcub;&lcub;30&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Compact @showSizeSelector={{true}} @pageSizes={{array 10 30 50}} @currentPageSize={{30}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Base elements</Shw::Text::H2>

  <Shw::Text::H3>Pagination::Info</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>Base (default)</SFI.Label>
      <Hds::Pagination::Info @itemsRangeStart={{1}} @itemsRangeEnd={{10}} @totalItems={{103}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showTotalItems=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Hds::Pagination::Info
        @itemsRangeStart={{1}}
        @itemsRangeEnd={{10}}
        @totalItems={{103}}
        @showTotalItems={{false}}
      />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Pagination::SizeSelector</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>Base (default)</SFI.Label>
      <Hds::Pagination::SizeSelector @pageSizes={{array 10 30 50}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@currentPageSize</code> (selected option)</SFI.Label>
      <Hds::Pagination::SizeSelector @pageSizes={{array 10 30 50}} @selectedSize={{30}} />
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@label</code> to add custom label text</SFI.Label>
      <Hds::Pagination::SizeSelector @pageSizes={{array 10 30 50}} @label="Items" />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Pagination::Nav::Arrow</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>With text label (default)</SFI.Label>
      <Shw::Grid @columns={{2}} as |SG|>
        <SG.Item>
          <Hds::Pagination::Nav::Arrow @direction="prev" />
        </SG.Item>
        <SG.Item>
          <Hds::Pagination::Nav::Arrow @direction="next" />
        </SG.Item>
      </Shw::Grid>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With <code>@showLabel=&lcub;&lcub;false&rcub;&rcub;</code></SFI.Label>
      <Shw::Grid @columns={{2}} {{style width="fit-content"}} as |SG|>
        <SG.Item>
          <Hds::Pagination::Nav::Arrow @direction="prev" @showLabel={{false}} />
        </SG.Item>
        <SG.Item>
          <Hds::Pagination::Nav::Arrow @direction="next" @showLabel={{false}} />
        </SG.Item>
      </Shw::Grid>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>States</Shw::Text::H4>

  <Shw::Flex @direction="column" as |SF|>
    {{#let (array "default" "hover" "active" "focus") as |states|}}
      {{#each states as |state|}}
        <SF.Item @label={{capitalize state}} mock-state-value={{state}} mock-state-selector="button,a">
          <Shw::Flex as |SF|>
            <SF.Item>
              <Hds::Pagination::Nav::Arrow @direction="prev" />
            </SF.Item>
            <SF.Item>
              <Hds::Pagination::Nav::Arrow @direction="next" />
            </SF.Item>
            <SF.Item>
              <Hds::Pagination::Nav::Arrow @direction="prev" @showLabel={{false}} />
            </SF.Item>
            <SF.Item>
              <Hds::Pagination::Nav::Arrow @direction="next" @showLabel={{false}} />
            </SF.Item>
          </Shw::Flex>
        </SF.Item>
      {{/each}}
      <SF.Item @label="Disabled">
        <Shw::Flex as |SF|>
          <SF.Item>
            <Hds::Pagination::Nav::Arrow @direction="prev" @disabled={{true}} />
          </SF.Item>
          <SF.Item>
            <Hds::Pagination::Nav::Arrow @direction="next" @disabled={{true}} />
          </SF.Item>
          <SF.Item>
            <Hds::Pagination::Nav::Arrow @direction="prev" @showLabel={{false}} @disabled={{true}} />
          </SF.Item>
          <SF.Item>
            <Hds::Pagination::Nav::Arrow @direction="next" @showLabel={{false}} @disabled={{true}} />
          </SF.Item>
        </Shw::Flex>
      </SF.Item>
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Pagination::Nav::Number</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>Generic (default)</SFI.Label>
      <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number @page="1" /></ul>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>Current (with <code>@isSelected=&lcub;&lcub;true&rcub;&rcub;</code>)</SFI.Label>
      <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number
          @page="1"
          @isSelected={{true}}
        /></ul>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>States</Shw::Text::H4>
  <Shw::Text::Body>Generic / Current - With different text lengths</Shw::Text::Body>

  <Shw::Flex @direction="column" as |SF|>
    {{#let (array "default" "hover" "active" "focus") as |states|}}
      {{#each states as |state|}}
        <SF.Item @label={{capitalize state}} mock-state-value={{state}} mock-state-selector="button,a">
          <Shw::Flex as |SF|>
            <SF.Item>
              <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number @page="1" /></ul>
            </SF.Item>
            <SF.Item>
              <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number @page="12" /></ul>
            </SF.Item>
            <SF.Item>
              <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number @page="123" /></ul>
            </SF.Item>
            <SF.Item>
              <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number
                  @page="1"
                  @isSelected={{true}}
                /></ul>
            </SF.Item>
            <SF.Item>
              <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number
                  @page="12"
                  @isSelected={{true}}
                /></ul>
            </SF.Item>
            <SF.Item>
              <ul class="shw-component-pagination-ul-wrapper"><Hds::Pagination::Nav::Number
                  @page="123"
                  @isSelected={{true}}
                /></ul>
            </SF.Item>
          </Shw::Flex>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Pagination::Nav::Ellipsis</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Base">
      <Hds::Pagination::Nav::Ellipsis />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Examples of paginated tables</Shw::Text::H2>

  {{! ============================================ }}
  {{! ===== DEMO #1 - NUMBERED - WITH EVENTS ===== }}
  {{! ============================================ }}

  <Shw::Text::H3>Numbered - Events-based pagination</Shw::Text::H3>

  <Shw::Text::Body>When using an "events-based" strategy, the status of the UI is transient, and it's not preserved
    across page reloads.</Shw::Text::Body>

  <div class="shw-component-pagination-table-demo" id="demo1-numbered-with-events">
    <Hds::Table
      @model={{this.paginatedData_demo1}}
      @columns={{array
        (hash key="id" label="ID")
        (hash key="name" label="Name")
        (hash key="email" label="Email")
        (hash key="role" label="Role")
      }}
      @density={{if (eq this.currentPageSize_demo1 30) "short" "medium"}}
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.id}}</B.Td>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.role}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
    <Hds::Pagination::Numbered
      @totalItems={{this.demoTotalItems}}
      @currentPageSize={{this.currentPageSize_demo1}}
      @pageSizes={{array 5 10 30}}
      @onPageChange={{this.onPageChange_demo1}}
      @onPageSizeChange={{this.onPageSizeChange_demo1}}
    />
  </div>

  {{! ============================================= }}
  {{! ===== DEMO #2 - NUMBERED - WITH ROUTING ===== }}
  {{! ============================================= }}

  <Shw::Text::H3>Numbered - Routing-based pagination</Shw::Text::H3>

  <Shw::Text::Body>When using a "routing-based" strategy, the status of the UI is preserved across page reloads using
    the query parameters stored in the URL.</Shw::Text::Body>

  <div class="shw-component-pagination-table-demo" id="demo2-numbered-with-routing">
    <Hds::Table
      @model={{this.paginatedData_demo2}}
      @columns={{array
        (hash key="id" label="ID" isSortable=true)
        (hash key="name" label="Name" isSortable=true)
        (hash key="email" label="Email")
        (hash key="role" label="Role")
      }}
      @sortBy={{this.currentSortBy_demo2}}
      @sortOrder={{this.currentSortOrder_demo2}}
      @onSort={{this.onTableSort_demo2}}
      @density={{if (eq this.currentPageSize_demo2 30) "short" "medium"}}
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.id}}</B.Td>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.role}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
    <Hds::Pagination::Numbered
      @totalItems={{this.demoTotalItems}}
      @currentPageSize={{this.currentPageSize_demo2}}
      @pageSizes={{array 5 10 30}}
      @currentPage={{this.currentPage_demo2}}
      @route={{this.demoRouteName}}
      @queryFunction={{this.consumerQueryFunction_demo2}}
      @onPageChange={{this.genericHandlePageChange}}
      @onPageSizeChange={{this.genericHandlePageSizeChange}}
    />
  </div>

  {{! =========================================== }}
  {{! ===== DEMO #3 - COMPACT - WITH EVENTS ===== }}
  {{! =========================================== }}

  <Shw::Text::H3>Compact - Events-based pagination</Shw::Text::H3>

  <Shw::Text::Body>When using an "events-based" strategy, the status of the UI is transient, and it's not preserved
    across page reloads.</Shw::Text::Body>

  <div class="shw-component-pagination-table-demo" id="demo3-compact-with-events">
    <Hds::Table
      @model={{this.paginatedData_demo3}}
      @columns={{array
        (hash key="id" label="ID")
        (hash key="name" label="Name")
        (hash key="email" label="Email")
        (hash key="role" label="Role")
      }}
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.id}}</B.Td>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.role}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
    <Hds::Pagination::Compact
      @isDisabledPrev={{this.isDisabledPrev_demo3}}
      @isDisabledNext={{this.isDisabledNext_demo3}}
      @onPageChange={{this.onPageChange_demo3}}
    />
  </div>

  {{! ============================================ }}
  {{! ===== DEMO #4 - COMPACT - WITH ROUTING ===== }}
  {{! ============================================ }}

  {{! Notice: this demo emulates the current implementation in Cloud UI }}

  <Shw::Text::H3>Compact - Routing-based pagination</Shw::Text::H3>

  <Shw::Text::Body>When using a "routing-based" strategy, the status of the UI is preserved across page reloads using
    the query parameters stored in the URL.</Shw::Text::Body>

  <div class="shw-component-pagination-table-demo" id="demo4-compact-with-routing">
    <Hds::Table
      @model={{this.paginatedData_demo4}}
      @columns={{array
        (hash key="id" label="ID")
        (hash key="name" label="Name")
        (hash key="email" label="Email")
        (hash key="role" label="Role")
      }}
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.id}}</B.Td>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.role}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
    <Hds::Pagination::Compact
      @showSizeSelector={{true}}
      @route={{this.demoRouteName}}
      @currentPageSize={{this.currentPageSize_demo4}}
      @pageSizes={{array 5 10 30}}
      @queryFunction={{this.consumerQueryFunction_demo4}}
      @isDisabledPrev={{this.isDisabledPrev_demo4}}
      @isDisabledNext={{this.isDisabledNext_demo4}}
      @onPageChange={{this.genericHandlePageChange}}
      @onPageSizeChange={{this.onPageSizeChange_demo4}}
    />
  </div>

</section>