{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Popover Component"}}

<Shw::Text::H1>Popover</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content vs Interaction</Shw::Text::H2>

  <Shw::Text::H3>Non-interactive trigger</Shw::Text::H3>

  <Shw::Text::Body>With non-interactive content</Shw::Text::Body>

  <Shw::Grid @columns={{4}} {{style gap="2rem"}} as |SG|>

    <SG.Item @label="Plain text">
      <Hds::Popover @enableCollisionDetection={{true}}>
        <:toggle>Lorem ipsum dolor</:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Icon">
      <Hds::Popover @enableCollisionDetection={{true}}>
        <:toggle>
          <FlightIcon @name="info" @isInlineBlock={{false}} />
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Intercept focus">
      <button type="button">Hello</button>
    </SG.Item>

    <SG.Item @label="Generic content">
      <Hds::Popover @enableCollisionDetection={{true}}>
        <:toggle>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:content>
      </Hds::Popover>
    </SG.Item>

  </Shw::Grid>

  <Shw::Text::Body>With interactive content</Shw::Text::Body>

  <Shw::Grid @columns={{4}} {{style gap="2rem"}} as |SG|>

    <SG.Item @label="Plain text">
      <Hds::Popover @enableCollisionDetection={{true}}>
        <:toggle>Lorem ipsum dolor</:toggle>
        <:content as |c|>
          <div class="shw-component-popover-content-interactive">
            <button type="button" {{on "click" c.close}} title="Button that closes the popover on click">x</button>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <label for="input-1">Input value:</label>
                <input id="input-1" type="text" />
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Got it!</button>
              </li>
            </ul>
          </div>
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Icon">
      <Hds::Popover @enableCollisionDetection={{true}}>
        <:toggle>
          <FlightIcon @name="info" @isInlineBlock={{false}} />
        </:toggle>
        <:content as |c|>
          <div class="shw-component-popover-content-interactive">
            <button type="button" {{on "click" c.close}} title="Button that closes the popover on click">x</button>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <label for="input-2">Input value:</label>
                <input id="input-2" type="text" />
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Got it!</button>
              </li>
            </ul>
          </div>
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Intercept focus">
      <button type="button">Hello</button>
    </SG.Item>

    <SG.Item @label="Generic content">
      <Hds::Popover @enableCollisionDetection={{true}}>
        <:toggle>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:toggle>
        <:content as |c|>
          <div class="shw-component-popover-content-interactive">
            <button type="button" {{on "click" c.close}} title="Button that closes the popover on click">x</button>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <label for="input-3">Input value:</label>
                <input id="input-3" type="text" />
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Got it!</button>
              </li>
            </ul>
          </div>
        </:content>
      </Hds::Popover>
    </SG.Item>

  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Interactive trigger</Shw::Text::H3>

  <Shw::Text::Body>With non-interactive content</Shw::Text::Body>

  <Shw::Grid @columns={{3}} {{style gap="2rem"}} as |SG|>

    <SG.Item @label="Button">
      <Hds::Popover @containsInteractive={{true}} @enableCollisionDetection={{true}}>
        <:toggle as |t|>
          <Hds::Button @text="Submit" {{t.setupToggle}} />
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Link">
      <Hds::Popover @containsInteractive={{true}} @enableCollisionDetection={{true}}>
        <:toggle as |t|>
          <Hds::Link::Standalone
            @icon="external-link"
            @iconPosition="trailing"
            @text="Acme Corp"
            @href="#"
            {{t.setupToggle}}
          />
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="40" />
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Input">
      <Hds::Form::Field @layout="vertical" as |F|>
        <F.Label @controlId="tooltip-example-control-id">First Name</F.Label>
        <F.Control>
          <Hds::Popover @containsInteractive={{true}} @enableCollisionDetection={{true}}>
            <:toggle as |t|>
              <input type="text" value="Jane" id="popover-example-control-id-1" {{t.setupToggle}} />
            </:toggle>
            <:content>
              <Shw::Placeholder @text="generic content" @height="40" />
            </:content>
          </Hds::Popover>
        </F.Control>
      </Hds::Form::Field>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::Body>With interactive content</Shw::Text::Body>

  <Shw::Grid @columns={{3}} {{style gap="2rem"}} as |SG|>

    <SG.Item @label="Button">
      <Hds::Popover @containsInteractive={{true}} @enableCollisionDetection={{true}}>
        <:toggle as |t|>
          <Hds::Button @text="Submit" {{t.setupToggle}} />
        </:toggle>
        <:content as |c|>
          <div class="shw-component-popover-content-interactive">
            <button type="button" {{on "click" c.close}} title="Button that closes the popover on click">x</button>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <label for="input-4">Input value:</label>
                <input id="input-4" type="text" />
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Got it!</button>
              </li>
            </ul>
          </div>
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Link">
      <Hds::Popover @containsInteractive={{true}} @enableCollisionDetection={{true}}>
        <:toggle as |t|>
          <Hds::Link::Standalone
            @icon="external-link"
            @iconPosition="trailing"
            @text="Acme Corp"
            @href="#"
            {{t.setupToggle}}
          />
        </:toggle>
        <:content as |c|>
          <div class="shw-component-popover-content-interactive">
            <button type="button" {{on "click" c.close}} title="Button that closes the popover on click">x</button>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <label for="input-5">Input value:</label>
                <input id="input-5" type="text" />
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Got it!</button>
              </li>
            </ul>
          </div>
        </:content>
      </Hds::Popover>
    </SG.Item>

    <SG.Item @label="Input">
      <Hds::Form::Field @layout="vertical" as |F|>
        <F.Label @controlId="tooltip-example-control-id">First Name</F.Label>
        <F.Control>
          <Hds::Popover @containsInteractive={{true}} @enableCollisionDetection={{true}}>
            <:toggle as |t|>
              <input type="text" value="Jane" id="tooltip-example-control-id-2" {{t.setupToggle}} />
            </:toggle>
            <:content as |c|>
              <div class="shw-component-popover-content-interactive">
                <button type="button" {{on "click" c.close}} title="Button that closes the popover on click">x</button>
                <ul>
                  <li>
                    <a href="https://google.com">Link to Google</a>
                  </li>
                  <li>
                    <label for="input-6">Input value:</label>
                    <input id="input-6" type="text" />
                  </li>
                  <li>
                  </li>
                  <li>
                    <button type="button" {{on "click" c.close}}>Got it!</button>
                  </li>
                </ul>
              </div>
            </:content>
          </Hds::Popover>
        </F.Control>
      </Hds::Form::Field>
    </SG.Item>
  </Shw::Grid>

</section>