{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "RichTooltip Component"}}

<Shw::Text::H1>RichTooltip</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Toggle</Shw::Text::H2>

  <Shw::Text::H3>Text + Icon (optional)</Shw::Text::H3>

  <Shw::Text::H4>Content</Shw::Text::H4>

  <Shw::Flex as |SF|>
    <SF.Item @label="Text">
      <Hds::RichTooltip as |RT|>
        <RT.Toggle @text="Lorem ipsum dolor" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="40" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
    <SF.Item @label="Text + Icon (leading/default)">
      <Hds::RichTooltip as |RT|>
        <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @iconPosition="leading" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="40" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
    <SF.Item @label="Text + Icon">
      <Hds::RichTooltip as |RT|>
        <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @iconPosition="trailing" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="40" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Sizes</Shw::Text::H4>

  {{#let (array "inherited" "small" "medium" "large") as |sizes|}}
    {{#each sizes as |size|}}
      <Shw::Flex @label="{{capitalize size}} {{if (eq size 'inherited') '(default)'}}" as |SF|>
        <SF.Item>
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @text="Lorem ipsum dolor" @size={{if (eq size "inherited") undefined size}} />
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="40" />
            </RT.Bubble>
          </Hds::RichTooltip>
        </SF.Item>
        <SF.Item>
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @text="Lorem ipsum dolor" @size={{if (eq size "inherited") undefined size}} @icon="info" />
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="40" />
            </RT.Bubble>
          </Hds::RichTooltip>
        </SF.Item>
        <SF.Item>
          <Hds::RichTooltip as |RT|>
            <RT.Toggle
              @text="Lorem ipsum dolor"
              @size={{if (eq size "inherited") undefined size}}
              @icon="info"
              @iconPosition="trailing"
            />
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="40" />
            </RT.Bubble>
          </Hds::RichTooltip>
        </SF.Item>
      </Shw::Flex>
    {{/each}}
  {{/let}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Yield</Shw::Text::H3>

  <Shw::Text::H4>Content</Shw::Text::H4>

  <Shw::Flex as |SF|>
    <SF.Item @label="Generic">
      <Hds::RichTooltip as |RT|>
        <RT.Toggle>
          <Shw::Outliner>Lorem ipsum dolor</Shw::Outliner>
        </RT.Toggle>
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="40" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Sizes</Shw::Text::H4>

  <Shw::Flex as |SF|>
    <SF.Item @label="Inherited">
      {{#let (array "14px" "16px" "18px") as |sizes|}}
        {{#each sizes as |size|}}
          <div {{style font-size=size line-height="1.4"}}>
            <Hds::RichTooltip as |RT|>
              <RT.Toggle>Lorem ipsum dolor</RT.Toggle>
              <RT.Bubble>
                <Shw::Placeholder @text="generic content" @height="40" />
              </RT.Bubble>
            </Hds::RichTooltip>
          </div>
        {{/each}}
      {{/let}}
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Interactions</Shw::Text::H2>

  <Shw::Flex {{style gap="8rem"}} as |SF|>
    <SF.Item as |SFI|>
      <SFI.Label>"Soft" (hover/focus)</SFI.Label>
      <Hds::RichTooltip as |RT|>
        <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @size="medium" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="40" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>"Click"</SFI.Label>
      <Hds::RichTooltip @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @size="medium" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="40" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Options</Shw::Text::H2>

  <Shw::Text::H3>Placement</Shw::Text::H3>
  <Shw::Grid class="shw-component-rich-tooltip-placement-grid" @columns={{5}} as |SG|>
    {{#each @model.PLACEMENTS as |place|}}
      <SG.Item class="shw-component-rich-tooltip-placement-grid__item--{{place}}">
        <div class="shw-component-rich-tooltip-placement-grid__target">
          <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
            <RT.Toggle @icon="info" @size="large" aria-label="more info" />
            <RT.Bubble @placement={{place}} @enableCollisionDetection={{false}}>
              <Shw::Placeholder @text={{place}} @height="30" @width="80" />
            </RT.Bubble>
          </Hds::RichTooltip>
        </div>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Offset</Shw::Text::H3>

  <Shw::Flex {{style gap="5rem" margin-bottom="10rem"}} as |SF|>
    <SF.Item @label="Offset: 12 (default)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @enableCollisionDetection={{false}}>
          <Shw::Placeholder @text="generic content" @height="30" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
    <SF.Item @label="Offset: { mainAxis: 30, crossAxis: 0 }">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @offset={{(hash mainAxis=30 crossAxis=0)}} @enableCollisionDetection={{false}}>
          <Shw::Placeholder @text="generic content" @height="30" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
    <SF.Item @label="Offset: { mainAxis: 12, crossAxis: 80 }">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @offset={{(hash mainAxis=12 crossAxis=80)}} @enableCollisionDetection={{false}}>
          <Shw::Placeholder @text="generic content" @height="30" />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Display</Shw::Text::H3>

  <Shw::Flex as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |isInline|}}
        <SF.Item @label={{if isInline "Inline" "Block (default)"}}>
          <Hds::Text::Body @size="200" @tag="p">
            Lorem
            <Hds::RichTooltip as |RT|>
              <RT.Toggle @isInline={{isInline}} @text="ipsum dolor" @icon="info" />
              <RT.Bubble>
                <Shw::Placeholder @text="generic content" @height="40" />
              </RT.Bubble>
            </Hds::RichTooltip>
            sit amet
            <Hds::RichTooltip as |RT|>
              <RT.Toggle @isInline={{isInline}} @text="consectetur adipiscing" @icon="info" @iconPosition="trailing" />
              <RT.Bubble>
                <Shw::Placeholder @text="generic content" @height="40" />
              </RT.Bubble>
            </Hds::RichTooltip>
            elit.
          </Hds::Text::Body>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Width</Shw::Text::H3>

  <Shw::Grid @columns={{2}} {{style padding-bottom="6rem"}} as |SG|>
    <SG.Item @label="Default (width=fit-content/max-width=280px)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @placement="bottom-start" @enableCollisionDetection={{false}}>
          <Shw::Placeholder
            @text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
            {{style padding="12px 16px"}}
          />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
    <SG.Item @label="Custom fixed width (width=450px)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @width="450px" @placement="bottom-start" @enableCollisionDetection={{false}}>
          <Shw::Placeholder
            @text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
            {{style padding="12px 16px"}}
          />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Height</Shw::Text::H3>

  <Shw::Grid @columns={{2}} {{style padding-bottom="10rem"}} as |SG|>
    <SG.Item @label="Default (height=fit-content/max-height=none)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @placement="bottom-start" @enableCollisionDetection={{false}}>
          <Shw::Placeholder
            @text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
            {{style padding="12px 16px"}}
          />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
    <SG.Item @label="Custom fixed height (height=150px)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
        <RT.Bubble @height="150px" @placement="bottom-start" @enableCollisionDetection={{false}}>
          <Shw::Placeholder
            @text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
            {{style padding="12px 16px"}}
          />
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Collision detection</Shw::Text::H3>

  <Shw::Text::Body>Scroll within the boxes to see the collision detection in action</Shw::Text::Body>

  <Shw::Grid @columns={{4}} {{style gap="2rem" margin-bottom="6rem"}} as |SF|>
    {{#let (array false true) as |detections|}}
      {{#each detections as |detection|}}
        <SF.Item @forceMinWidth={{true}} @label={{concat "enableCollisionDetection=" detection}}>
          <Shw::Autoscrollable @verticalShift={{30}}>
            <div class="shw-component-rich-tooltip-collision-detection-wrapper">
              <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
                <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
                <RT.Bubble @enableCollisionDetection={{detection}}>
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
            </div>
          </Shw::Autoscrollable>
        </SF.Item>
      {{/each}}
    {{/let}}
    <SF.Item />
    <SF.Item />
    {{#let (array "flip" "shift" "auto") as |detections|}}
      {{#each detections as |detection|}}
        <SF.Item @forceMinWidth={{true}} @label={{concat "enableCollisionDetection=" detection}}>
          <Shw::Autoscrollable @verticalShift={{30}}>
            <div class="shw-component-rich-tooltip-collision-detection-wrapper">
              <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
                <RT.Toggle @text="Lorem ipsum" @icon="info" @size="medium" />
                <RT.Bubble @enableCollisionDetection={{detection}}>
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
            </div>
          </Shw::Autoscrollable>
        </SF.Item>
      {{/each}}
    {{/let}}
    <SF.Item />
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H3>Inheritance</Shw::Text::H3>

  <Shw::Text::Body>HDS classes</Shw::Text::Body>

  <Shw::Grid @columns={{3}} {{style gap="2rem" margin-bottom="6rem"}} as |SG|>
    <SG.Item @label="Applied to the parent (text+icon with size)">
      <div
        class="hds-typography-display-400 hds-foreground-warning-on-surface hds-surface-warning"
        {{style width="fit-content"}}
      >
        Lorem
        <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
          <RT.Toggle @text="ipsum" @isInline={{true}} @icon="info" @size="medium" />
          <RT.Bubble @enableCollisionDetection={{false}}>
            Generic text content
          </RT.Bubble>
        </Hds::RichTooltip>
        dolor
      </div>
    </SG.Item>
    <SG.Item @label="Applied to the component (text+icon with size)">
      <Hds::RichTooltip
        class="hds-typography-display-400 hds-foreground-warning-on-surface hds-surface-warning"
        @isOpen={{true}}
        @enableClickEvents={{true}}
        as |RT|
      >
        <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @size="medium" />
        <RT.Bubble @enableCollisionDetection={{false}}>
          Generic text content
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
    <SG.Item @label="Applied to the toggle (text+icon with size)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle
          @text="Lorem ipsum dolor"
          @icon="info"
          @size="medium"
          class="hds-typography-display-400 hds-foreground-warning-on-surface hds-surface-warning"
        />
        <RT.Bubble @enableCollisionDetection={{false}}>
          Generic text content
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
  </Shw::Grid>

  <Shw::Grid @columns={{3}} {{style gap="2rem" margin-bottom="6rem"}} as |SG|>
    <SG.Item @label="Applied to the parent (generic)">
      <div
        class="hds-typography-display-400 hds-foreground-warning-on-surface hds-surface-warning"
        {{style width="fit-content"}}
      >
        Lorem
        <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
          <RT.Toggle @isInline={{true}}>ipsum</RT.Toggle>
          <RT.Bubble @enableCollisionDetection={{false}}>
            Generic text content
          </RT.Bubble>
        </Hds::RichTooltip>
        dolor
      </div>
    </SG.Item>
    <SG.Item @label="Applied to the component (generic)">
      <Hds::RichTooltip
        class="hds-typography-display-400 hds-foreground-warning-on-surface hds-surface-warning"
        @isOpen={{true}}
        @enableClickEvents={{true}}
        as |RT|
      >
        <RT.Toggle>Lorem ipsum dolor</RT.Toggle>
        <RT.Bubble @enableCollisionDetection={{false}}>
          Generic text content
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
    <SG.Item @label="Applied to the toggle (generic)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle class="hds-typography-display-400 hds-foreground-warning-on-surface hds-surface-warning">
          Lorem ipsum dolor
        </RT.Toggle>
        <RT.Bubble @enableCollisionDetection={{false}}>
          Generic text content
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::Body>Using a custom class</Shw::Text::Body>

  <Shw::Grid @columns={{3}} {{style gap="2rem" margin-bottom="6rem"}} as |SG|>
    <SG.Item @label="Applied to the parent (text+icon with size)">
      <div class="shw-component-rich-tooltip-font-style" {{style width="fit-content"}}>
        Lorem
        <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
          <RT.Toggle @text="ipsum" @isInline={{true}} @icon="info" @size="medium" />
          <RT.Bubble @enableCollisionDetection={{false}}>
            Generic text content
          </RT.Bubble>
        </Hds::RichTooltip>
        dolor
      </div>
    </SG.Item>
    <SG.Item @label="Applied to the container (text+icon with size)">
      <Hds::RichTooltip
        class="shw-component-rich-tooltip-font-style"
        @isOpen={{true}}
        @enableClickEvents={{true}}
        as |RT|
      >
        <RT.Toggle @text="Lorem ipsum dolor" @isInline={{true}} @icon="info" @size="medium" />
        <RT.Bubble @enableCollisionDetection={{false}}>
          Generic text content
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
    <SG.Item @label="Applied to the toggle (text+icon with size)">
      <Hds::RichTooltip @isOpen={{true}} @enableClickEvents={{true}} as |RT|>
        <RT.Toggle
          @text="Lorem ipsum dolor"
          @isInline={{true}}
          @icon="info"
          @size="medium"
          class="shw-component-rich-tooltip-font-style"
        />
        <RT.Bubble @enableCollisionDetection={{false}}>
          Generic text content
        </RT.Bubble>
      </Hds::RichTooltip>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::Body>Style interference</Shw::Text::Body>

  <Shw::Flex {{style gap="2rem" margin-bottom="9rem"}} as |SF|>
    <SF.Item @label="Parent has `white-space: nowrap`">
      <div {{style whiteSpace="nowrap"}}>
        <Hds::RichTooltip @isOpen={{true}} as |RT|>
          <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @size="medium" />
          <RT.Bubble @width="200px" @enableCollisionDetection={{false}}>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </RT.Bubble>
        </Hds::RichTooltip>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::Body>Used within a parent with explicit text alignment</Shw::Text::Body>

  <Shw::Grid class="shw-component-tooltip-text-alignment" @columns={{3}} {{style margin-bottom="9rem"}} as |SG|>
    {{#let (array "left" "center" "right") as |alignments|}}
      {{#each alignments as |alignment|}}
        <SG.Item @label="text-align = {{alignment}}" {{style text-align=alignment}}>
          <Shw::Outliner>
            Lorem
            <Hds::RichTooltip @isOpen={{true}} as |RT|>
              <RT.Toggle @text="ipsum dolor" @isInline={{true}} @icon="info" />
              <RT.Bubble @width="200px" @enableCollisionDetection={{false}}>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </RT.Bubble>
            </Hds::RichTooltip>
            sit amet.
          </Shw::Outliner>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>Interaction states</Shw::Text::H2>

  <Shw::Text::H3>Text + Icon</Shw::Text::H3>

  <Shw::Text::H4>Block</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label="{{capitalize state}}" class="shw-component-link-inline-state-samples">
        <Hds::RichTooltip as |RT|>
          <RT.Toggle
            @text="Lorem ipsum dolor"
            @isInline={{false}}
            @icon="info"
            @size="medium"
            mock-state-value={{state}}
          />
          <RT.Bubble>
            <Shw::Placeholder @text="generic content" @height="30" />
          </RT.Bubble>
        </Hds::RichTooltip>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Text::H4>Inline</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label="{{capitalize state}}" class="shw-component-link-inline-state-samples">
        <Hds::Text::Body @size="200" @tag="p" {{style margin-bottom="16px"}}>
          Lorem
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @text="ipsum dolor" @isInline={{true}} @icon="info" @size="medium" mock-state-value={{state}} />
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="30" />
            </RT.Bubble>
          </Hds::RichTooltip>
          sit amet
        </Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p" {{style margin-bottom="16px"}}>
          Lorem ipsum dolor sit
          <Hds::RichTooltip as |RT|>
            <RT.Toggle
              @text="amet consectetur"
              @isInline={{true}}
              @icon="info"
              @size="medium"
              mock-state-value={{state}}
            />
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="30" />
            </RT.Bubble>
          </Hds::RichTooltip>
          adipisicing elit
        </Hds::Text::Body>
        <Hds::Text::Body @size="200" @tag="p">
          Lorem ipsum
          <Hds::RichTooltip as |RT|>
            <RT.Toggle
              @text="dolor sit amet consectetur adipisicing elit"
              @isInline={{true}}
              @icon="info"
              @size="medium"
              mock-state-value={{state}}
            />
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="30" />
            </RT.Bubble>
          </Hds::RichTooltip>
        </Hds::Text::Body>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Generic</Shw::Text::H3>

  <Shw::Text::Body>
    <strong>Not for use in production.</strong>
  </Shw::Text::Body>

  <Shw::Text::Body>
    In this case the "toggle" doesn't have special styles of its own other than for the "focus" state.
  </Shw::Text::Body>

  <Shw::Text::H4>Block</Shw::Text::H4>

  {{#let (array "text" "icon" "badge" "tag") as |toggles|}}
    {{#each toggles as |toggle|}}
      <Shw::Grid @columns={{4}} as |SG|>
        {{#each @model.STATES as |state|}}
          <SG.Item @label={{state}}>
            <Hds::RichTooltip as |RT|>
              <RT.Toggle aria-label={{if (eq toggle "icon") "Information"}} mock-state-value={{state}}>
                {{#if (eq toggle "text")}}
                  Lorem ipsum dolor
                {{/if}}
                {{#if (eq toggle "icon")}}
                  <FlightIcon @name="org" @isInlineBlock={{false}} />
                {{/if}}
                {{#if (eq toggle "badge")}}
                  <Hds::Badge @text="Lorem ipsum" @color="neutral" @icon="hexagon" type="outlined" />
                {{/if}}
                {{#if (eq toggle "tag")}}
                  <Hds::Tag @text="Lorem ipsum" />
                {{/if}}
              </RT.Toggle>
              <RT.Bubble>
                <Shw::Placeholder @text="generic content" @height="40" />
              </RT.Bubble>
            </Hds::RichTooltip>
          </SG.Item>
        {{/each}}
      </Shw::Grid>
    {{/each}}
  {{/let}}

  <Shw::Text::H4>Inline</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label="{{capitalize state}}" class="shw-component-link-inline-state-samples">
        <div {{style margin-bottom="16px"}}>
          Lorem
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @isInline={{true}} @icon="info" mock-state-value={{state}}>ipsum dolor</RT.Toggle>
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="30" />
            </RT.Bubble>
          </Hds::RichTooltip>
          sit amet
        </div>
        <div {{style margin-bottom="16px"}}>
          Lorem ipsum dolor sit
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @isInline={{true}} @icon="info" mock-state-value={{state}}>amet consectetur</RT.Toggle>
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="30" />
            </RT.Bubble>
          </Hds::RichTooltip>
          adipisicing elit
        </div>
        <div>
          Lorem ipsum
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @isInline={{true}} @icon="info" mock-state-value={{state}}>dolor sit amet consectetur adipisicing
              elit</RT.Toggle>
            <RT.Bubble>
              <Shw::Placeholder @text="generic content" @height="30" />
            </RT.Bubble>
          </Hds::RichTooltip>
        </div>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>Demo</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item @label="Inline with other text" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor
        <Hds::RichTooltip as |RT|>
          <RT.Toggle @text="Test" @isInline={{true}} @icon="lock" />
          <RT.Bubble>
            <Shw::Placeholder @text="generic content" @height="30" />
          </RT.Bubble>
        </Hds::RichTooltip>
        sit amet consectetur adipisicing elit. Doloremque blanditiis sapiente iste beatae voluptates voluptatum.
      </Hds::Text::Body>
    </SF.Item>
    <SF.Item @label="Inline / Long text" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor
        <Hds::RichTooltip as |RT|>
          <RT.Toggle @text="Test with long text" @isInline={{true}} @icon="lock" />
          <RT.Bubble>
            <Shw::Placeholder @text="generic content" @height="30" />
          </RT.Bubble>
        </Hds::RichTooltip>
        sit amet consectetur adipisicing elit. Doloremque blanditiis sapiente iste beatae voluptates voluptatum.
      </Hds::Text::Body>
    </SF.Item>
    <SF.Item @label="Inline / Multi-line" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor
        <Hds::RichTooltip as |RT|>
          <RT.Toggle @text="Test with long text that wraps multiple lines" @isInline={{true}} @icon="lock" />
          <RT.Bubble>
            <Shw::Placeholder @text="generic content" @height="30" />
          </RT.Bubble>
        </Hds::RichTooltip>
        sit amet consectetur adipisicing elit. Doloremque blanditiis sapiente iste beatae voluptates voluptatum.
      </Hds::Text::Body>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex as |SF|>
    <SF.Item @label="Inline text with pre/post characters (testing whitespace)" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum "<Hds::RichTooltip as |RT|><RT.Toggle @text="dolor sit" @isInline={{true}} /><RT.Bubble>
            <Shw::Placeholder @text="generic content" @height="30" />
          </RT.Bubble></Hds::RichTooltip>" amet.
      </Hds::Text::Body>
    </SF.Item>
    <SF.Item @label="Inline icon only (testing vertical alignment)" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor
        <Hds::RichTooltip as |RT|>
          <RT.Toggle @isInline={{true}} @icon="info" />
          <RT.Bubble>
            <Shw::Placeholder @text="generic content" @height="30" />
          </RT.Bubble>
        </Hds::RichTooltip>
        sit amet.
      </Hds::Text::Body>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Flex as |SF|>
    <SF.Item @label="Block within other text" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </Hds::Text::Body>
      <Hds::RichTooltip {{style margin="8px 0"}} as |RT|>
        <RT.Toggle @text="Test" @icon="lock" @size="medium" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="30" />
        </RT.Bubble>
      </Hds::RichTooltip>
      <Hds::Text::Body @size="200" @tag="p">
        Doloremque blanditiis sapiente iste beatae voluptates voluptatum.
      </Hds::Text::Body>
    </SF.Item>
    <SF.Item @label="Block / Long text" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </Hds::Text::Body>
      <Hds::RichTooltip {{style margin="8px 0"}} as |RT|>
        <RT.Toggle @text="Test with long text" @icon="lock" @size="medium" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="30" />
        </RT.Bubble>
      </Hds::RichTooltip>
      <Hds::Text::Body @size="200" @tag="p">
        Doloremque blanditiis sapiente iste beatae voluptates voluptatum.
      </Hds::Text::Body>
    </SF.Item>
    <SF.Item @label="Block / Multi-line" {{style width="250px"}}>
      <Hds::Text::Body @size="200" @tag="p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </Hds::Text::Body>
      <Hds::RichTooltip {{style margin="8px 0"}} as |RT|>
        <RT.Toggle @text="Test with long text that wraps multiple lines" @icon="lock" @size="medium" />
        <RT.Bubble>
          <Shw::Placeholder @text="generic content" @height="30" />
        </RT.Bubble>
      </Hds::RichTooltip>
      <Hds::Text::Body @size="200" @tag="p">
        Doloremque blanditiis sapiente iste beatae voluptates voluptatum.
      </Hds::Text::Body>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Flex {{style gap="2rem"}} @direction="column" as |SF|>
    <SF.Item @label="Within an Alert">
      <Hds::Alert @type="inline" @color="warning" {{style width="600px"}} as |A|>
        <A.Title>Altering admin permissions</A.Title>
        <A.Description>This user is assigned to an
          <Hds::RichTooltip as |RT|>
            <RT.Toggle @text="admin role" @isInline={{true}} /><RT.Bubble>
              <Hds::Text::Body @tag="p" size="100">Admin role enables a couple of pretty cool features and permissions
                within the app. For details on what an admin can do, reference
                <Hds::Link::Inline @href="#">the documentation</Hds::Link::Inline>.</Hds::Text::Body>
            </RT.Bubble></Hds::RichTooltip>, changing this will remove them from projects in which they don’t already
          have admin permissions.</A.Description>
      </Hds::Alert>
    </SF.Item>
    <SF.Item @label="Within a Form Field">
      <div class="shw-component-rich-tooltip-demo-form-field" {{style width="400px"}}>
        <Hds::Form::TextInput::Field @value="Lorem ipsum dolor" @width="250px" as |F|>
          <F.Label>
            <div class="shw-component-rich-tooltip-demo-form-field-label-wrapper">
              This is the label text
              <Hds::RichTooltip as |RT|>
                <RT.Toggle @icon="info" aria-label="more info" />
                <RT.Bubble @placement="right">
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
            </div>
          </F.Label>
          <F.HelperText>This is the helper text</F.HelperText>
        </Hds::Form::TextInput::Field>
        <Hds::Form::TextInput::Field @value="Lorem ipsum dolor" @width="250px" as |F|>
          <F.Label>This is the label text</F.Label>
          <F.HelperText>Lorem ipsum dolor sit amet
            <Hds::RichTooltip as |RT|>
              <RT.Toggle @text="consectetur adipisicing" @isInline={{true}} />
              <RT.Bubble @placement="right">
                <Shw::Placeholder @text="generic content" @height="30" />
              </RT.Bubble>
            </Hds::RichTooltip>
            elit sed perferendis culpa expedita assumenda at nisi.</F.HelperText>
        </Hds::Form::TextInput::Field>
      </div>
    </SF.Item>
    <SF.Item @label="Within a Modal">
      <Hds::Button @color="secondary" @text="Open modal" {{on "click" this.activateModal}} />
      {{! template-lint-disable no-autofocus-attribute }}
      {{#if this.isModalActive}}
        <Hds::Modal id="test-copy-button-modal" @onClose={{this.deactivateModal}} as |M|>
          <M.Header>
            Lorem ipsum dolor
          </M.Header>
          <M.Body>
            <Hds::Text::Body @size="200" @tag="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
              perferendis culpa expedita assumenda at
              <Hds::RichTooltip as |RT|>
                <RT.Toggle @text="nisi minus unde fuga" @isInline={{true}} @icon="info" />
                <RT.Bubble @placement="top">
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
              iure suscipit aut qui, odit natus eum voluptates.
            </Hds::Text::Body>
          </M.Body>
          <M.Footer as |F|>
            <Hds::ButtonSet>
              <Hds::Button type="submit" @text="OK" {{on "click" this.deactivateModal}} />
              <Hds::Button type="button" @text="Cancel" @color="secondary" {{on "click" F.close}} />
            </Hds::ButtonSet>
          </M.Footer>
        </Hds::Modal>
      {{/if}}
    </SF.Item>
    <SF.Item @label="Within a Table">
      <Hds::Table
        @model={{@model.DEMO_TABLE_DATA}}
        @columns={{array
          (hash label="Peer name")
          (hash label="Cluster partition")
          (hash label="Status")
          (hash label="Tags")
          (hash label="Actions" width="150px")
        }}
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>
              <Hds::Link::Inline @href="#showcase">{{B.data.peer-name}}</Hds::Link::Inline>
            </B.Td>
            <B.Td>
              <div class="shw-component-rich-tooltip-demo-table-cell-content-flex">
                <FlightIcon @name={{B.data.cluster-icon}} />
                <div>
                  <Hds::RichTooltip as |RT|>
                    <RT.Toggle @text={{B.data.cluster-partition}} />
                    <RT.Bubble>
                      <Hds::Text::Body @size="100" @tag="p">Lorem ipsum dolor sit amet</Hds::Text::Body>
                    </RT.Bubble>
                  </Hds::RichTooltip>
                  <Hds::Text::Body @size="100" @tag="p" @color="foreground-faint">Lorem ipsum dolor sit amet</Hds::Text::Body>
                </div>
              </div>
            </B.Td>
            <B.Td>
              <Hds::RichTooltip as |RT|>
                <RT.Toggle>
                  <Hds::Badge
                    @text={{capitalize B.data.status.text}}
                    @color={{B.data.status.color}}
                    @icon={{B.data.status.icon}}
                    @type="outlined"
                  />
                </RT.Toggle>
                <RT.Bubble>
                  <Hds::Text::Body @size="100" @tag="p">The status is
                    <strong>{{B.data.status.text}}</strong>. Refer to the
                    <Hds::Link::Inline @href="#"> documentation</Hds::Link::Inline>
                    for more details about this status.</Hds::Text::Body>
                </RT.Bubble>
              </Hds::RichTooltip>
            </B.Td>
            <B.Td>
              <Hds::RichTooltip as |RT|>
                <RT.Toggle @text={{B.data.tagsCount}} @icon="info" @iconPosition="trailing" />
                <RT.Bubble>
                  <Hds::Text::Body @size="100" @tag="p" @weight="semibold">Tags:</Hds::Text::Body>
                  <div class="shw-component-rich-tooltip-demo-table-cell-content-tags">
                    {{#let (array "Lorem" "Ipsum" "Dolor" "Sit" "Amet" "Consectetur") as |tags|}}
                      {{#each tags as |tag|}}
                        <Hds::Tag @text={{tag}} />
                      {{/each}}
                    {{/let}}
                  </div>
                  <Hds::Text::Body @size="100" @tag="p">
                    <Hds::Link::Inline @href="#" @icon="sidebar" @iconPosition="trailing">See all
                      {{B.data.tagsCount}}
                      tags</Hds::Link::Inline>
                  </Hds::Text::Body>
                </RT.Bubble>
              </Hds::RichTooltip>
            </B.Td>
            <B.Td>
              <Hds::ButtonSet>
                <Hds::Button @text="Add" @isIconOnly={{true}} @icon="plus" @size="small" />
                <Hds::Button @text="Edit" @isIconOnly={{true}} @icon="edit" @size="small" @color="secondary" />
                <Hds::Button @text="Delete" @isIconOnly={{true}} @icon="trash" @size="small" @color="critical" />
              </Hds::ButtonSet>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
    <SF.Item @label="Within Tabs">
      <Hds::Tabs {{style width="400px"}} as |T|>
        <T.Tab>Tab #1</T.Tab>
        <T.Tab>Tab #2</T.Tab>
        <T.Tab>Tab #3</T.Tab>
        <T.Panel>
          <div class="shw-component-rich-tooltip-demo-tabs-panel">
            <Hds::Text::Body @size="200" @tag="p">Lorem ipsum dolor sit amet
              <Hds::RichTooltip as |RT|>
                <RT.Toggle @text="consectetur adipisicing" @isInline={{true}} @icon="info" @iconPosition="trailing" />
                <RT.Bubble>
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
              elit. Sed perferendis culpa expedita assumenda at nisi minus unde fuga iure suscipit aut qui, odit natus
              eum voluptates.
            </Hds::Text::Body>
          </div>
        </T.Panel>
        <T.Panel>
          <div class="shw-component-rich-tooltip-demo-tabs-panel">
            <Hds::Text::Body @size="200" @tag="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
              perferendis culpa expedita assumenda at
              <Hds::RichTooltip as |RT|>
                <RT.Toggle @text="nisi minus unde" @isInline={{true}} @icon="info" @iconPosition="trailing" />
                <RT.Bubble>
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
              fuga iure suscipit aut qui, odit natus eum voluptates.
            </Hds::Text::Body>
          </div>
        </T.Panel>
        <T.Panel>
          <div class="shw-component-rich-tooltip-demo-tabs-panel">
            <Hds::Text::Body @size="200" @tag="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
              perferendis culpa expedita assumenda at
              <Hds::RichTooltip as |RT|>
                <RT.Toggle @etxt="nisi minus unde fuga iure" @isInline={{true}} @icon="info" @iconPosition="trailing" />
                <RT.Bubble>
                  <Shw::Placeholder @text="generic content" @height="30" />
                </RT.Bubble>
              </Hds::RichTooltip>
              suscipit aut qui, odit natus eum voluptates.
            </Hds::Text::Body>
          </div>
        </T.Panel>
      </Hds::Tabs>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Grid @columns={{2}} {{style width="fit-content" gap="2rem"}} as |SG|>
    <SG.Item @label="Button + InfoText">
      <div class="shw-component-rich-tooltip-demo-action-plus-info">
        <Hds::Button @text="Lorem ipsum" @icon="wand" {{on "click" this.onClickButton}} />
        <Hds::RichTooltip @enableClickEvents={{true}} as |RT|>
          <RT.Toggle @icon="info" aria-label="more info" />
          <RT.Bubble @placement="top-start">
            <Hds::Text::Body @size="200" @tag="p" {{style margin-bottom="12px"}}>Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</Hds::Text::Body>
            <Hds::Button @text="Got it" @size="small" {{on "click" RT.close}} />
          </RT.Bubble>
        </Hds::RichTooltip>
      </div>
    </SG.Item>
    <SG.Item @label="Link + InfoText">
      <div class="shw-component-rich-tooltip-demo-action-plus-info">
        <Hds::Link::Standalone @icon="external-link" @iconPosition="trailing" @text="Acme Corp" @href="#" />
        <Hds::RichTooltip @enableClickEvents={{true}} as |RT|>
          <RT.Toggle @icon="info" aria-label="more info" />
          <RT.Bubble @placement="top-start">
            <Hds::Text::Body @size="200" @tag="p" {{style margin-bottom="12px"}}>Lorem ipsum dolor sit amet consectetur
              adipisicing elit.</Hds::Text::Body>
            <Hds::Button @text="Got it" @size="small" {{on "click" RT.close}} />
          </RT.Bubble>
        </Hds::RichTooltip>
      </div>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Flex as |SF|>
    <SF.Item @label="With complex popover content">
      <Hds::RichTooltip @enableClickEvents={{true}} as |RT|>
        <RT.Toggle @text="Lorem ipsum dolor" @icon="info" @size="medium" />
        <RT.Bubble @placement="top">
          <div class="shw-component-rich-tooltip-content-interactive">
            <button type="button" {{on "click" RT.close}} title="Button that closes the popover on click">x</button>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                {{#let (unique-id) as |controlId|}}
                  <label for={{controlId}}>Input value:</label>
                  <input id={{controlId}} type="text" />
                {{/let}}
              </li>
              <li>
                <button type="button" {{on "click" RT.close}}>Got it!</button>
              </li>
            </ul>
          </div>
        </RT.Bubble>
      </Hds::RichTooltip>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Base elements</Shw::Text::H2>

  <Shw::Text::H3>Toggle</Shw::Text::H3>

  <Shw::Text::H4>Content</Shw::Text::H4>

  <Shw::Flex {{style gap="2rem"}} as |SF|>
    <SF.Item @label="Only text">
      <Hds::RichTooltip::Toggle @text="Lorem ipsum dolor" />
    </SF.Item>
    <SF.Item @label="Text + Icon (leading/default)">
      <Hds::RichTooltip::Toggle @icon="info" @text="Lorem ipsum dolor" />
    </SF.Item>
    <SF.Item @label="Text + Icon (trailing)">
      <Hds::RichTooltip::Toggle @icon="info" @iconPosition="trailing" @text="Lorem ipsum dolor" />
    </SF.Item>
    <SF.Item @label="Generic (yielded)">
      <Hds::RichTooltip::Toggle>Lorem ipsum dolor</Hds::RichTooltip::Toggle>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Sizes</Shw::Text::H4>

  <Shw::Flex as |SF|>
    <SF.Item @label="Inherited (default)">
      {{#let (array "14px" "16px" "18px") as |sizes|}}
        {{#each sizes as |size|}}
          <div {{style font-size=size line-height="1.4"}}>
            Lorem
            <Hds::RichTooltip::Toggle @icon="info" @isInline={{true}} @text="ipsum dolor" />
            sit amet
            <Hds::RichTooltip::Toggle
              @icon="info"
              @iconPosition="trailing"
              @isInline={{true}}
              @text="consectetur adipiscing"
            />
            elit.
          </div>
        {{/each}}
      {{/let}}
    </SF.Item>
  </Shw::Flex>

  {{#let (array "small" "medium" "large") as |sizes|}}
    {{#each sizes as |size|}}
      <Shw::Flex @label="{{capitalize size}}" as |SF|>
        <SF.Item>
          <Hds::RichTooltip::Toggle @size={{size}} @text="Lorem ipsum dolor" />
        </SF.Item>
        <SF.Item>
          <Hds::RichTooltip::Toggle @icon="info" @size={{size}} @text="Lorem ipsum dolor" />
        </SF.Item>
        <SF.Item>
          <Hds::RichTooltip::Toggle @icon="info" @iconPosition="trailing" @size={{size}} @text="Lorem ipsum dolor" />
        </SF.Item>
      </Shw::Flex>
    {{/each}}
  {{/let}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Bubble</Shw::Text::H3>

  <Shw::Flex {{style gap="2rem"}} as |SF|>
    <SF.Item @label="Arrow" class="shw-component-rich-tooltip-arrow-standalone">
      <Shw::Outliner {{style width="fit-content"}}>
        <div class="hds-rich-tooltip">
          <div class="hds-rich-tooltip__bubble-arrow" />
        </div>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="Bubble (popover)" class="shw-component-rich-tooltip-bubble-standalone">
      <Hds::RichTooltip::Bubble @isOpen={{true}}>
        <Shw::Placeholder @text="generic content" width="250px" @height="40" />
      </Hds::RichTooltip::Bubble>
    </SF.Item>
    <SF.Item @label="With fixed width/height" class="shw-component-rich-tooltip-bubble-standalone">
      <Hds::RichTooltip::Bubble @width="250px" @height="125px" @isOpen={{true}}>
        <Shw::Placeholder @text="generic content" width="100%" @height="100%" />
      </Hds::RichTooltip::Bubble>
    </SF.Item>
  </Shw::Flex>

</section>