{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "SuperSelect Components"}}

<Shw::Text::H1>SuperSelect</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Single selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default (no selection)">
      <Hds::SuperSelect::Single @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
        {{option}}
      </Hds::SuperSelect::Single>
    </SF.Item>

    <SF.Item @label="No selection with custom placeholder">
      <Hds::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @placeholder="Placeholder text"
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Single>
    </SF.Item>

    <SF.Item @label="Selected">
      <Hds::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Dropdown</Shw::Text::H4>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1" padding-bottom="12em"}} @label="No search">
      <Hds::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Single>
    </SF.Item>

    <SF.Item {{style flex="1" padding-bottom="12em"}} @label="Search enabled">
      <Hds::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @searchEnabled={{true}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Multiple selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default (no selection)">
      <Hds::SuperSelect::Multiple @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
        {{option}}
      </Hds::SuperSelect::Multiple>
    </SF.Item>

    <SF.Item @label="Selected">
      <Hds::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTEDMULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Multiple>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Dropdown</Shw::Text::H4>
  <Shw::Text::Body>Note: Tags will likely be replaced with HDS Tag (current ones are styled default tags)</Shw::Text::Body>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1" padding-bottom="12em"}} @label="No search">
      <Hds::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTEDMULTIPLE}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Multiple>
    </SF.Item>

    <SF.Item {{style flex="1" padding-bottom="12em"}} @label="Search enabled">
      <Hds::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTEDMULTIPLE}}
        @searchEnabled={{true}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect::Multiple>
    </SF.Item>
  </Shw::Flex>
</section>