{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "SuperSelect Component"}}

<Shw::Text::H1>SuperSelect (HDS PowerSelect) WIP</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Single selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default (no selection)">
      <Hds::SuperSelect @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Selected">
      <Hds::SuperSelect @onChange={{this.noop}} @options={{@model.OPTIONS}} @selected={{@model.SELECTED}} as |option|>
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Search enabled">
      <Hds::SuperSelect
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @searchEnabled={{true}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Custom no matches message displayed when search fails">
      <Hds::SuperSelect
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @searchEnabled={{true}}
        @selected={{@model.SELECTED}}
        @noMatchesMessage="Custom message for no matches"
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="onInput message displayed to console">
      <Hds::SuperSelect
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @searchEnabled={{true}}
        @onInput={{this.onInput}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="resultCount message (WIP... doesn't appear to work yet)">
      <Hds::SuperSelect
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @searchEnabled={{true}}
        @resultCountMessage={{this.resultCountMessage}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>States</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <Hds::SuperSelect @onChange={{this.noop}} @options={{@model.OPTIONS}} @selected={{@model.SELECTED}} as |option|>
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Focus">
      <Hds::SuperSelect
        class="mock-focus"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Disabled">
      <Hds::SuperSelect
        @disabled={{true}}
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>List position</Shw::Text::H3>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1"}} @label="Below (default)">
      <Hds::SuperSelect @onChange={{this.noop}} @options={{@model.OPTIONS}} @selected={{@model.SELECTED}} as |option|>
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item {{style flex="1"}} @label="Above">
      <Hds::SuperSelect
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @verticalPosition="above"
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>Dropdown list options width</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="row" as |SF|>
    <SF.Item @label="matchTriggerWidth = true (default)">
      <div class="shw-display-inline-flex">
        <Hds::SuperSelect
          @afterOptionsComponent={{component "power-select/after-options"}}
          @onChange={{this.noop}}
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @searchEnabled={{true}}
          @matchTriggerWidth={{true}}
          as |option|
        >
          {{option}}
        </Hds::SuperSelect>
      </div>
    </SF.Item>
    <SF.Item @label="matchTriggerWidth = false">
      <div class="shw-display-inline-flex">
        <Hds::SuperSelect
          @afterOptionsComponent={{component "power-select/after-options"}}
          @onChange={{this.noop}}
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @searchEnabled={{true}}
          @matchTriggerWidth={{false}}
          as |option|
        >
          {{option}}
        </Hds::SuperSelect>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>Placeholder</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Custom placeholder">
      <Hds::SuperSelect
        @placeholder="Custom placeholder text"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Search enabled with custom search placeholder">
      <Hds::SuperSelect
        @searchPlaceholder="Custom search placeholder text"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @searchEnabled={{true}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>After & before options</Shw::Text::H3>

  <Shw::Text::H4>With generic content</Shw::Text::H4>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1"}} @label="before options content">
      <Hds::SuperSelect
        @beforeOptionsComponent={{component "power-select/generic-content"}}
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item {{style flex="1"}} @label="after options content">
      <Hds::SuperSelect
        @afterOptionsComponent={{component "power-select/generic-content"}}
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>With custom header & footer components</Shw::Text::H4>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1"}} @label="before options content">
      <Hds::SuperSelect
        @beforeOptionsComponent={{component "power-select/after-options"}}
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item {{style flex="1"}} @label="after options content">
      <Hds::SuperSelect
        @afterOptionsComponent={{component "power-select/after-options"}}
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>Misc options</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Custom group component (@groupComponent)">
      <Hds::SuperSelect
        @groupComponent={{component "power-select/group-component"}}
        @onChange={{this.noop}}
        @options={{@model.GROUPED_OPTIONS}}
        @selected={{@model.SELECTED_GROUPED_OPTION}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>

    <SF.Item @label="" />
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Multiple selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <Hds::SuperSelect @selectionType="multiple" @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Selected">
      <Hds::SuperSelect
        @selectionType="multiple"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTEDMULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Search enabled">
      <Hds::SuperSelect
        @selectionType="multiple"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @searchEnabled={{true}}
        @selected={{@model.SELECTEDMULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>States</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <Hds::SuperSelect
        @selectionType="multiple"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @searchEnabled={{true}}
        @selected={{@model.SELECTEDMULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Focus">
      <Hds::SuperSelect
        class="mock-focus"
        @selectionType="multiple"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTEDMULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
    <SF.Item @label="Disabled">
      <Hds::SuperSelect
        @selectionType="multiple"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTEDMULTIPLE}}
        @disabled={{true}}
        as |option|
      >
        {{option}}
      </Hds::SuperSelect>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>TEMP: Bare PowerSelect component for comparison (no custom styling)</Shw::Text::H2>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <PowerSelect @options={{@model.OPTIONS}} @onChange={{this.noop}} as |option|>
        {{option}}
      </PowerSelect>
    </SF.Item>
    <SF.Item @label="Selected">
      <PowerSelect @options={{@model.OPTIONS}} @selected={{@model.SELECTED}} @onChange={{this.noop}} as |option|>
        {{option}}
      </PowerSelect>
    </SF.Item>
  </Shw::Flex>
</section>