{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "SuperSelect Components"}}

<Shw::Text::H1>SuperSelect</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Single selection</Shw::Text::H2>

  <Hds::SuperSelect::Single @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
    {{option}}
  </Hds::SuperSelect::Single>

  <Shw::Divider />

  <Shw::Text::H2>Multiple selection</Shw::Text::H2>

  <Hds::SuperSelect::Multiple @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
    {{option}}
  </Hds::SuperSelect::Multiple>
</section>