{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Table Component"}}

<Shw::Text::H1>Table</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Data model</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Table with model</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist")
      (hash key="album" label="Album")
      (hash key="year" label="Release Year")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4 @tag="h3">Table with no model defined</Shw::Text::H4>

  <Hds::Table @caption="a custom table with no model defined">
    <:head as |H|>
      <H.Tr>
        <H.Th>Cell Header</H.Th>
        <H.Th>Cell Header</H.Th>
        <H.Th @width="20%">Custom Width</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      <B.Tr>
        <B.Th>Scope Row</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider />

  <Shw::Text::H2>Sorting</Shw::Text::H2>

  <Shw::Text::H3>Basic sorting</Shw::Text::H3>

  <Shw::Text::H4>Sortable table (all columns sortable)</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4>Sortable table (only some columns sortable)</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4>Sortable table, one column right-aligned</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true align="right")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td @align="right">{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4>Sortable table, some columns sortable, artist column pre-sorted.</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year")
    }}
    @sortBy="artist"
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Custom sorting</Shw::Text::H3>

  {{! ============================================== }}
  {{! ===== DEMO #1 - EXTRA KEY ADDED TO MODEL ===== }}
  {{! ============================================== }}

  <Shw::Text::H4>Sortable table with custom sorting done via extra key added to the data model</Shw::Text::H4>

  <Hds::Table
    @model={{this.clustersWithExtraData_demo1}}
    @columns={{array
      (hash label="Peer name" isSortable=true key="peer-name")
      (hash label="Cluster partition")
      (hash label="Status" isSortable=true key="status-sort-order")
      (hash label="Imported services")
      (hash label="Exported services")
      (hash label="Actions" align="right")
    }}
    @sortBy="status-sort-order"
    @sortOrder="asc"
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.peer-name}}</B.Td>
        <B.Td>{{B.data.cluster-partition}}</B.Td>
        <B.Td>
          {{#if (eq B.data.status "failing")}}
            <Hds::Badge @text="Failing" @color="critical" @icon="x" @type="outlined" />
          {{else if (eq B.data.status "active")}}
            <Hds::Badge @text="Active" @color="success" @icon="check" @type="outlined" />
          {{else if (eq B.data.status "pending")}}
            <Hds::Badge @text="Pending" @color="neutral" @icon="loading" @type="outlined" />
          {{else if (eq B.data.status "establishing")}}
            <Hds::Badge @text="Establishing" @color="highlight" @icon="loading" @type="outlined" />
          {{/if}}
        </B.Td>
        <B.Td>{{B.data.services.imported}}</B.Td>
        <B.Td>{{B.data.services.exported}}</B.Td>
        <B.Td @align="right">
          <Hds::Dropdown @isInline={{true}} as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
            <dd.Interactive @route="components.table" @text="Create" />
            <dd.Interactive @route="components.table" @text="Read" />
            <dd.Interactive @route="components.table" @text="Update" />
            <dd.Separator />
            <dd.Interactive @route="components.table" @text="Delete" @color="critical" @icon="trash" />
          </Hds::Dropdown>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  {{! ============================================= }}
  {{! ===== DEMO #2 - CUSTOM SORTING FUNCTION ===== }}
  {{! ============================================= }}

  <Shw::Text::H4>Sortable table with custom <code>sortingFunction</code> declared in the column hash</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.clusters}}
    @columns={{array
      (hash label="Peer name" isSortable=true key="peer-name")
      (hash label="Cluster partition")
      (hash label="Status" isSortable=true key="status" sortingFunction=this.customSortingFunction_demo2)
      (hash label="Imported services")
      (hash label="Exported services")
      (hash label="Actions" align="right")
    }}
    @sortBy="status"
    @sortOrder="asc"
    @onSort={{this.customOnSort_demo2}}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.peer-name}}</B.Td>
        <B.Td>{{B.data.cluster-partition}}</B.Td>
        <B.Td>
          {{#if (eq B.data.status "failing")}}
            <Hds::Badge @text="Failing" @color="critical" @icon="x" @type="outlined" />
          {{else if (eq B.data.status "active")}}
            <Hds::Badge @text="Active" @color="success" @icon="check" @type="outlined" />
          {{else if (eq B.data.status "pending")}}
            <Hds::Badge @text="Pending" @color="neutral" @icon="loading" @type="outlined" />
          {{else if (eq B.data.status "establishing")}}
            <Hds::Badge @text="Establishing" @color="highlight" @icon="loading" @type="outlined" />
          {{/if}}
        </B.Td>
        <B.Td>{{B.data.services.imported}}</B.Td>
        <B.Td>{{B.data.services.exported}}</B.Td>
        <B.Td @align="right">
          <Hds::Dropdown @isInline={{true}} as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
            <dd.Interactive @route="components.table" @text="Create" />
            <dd.Interactive @route="components.table" @text="Read" />
            <dd.Interactive @route="components.table" @text="Update" />
            <dd.Separator />
            <dd.Interactive @route="components.table" @text="Delete" @color="critical" @icon="trash" />
          </Hds::Dropdown>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  {{! =========================================== }}
  {{! ===== DEMO #3 - YIELDED PROPS TO HEAD ===== }}
  {{! =========================================== }}

  <Shw::Text::H4>Sortable table with custom sorting using yielded
    <code>&lt;ThSort&gt;</code>
    +
    <code>sortBy/sortOrder/setSortBy</code>
    properties (<code>&lt;:head&gt;</code>
    only)</Shw::Text::H4>

  <Hds::Table @onSort={{this.extraOnSortCallback_demo3}}>
    <:head as |H|>
      <H.Tr>
        <H.ThSort
          @onClickSort={{fn this.onClickThSort__demo3 "peer-name" H.setSortBy}}
          @sortOrder={{if (eq "peer-name" H.sortBy) H.sortOrder}}
        >Peer name</H.ThSort>
        <H.Th>Cluster partition</H.Th>
        <H.ThSort
          @onClickSort={{fn this.onClickThSort__demo3 "status" H.setSortBy}}
          @sortOrder={{if (eq "status" H.sortBy) H.sortOrder}}
        >Status</H.ThSort>
        <H.Th>Imported services</H.Th>
        <H.Th>Exported services</H.Th>
        <H.Th @align="right">Actions</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      {{#each this.sortedModelClusters__demo3 as |item|}}
        <B.Tr>
          <B.Td>{{item.peer-name}}</B.Td>
          <B.Td>{{item.cluster-partition}}</B.Td>
          <B.Td>
            {{#if (eq item.status "failing")}}
              <Hds::Badge @text="Failing" @color="critical" @icon="x" @type="outlined" />
            {{else if (eq item.status "active")}}
              <Hds::Badge @text="Active" @color="success" @icon="check" @type="outlined" />
            {{else if (eq item.status "pending")}}
              <Hds::Badge @text="Pending" @color="neutral" @icon="loading" @type="outlined" />
            {{else if (eq item.status "establishing")}}
              <Hds::Badge @text="Establishing" @color="highlight" @icon="loading" @type="outlined" />
            {{/if}}
          </B.Td>
          <B.Td>{{item.services.imported}}</B.Td>
          <B.Td>{{item.services.exported}}</B.Td>
          <B.Td @align="right">
            <Hds::Dropdown @isInline={{true}} as |dd|>
              <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
              <dd.Interactive @route="components.table" @text="Create" />
              <dd.Interactive @route="components.table" @text="Read" />
              <dd.Interactive @route="components.table" @text="Update" />
              <dd.Separator />
              <dd.Interactive @route="components.table" @text="Delete" @color="critical" @icon="trash" />
            </Hds::Dropdown>
          </B.Td>
        </B.Tr>
      {{/each}}
    </:body>
  </Hds::Table>

  {{! ================================================== }}
  {{! ===== DEMO #4 - YIELDED PROPS TO HEAD + BODY ===== }}
  {{! ================================================== }}

  <Shw::Text::H4>Sortable table with custom sorting using yielded
    <code>&lt;ThSort&gt;</code>
    +
    <code>sortBy/sortOrder/setSortBy</code>
    properties (<code>&lt;:head&gt;</code>
    +
    <code>&lt;:body&gt;</code>)</Shw::Text::H4>

  <Hds::Table>
    <:head as |H|>
      <H.Tr>
        <H.ThSort
          @onClickSort={{fn H.setSortBy "peer-name"}}
          @sortOrder={{if (eq "peer-name" H.sortBy) H.sortOrder}}
        >Peer name</H.ThSort>
        <H.Th>Cluster partition</H.Th>
        <H.ThSort
          @onClickSort={{fn H.setSortBy "status"}}
          @sortOrder={{if (eq "status" H.sortBy) H.sortOrder}}
        >Status</H.ThSort>
        <H.Th>Imported services</H.Th>
        <H.Th>Exported services</H.Th>
        <H.Th @align="right">Actions</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      {{#each (call (fn this.sortModelClusters__demo4 B.sortBy B.sortOrder)) as |item|}}
        <B.Tr>
          <B.Td>{{item.peer-name}}</B.Td>
          <B.Td>{{item.cluster-partition}}</B.Td>
          <B.Td>
            {{#if (eq item.status "failing")}}
              <Hds::Badge @text="Failing" @color="critical" @icon="x" @type="outlined" />
            {{else if (eq item.status "active")}}
              <Hds::Badge @text="Active" @color="success" @icon="check" @type="outlined" />
            {{else if (eq item.status "pending")}}
              <Hds::Badge @text="Pending" @color="neutral" @icon="loading" @type="outlined" />
            {{else if (eq item.status "establishing")}}
              <Hds::Badge @text="Establishing" @color="highlight" @icon="loading" @type="outlined" />
            {{/if}}
          </B.Td>
          <B.Td>{{item.services.imported}}</B.Td>
          <B.Td>{{item.services.exported}}</B.Td>
          <B.Td @align="right">
            <Hds::Dropdown @isInline={{true}} as |dd|>
              <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
              <dd.Interactive @route="components.table" @text="Create" />
              <dd.Interactive @route="components.table" @text="Read" />
              <dd.Interactive @route="components.table" @text="Update" />
              <dd.Separator />
              <dd.Interactive @route="components.table" @text="Delete" @color="critical" @icon="trash" />
            </Hds::Dropdown>
          </B.Td>
        </B.Tr>
      {{/each}}
    </:body>
  </Hds::Table>

  <Shw::Divider />

  <Shw::Text::H2>Tooltip</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Table with model (sortable and non-sortable columns)</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true tooltip="Artist performing the album")
      (hash key="album" label="Album" tooltip="Name of the album")
      (hash key="vinyl-cost" label="Vinil Cost (USD)" isSortable=true tooltip="Cost of the vinyl" align="right")
      (hash key="year" label="Release Year" tooltip="Year of release of the album" align="right")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td @align="right">{{B.data.vinyl-cost}}</B.Td>
        <B.Td @align="right">{{B.data.year}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4 @tag="h3">Table without model defined (sortable and non-sortable columns)</Shw::Text::H4>

  <Shw::Text::Body>⚠️
    <em>Notice: in this example the "sort" button doesn't work, is for presentation purpose only.</em></Shw::Text::Body>

  <Hds::Table @caption="a custom table with no model defined">
    <:head as |H|>
      <H.Tr>
        <H.ThSort @tooltip="Column #1 extra information">Cell Header</H.ThSort>
        <H.Th @tooltip="Column #2 extra information">Cell Header</H.Th>
        <H.Th>Cell Header</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      <B.Tr>
        <B.Th
          @tooltip="This is an extra (non documented) case, made possible by the fact that the &lt;Table::Th&gt; subcomponent is yielded in both the &lt;thead&gt; and the &lt;tbody&gt;"
        >Scope Row</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Th>Scope row</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Th>Scope row</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider />

  <Shw::Text::H2>Multi-select</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Table with model</Shw::Text::H4>

  <Hds::Table
    @isSelectable={{true}}
    @onSelectionChange={{this.onSelectionChangeLogArguments}}
    @model={{this.model.selectableData}}
    @columns={{array
      (hash key="lorem" label="Row #")
      (hash key="ipsum" label="Ipsum")
      (hash key="dolor" label="Dolor")
    }}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.lorem}}"
      >
        <B.Td>{{B.data.lorem}}</B.Td>
        <B.Td>{{B.data.ipsum}}</B.Td>
        <B.Td>{{B.data.dolor}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4 @tag="h3">Table without model defined</Shw::Text::H4>

  <Hds::Table @isSelectable={{true}} @onSelectionChange={{this.onSelectionChangeLogArguments}}>
    <:head as |H|>
      <H.Tr>
        <H.Th>Row #</H.Th>
        <H.Th>Ipsum</H.Th>
        <H.Th>Dolor</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      <B.Tr @selectionKey="row1" @selectionAriaLabelSuffix="row #1">
        <B.Th>1</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr @selectionKey="row2" @isSelected={{true}} @selectionAriaLabelSuffix="row #2">
        <B.Th>2</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr @selectionKey="row3" @selectionAriaLabelSuffix="row #3">
        <B.Th>3</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr @selectionKey="row4" @selectionAriaLabelSuffix="row #4">
        <B.Th>4</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Functional examples</Shw::Text::H3>

  <Shw::Text::H4>With inline filter</Shw::Text::H4>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo1__toggle-scope"
        type="checkbox"
        checked={{this.multiSelectToggleScope__demo1}}
        {{on "change" this.toggleMultiSelectToggleScope__demo1}}
      />
      <label for="multi-select-demo1__toggle-scope">Extend "Select All" scope to non-displayed rows</label>
    </div>
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo1__toggle-debug"
        type="checkbox"
        checked={{this.multiSelectToggleDebug__demo1}}
        {{on "change" this.toggleMultiSelectToggleDebug__demo1}}
      />
      <label for="multi-select-demo1__toggle-debug">Show all rows' state</label>
    </div>
    <div class="shw-component-table-demo-topbar__action">
      <label for="multi-select-demo1__filter">Filter:</label>
      <Hds::Form::Select::Base
        id="multi-select-demo1__filter"
        {{on "change" this.onChangeMultiSelectFilter__demo1}}
        as |C|
      >
        <C.Options>
          <option value="all" selected={{eq this.multiSelectFilterRows__demo1 "all"}}>Show all rows</option>
          <option value="even" selected={{eq this.multiSelectFilterRows__demo1 "even"}}>Show even rows</option>
          <option value="odd" selected={{eq this.multiSelectFilterRows__demo1 "odd"}}>Show odd rows</option>
        </C.Options>
      </Hds::Form::Select::Base>
    </div>
  </div>

  <Shw::Flex @direction="column" @gap="2rem" as |SF|>
    <SF.Item @label="With data model">
      <Hds::Table
        @isSelectable={{true}}
        @onSelectionChange={{this.onSelectionChangeWithModel__demo1}}
        @model={{this.multiSelectFilteredData__demo1}}
        @columns={{array
          (hash key="lorem" label="Row #")
          (hash key="ipsum" label="Ipsum")
          (hash key="dolor" label="Dolor")
        }}
      >
        <:body as |B|>
          <B.Tr
            @selectionKey={{B.data.id}}
            @isSelected={{B.data.isSelected}}
            @selectionAriaLabelSuffix="row #{{B.data.id}}"
          >
            <B.Td>{{B.data.lorem}}</B.Td>
            <B.Td>{{B.data.ipsum}}</B.Td>
            <B.Td>{{B.data.dolor}}</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
      {{#if this.multiSelectToggleDebug__demo1}}
        {{#each this.multiSelectModelData__demo1 as |row|}}
          <pre>row{{row.id}} = {{if row.isSelected "✅"}}</pre>
        {{/each}}
      {{/if}}
    </SF.Item>
    <SF.Item @label="No model">
      <Hds::Table @isSelectable={{true}} @onSelectionChange={{this.onSelectionChangeWithoutModel__demo1}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Row #</H.Th>
            <H.Th>Ipsum</H.Th>
            <H.Th>Dolor</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          {{#if (not (eq this.multiSelectFilterRows__demo1 "even"))}}
            {{! Notice: here for the `selectionKey` we're using strings instead of numbers (on purpose, to test that everything works as expected) }}
            <B.Tr @selectionKey="row1" @isSelected={{get this.multiSelectNoModelState__demo1 "row1"}}>
              <B.Th>1</B.Th>
              <B.Td>Cell Content</B.Td>
              <B.Td>Cell Content</B.Td>
            </B.Tr>
          {{/if}}
          {{#if (not (eq this.multiSelectFilterRows__demo1 "odd"))}}
            <B.Tr @selectionKey="row2" @isSelected={{get this.multiSelectNoModelState__demo1 "row2"}}>
              <B.Th>2</B.Th>
              <B.Td>Cell Content</B.Td>
              <B.Td>Cell Content</B.Td>
            </B.Tr>
          {{/if}}
          {{#if (not (eq this.multiSelectFilterRows__demo1 "even"))}}
            <B.Tr @selectionKey="row3" @isSelected={{get this.multiSelectNoModelState__demo1 "row3"}}>
              <B.Th>3</B.Th>
              <B.Td>Cell Content</B.Td>
              <B.Td>Cell Content</B.Td>
            </B.Tr>
          {{/if}}
          {{#if (not (eq this.multiSelectFilterRows__demo1 "odd"))}}
            <B.Tr @selectionKey="row4" @isSelected={{get this.multiSelectNoModelState__demo1 "row4"}}>
              <B.Th>4</B.Th>
              <B.Td>Cell Content</B.Td>
              <B.Td>Cell Content</B.Td>
            </B.Tr>
          {{/if}}
        </:body>
      </Hds::Table>
      {{#if this.multiSelectToggleDebug__demo1}}
        <pre>row1 = {{if (get this.multiSelectNoModelState__demo1 "row1") "✅"}}</pre>
        <pre>row2 = {{if (get this.multiSelectNoModelState__demo1 "row2") "✅"}}</pre>
        <pre>row3 = {{if (get this.multiSelectNoModelState__demo1 "row3") "✅"}}</pre>
        <pre>row4 = {{if (get this.multiSelectNoModelState__demo1 "row4") "✅"}}</pre>
      {{/if}}
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>With pagination</Shw::Text::H4>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo2__toggle"
        type="checkbox"
        checked={{this.multiSelectToggleScope__demo2}}
        {{on "change" this.toggleMultiSelectPaginatedToggleScope__demo2}}
      />
      <label for="multi-select-demo2__toggle">Extend "Select All" scope to non-displayed rows</label>
    </div>
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo2__toggle-debug"
        type="checkbox"
        checked={{this.multiSelectToggleDebug__demo2}}
        {{on "change" this.toggleMultiSelectPaginatedToggleDebug__demo2}}
      />
      <label for="multi-select-demo2__toggle-debug">Show all rows' state</label>
    </div>
  </div>

  <div class="shw-component-table-with-pagination-demo-wrapper">
    <Hds::Table
      @isSelectable={{true}}
      @onSelectionChange={{this.onMultiSelectPaginatedSelectionChange__demo2}}
      @model={{this.multiSelectPaginatedData_demo2}}
      @columns={{array
        (hash key="lorem" label="Row #")
        (hash key="ipsum" label="Ipsum")
        (hash key="dolor" label="Dolor")
      }}
    >
      <:body as |B|>
        <B.Tr
          @selectionKey={{B.data.id}}
          @isSelected={{B.data.isSelected}}
          @selectionAriaLabelSuffix="row #{{B.data.id}}"
        >
          <B.Td>{{B.data.lorem}}</B.Td>
          <B.Td>{{B.data.ipsum}}</B.Td>
          <B.Td>{{B.data.dolor}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
    <Hds::Pagination::Numbered
      @totalItems={{this.multiSelectPaginatedTotalItems_demo2}}
      @currentPageSize={{this.multiSelectPaginatedCurrentPageSize_demo2}}
      @pageSizes={{array 2 4}}
      @currentPage={{this.multiSelectPaginatedCurrentPage_demo2}}
      @onPageChange={{this.onMultiSelectPaginatedPageChange_demo2}}
      @onPageSizeChange={{this.onMultiSelectPaginatedPageSizeChange_demo2}}
      @ariaLabel="Pagination for basic multi-select table"
    />
    {{#if this.multiSelectToggleDebug__demo2}}
      {{#each this.multiSelectModelData__demo2 as |row|}}
        <pre>row{{row.id}} = {{if row.isSelected "✅"}}</pre>
      {{/each}}
    {{/if}}
  </div>

  <Shw::Text::H4>Delete selected rows</Shw::Text::H4>

  <Shw::Text::Body>This demo emulates, for example, when a user needs to delete the selected users.</Shw::Text::Body>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo3__toggle"
        type="checkbox"
        checked={{this.multiSelectToggleScope__demo3}}
        {{on "change" this.toggleMultiSelectPaginatedToggleScope__demo3}}
      />
      <label for="multi-select-demo3__toggle">Extend "Select All" scope to non-displayed rows</label>
    </div>
    <div class="shw-component-table-demo-topbar__toggle">
      <input
        id="multi-select-demo3__toggle-debug"
        type="checkbox"
        checked={{this.multiSelectToggleDebug__demo3}}
        {{on "change" this.toggleMultiSelectPaginatedToggleDebug__demo3}}
      />
      <label for="multi-select-demo3__toggle-debug">Show all rows' state</label>
    </div>
    <div class="shw-component-table-demo-topbar__action">
      <Hds::Button @text="Delete users" @icon="trash" {{on "click" this.multiSelectDeleteSelectedUsers_demo3}} />
    </div>
  </div>

  <div class="shw-component-table-with-pagination-demo-wrapper">
    <Hds::Table
      @isSelectable={{true}}
      @onSelectionChange={{this.onMultiSelectUsersSelectionChange__demo3}}
      @model={{this.multiSelectUsersData_demo3}}
      @columns={{array
        (hash key="id" label="ID")
        (hash key="name" label="Name")
        (hash key="email" label="Email")
        (hash key="role" label="Role")
      }}
    >
      <:body as |B|>
        <B.Tr
          @selectionKey={{B.data.id}}
          @isSelected={{B.data.isSelected}}
          @selectionAriaLabelSuffix="row #{{B.data.id}}"
        >
          <B.Td>{{B.data.id}}</B.Td>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.role}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
    <Hds::Pagination::Numbered
      @totalItems={{this.multiSelectUsersTotalItems_demo3}}
      @currentPageSize={{this.multiSelectUsersCurrentPageSize_demo3}}
      @pageSizes={{array 4 8}}
      @currentPage={{this.multiSelectUsersCurrentPage_demo3}}
      @onPageChange={{this.onMultiSelectUsersPageChange_demo3}}
      @onPageSizeChange={{this.onMultiSelectUsersPageSizeChange_demo3}}
      @ariaLabel="Pagination for multi-select table with delete action"
    />
    {{#if this.multiSelectToggleDebug__demo3}}
      {{#each this.multiSelectModelData__demo3 as |row|}}
        <pre>row{{row.id}} = {{if row.isSelected "✅"}}</pre>
      {{/each}}
    {{/if}}
  </div>

  <Shw::Text::H4>Execute action on selected rows</Shw::Text::H4>

  <Shw::Text::Body>This demo emulates, for example, when a user needs to download the selected files.</Shw::Text::Body>

  <div class="shw-component-table-demo-topbar">
    <div class="shw-component-table-demo-topbar__action">
      <Hds::Button @text="Animate users" @icon="play" {{on "click" this.multiSelectAnimateSelectedUsers_demo4}} />
    </div>
  </div>

  <Hds::Table
    @isSelectable={{true}}
    @onSelectionChange={{this.onMultiSelectSelectionChange__demo4}}
    @model={{this.multiSelectUserData__demo4}}
    @columns={{array
      (hash key="id" label="ID")
      (hash key="name" label="Name")
      (hash key="email" label="Email")
      (hash key="role" label="Role")
    }}
  >
    <:body as |B|>
      <B.Tr
        @selectionKey={{B.data.id}}
        @isSelected={{B.data.isSelected}}
        @selectionAriaLabelSuffix="row #{{B.data.id}}"
      >
        <B.Td>{{B.data.id}}</B.Td>
        <B.Td>
          <span class={{if B.data.isAnimated "shw-component-table-animate-user"}}>{{B.data.name}}</span>
        </B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.role}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider />

  <Shw::Text::H2>Table customization</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Density</Shw::Text::H4>

  <Shw::Flex @direction="column" @gap="2rem" as |SF|>
    {{#let (array "default" "short" "tall") as |densities|}}
      {{#each densities as |density|}}
        <SF.Item @label={{capitalize density}}>
          <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
            {{#let (array false true) as |booleans|}}
              {{#each booleans as |bool|}}
                <SG.Item>
                  <Hds::Table @isSelectable={{bool}} @density={{if (not (eq density "default")) density}}>
                    <:head as |H|>
                      <H.Tr>
                        <H.Th>Lorem</H.Th>
                        <H.Th>Ipsum</H.Th>
                        <H.Th>Dolor</H.Th>
                      </H.Tr>
                    </:head>
                    <:body as |B|>
                      <B.Tr @selectionKey="row1">
                        <B.Th>Scope Row</B.Th>
                        <B.Td>Cell Content</B.Td>
                        <B.Td>Cell Content</B.Td>
                      </B.Tr>
                      <B.Tr @selectionKey="row2" @isSelected={{true}}>
                        <B.Th>Scope Row</B.Th>
                        <B.Td>Cell Content</B.Td>
                        <B.Td>Cell Content</B.Td>
                      </B.Tr>
                      <B.Tr @selectionKey="row3">
                        <B.Th>Scope Row</B.Th>
                        <B.Td>Cell Content</B.Td>
                        <B.Td>Cell Content</B.Td>
                      </B.Tr>
                      <B.Tr @selectionKey="row4">
                        <B.Th>Scope Row</B.Th>
                        <B.Td>Cell Content</B.Td>
                        <B.Td>Cell Content</B.Td>
                      </B.Tr>
                    </:body>
                  </Hds::Table>
                </SG.Item>
              {{/each}}
            {{/let}}
          </Shw::Grid>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Striping</Shw::Text::H4>

  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |bool|}}
        <SG.Item>
          <Hds::Table @isStriped={{true}} @isSelectable={{bool}}>
            <:head as |H|>
              <H.Tr>
                <H.Th>Lorem</H.Th>
                <H.Th>Ipsum</H.Th>
                <H.Th>Dolor</H.Th>
              </H.Tr>
            </:head>
            <:body as |B|>
              <B.Tr @selectionKey="row1">
                <B.Th>Scope Row</B.Th>
                <B.Td>Cell Content</B.Td>
                <B.Td>Cell Content</B.Td>
              </B.Tr>
              <B.Tr @selectionKey="row2" @isSelected={{true}}>
                <B.Th>Scope Row</B.Th>
                <B.Td>Cell Content</B.Td>
                <B.Td>Cell Content</B.Td>
              </B.Tr>
              <B.Tr @selectionKey="row3">
                <B.Th>Scope Row</B.Th>
                <B.Td>Cell Content</B.Td>
                <B.Td>Cell Content</B.Td>
              </B.Tr>
              <B.Tr @selectionKey="row4">
                <B.Th>Scope Row</B.Th>
                <B.Td>Cell Content</B.Td>
                <B.Td>Cell Content</B.Td>
              </B.Tr>
            </:body>
          </Hds::Table>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Sortable table, last column not sortable, visually hidden and with custom width.</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
      (hash key="other" label="Select an action from the menu" width="55px" isVisuallyHidden=true)
    }}
    @valign="middle"
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
        <B.Td @align="right">
          <Hds::Dropdown @isInline={{true}} as |dd|>
            <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
            <dd.Interactive @route="components.table" @text="Create" />
            <dd.Interactive @route="components.table" @text="Read" />
            <dd.Interactive @route="components.table" @text="Update" />
            <dd.Separator />
            <dd.Interactive @route="components.table" @text="Delete" @color="critical" @icon="trash" />
          </Hds::Dropdown>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4 @tag="h3">Table where last column has right-aligned text</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
      (hash key="vinyl-cost" label="Vinyl Cost (USD)" align="right")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>{{B.data.year}}</B.Td>
        <B.Td @align="right">{{B.data.vinyl-cost}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4 @tag="h3">Table with various cell content</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @columns={{array
      (hash key="artist" label="Artist" isSortable=true)
      (hash key="album" label="Album" isSortable=true)
      (hash key="year" label="Release Year" isSortable=true)
      (hash key="other" label="Additional Actions")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td><Hds::Link::Inline @href="#showcase">{{B.data.artist}}</Hds::Link::Inline></B.Td>
        <B.Td>
          <div class="shw-component-table-cell-content-div">
            <FlightIcon @name={{B.data.icon}} />
            {{B.data.album}}
          </div>
        </B.Td>
        <B.Td>
          <Hds::Badge @text={{B.data.year}} @type={{B.data.badge-type}} @color={{B.data.badge-color.name}} />
        </B.Td>
        <B.Td>
          <Hds::ButtonSet>
            <Hds::Button @text="Add" @isIconOnly={{true}} @icon="plus" @size="small" />
            <Hds::Button @text="Edit" @isIconOnly={{true}} @icon="edit" @size="small" @color="secondary" />
            <Hds::Button @text="Delete" @isIconOnly={{true}} @icon="trash" @size="small" @color="critical" />
          </Hds::ButtonSet>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4 @tag="h3">Table with multi-line content</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.music}}
    @caption="table with multi-line content"
    @columns={{array
      (hash key="artist" label="Artist")
      (hash key="album" label="Album")
      (hash key="quote" label="Quote" width="50%")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.artist}}</B.Td>
        <B.Td>{{B.data.album}}</B.Td>
        <B.Td>&ldquo;{{B.data.quote}}&rdquo;</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider />

  <Shw::Text::H2>Layout</Shw::Text::H2>

  <Shw::Text::H3>Interaction between table layout and columns width</Shw::Text::H3>

  <Shw::Text::H4>Width in <code>px</code> + Table-layout = 'auto'</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.manycolumns}}
    @columns={{array
      (hash key="first_name" label="First Name" isSortable=true width="200px")
      (hash key="last_name" label="Last Name" isSortable=true width="200px")
      (hash key="age" label="Age" isSortable=true align="right")
      (hash key="email" label="Email")
      (hash key="bio" label="Biography" width="350px")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.first_name}}</B.Td>
        <B.Td>{{B.data.last_name}}</B.Td>
        <B.Td @align="right">{{B.data.age}}</B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.bio}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4>Width in <code>px</code> + Table-layout = 'fixed'</Shw::Text::H4>

  <Shw::Text::Body>⚠️
    <em>Notice: this example looks broken but we’ve left it on purpose to show what happens when a fixed layout is
      applied to the table, with only some columns having a width declared.</em></Shw::Text::Body>

  <Hds::Table
    @model={{this.model.manycolumns}}
    @columns={{array
      (hash key="first_name" label="First Name" isSortable=true width="200px")
      (hash key="last_name" label="Last Name" isSortable=true width="200px")
      (hash key="age" label="Age" isSortable=true align="right")
      (hash key="email" label="Email")
      (hash key="bio" label="Biography" width="350px")
    }}
    @isFixedLayout={{true}}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.first_name}}</B.Td>
        <B.Td>{{B.data.last_name}}</B.Td>
        <B.Td @align="right">{{B.data.age}}</B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.bio}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4>Width in <code>%</code> + Table-layout = 'auto'</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.manycolumns}}
    @columns={{array
      (hash key="first_name" label="First Name" isSortable=true width="20%")
      (hash key="last_name" label="Last Name" isSortable=true width="20%")
      (hash key="age" label="Age" isSortable=true align="right")
      (hash key="email" label="Email")
      (hash key="bio" label="Biography" width="35%")
    }}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.first_name}}</B.Td>
        <B.Td>{{B.data.last_name}}</B.Td>
        <B.Td @align="right">{{B.data.age}}</B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.bio}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Text::H4>Width in <code>%</code> + Table-layout = 'fixed'</Shw::Text::H4>

  <Hds::Table
    @model={{this.model.manycolumns}}
    @columns={{array
      (hash key="first_name" label="First Name" isSortable=true width="20%")
      (hash key="last_name" label="Last Name" isSortable=true width="20%")
      (hash key="age" label="Age" isSortable=true align="right")
      (hash key="email" label="Email")
      (hash key="bio" label="Biography" width="35%")
    }}
    @isFixedLayout={{true}}
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>{{B.data.first_name}}</B.Td>
        <B.Td>{{B.data.last_name}}</B.Td>
        <B.Td @align="right">{{B.data.age}}</B.Td>
        <B.Td>{{B.data.email}}</B.Td>
        <B.Td>{{B.data.bio}}</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Large table with overflowing container</Shw::Text::H3>

  <Shw::Text::H4>Container with overflow = 'auto' + Table-layout = 'auto' + Columns width (in
    <code>px</code>)</Shw::Text::H4>

  <div class="shw-component-table-scrollable-wrapper">
    <Hds::Table
      @model={{this.model.manycolumns}}
      @columns={{array
        (hash key="first_name" label="First Name" isSortable=true width="200px")
        (hash key="last_name" label="Last Name" isSortable=true width="200px")
        (hash key="age" label="Age" isSortable=true align="right")
        (hash key="email" label="Email" isSortable=true)
        (hash key="phone" label="Phone" isSortable=true)
        (hash key="bio" label="Biography" width="350px")
        (hash key="education" label="Education Degree" isSortable=true)
        (hash key="occupation" label="Occupation" isSortable=true)
      }}
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.first_name}}</B.Td>
          <B.Td>{{B.data.last_name}}</B.Td>
          <B.Td @align="right">{{B.data.age}}</B.Td>
          <B.Td>{{B.data.email}}</B.Td>
          <B.Td>{{B.data.phone}}</B.Td>
          <B.Td>{{B.data.bio}}</B.Td>
          <B.Td>{{B.data.education}}</B.Td>
          <B.Td>{{B.data.occupation}}</B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>
  </div>

  <Shw::Text::H4>Container with overflow = 'auto' + Sub-container with 'max-content' width + Table-layout = 'auto' +
    Columns width (in
    <code>px</code>)</Shw::Text::H4>

  <div class="shw-component-table-scrollable-wrapper">
    <div class="shw-component-table-max-content-width">
      <Hds::Table
        @model={{this.model.manycolumns}}
        @columns={{array
          (hash key="first_name" label="First Name" isSortable=true width="200px")
          (hash key="last_name" label="Last Name" isSortable=true width="200px")
          (hash key="age" label="Age" isSortable=true align="right")
          (hash key="email" label="Email" isSortable=true)
          (hash key="phone" label="Phone" isSortable=true)
          (hash key="bio" label="Biography" width="350px")
          (hash key="education" label="Education Degree" isSortable=true)
          (hash key="occupation" label="Occupation" isSortable=true)
        }}
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>{{B.data.first_name}}</B.Td>
            <B.Td>{{B.data.last_name}}</B.Td>
            <B.Td @align="right">{{B.data.age}}</B.Td>
            <B.Td>{{B.data.email}}</B.Td>
            <B.Td>{{B.data.phone}}</B.Td>
            <B.Td>{{B.data.bio}}</B.Td>
            <B.Td>{{B.data.education}}</B.Td>
            <B.Td>{{B.data.occupation}}</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </div>
  </div>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Table with <code>colspan/rowspan</code> attributes</Shw::Text::H3>

  <Hds::Table>
    <:head as |H|>
      <H.Tr>
        <H.Th>Lorem</H.Th>
        <H.Th>Ipsum</H.Th>
        <H.Th>Dolor</H.Th>
        <H.Th>Sit amet</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      <B.Tr>
        <B.Th rowspan="3">Scope Row with rowspan="3"</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Td colspan="2">Cell Content with colspan="2"</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Td colspan="3">Cell Content with colspan="3"</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Th rowspan="2">Scope Row with rowspan="2"</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td rowspan="3">Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Th>Scope Row</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
      <B.Tr>
        <B.Th>Scope Row</B.Th>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
        <B.Td>Cell Content</B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>

  <Shw::Divider />

  <Shw::Text::H2>Base elements</Shw::Text::H2>

  <Shw::Text::H3>ThSort</Shw::Text::H3>

  <Shw::Flex @direction="column" @label="Interactive states + Sorting order" as |SF|>
    {{#each @model.STATES as |state|}}
      <SF.Item @grow={{true}}>
        <Hds::Table>
          <:head>
            <Hds::Table::Tr>
              <Hds::Table::ThSort
                mock-state-value={{state}}
                mock-state-selector="button"
                @tooltip="Here is more information"
              >
                Unsorted ({{state}})
              </Hds::Table::ThSort>
              <Hds::Table::ThSort @sortOrder="asc" mock-state-value={{state}} mock-state-selector="button">
                Ascending
              </Hds::Table::ThSort>
              <Hds::Table::ThSort @sortOrder="desc" mock-state-value={{state}} mock-state-selector="button">
                Descending
              </Hds::Table::ThSort>
            </Hds::Table::Tr>
          </:head>
          <:body as |B|>
            <B.Tr>
              <B.Td colspan="3" />
            </B.Tr>
          </:body>
        </Hds::Table>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Flex @label="Alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <Hds::Table>
        <:head>
          <Hds::Table::Tr>
            <Hds::Table::ThSort>Left</Hds::Table::ThSort>
            <Hds::Table::ThSort @tooltip="Here is more information">Left</Hds::Table::ThSort>
            <Hds::Table::ThSort @align="center">Center</Hds::Table::ThSort>
            <Hds::Table::ThSort @align="center" @tooltip="Here is more information">Center</Hds::Table::ThSort>
            <Hds::Table::ThSort @align="right">Right</Hds::Table::ThSort>
            <Hds::Table::ThSort @align="right" @tooltip="Here is more information">Right</Hds::Table::ThSort>
          </Hds::Table::Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Td colspan="6" />
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" @label="Multi-line" as |SF|>
    <SF.Item {{style width="600px"}}>
      <Hds::Table>
        <:head>
          <Hds::Table::Tr>
            <Hds::Table::ThSort>
              This is a very long text that should go on two lines
            </Hds::Table::ThSort>
            <Hds::Table::ThSort @tooltip="Here is more information">
              This is a very long text that should go on two lines
            </Hds::Table::ThSort>
          </Hds::Table::Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Td colspan="2" />
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Th</Shw::Text::H3>

  <Shw::Flex @label="Interactive states" as |SF|>
    <SF.Item @grow={{true}}>
      <Hds::Table>
        <:head>
          <Hds::Table::Tr>
            {{#each @model.STATES as |state|}}
              <Hds::Table::Th
                @tooltip="Here is more information"
                mock-state-value={{state}}
                mock-state-selector="button"
              >
                {{capitalize state}}
              </Hds::Table::Th>
            {{/each}}
          </Hds::Table::Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Td colspan="4" />
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <Hds::Table>
        <:head>
          <Hds::Table::Tr>
            <Hds::Table::Th>Left</Hds::Table::Th>
            <Hds::Table::Th @tooltip="Here is more information">Left</Hds::Table::Th>
            <Hds::Table::Th @align="center">Center</Hds::Table::Th>
            <Hds::Table::Th @align="center" @tooltip="Here is more information">Center</Hds::Table::Th>
            <Hds::Table::Th @align="right">Right</Hds::Table::Th>
            <Hds::Table::Th @align="right" @tooltip="Here is more information">Right</Hds::Table::Th>
          </Hds::Table::Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Td colspan="6" />
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Th with custom width" @grow={{true}}>
      <Hds::Table>
        <:head as |H|>
          <H.Tr>
            <H.Th>Auto</H.Th>
            <H.Th>Auto</H.Th>
            <H.Th>Auto</H.Th>
            <H.Th @width="100px">Custom</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Th>Scope Row</B.Th>
            <B.Td>Cell Content</B.Td>
            <B.Td>Cell Content</B.Td>
            <B.Td>100px</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
    <SF.Item @label="Th with visually hidden text" @grow={{true}}>
      <Hds::Table>
        <:head as |H|>
          <H.Tr>
            <H.Th>Lorem</H.Th>
            <H.Th>Ipsum</H.Th>
            <H.Th>Dolor</H.Th>
            <H.Th @isVisuallyHidden={{true}}>Sit amet</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Th>Scope Row</B.Th>
            <B.Td>Cell Content</B.Td>
            <B.Td>Cell Content</B.Td>
            <B.Td>Cell Content</B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th @isVisuallyHidden={{true}}>Scope Row</B.Th>
            <B.Td>Cell Content</B.Td>
            <B.Td>Cell Content</B.Td>
            <B.Td>Cell Content</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" @label="Multi-line" as |SF|>
    <SF.Item {{style width="600px"}}>
      <Hds::Table>
        <:head>
          <Hds::Table::Tr>
            <Hds::Table::Th>
              This is a very long text that should go on two lines
            </Hds::Table::Th>
            <Hds::Table::Th @tooltip="Here is more information">
              This is a very long text that should go on two lines
            </Hds::Table::Th>
          </Hds::Table::Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Td colspan="2" />
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>ThSelectable</Shw::Text::H3>

  <Shw::Flex @direction="row" @gap="2rem" as |SF|>
    {{#let (array false true) as |booleans|}}
      {{#each booleans as |bool|}}
        <SF.Item @label={{if bool "Selected" "Deselected"}}>
          <Hds::Table>
            <:head as |H|>
              <H.Tr>
                <Hds::Table::ThSelectable @selectionScope="col" @isSelected={{bool}} />
                <H.Th>Lorem</H.Th>
              </H.Tr>
            </:head>
            <:body as |B|>
              <B.Tr>
                <Hds::Table::ThSelectable @selectionScope="row" @isSelected={{bool}} />
                <B.Td>Ipsum</B.Td>
              </B.Tr>
            </:body>
          </Hds::Table>
          <br />
          <Hds::Table>
            <:head as |H|>
              <H.Tr>
                <Hds::Table::ThSelectable
                  @selectionScope="col"
                  @isSelected={{bool}}
                  mock-state-value="focus"
                  mock-state-selector="input"
                />
                <H.Th>Lorem</H.Th>
              </H.Tr>
            </:head>
            <:body as |B|>
              <B.Tr>
                <Hds::Table::ThSelectable
                  @selectionScope="row"
                  @isSelected={{bool}}
                  mock-state-value="focus"
                  mock-state-selector="input"
                />
                <B.Td>Ipsum</B.Td>
              </B.Tr>
            </:body>
          </Hds::Table>
        </SF.Item>
      {{/each}}
    {{/let}}
    <SF.Item @label="Indeterminate">
      <Hds::Table>
        <:head as |H|>
          <H.Tr>
            <Hds::Table::ThSelectable
              @selectionScope="col"
              @isSelected={{true}}
              @didInsert={{this.mockIndeterminateState}}
            />
            <H.Th>Lorem</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <Hds::Table::ThSelectable
              @selectionScope="row"
              @isSelected={{false}}
              @didInsert={{this.mockIndeterminateState}}
            />
            <B.Td>Ipsum</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
      <br />
      <Hds::Table>
        <:head as |H|>
          <H.Tr>
            <Hds::Table::ThSelectable
              @selectionScope="col"
              @isSelected={{true}}
              @didInsert={{this.mockIndeterminateState}}
              mock-state-value="focus"
              mock-state-selector="input"
            />
            <H.Th>Lorem</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <Hds::Table::ThSelectable
              @selectionScope="row"
              @isSelected={{false}}
              @didInsert={{this.mockIndeterminateState}}
              mock-state-value="focus"
              mock-state-selector="input"
            />
            <B.Td>Ipsum</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Td</Shw::Text::H3>

  <Shw::Flex @label="Horizontal alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <Hds::Table>
        <:head as |H|>
          <H.Tr>
            <H.Th @align="left">Entity</H.Th>
            <H.Th @align="left">Left</H.Th>
            <H.Th @align="center">Center</H.Th>
            <H.Th @align="right">Right</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr>
            <B.Th>Text</B.Th>
            <B.Td @align="left">Text is left aligned</B.Td>
            <B.Td @align="center">Text is center aligned</B.Td>
            <B.Td @align="right">Text is right aligned</B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th>Icon</B.Th>
            <B.Td @align="left"><FlightIcon @name="film" /></B.Td>
            <B.Td @align="center"><FlightIcon @name="film" /></B.Td>
            <B.Td @align="right"><FlightIcon @name="film" /></B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th>Icon + Inline text</B.Th>
            <B.Td @align="left"><FlightIcon @name="film" /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td @align="center"><FlightIcon @name="film" /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td @align="right"><FlightIcon @name="film" /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th>Badge</B.Th>
            <B.Td @align="left"><Hds::Badge @text="Badge" /></B.Td>
            <B.Td @align="center"><Hds::Badge @text="Badge" /></B.Td>
            <B.Td @align="right"><Hds::Badge @text="Badge" /></B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th>Button (with inline container)</B.Th>
            <B.Td @align="left">
              <div {{style display="inline-block"}}>
                <Hds::Button @size="small" @icon="plus" @text="Lorem ipsum" @color="secondary" />
              </div>
            </B.Td>
            <B.Td @align="center">
              <div {{style display="inline-block"}}>
                <Hds::Button @size="small" @icon="plus" @text="Lorem ipsum" @color="secondary" />
              </div>
            </B.Td>
            <B.Td @align="right">
              <div {{style display="inline-block"}}>
                <Hds::Button @size="small" @icon="plus" @text="Lorem ipsum" @color="secondary" />
              </div>
            </B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th>Dropdown (with <code>@isInline</code>)</B.Th>
            <B.Td @align="left">
              <Hds::Dropdown @isInline={{true}} @listPosition="bottom-right" as |dd|>
                <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <dd.Interactive @route="components.table" @text="Dropdown" />
              </Hds::Dropdown>
            </B.Td>
            <B.Td @align="center">
              <Hds::Dropdown @isInline={{true}} as |dd|>
                <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <dd.Interactive @route="components.table" @text="Dropdown" />
              </Hds::Dropdown>
            </B.Td>
            <B.Td @align="right">
              <Hds::Dropdown @isInline={{true}} as |dd|>
                <dd.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <dd.Interactive @route="components.table" @text="Dropdown" />
              </Hds::Dropdown>
            </B.Td>
          </B.Tr>
          <B.Tr>
            <B.Th>Tooltip(Button)</B.Th>
            <B.Td @align="left">
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
            <B.Td @align="center">
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
            <B.Td @align="right">
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Vertical alignment" as |SF|>
    <SF.Item @grow={{true}}>
      <Hds::Table @valign="top" @isSelectable={{true}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Spacer</H.Th>
            <H.Th>Text</H.Th>
            <H.Th>Icon</H.Th>
            <H.Th>Icon + Text</H.Th>
            <H.Th>Icon + Text (with flex container)</H.Th>
            <H.Th>Badge</H.Th>
            <H.Th>Dropdown</H.Th>
            <H.Th>Tooltip(Button)</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <B.Th>Top (default)<Shw::Placeholder @height="50" /></B.Th>
            <B.Td>Text is top aligned</B.Td>
            <B.Td><FlightIcon @name="film" /></B.Td>
            <B.Td><FlightIcon @name="film" /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td>
              <div {{style display="flex" gap="8px" align-items="center"}}>
                <FlightIcon @name="film" />
                <span>Text in a <code>&lt;span&gt;</code></span>
              </div>
            </B.Td>
            <B.Td><Hds::Badge @text="Badge" /></B.Td>
            <B.Td>
              <Hds::Dropdown as |D|>
                <D.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <D.Interactive @route="components.table" @text="Dropdown" />
              </Hds::Dropdown>
            </B.Td>
            <B.Td>
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
    <SF.Item @grow={{true}}>
      <Hds::Table @valign="middle" @isSelectable={{true}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Spacer</H.Th>
            <H.Th>Text</H.Th>
            <H.Th>Icon</H.Th>
            <H.Th>Icon + Text</H.Th>
            <H.Th>Icon + Text (with flex container)</H.Th>
            <H.Th>Badge</H.Th>
            <H.Th>Dropdown</H.Th>
            <H.Th>Tooltip(Button)</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <B.Th><Shw::Placeholder @height="25" />Middle<Shw::Placeholder @height="25" /></B.Th>
            <B.Td>Text is middle aligned</B.Td>
            <B.Td><FlightIcon @name="film" /></B.Td>
            <B.Td><FlightIcon @name="film" /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td>
              <div {{style display="flex" gap="8px" align-items="center"}}>
                <FlightIcon @name="film" />
                <span>Text in a <code>&lt;span&gt;</code></span>
              </div>
            </B.Td>
            <B.Td><Hds::Badge @text="Badge" /></B.Td>
            <B.Td>
              <Hds::Dropdown as |D|>
                <D.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <D.Interactive @route="components.table" @text="Dropdown" />
              </Hds::Dropdown>
            </B.Td>
            <B.Td>
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
    <SF.Item @grow={{true}}>
      <Hds::Table @valign="baseline" @isSelectable={{true}}>
        <:head as |H|>
          <H.Tr>
            <H.Th>Spacer</H.Th>
            <H.Th>Text</H.Th>
            <H.Th>Icon</H.Th>
            <H.Th>Icon + Text</H.Th>
            <H.Th>Icon + Text (with flex container)</H.Th>
            <H.Th>Badge</H.Th>
            <H.Th>Dropdown</H.Th>
            <H.Th>Tooltip(Button)</H.Th>
          </H.Tr>
        </:head>
        <:body as |B|>
          <B.Tr @selectionKey="row">
            <B.Th><Shw::Placeholder @height="25" />Baseline<Shw::Placeholder @height="25" /></B.Th>
            <B.Td>Text is middle aligned</B.Td>
            <B.Td><FlightIcon @name="film" /></B.Td>
            <B.Td><FlightIcon @name="film" /> <span>Text in a <code>&lt;span&gt;</code></span></B.Td>
            <B.Td>
              <div {{style display="flex" gap="8px" align-items="center"}}>
                <FlightIcon @name="film" />
                <span>Text in a <code>&lt;span&gt;</code></span>
              </div>
            </B.Td>
            <B.Td><Hds::Badge @text="Badge" /></B.Td>
            <B.Td>
              <Hds::Dropdown as |D|>
                <D.ToggleIcon @icon="more-horizontal" @text="Overflow Options" @hasChevron={{false}} @size="small" />
                <D.Interactive @route="components.table" @text="Dropdown" />
              </Hds::Dropdown>
            </B.Td>
            <B.Td>
              <Hds::TooltipButton @text="Hello!">
                December 15, 2022,<br />16:40:09 PM
              </Hds::TooltipButton>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>ThButtonTooltip</Shw::Text::H3>

  <Shw::Grid @label="Interactive states" @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label={{capitalize state}}>
        <Hds::Table::ThButtonTooltip @tooltip="Here is more information" mock-state-value={{state}} />
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>ThButtonSort</Shw::Text::H3>

  <Shw::Grid @label="Interactive states + Sorting order" @columns={{4}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label={{capitalize state}}>
        <Shw::Flex @direction="row" as |SF|>
          <SF.Item>
            <Hds::Table::ThButtonSort mock-state-value={{state}} />
          </SF.Item>
          <SF.Item>
            <Hds::Table::ThButtonSort @sortOrder="asc" mock-state-value={{state}} />
          </SF.Item>
          <SF.Item>
            <Hds::Table::ThButtonSort @sortOrder="desc" mock-state-value={{state}} />
          </SF.Item>
        </Shw::Flex>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

</section>