{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Tag component"}}

<Shw::Text::H1>Tag</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item>
      <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="My text tag" />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="My link tag" @onDismiss={{this.noop}} @route="components.tag" />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="My link tag" @route="components.tag" />
    </SF.Item>
  </Shw::Flex>
  <Shw::Flex as |SF|>
    <SF.Item>
      <p>This is a paragraph: <Hds::Tag @text="My text tag" /></p>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>States</Shw::Text::H2>

  <Shw::Grid @columns={{4}} {{style width="max-content"}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label={{capitalize state}}>
        <Hds::Tag @text="My tag" @onDismiss={{this.noop}} mock-state-value={{state}} mock-state-selector="button" />
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Text::H2>Colors</Shw::Text::H2>

  {{#each @model.COLORS as |color|}}
    <Shw::Text::H3>{{capitalize color}}</Shw::Text::H3>
    <Shw::Grid @columns={{4}} {{style width="max-content"}} as |SG|>
      {{#each @model.STATES as |state|}}
        <SG.Item @label={{capitalize state}}>
          <Shw::Flex @direction="column" as |SF|>
            <SF.Item>
              <Hds::Tag
                @color={{color}}
                @text="My link tag"
                @onDismiss={{this.noop}}
                @route="components.tag"
                mock-state-value={{state}}
                mock-state-selector="button"
              />
            </SF.Item>
            <SF.Item>
              <Hds::Tag
                @color={{color}}
                @text="My link tag"
                @onDismiss={{this.noop}}
                @route="components.tag"
                mock-state-value={{state}}
                mock-state-selector="a"
              />
            </SF.Item>
            <SF.Item>
              <Hds::Tag
                @color={{color}}
                @text="My link tag"
                @route="components.tag"
                mock-state-value={{state}}
                mock-state-selector="a"
              />
            </SF.Item>
          </Shw::Flex>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
  {{/each}}

  <Shw::Text::H2>Containers</Shw::Text::H2>

  <Shw::Grid @columns={{3}} as |SG|>
    {{#let (array "block" "flex" "grid") as |displays|}}
      {{#each displays as |display|}}
        <SG.Item>
          <Shw::Label>Parent with <code>display: {{display}}</code></Shw::Label>
          <div class="shw-component-tag-group" {{style display=display flex-wrap="wrap"}}>
            <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="My slightly longer tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
          </div>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

</section>