{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Time Component"}}

<Shw::Text::H1>Time</Shw::Text::H1>

{{! Time component does not include styling so we do not test in Percy at this time }}

<section>
  <Shw::Text::H2>Has tooltip</Shw::Text::H2>

  <Shw::Flex @gap="2rem" as |SF|>
    <SF.Item @label="With tooltip (default)">
      <Hds::Time @date="05 September 2018 14:48" />
    </SF.Item>

    <SF.Item @label="Without tooltip">
      <Hds::Time @date="05 September 2018 14:48" @hasTooltip={{false}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Display</Shw::Text::H2>

  <p>Note: “examples” are temporary</p>

  <Shw::Flex @gap="4rem 9rem" as |SF|>
    <SF.Item @label="Default with display unset">
      <Hds::Time @date="05 September 2018 14:07:32" @isOpen={{true}} />
    </SF.Item>

    {{#each @model.DISPLAYS as |display|}}
      <SF.Item @label={{display}}>
        <Hds::Time @date="05 September 2018 14:07:32" @display={{display}} @isOpen={{true}} />
      </SF.Item>
    {{/each}}
  </Shw::Flex>
</section>

<Shw::Divider {{style marginTop="6rem"}} @level="2" />

<section>
  <Shw::Text::H3>Near time examples using “relative” display type</Shw::Text::H3>

  <Shw::Flex @gap="2rem" as |SF|>
    {{#each this.nearTimeDates as |date|}}
      <SF.Item @label={{date}}>
        <Hds::Time @date={{date}} @display="relative" />
      </SF.Item>
    {{/each}}
  </Shw::Flex>
</section>

<Shw::Divider />

<section>
  <Shw::Text::H2>Date range</Shw::Text::H2>

  <Shw::Flex @gap="4rem 9rem" {{style marginBottom="80px"}} as |SF|>
    <SF.Item @label="With tooltip & same year range">
      <Hds::Time @startDate="20 September 2024" @endDate="25 September 2024" @isOpen={{true}} />
    </SF.Item>

    <SF.Item @label="With different year range">
      <Hds::Time @startDate="8 November 2024" @endDate="20 January 2025" @hasTooltip={{false}} />
    </SF.Item>
  </Shw::Flex>
</section>

<Shw::Divider />

<section>
  <Shw::Text::H2>Used in context</Shw::Text::H2>

  <Shw::Flex @gap="2rem" @direction="column" as |SF|>
    <SF.Item @label="Single date with tooltip">
      <Hds::Text::Body @tag="p">
        HashiConf 2024 ended
        <Hds::Time @date="16 October 2024" @display="relative" />.
      </Hds::Text::Body>
    </SF.Item>

    <SF.Item @label="Single date without tooltip">
      <Hds::Text::Body @tag="p">
        HashiConf 2024 ended
        <Hds::Time @date="16 October 2024" @display="relative" @hasTooltip={{false}} />.
      </Hds::Text::Body>
    </SF.Item>

    <SF.Item @label="Date range with tooltip">
      <Hds::Text::Body @tag="p">
        HashiConf is from
        <Hds::Time @startDate="14 October 2024" @endDate="16 October 2024" />.
      </Hds::Text::Body>
    </SF.Item>

    <SF.Item @label="Date range without tooltip">
      <Hds::Text::Body @tag="p">
        HashiConf is from
        <Hds::Time @startDate="14 October 2024" @endDate="16 October 2024" @hasTooltip={{false}} />.
      </Hds::Text::Body>
    </SF.Item>
  </Shw::Flex>
</section>