{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Time Component"}}

<Shw::Text::H1>Time</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Options</Shw::Text::H2>

  <Shw::Text::H3>Has tooltip</Shw::Text::H3>

  <Shw::Flex @gap="4rem 9rem" {{style marginBottom="80px"}} as |SF|>
    <SF.Item @label="With tooltip (default)">
      <Hds::Time @date="05 September 2018 14:48" @isOpen={{true}} />
    </SF.Item>

    <SF.Item @label="Without tooltip">
      <Hds::Time @date="05 September 2018 14:48" @hasTooltip={{false}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>Display</Shw::Text::H3>

  <p>Note: “examples” are temporary</p>

  <Shw::Flex @gap="4rem 9rem" as |SF|>
    <SF.Item @label="Default with display unset">
      <Hds::Time @date="05 September 2018 14:07:32" @isOpen={{true}} />
    </SF.Item>

    {{#each @model.DISPLAYS as |display|}}
      <SF.Item @label={{display}}>
        {{#if (eq display "friendly-relative")}}
          (Example: 'Sep 5, 2018 (30 minutes ago)')
        {{else if (eq display "friendly-local")}}
          (Example: 'Sep 5, 2018, 4:07:32 pm')
        {{else if (eq display "friendly-only")}}
          (Example: 'Sep 5, 2018')
        {{else if (eq display "relative")}}
          (Example: 'about 2 hours ago')
        {{else if (eq display "utc")}}
          (Example: '2018-09-05T23:15:17345Z')
        {{/if}}
        <br />
        <Hds::Time @date="05 September 2018 14:07:32" @display={{display}} @isOpen={{true}} />
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Divider {{style marginTop="6rem"}} @level="2" />

  <Shw::Text::H4>Near time examples using “relative” display type</Shw::Text::H4>

  <Shw::Flex @gap="2rem" as |SF|>
    {{#each this.nearTimeDates as |date|}}
      <SF.Item @label={{date}}>
        <Hds::Time @date={{date}} @display="relative" />
      </SF.Item>
    {{/each}}
  </Shw::Flex>
</section>