{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Complex Form Layout - Frameless"}}

<Mock::App>
  <:main>

    <Shw::Flex class="shw-component-form-layout-frameless-demo-complex-top-toolbar" as |SF|>
      <SF.Item>
        <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
          {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
        </button>
      </SF.Item>
      <SF.Item>
        <label>
          👉 Choose custom width applied to the form elements:
          <select {{on "change" this.setCustomWidthMode}}>
            {{#each-in this.customWidthOptions as |customWidthOptionValue customWidthOptionText|}}
              <option value={{customWidthOptionValue}}>{{customWidthOptionText}}</option>
            {{/each-in}}
          </select>
        </label>
      </SF.Item>
    </Shw::Flex>

    <Shw::Label>
      {{#if (eq this.customWidthMode "mixed")}}
        Some content is full width
      {{else if (eq this.customWidthMode "fullwidth")}}
        All content is full width
      {{else if (eq this.customWidthMode "form")}}
        Custom width set via local CSS class at form level
      {{else if (eq this.customWidthMode "header+section")}}
        Custom width set via local CSS class only at section level (not at header/separator)
      {{else if (eq this.customWidthMode "section")}}
        Custom width set via local CSS class only at section level (not at header/separator)
        {{! TODO! }}
        {{!-- {{else if (eq this.customWidthMode "field")}}
        Custom width set directly on field --}}
      {{/if}}
      [excluded: RadioCard]
    </Shw::Label>

    <Hds::Form
      class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}
        {{if (eq this.customWidthMode 'form') 'shw-component-form-layout-custom-max-width'}}"
    >

      {{! TODO! add handling of custom width here! }}
      <Mock::App::Main::GenericForm::Partials::AddUser
        @isHeaderFullWidth={{(if (or (eq this.customWidthMode "mixed") (eq this.customWidthMode "fullwidth")) true)}}
        @isSectionFullWidth={{(if (eq this.customWidthMode "fullwidth") true)}}
        @extraHeaderClass={{if (eq this.customWidthMode "header+section") "shw-component-form-layout-custom-max-width"}}
        @extraSectionClass={{if
          (or
            (eq this.customWidthMode "header+section")
            (eq this.customWidthMode "section")
            (eq this.customWidthMode "section+field")
          )
          "shw-component-form-layout-custom-max-width"
        }}
      />

      <Hds::Form::Separator @isFullWidth={{(if (eq this.customWidthMode "fullwidth") true)}} />

      <Mock::App::Main::GenericForm::Partials::AddPolicy
        @isHeaderFullWidth={{(if (eq this.customWidthMode "fullwidth") true)}}
        @isSectionFullWidth={{(if (eq this.customWidthMode "fullwidth") true)}}
        @extraHeaderClass={{if (eq this.customWidthMode "header+section") "shw-component-form-layout-custom-max-width"}}
        @extraSectionClass={{if
          (or
            (eq this.customWidthMode "header+section")
            (eq this.customWidthMode "section")
            (eq this.customWidthMode "section+field")
          )
          "shw-component-form-layout-custom-max-width"
        }}
      />

      <Mock::App::Main::GenericForm::Partials::Actions
        @extraText="Only visible to users with permission to create and manage policies at organization or project level."
      />
    </Hds::Form>

  </:main>
</Mock::App>