<div class={{this.classNames}}>
  <ul class="doc-wcag-list__ul">
    {{#each this.filteredCriteria as |criterion|}}
        <li class="doc-wcag-list__li">
          <a href={{criterion.url}} class="doc-wcag-list__link">
          {{criterion.number}} {{criterion.title}}:</a>
          {{criterion.description}}
        </li>
    {{/each}}
  </ul>
</div>