<div class={{this.classNames}}>
  <ul class="doc-wcag-list__list">
    {{#each this.filteredCriteria as |criterion|}}
      <li class="doc-wcag-list__listitem">
        <a href={{criterion.url}} class="doc-wcag-listitem__link doc-link-generic">
          {{criterion.number}}
          {{criterion.title}}:</a>
        <br />
        {{criterion.description}}
      </li>
    {{/each}}
  </ul>
</div>