{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: MPL-2.0
}}

<div class={{this.classNames}}>
  <ul class="doc-list-generic doc-text-body">
    {{#each this.filteredCriteria as |criterion|}}
      <li>
        <a href={{criterion.url}} class="doc-link-generic">
          {{criterion.number}}
          {{criterion.title}}:</a>
        <br />
        {{criterion.description}}
      </li>
    {{/each}}
  </ul>
</div>