{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{#if (eq this.tag "h1")}}
  <h1 class={{this.classNames}} ...attributes>{{yield}}</h1>
{{else if (eq this.tag "h2")}}
  <h2 class={{this.classNames}} ...attributes>{{yield}}</h2>
{{else if (eq this.tag "h3")}}
  <h3 class={{this.classNames}} ...attributes>{{yield}}</h3>
{{else if (eq this.tag "h4")}}
  <h4 class={{this.classNames}} ...attributes>{{yield}}</h4>
{{else if (eq this.tag "h5")}}
  <h5 class={{this.classNames}} ...attributes>{{yield}}</h5>
{{else if (eq this.tag "h6")}}
  <h6 class={{this.classNames}} ...attributes>{{yield}}</h6>
{{else if (eq this.tag "p")}}
  <p class={{this.classNames}} ...attributes>{{yield}}</p>
{{else if (eq this.tag "span")}}
  <span class={{this.classNames}} ...attributes>{{yield}}</span>
{{else}}
  <div class={{this.classNames}} ...attributes>{{yield}}</div>
{{/if}}