{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Stepper Component"}}

<Shw::Text::H1>Stepper::List</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Status</Shw::Text::H2>

  <Shw::Grid @columns={{2}} as |SG|>
    <SG.Item @label="Default">
      <Hds::Stepper::List @titleTag="h3" {{style width="200px"}} as |S|>
        <S.Step @status="complete">
          <:title>Title</:title>
          <:description>Description</:description>
          <:content>
            <Shw::Placeholder @text="Step 1: Generic content" @height="20" />
          </:content>
        </S.Step>
        <S.Step @status="complete">
          <:title>Title</:title>
          <:description>Description</:description>
          <:content>
            <Shw::Placeholder @text="Step 2: Generic content" @height="20" />
          </:content>
        </S.Step>
        <S.Step @status="progress">
          <:title>Title</:title>
          <:description>Description</:description>
          <:content>
            <Shw::Placeholder @text="Step 3: Generic content" @height="20" />
          </:content>
        </S.Step>
        <S.Step @status="incomplete">
          <:title>Title</:title>
        </S.Step>
      </Hds::Stepper::List>
    </SG.Item>
    <SG.Item @label="All complete">
      <Hds::Stepper::List @titleTag="h3" {{style width="200px"}} as |S|>
        <S.Step @status="complete">
          <:title>Title</:title>
          <:description>Description</:description>
          <:content>
            <Shw::Placeholder @text="Step 1: Generic content" @height="20" />
          </:content>
        </S.Step>
        <S.Step @status="complete">
          <:title>Title</:title>
          <:description>Description</:description>
          <:content>
            <Shw::Placeholder @text="Step 2: Generic content" @height="20" />
          </:content>
        </S.Step>
        <S.Step @status="complete">
          <:title>Title</:title>
          <:description>Description</:description>
          <:content>
            <Shw::Placeholder @text="Step 3: Generic content" @height="20" />
          </:content>
        </S.Step>
        <S.Step @status="complete">
          <:title>Title</:title>
        </S.Step>
      </Hds::Stepper::List>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>Base elements</Shw::Text::H2>

  <Shw::Text::H3>List::Step</Shw::Text::H3>

  <Shw::Text::H4>Status</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    {{#each @model.STEP_STATUSES as |status|}}
      <SG.Item @label="{{capitalize status}}">
        <Hds::Stepper::List as |S|>
          <S.Step @status={{status}}>
            <:title>Title</:title>
            <:description>Description</:description>
            <:content>
              <Shw::Placeholder @text="Generic content" @height="20" />
            </:content>
          </S.Step>
        </Hds::Stepper::List>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>Example implementations</Shw::Text::H2>

  <Shw::Grid @columns={{2}} as |SG|>
    <SG.Item @label="Default">
      <Hds::Stepper::List @titleTag="h3" {{style width="200px"}} as |S|>
        {{#each this.steps_demo1 as |step|}}
          <S.Step @status={{step.status}}>
            <:title>{{step.title}}</:title>
            <:description>{{step.description}}</:description>
            <:content>
              <Shw::Placeholder @text="Generic content" @height="20" />
            </:content>
          </S.Step>
        {{/each}}
      </Hds::Stepper::List>
      <Hds::ButtonSet class="shw-component-stepper-list-sample-form-btn">
        <Hds::Button
          type="button"
          @text="Previous"
          @color="secondary"
          @isInline={{true}}
          {{on "click" this.onPreviousClickDemo1}}
        />
        <Hds::Button type="button" @text="Next" @isInline={{true}} {{on "click" this.onNextClickDemo1}} />
      </Hds::ButtonSet>
    </SG.Item>
    <SG.Item @label="Processing state">
      <Hds::Stepper::List @titleTag="h3" {{style width="200px"}} as |S|>
        {{#each this.steps_demo2 as |step|}}
          <S.Step @status={{step.status}}>
            <:title>{{step.title}}</:title>
            <:description>{{step.description}}</:description>
            <:content>
              <Shw::Placeholder @text="Generic content" @height="20" />
            </:content>
          </S.Step>
        {{/each}}
      </Hds::Stepper::List>
      {{#if (eq this.currentStep_demo2 1)}}
        <Hds::ButtonSet class="shw-component-stepper-list-sample-form-btn">
          <Hds::Button
            type="button"
            @text="Previous"
            @color="secondary"
            @isInline={{true}}
            {{on "click" this.onPreviousClickDemo2}}
          />
          <Hds::Button type="button" @text="Submit" @isInline={{true}} {{on "click" this.onProcessingClickDemo2}} />
        </Hds::ButtonSet>
      {{else}}
        <Hds::ButtonSet class="shw-component-stepper-list-sample-form-btn">
          <Hds::Button
            type="button"
            @text="Previous"
            @color="secondary"
            @isInline={{true}}
            {{on "click" this.onPreviousClickDemo2}}
          />
          <Hds::Button type="button" @text="Next" @isInline={{true}} {{on "click" this.onNextClickDemo2}} />
        </Hds::ButtonSet>
      {{/if}}
    </SG.Item>
  </Shw::Grid>
</section>