{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<CopyButton
  class={{this.classNames}}
  @text={{this.textToCopy}}
  @onSuccess={{this.onSuccess}}
  @onError={{this.onError}}
  ...attributes
>
  {{#if this.textToShow}}
    <span class="doc-copy-button__visible-value">{{this.textToShow}}</span>
  {{/if}}
  {{#if this.label}}
    <span id="copy-label-{{@id}}" class="doc-copy-button__label">{{this.label}}</span>
  {{/if}}
  <Hds::Icon class="doc-copy-button__icon" @name={{this.iconName}} @stretched={{true}} />
</CopyButton>