{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "MenuPrimitive"}}

<Shw::Text::H1>MenuPrimitive</Shw::Text::H1>

<section data-test-percy>

  <Shw::Flex as |SF|>
    <SF.Label>With generic HTML <code>&lt;button&gt;</code> and generic content (placeholder)</SF.Label>
    <SF.Item @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive>
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>
              Click me
              <FlightIcon @name={{if t.isOpen "chevron-up" "chevron-down"}} />
            </button>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="some generic content here" @width="200" @height="90" @background="#e1f5fe" />
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex as |SF|>
    <SF.Label>With generic HTML <code>&lt;button&gt;</code> and generic list of <code>&lt;a&gt;</code> links</SF.Label>
    <SF.Item @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive>
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>Click me</button>
          </:toggle>
          <:content as |c|>
            <ul class="shw-utility-menu-primitive-content-list-of-links">
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Button that closes the disclosed content on click</button>
              </li>
            </ul>
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex as |SF|>
    <SF.Label>With generic HTML
      <code>&lt;button&gt;</code>
      and generic
      <code>&lt;input type="date"&gt;</code>
    </SF.Label>
    <SF.Item @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive>
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>Click me</button>
          </:toggle>
          <:content>
            <ul class="shw-utility-menu-primitive-content-list-of-links">
              <li>
                <label for="date-input">Select date</label>
                <input id="date-input" type="date" />
              </li>
            </ul>
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex as |SF|>
    <SF.Label>With <code>&lt;Hds::Button&gt;</code> and generic list of <code>&lt;a&gt;</code> links</SF.Label>
    <SF.Item @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive>
          <:toggle as |t|>
            <Hds::Button
              @icon="chevron-down"
              @iconPosition="trailing"
              @text="Click me"
              {{on "click" t.onClickToggle}}
            />
          </:toggle>
          <:content as |c|>
            <ul class="shw-utility-menu-primitive-content-list-of-links">
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Button that closes the disclosed content on click</button>
              </li>
            </ul>
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex as |SF|>
    <SF.Label>With
      <code>&lt;Hds::Button&gt;</code>
      inside a larger container and generic list of
      <code>&lt;a&gt;</code>
      links</SF.Label>
    <SF.Item @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive>
          <:toggle as |t|>
            <div class="shw-utility-menu-primitive-button-wrapper">
              <Hds::Button
                @icon="chevron-down"
                @iconPosition="trailing"
                @text="Click me"
                {{on "click" t.onClickToggle}}
              />
            </div>
          </:toggle>
          <:content as |c|>
            <ul class="shw-utility-menu-primitive-content-list-of-links">
              <li>
                <a href="https://google.com">Link to Google</a>
              </li>
              <li>
                <button type="button" {{on "click" c.close}}>Button that closes the disclosed content on click</button>
              </li>
            </ul>
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Rendering content in specific elements</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Content injected in the document &lt;body&gt;" @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive @renderInElement="body">
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>
              Click me
              <FlightIcon @name={{if t.isOpen "chevron-up" "chevron-down"}} />
            </button>
          </:toggle>
          <:content>
            <Shw::Placeholder
              class="shw-utility-menu-primitive-injected-content-body"
              @text="this content is injected in the document &lt;body&gt;"
              @width="320"
              @height="60"
              @background="#e1f5fe"
            />
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
    <SF.Item @label="Content injected using a DOM selector" @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive @renderInElement="#shw-utility-menu-primitive-render-target-1">
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>
              Click me
              <FlightIcon @name={{if t.isOpen "chevron-up" "chevron-down"}} />
            </button>
          </:toggle>
          <:content>
            <Shw::Placeholder
              @text="this content is injected in a sibling of the &lt;Hds::MenuPrimitive&gt;"
              @width="500"
              @height="60"
              @background="#e1f5fe"
            />
          </:content>
        </Hds::MenuPrimitive>
        <div id="shw-utility-menu-primitive-render-target-1">
          <pre>the content will be injected here</pre>
        </div>
      </div>
    </SF.Item>
    <SF.Item @label="Content injected using a DOM element" @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive @renderInElement={{this.renderTargetId}}>
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>
              Click me
              <FlightIcon @name={{if t.isOpen "chevron-up" "chevron-down"}} />
            </button>
          </:toggle>
          <:content>
            <Shw::Placeholder
              @text="this content is injected in a sibling of the &lt;Hds::MenuPrimitive&gt;"
              @width="500"
              @height="60"
              @background="#e1f5fe"
            />
          </:content>
        </Hds::MenuPrimitive>
        <div id="shw-utility-menu-primitive-render-target-2">
          <pre>the content will be injected here</pre>
        </div>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Initial state (open/closed)</Shw::Text::H2>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item @label="with @isOpen=false (default)" @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive @isOpen={{false}}>
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>
              Click me
              <FlightIcon @name={{if t.isOpen "chevron-up" "chevron-down"}} />
            </button>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="some generic content here" @width="200" @height="90" @background="#e1f5fe" />
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
    <SF.Item @label="with @isOpen=true" @grow={{true}}>
      <div class="shw-utility-menu-primitive-container">
        <Hds::MenuPrimitive @isOpen={{true}}>
          <:toggle as |t|>
            <button type="button" {{on "click" t.onClickToggle}}>
              Click me
              <FlightIcon @name={{if t.isOpen "chevron-up" "chevron-down"}} />
            </button>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="some generic content here" @width="200" @height="90" @background="#e1f5fe" />
          </:content>
        </Hds::MenuPrimitive>
      </div>
    </SF.Item>
  </Shw::Flex>

</section>