{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "PopoverPrimitive"}}

<Shw::Text::H1>PopoverPrimitive</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H3>Popover / Options</Shw::Text::H3>

  <Shw::Text::H4>Placement</Shw::Text::H4>
  <Shw::Grid class="shw-component-popover-placement-grid" @columns={{5}} as |SG|>
    {{#each @model.PLACEMENTS as |place|}}
      <SG.Item class="shw-component-popover-placement-grid__item--{{place}}">
        <Hds::PopoverPrimitive @placement={{place}} @isOpen={{true}}>
          <:toggle>
            <div class="shw-component-popover-placement-grid__target">{{place}}</div>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="content" @height="30" />
          </:content>
        </Hds::PopoverPrimitive>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Text::H4>Offset</Shw::Text::H4>

  <Shw::Flex {{style gap="5rem" margin-top="6rem"}} as |SF|>
    <SF.Item>
      <Hds::PopoverPrimitive @placement="top" @isOpen={{true}}>
        <:toggle>
          <Shw::Outliner>Offset: 12 (default)</Shw::Outliner>
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="30" />
        </:content>
      </Hds::PopoverPrimitive>
    </SF.Item>

    <SF.Item>
      <Hds::PopoverPrimitive @placement="top" @offset={{(hash mainAxis=40 crossAxis=0)}} @isOpen={{true}}>
        <:toggle>
          <Shw::Outliner>Offset: { mainAxis: 40, crossAxis: 0 }</Shw::Outliner>
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="30" />
        </:content>
      </Hds::PopoverPrimitive>
    </SF.Item>

    <SF.Item>
      <Hds::PopoverPrimitive @placement="top" @offset={{(hash mainAxis=12 crossAxis=100)}} @isOpen={{true}}>
        <:toggle>
          <Shw::Outliner>Offset: { mainAxis: 12, crossAxis: 100 }</Shw::Outliner>
        </:toggle>
        <:content>
          <Shw::Placeholder @text="generic content" @height="30" />
        </:content>
      </Hds::PopoverPrimitive>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Content vs Interaction</Shw::Text::H2>

  {{#let (array "non-interactive" "interactive") as |triggerTypes|}}
    {{#each triggerTypes as |triggerType counter0|}}

      <Shw::Grid @columns={{5}} {{style gap="2rem" align-items="center"}} as |SG|>

        <SG.Item {{style grid-column="span 5"}}>
          <Shw::Text::H3 {{style margin-bottom="0"}}>Trigger with {{triggerType}} content</Shw::Text::H3>
        </SG.Item>

        {{#let (array "non-interactive" "interactive") as |contentTypes|}}
          {{#each contentTypes as |contentType counter1|}}

            <SG.Item>
              {{#if (eq counter1 0)}}
                <Shw::Text::H4 {{style margin-bottom="0"}}>👆 Interaction</Shw::Text::H4>
              {{/if}}
            </SG.Item>
            <SG.Item {{style grid-column="span 4"}}>
              <Shw::Text::H4 {{style margin-bottom="0"}}>💬 Popover with {{contentType}} content</Shw::Text::H4>
            </SG.Item>

            {{#let
              (hash non-interactive=(array "soft" "click" "soft+click") interactive=(array "soft"))
              as |interactionVariants|
            }}
              {{#each (get interactionVariants triggerType) as |interaction counter2|}}

                <SG.Item>
                  <Shw::Text::Body {{style margin="0"}}>
                    {{#if (eq interaction "soft")}}
                      <code>Hover/Focus</code>
                      ("Soft")
                    {{else if (eq interaction "click")}}
                      <code>Click</code>
                      only
                    {{else if (eq interaction "soft+click")}}
                      <code>Hover/Focus</code>
                      +
                      <code>Click</code>
                    {{/if}}
                  </Shw::Text::Body>
                </SG.Item>

                {{#let
                  (or (eq interaction "soft") (eq interaction "soft+click"))
                  (or (eq interaction "click") (eq interaction "soft+click"))
                  as |enableSoftEvents enableClickEvents|
                }}

                  {{#let
                    (hash
                      non-interactive=(array "text" "icon" "placeholder" "tag")
                      interactive=(array "button" "link" "input" "tag")
                    )
                    as |triggerVariants|
                  }}
                    {{#each (get triggerVariants triggerType) as |triggerVariant|}}

                      <SG.Item @label={{(if (eq counter2 0) (capitalize triggerVariant))}}>
                        <Hds::PopoverPrimitive
                          @enableCollisionDetection={{true}}
                          @enableSoftEvents={{enableSoftEvents}}
                          @enableClickEvents={{enableClickEvents}}
                          @containsInteractive={{eq triggerType "interactive"}}
                          @toggleAriaLabel={{if (eq triggerVariant "icon") "Information"}}
                        >
                          <:toggle as |t|>
                            {{#if (eq triggerVariant "text")}}
                              Lorem ipsum dolor
                            {{/if}}
                            {{#if (eq triggerVariant "icon")}}
                              <FlightIcon @name="info" @isInlineBlock={{false}} />
                            {{/if}}
                            {{#if (eq triggerVariant "placeholder")}}
                              <Shw::Placeholder @text="generic content" @height="40" />
                            {{/if}}
                            {{#if (eq triggerVariant "button")}}
                              <Hds::Button @text="Submit" {{t.setupToggle}} {{on "click" this.onClickButton}} />
                            {{/if}}
                            {{#if (eq triggerVariant "link")}}
                              <Hds::Link::Standalone
                                @icon="external-link"
                                @iconPosition="trailing"
                                @text="Acme Corp"
                                @href="#"
                                {{t.setupToggle}}
                              />
                            {{/if}}
                            {{#if (eq triggerVariant "input")}}
                              <Hds::Form::TextInput::Base {{t.setupToggle}} aria-label="demo input" />
                            {{/if}}
                            {{#if (eq triggerVariant "tag")}}
                              {{#if (eq triggerType "non-interactive")}}
                                <Hds::Tag @text="Sit amet" />
                              {{/if}}
                              {{#if (eq triggerType "interactive")}}
                                <Hds::Tag @text="Sit amet" @onDismiss={{this.noop}} {{t.setupToggle}} />
                              {{/if}}
                            {{/if}}
                          </:toggle>
                          <:content as |c|>
                            {{#if (eq contentType "non-interactive")}}
                              <Shw::Placeholder @text="generic content" @height="40" />
                            {{/if}}
                            {{#if (eq contentType "interactive")}}
                              <div class="shw-component-popover-content-interactive">
                                <button
                                  type="button"
                                  {{on "click" c.close}}
                                  title="Button that closes the popover on click"
                                >x</button>
                                <ul>
                                  <li>
                                    Lorem ipsum dolor sit amet consectetur
                                  </li>
                                  <li>
                                    <a href="https://google.com">Link to Google</a>
                                  </li>
                                  <li>
                                    <label for="input-{{counter1}}-{{counter2}}">Input value:</label>
                                    <input id="input-{{counter1}}-{{counter2}}" type="text" />
                                  </li>
                                  <li>
                                    <button type="button" {{on "click" c.close}}>Got it!</button>
                                  </li>
                                </ul>
                              </div>
                            {{/if}}
                          </:content>
                        </Hds::PopoverPrimitive>
                      </SG.Item>

                    {{/each}}

                  {{/let}}
                {{/let}}

              {{/each}}
            {{/let}}

          {{/each}}
        {{/let}}

      </Shw::Grid>

      {{#if (eq counter0 0)}}
        <Shw::Divider @level={{2}} />
      {{/if}}

    {{/each}}
  {{/let}}

</section>