{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "PopoverPrimitive"}}

<Shw::Text::H1>PopoverPrimitive</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Grid @columns={{4}} {{style gap="2rem" margin-bottom="6rem"}} as |SG|>
    <SG.Item @label="Base">
      <Hds::PopoverPrimitive @isOpen={{true}}>
        <:toggle>
          <div class="shw-utilities-popover-primitive-base-toggle">Toggle</div>
        </:toggle>
        <:content>
          <Shw::Placeholder @text="content" @width="80" @height="40" />
        </:content>
      </Hds::PopoverPrimitive>
    </SG.Item>
    <SG.Item @label="With arrow">
      {{#let (unique-id) as |arrowId|}}
        <Hds::PopoverPrimitive @popoverOptions={{(hash arrow=(concat "#" arrowId))}} @isOpen={{true}}>
          <:toggle>
            <div class="shw-utilities-popover-primitive-base-toggle">Toggle</div>
          </:toggle>
          <:content>
            <div class="shw-utilities-popover-primitive-base-bubble">
              <div class="shw-utilities-popover-primitive-base-arrow" id={{arrowId}} />
              <Shw::Placeholder @text="content" @width="80" @height="40" />
            </div>
          </:content>
        </Hds::PopoverPrimitive>
      {{/let}}
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>Options</Shw::Text::H2>

  <Shw::Text::H3>Placement</Shw::Text::H3>

  <Shw::Text::H4>Base</Shw::Text::H4>

  <Shw::Grid class="shw-utilities-popover-primitive-placement-grid" @columns={{5}} as |SG|>
    {{#each @model.PLACEMENTS as |place|}}
      <SG.Item class="shw-utilities-popover-primitive-placement-grid__item--{{place}}">
        <Hds::PopoverPrimitive @popoverOptions={{(hash placement=place)}} @isOpen={{true}}>
          <:toggle>
            <div class="shw-utilities-popover-primitive-placement-grid__target">{{place}}</div>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="content" @width="80" @height="40" />
          </:content>
        </Hds::PopoverPrimitive>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Text::H4>With arrow</Shw::Text::H4>

  <Shw::Grid class="shw-utilities-popover-primitive-placement-grid" @columns={{5}} as |SG|>
    {{#each @model.PLACEMENTS as |place|}}
      {{#let (unique-id) as |arrowId|}}
        <SG.Item class="shw-utilities-popover-primitive-placement-grid__item--{{place}}">
          <Hds::PopoverPrimitive
            @popoverOptions={{(hash placement=place arrow=(concat "#" arrowId) arrowPadding=0)}}
            @isOpen={{true}}
          >
            <:toggle>
              <div class="shw-utilities-popover-primitive-placement-grid__target">{{place}}</div>
            </:toggle>
            <:content>
              <div class="shw-utilities-popover-primitive-base-bubble">
                <div class="shw-utilities-popover-primitive-base-arrow" id={{arrowId}} />
                <Shw::Placeholder @text="content" @width="80" @height="40" />
              </div>
            </:content>
          </Hds::PopoverPrimitive>
        </SG.Item>
      {{/let}}
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Offset</Shw::Text::H3>

  <Shw::Text::H4>offsetOptions</Shw::Text::H4>

  {{#let (array false true) as |booleans|}}
    {{#each booleans as |hasArrow|}}

      <Shw::Grid @columns={{4}} {{style gap="2rem" margin-bottom="8rem"}} as |SF|>
        {{#let
          (array
            (hash label="not set" offset=0)
            (hash label="16" offset=16)
            (hash label="{ mainAxis: 40, crossAxis: 0 }" offset=(hash mainAxis=40 crossAxis=0))
            (hash label="{ mainAxis: 16, crossAxis: 100 }" offset=(hash mainAxis=16 crossAxis=100))
          )
          as |offsetOptionsVariants|
        }}
          {{#each offsetOptionsVariants as |offsetOptionsVariant|}}
            {{#let (unique-id) as |arrowId|}}
              <SF.Item @label={{(if (eq hasArrow false) (get offsetOptionsVariant "label"))}}>
                <Hds::PopoverPrimitive
                  @popoverOptions={{(hash
                    offsetOptions=(get offsetOptionsVariant "offset") arrow=(if hasArrow (concat "#" arrowId))
                  )}}
                  @isOpen={{true}}
                >
                  <:toggle>
                    <div class="shw-utilities-popover-primitive-base-toggle">Toggle</div>
                  </:toggle>
                  <:content>
                    {{#if hasArrow}}
                      <div class="shw-utilities-popover-primitive-base-bubble">
                        <div class="shw-utilities-popover-primitive-base-arrow" id={{arrowId}} />
                        <Shw::Placeholder @text="content" @width="120" @height="40" />
                      </div>
                    {{else}}
                      <Shw::Placeholder @text="content" @width="120" @height="40" />
                    {{/if}}
                  </:content>
                </Hds::PopoverPrimitive>
              </SF.Item>
            {{/let}}
          {{/each}}
        {{/let}}
      </Shw::Grid>

    {{/each}}
  {{/let}}

  <Shw::Text::H4>arrowPadding</Shw::Text::H4>

  <Shw::Grid @columns={{4}} {{style gap="2rem" margin-bottom="8rem"}} as |SF|>
    {{#let (array (hash label="not set") (hash label="24" arrowPadding=24)) as |arrowPaddingVariants|}}
      {{#each arrowPaddingVariants as |arrowPaddingVariant|}}
        {{#let (unique-id) as |arrowId|}}
          <SF.Item @label={{(get arrowPaddingVariant "label")}}>
            <Hds::PopoverPrimitive
              @popoverOptions={{(hash
                offsetOptions=(hash mainAxis=16 crossAxis=100)
                arrow=(concat "#" arrowId)
                arrowPadding=(get arrowPaddingVariant "arrowPadding")
              )}}
              @isOpen={{true}}
            >
              <:toggle>
                <div class="shw-utilities-popover-primitive-base-toggle">Toggle</div>
              </:toggle>
              <:content>
                <div class="shw-utilities-popover-primitive-base-bubble">
                  <div class="shw-utilities-popover-primitive-base-arrow" id={{arrowId}} />
                  <Shw::Placeholder @text="content" @width="120" @height="40" />
                </div>
              </:content>
            </Hds::PopoverPrimitive>
          </SF.Item>
        {{/let}}
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Strategy</Shw::Text::H3>

  <Shw::Grid @columns={{4}} {{style gap="2rem" margin-bottom="8rem"}} as |SF|>
    {{#let (array "absolute" "fixed") as |strategies|}}
      {{#each strategies as |strategy|}}
        {{#let (unique-id) as |arrowId|}}
          <SF.Item @label={{strategy}}>
            <Hds::PopoverPrimitive
              @popoverOptions={{(hash strategy=strategy offsetOptions=16 arrow=(concat "#" arrowId))}}
              @isOpen={{true}}
            >
              <:toggle>
                <div class="shw-utilities-popover-primitive-base-toggle">Toggle</div>
              </:toggle>
              <:content>
                <div class="shw-utilities-popover-primitive-base-bubble">
                  <div class="shw-utilities-popover-primitive-base-arrow" id={{arrowId}} />
                  <Shw::Placeholder @text="content" @width="120" @height="40" />
                </div>
              </:content>
            </Hds::PopoverPrimitive>
          </SF.Item>
        {{/let}}
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Collision detection</Shw::Text::H3>

  {{#let (array false true) as |booleans|}}
    {{#each booleans as |hasScrollableContainer counter|}}
      <Shw::Grid @columns={{4}} {{style gap="2rem" margin-bottom="8rem"}} as |SF|>
        {{#let (array false true "flip" "shift") as |detections|}}
          {{#each detections as |detection|}}
            {{#let (unique-id) as |arrowId|}}
              <SF.Item
                @label={{unless hasScrollableContainer (concat "enableCollisionDetection=" detection)}}
                class={{(if hasScrollableContainer "container")}}
              >
                <div class={{(if hasScrollableContainer "content")}}>
                  <Hds::PopoverPrimitive
                    @popoverOptions={{(hash
                      offsetOptions=16 arrow=(concat "#" arrowId) enableCollisionDetection=detection
                    )}}
                    @isOpen={{true}}
                  >
                    <:toggle>
                      <div class="shw-utilities-popover-primitive-base-toggle">Toggle</div>
                    </:toggle>
                    <:content>
                      <div class="shw-utilities-popover-primitive-base-bubble">
                        <div class="shw-utilities-popover-primitive-base-arrow" id={{arrowId}} />
                        <Shw::Placeholder @text="content" @width="120" @height="40" />
                      </div>
                    </:content>
                  </Hds::PopoverPrimitive>
                </div>
              </SF.Item>
            {{/let}}
          {{/each}}
        {{/let}}
      </Shw::Grid>
    {{/each}}
  {{/let}}

</section>