{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "PopoverPrimitive"}}

<Shw::Text::H1>PopoverPrimitive</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H3>Popover / Options</Shw::Text::H3>

  <Shw::Text::H4>Placement</Shw::Text::H4>
  <Shw::Grid class="shw-utilities-popover-primitive-placement-grid" @columns={{5}} as |SG|>
    {{#each @model.PLACEMENTS as |place|}}
      <SG.Item class="shw-utilities-popover-primitive-placement-grid__item--{{place}}">
        <Hds::PopoverPrimitive @popoverOptions={{(hash placement=place)}} @isOpen={{true}}>
          <:toggle>
            <div class="shw-utilities-popover-primitive-placement-grid__target">{{place}}</div>
          </:toggle>
          <:content>
            <Shw::Placeholder @text="content" @width="80" @height="40" />
          </:content>
        </Hds::PopoverPrimitive>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Grid class="shw-utilities-popover-primitive-placement-grid" @columns={{5}} as |SG|>
    {{#each @model.PLACEMENTS as |place|}}
      {{#let (unique-id) as |arrowId|}}
        <SG.Item class="shw-utilities-popover-primitive-placement-grid__item--{{place}}">
          <Hds::PopoverPrimitive
            @popoverOptions={{(hash placement=place offsetOptions=16 arrow=(concat "#" arrowId) arrowPadding=0)}}
            @isOpen={{true}}
          >
            <:toggle>
              <div class="shw-utilities-popover-primitive-placement-grid__target">{{place}}</div>
            </:toggle>
            <:content>
              <div class="shw-utilities-popover-primitive-placement-grid__bubble">
                <div class="shw-utilities-popover-primitive-placement-grid__arrow" id={{arrowId}} />
                <Shw::Placeholder @text="content" @width="80" @height="40" />
              </div>
            </:content>
          </Hds::PopoverPrimitive>
        </SG.Item>
      {{/let}}
    {{/each}}
  </Shw::Grid>

</section>