{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<hr class="doc-markdown-hr" />

<h2 class="doc-text-h2">Related</h2>

<Doc::Cards::Deck @cols="2">
  {{#each @cards as |card|}}
    {{#let (concat "Related - " @componentTitle " - " card.title) as |eventName|}}
      <Doc::Cards::Card
        @image={{card.image}}
        @title={{card.title}}
        @caption={{card.caption}}
        @route={{card.route}}
        @model={{card.model}}
        @href={{card.href}}
        @layout="horizontal"
        {{doc-track-event eventName=eventName}}
      />
    {{/let}}
  {{/each}}
</Doc::Cards::Deck>