{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "CodeEditor Component"}}

<Shw::Text::H1>CodeEditor</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Content</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="No content">
      <Hds::CodeEditor @ariaLabel="No content" />
    </SF.Item>
    <SF.Item @label="With initial content">
      <Hds::CodeEditor @ariaLabel="With initial content" @value={{this.demoCode}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Standalone</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Standalone editor (default)">
      <Hds::CodeEditor @ariaLabel="Standalone editor (default)" />
    </SF.Item>
    <SF.Item @label="Not standalone editor">
      <Hds::CodeEditor @ariaLabel="Not standalone editor" @isStandalone={{false}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Header</Shw::Text::H2>

  <Shw::Text::H3>Title and description</Shw::Text::H3>
  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    <SG.Item @label="With title">
      <Hds::CodeEditor as |CE|>
        <CE.Title>Code editor with title</CE.Title>
      </Hds::CodeEditor>
    </SG.Item>
    <SG.Item @label="With description">
      <Hds::CodeEditor @ariaLabel="With description" as |CE|>
        <CE.Description>This is a code editor with a description</CE.Description>
      </Hds::CodeEditor>
    </SG.Item>
    <SG.Item @label="With title and description">
      <Hds::CodeEditor as |CE|>
        <CE.Title>Code editor with title</CE.Title>
        <CE.Description>This is a code editor with a description</CE.Description>
      </Hds::CodeEditor>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Custom content</Shw::Text::H3>
  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    <SG.Item @label="With custom content">
      <Hds::CodeEditor @ariaLabel="With custom content" as |CE|>
        <CE.Generic>
          <Shw::Placeholder @text="generic content" @height="24" />
        </CE.Generic>
      </Hds::CodeEditor>
    </SG.Item>
    <SG.Item @label="With custom content and title">
      <Hds::CodeEditor as |CE|>
        <CE.Title>Code editor with custom content and title</CE.Title>
        <CE.Generic>
          <Shw::Placeholder @text="generic content" @height="24" />
        </CE.Generic>
      </Hds::CodeEditor>
    </SG.Item>
    <SG.Item @label="With custom content and description">
      <Hds::CodeEditor @ariaLabel="With custom content and description" as |CE|>
        <CE.Description>Description for code editor with custom content and description</CE.Description>
        <CE.Generic>
          <Shw::Placeholder @text="generic content" @height="24" />
        </CE.Generic>
      </Hds::CodeEditor>
    </SG.Item>
    <SG.Item @label="With custom content, title, and description">
      <Hds::CodeEditor as |CE|>
        <CE.Title>Code editor with custom content, title, and description</CE.Title>
        <CE.Description>Description for code editor with custom content, title, and description</CE.Description>
        <CE.Generic>
          <Shw::Placeholder @text="generic content" @height="24" />
        </CE.Generic>
      </Hds::CodeEditor>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Actions</Shw::Text::H3>
  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    <SG.Item @label="Fullscreen toggle">
      <Hds::CodeEditor @ariaLabel="Fullscreen toggle" @hasFullScreenButton={{true}} />
    </SG.Item>
    <SG.Item @label="Copy button">
      <Hds::CodeEditor @ariaLabel="Copy button" @value="Copy me!" @hasCopyButton={{true}} />
    </SG.Item>
    <SG.Item @label="Fullscreen toggle and copy button">
      <Hds::CodeEditor
        @ariaLabel="Fullscreen toggle and copy button"
        @hasFullScreenButton={{true}}
        @hasCopyButton={{true}}
      />
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Complex example</Shw::Text::H3>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With title, description, internal actions, and custom content">
      <Hds::CodeEditor @hasFullScreenButton={{true}} @hasCopyButton={{true}} as |CE|>
        <CE.Title>Code editor with title</CE.Title>
        <CE.Description>This is a code editor with a description</CE.Description>
        <CE.Generic class="hds-code-editor-custom-content">
          <Hds::Button @text="Custom action" @size="small" />
          <Hds::Button @text="Search" @icon="search" @isIconOnly={{true}} @size="small" />
        </CE.Generic>
      </Hds::CodeEditor>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Syntax highlighting</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    {{#each this.languages as |lang|}}
      <SF.Item @label={{lang.label}}>
        <Hds::CodeEditor @language={{lang.value}} @value={{lang.code}} as |CE|>
          <CE.Title>{{lang.label}}</CE.Title>
        </Hds::CodeEditor>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Text::H2>Linting</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="JSON with linting">
      <Hds::CodeEditor
        @language="json"
        @value={{this.badJsonCode}}
        @isLintingEnabled={{true}}
        @hasFullScreenButton={{true}}
        @onLint={{this.handleLint}}
        as |CE|
      >
        <CE.Title>JSON with linting</CE.Title>
      </Hds::CodeEditor>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Standalone modifier usage</Shw::Text::H2>
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="`div` element with `hds-code-editor` modifier">
      <div {{hds-code-editor ariaLabel="Standalone modifier usage" value=this.demoCode}} />
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Toggle line wrapping">
      <Hds::Form::Checkbox::Field
        name="enable-line-wrapping"
        checked={{this.hasLineWrapping}}
        class="hds-code-editor-controls"
        {{on "change" this.toggleLineWrapping}}
        as |F|
      >
        <F.Label>Line wrapping: {{if this.hasLineWrapping "Enabled" "Disabled"}}</F.Label>
      </Hds::Form::Checkbox::Field>
      <div
        {{hds-code-editor
          ariaLabel="Standalone modifier usage"
          value=this.demoCode
          hasLineWrapping=this.hasLineWrapping
          onInput=this.setDemoCode
        }}
      />
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Update value externally">
      <Hds::Button
        @text="Change value"
        class="hds-code-editor-controls"
        {{on "click" (fn this.setExternalUpdateDemo "New value")}}
      />

      <div
        {{hds-code-editor
          ariaLabel="Standalone modifier usage"
          value=this.externalUpdateDemo
          onInput=this.setExternalUpdateDemo
        }}
      />
    </SF.Item>
  </Shw::Flex>
</section>