{{page-title "Card"}}

<h2 class="dummy-h2">Card</h2>

<h3 class="dummy-h3">Container</h3>
<div class="dummy-card-base-sample">
    <Hds::Card>
        <DummyPlaceholder
            @text="Content"
            @width="200"
            @height="200"
        />
    </Hds::Card>
</div>

<h3 class="dummy-h3">Elevation:</h3>
<div class="dummy-card-base-sample dummy-card-base-sample--with-background">
    {{#each @model.ELEVATIONS as |elevation|}}
        <Hds::Card @elevation={{elevation}}>
            <DummyPlaceholder
                @text={{elevation}}
                @width="200"
                @height="200"
                @background="transparent"
            />
        </Hds::Card>
    {{/each}}
</div>

<h3 class="dummy-h3">Outlined:</h3>
<div class="dummy-card-base-sample dummy-card-base-sample--with-background">
    {{#each @model.ELEVATIONS as |elevation|}}
        <Hds::Card @elevation={{elevation}} @outlined={{true}}>
            <DummyPlaceholder
                @text={{elevation}}
                @width="200"
                @height="200"
                @background="transparent"
            />
        </Hds::Card>
    {{/each}}
</div>
