{{page-title "Card"}}

<h2 class="dummy-h2">Card</h2>

<h3 class="dummy-h3">Container</h3>
<div class="dummy-card-base-sample">
    <Hds::CardContainer>
        <DummyPlaceholder
            @text="Content"
            @width="200"
            @height="200"
            @background="transparent"
        />
    </Hds::CardContainer>
</div>

<h3 class="dummy-h3">Levels:</h3>
<div class="dummy-card-base-sample">
    {{#each @model.LEVELS as |level|}}
        <Hds::CardContainer @level={{level}}>
            <DummyPlaceholder
                @text={{level}}
                @width="200"
                @height="200"
                @background="transparent"
            />
        </Hds::CardContainer>
    {{/each}}
</div>

<h3 class="dummy-h3">Border:</h3>
<div class="dummy-card-base-sample">
    {{#each @model.LEVELS as |level|}}
        <Hds::CardContainer @level={{level}} @hasBorder={{true}}>
            <DummyPlaceholder
                @text={{level}}
                @width="200"
                @height="200"
                @background="transparent"
            />
        </Hds::CardContainer>
    {{/each}}
</div>

<h3 class="dummy-h3">Background:</h3>
<div class="dummy-card-base-sample">
    {{#each @model.BACKGROUNDS as |background|}}
        <Hds::CardContainer @level="mid" @hasBorder={{true}} @background={{background}}>
            <DummyPlaceholder
                @text={{background}}
                @width="200"
                @height="200"
                @background="transparent"
            />
        </Hds::CardContainer>
    {{/each}}
</div>

<h3 class="dummy-h3">Overflow:</h3>
<div class="dummy-card-base-sample">
    <Hds::CardContainer @level="mid" @hasBorder={{true}}>
        <div class="dummy-card-overflow__wrapper-relative">
            <DummyPlaceholder
                @text="hidden (default)"
                @width="200"
                @height="200"
                @background="#e1f5fe"
            />
            <div class="dummy-card-overflow__content-absolute" />
        </div>
    </Hds::CardContainer>
    <Hds::CardContainer @level="mid" @hasBorder={{true}} @overflow="visible">
        <div class="dummy-card-overflow__wrapper-relative">
            <DummyPlaceholder
                @text="visible"
                @width="200"
                @height="200"
                @background="#e1f5fe"
            />
            <div class="dummy-card-overflow__content-absolute" />
        </div>
    </Hds::CardContainer>
</div>
