{{page-title "IconTile"}}

<h2 class="dummy-h2">IconTile</h2>

<h3 class="dummy-h3">Showcase</h3>

<h4 class="dummy-h4">Size</h4>
<ul class="dummy-icon-tile-side-by-side">
    <li>
        <p class="dummy-paragraph">with logo</p>
        <div class="dummy-icon-tile-base-sample">
            {{#each @model.SIZES as |size|}}
                <Hds::IconTile @logo="boundary" @size={{size}} />
            {{/each}}
        </div>
    </li>
    <li>
        <p class="dummy-paragraph">with icon</p>
        <div class="dummy-icon-tile-base-sample">
            {{#each @model.SIZES as |size|}}
                <Hds::IconTile @icon="activity" @size={{size}} />
            {{/each}}
        </div>
    </li>
</ul>


<h4 class="dummy-h4">Logo</h4>
{{#each @model.PRODUCTS as |product|}}
    <div class="dummy-icon-tile-base-sample">
        {{#each @model.SIZES as |size|}}
            <Hds::IconTile @logo={{product}} @size={{size}} />
        {{/each}}
    </div>
{{/each}}

<h4 class="dummy-h4">Icon color</h4>
{{#each @model.COLORS as |color|}}
    <div class="dummy-icon-tile-base-sample">
        {{#each @model.SIZES as |size|}}
            <Hds::IconTile @icon="activity" @size={{size}} @color={{color}} />
        {{/each}}
    </div>
{{/each}}