{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-icons-list-filter">
  <div class="doc-icons-list-filter__search">
    <Doc::Form::Filter
      @label="Filter"
      @placeholder="Type a name or keyword (e.g. arrow)"
      @filterQuery={{@searchQuery}}
      @onInput={{@searchIcons}}
      data-test="icons-filter"
    />
  </div>
  <div class="doc-icons-list-filter__select">
    <Doc::Form::Select @label="Size" @onSelect={{@onSelect}} @selectedValue={{@selectedIconSize}} />
  </div>
</div>

{{#each-in @groupedIcons as |category categoryIcons|}}
  <Doc::IconsList::Grid @category={{category}} @categoryIcons={{categoryIcons}} />
{{else}}
  <p class="doc-text-body">No icons found. 🤷‍♀️</p>
{{/each-in}}