<div class="doc-icons-list-filter">
  <Doc::IconsList::Select @onSelect={{@onSelect}} @selectedIconSize={{@selectedIconSize}}/>
  <Doc::IconsList::Search @searchQuery={{@searchQuery}} @onInput={{@searchIcons}} />
</div>

<Doc::IconsList::Grid @icons={{@icons}} />
