{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-icons-list-filter">
  <div class="doc-icons-list-filter__select">
    <Doc::Form::Select @label="Size" @onSelect={{@onSelect}} @selectedValue={{@selectedIconSize}} />
  </div>
  <div class="doc-icons-list-filter__search">
    <Doc::Form::Search
      @label="Filter"
      @placeholder="Type a name or keyword (e.g. arrow)"
      @searchQuery={{@searchQuery}}
      @onInput={{@searchIcons}}
      data-test="icons-filter"
    />
  </div>
</div>

<Doc::IconsList::Grid @icons={{@icons}} />