{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-icons-list-filter">
  <Doc::Form::Filter
    @label="Search"
    @placeholder="Type a name or keyword (e.g. arrow)"
    @filterQuery={{@searchQuery}}
    @onInput={{@searchIcons}}
    data-test="icons-filter"
    aria-describedby="icons-filter-description"
  />
  <span id="icons-filter-description" class="sr-only">Note: Icon list will automatically update as you type.</span>
  <Doc::Form::SelectGroupType
    @label="Group by"
    @onSelect={{@onSelectGroupType}}
    @selectedValue={{@selectedGroupType}}
  />
  <Doc::Form::Select @label="Size" @onSelect={{@onSelectIconSize}} @selectedValue={{@selectedIconSize}} />
</div>

{{#each-in @groupedIcons as |categoryName categoryIcons|}}
  <Doc::IconsList::Grid @categoryName={{categoryName}} @categoryIcons={{categoryIcons}} />
{{else}}
  <p class="doc-text-body doc-icons-list-filter__not-found">No icons found. 🤷‍♀️</p>
{{/each-in}}