{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<li class="doc-icons-list-grid-item {{if @meta.isHidden 'doc-icons-list-grid-item--is-hidden'}}">
  <div class="doc-icons-list-grid-item__frame">
    <div class="doc-icons-list-grid-item__outline">
      <Hds::Icon
        class="doc-icons-list-grid-item__icon"
        @name={{@meta.iconName}}
        @size="{{@meta.size}}"
        @isInlineBlock={{false}}
      />
    </div>
  </div>
  <div class="doc-icons-list-grid-item__meta">
    <Doc::MetaRow @label="Ember" @valueToCopy={{@meta.iconName}} @copyable={{true}} />
    <Doc::MetaRow @label="React" @valueToCopy={{@meta.name}} @copyable={{true}} />
    <Doc::MetaRow @label="Keywords" @valueToShow={{@meta.description}} />
    {{#let (concat "icon:" @meta.iconName) as |searchQueryValue|}}
      <LinkTo
        class="doc-icons-list-grid-item__permalink"
        @route="show"
        @model="icons/library"
        @query={{hash searchQuery=searchQueryValue selectedIconSize=@meta.size}}
        aria-label="Permalink for the {{@meta.iconName}} icon"
        data-test="icon-permalink-{{@meta.iconName}}"
      >
        <Hds::Icon class="doc-icons-list-grid-item__permalink-icon" @name="link" />
      </LinkTo>
    {{/let}}
  </div>
</li>