{{!--
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
--}}

<li class="doc-icons-list-grid-item {{if @meta.isHidden 'doc-icons-list-grid-item--is-hidden'}}">
  <div class="doc-icons-list-grid-item__frame">
    <div class="doc-icons-list-grid-item__outline">
      <FlightIcon
        class="doc-icons-list-grid-item__icon"
        @name={{@meta.iconName}}
        @size="{{@meta.size}}"
        @isInlineBlock={{false}}
      />
    </div>
  </div>
  <div class="doc-icons-list-grid-item__meta">
    <Doc::MetaRow @label="Ember" @valueToCopy={{@meta.iconName}} @copyable={{true}} />
    <Doc::MetaRow @label="React" @valueToCopy={{@meta.name}} @copyable={{true}} />
    <Doc::MetaRow @label="Keywords" @valueToShow={{@meta.description}} />
  </div>
</li>