<li class="doc-icons-list-grid-item {{if @meta.isHidden 'doc-icons-list-grid-item--is-hidden'}}">
  <div class="doc-icons-list-grid-item__frame">
    <div class="doc-icons-list-grid-item__outline">
      <FlightIcon class="doc-icons-list-grid-item__icon"  @name={{@meta.iconName}} @size="{{@meta.size}}" @isInlineBlock={{false}} />
    </div>
  </div>
  <p class="doc-icons-list-grid-item__meta">
    <em>Ember:</em>
    <span>{{@meta.iconName}}</span>
    <em>React:</em>
    <span>{{@meta.name}}</span>
    <em>Keywords:</em>
    <span>{{@meta.description}}</span>
  </p>
</li>