{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Tag Component"}}

<Shw::Text::H1>Tag</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item>
      <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="My text tag" />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="My link tag" @onDismiss={{this.noop}} @route="page-components.tag" />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="My link tag" @route="page-components.tag" />
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Inline with other text" as |SF|>
    <SF.Item>
      <Hds::Text::Body @size="200" @tag="p">This is a paragraph: <Hds::Tag @text="My text tag" /></Hds::Text::Body>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="With long text" as |SF|>
    <SF.Item>
      <Hds::Tag @text="This is a very long text that should go on multiple lines" @onDismiss={{this.noop}} />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="This is a very long text that should go on multiple lines" />
    </SF.Item>
    <SF.Item>
      <Hds::Tag
        @text="This is a very long text that should go on multiple lines"
        @onDismiss={{this.noop}}
        @route="page-components.tag"
      />
    </SF.Item>
    <SF.Item>
      <Hds::Tag @text="This is a very long text that should go on multiple lines" @route="page-components.tag" />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>States</Shw::Text::H2>

  <Shw::Grid @columns={{4}} {{style width="max-content"}} as |SG|>
    {{#each @model.STATES as |state|}}
      <SG.Item @label={{capitalize state}}>
        <Hds::Tag @text="My tag" @onDismiss={{this.noop}} mock-state-value={{state}} mock-state-selector="button" />
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Link Colors</Shw::Text::H2>

  {{#each @model.COLORS as |color|}}
    <Shw::Text::H3>{{capitalize color}}</Shw::Text::H3>
    <Shw::Grid @columns={{4}} {{style width="max-content"}} as |SG|>
      {{#each @model.STATES as |state|}}
        <SG.Item @label={{capitalize state}}>
          <Shw::Flex @direction="column" as |SF|>
            <SF.Item>
              <Hds::Tag
                @color={{color}}
                @text="My link tag"
                @onDismiss={{this.noop}}
                @route="page-components.tag"
                mock-state-value={{state}}
                mock-state-selector="button"
              />
            </SF.Item>
            <SF.Item>
              <Hds::Tag
                @color={{color}}
                @text="My link tag"
                @onDismiss={{this.noop}}
                @route="page-components.tag"
                mock-state-value={{state}}
                mock-state-selector="a"
              />
            </SF.Item>
            <SF.Item>
              <Hds::Tag
                @color={{color}}
                @text="My link tag"
                @route="page-components.tag"
                mock-state-value={{state}}
                mock-state-selector="a"
              />
            </SF.Item>
          </Shw::Flex>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
  {{/each}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Containers</Shw::Text::H2>

  <Shw::Grid @columns={{3}} as |SG|>
    {{#let (array "block" "flex" "grid") as |displays|}}
      {{#each displays as |display|}}
        <SG.Item as |SGI|>
          <SGI.Label>Parent with <code>display: {{display}}</code></SGI.Label>
          <div class="shw-component-tag-group" {{style display=display flex-wrap="wrap"}}>
            <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="My slightly longer tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
            <Hds::Tag @text="This is a very long text that should go on multiple lines" @onDismiss={{this.noop}} />
          </div>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Tooltip Placements</Shw::Text::H2>

  <Shw::Grid @columns={{3}} as |SG|>
    {{#each @model.TOOLTIP_PLACEMENTS as |place|}}
      <SG.Item>
        <Hds::Tag
          @text="{{place}} This is a very long text that should go on multiple lines"
          @tooltipPlacement={{place}}
        />
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H2>Inheritance</Shw::Text::H2>

  <Shw::Flex @label="Applied to parent" as |SF|>
    <SF.Item>
      <div class="shw-component-tag-inheritance-font-style">
        <Hds::Tag @text="My text tag" @onDismiss={{this.noop}} />
      </div>
    </SF.Item>
    <SF.Item>
      <div class="shw-component-tag-inheritance-font-style">
        <Hds::Tag @text="My link tag" @onDismiss={{this.noop}} @route="page-components.tag" />
      </div>
    </SF.Item>
    <SF.Item>
      <div class="shw-component-tag-inheritance-font-style">
        <Hds::Tag @text="This is a very long text that should go on multiple lines" @onDismiss={{this.noop}} />
      </div>
    </SF.Item>
    <SF.Item>
      <div class="shw-component-tag-inheritance-font-style">
        <Hds::Tag
          @text="This is a very long text that should go on multiple lines"
          @onDismiss={{this.noop}}
          @route="page-components.tag"
        />
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Flex @label="Applied to the tag" as |SF|>
    <SF.Item>
      <Hds::Tag
        @text="My text tag"
        @onDismiss={{this.noop}}
        class="shw-component-tag-inheritance-font-style shw-component-tag-inheritance-background-color"
      />
    </SF.Item>
    <SF.Item>
      <Hds::Tag
        @text="My link tag"
        @onDismiss={{this.noop}}
        @route="page-components.tag"
        class="shw-component-tag-inheritance-font-style shw-component-tag-inheritance-background-color"
      />
    </SF.Item>
    <SF.Item>
      <Hds::Tag
        @text="This is a very long text that should go on multiple lines"
        @onDismiss={{this.noop}}
        class="shw-component-tag-inheritance-font-style shw-component-tag-inheritance-background-color"
      />
    </SF.Item>
    <SF.Item>
      <Hds::Tag
        @text="This is a very long text that should go on multiple lines"
        @onDismiss={{this.noop}}
        @route="page-components.tag"
        class="shw-component-tag-inheritance-font-style shw-component-tag-inheritance-background-color"
      />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

</section>

{{! For some reason, Ember tests don't play well with iframes (URL not found) so we can't take snapshots of these examples in Percy }}
<section>

  <Shw::Text::H2>Demos</Shw::Text::H2>

  <Shw::Frame
    @id="demo-tag-performance"
    @src="/components/tag/frameless/demo-observer-performance"
    @height="300"
    @label="Performance test for ResizeObserver"
  />

</section>