{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{#if @route}}
  <LinkTo
    class={{this.classNames}}
    @route={{@route}}
    @models={{this.models}}
    ...attributes
    {{doc-track-event eventName=@eventName}}
  >
    {{@label}}
    <FlightIcon class="doc-link-with-icon__icon" @name={{@icon}} />
  </LinkTo>
{{/if}}
{{#if @href}}
  <a
    class={{this.classNames}}
    href={{@href}}
    target="_blank"
    rel="noopener noreferrer"
    {{doc-track-event eventName=@eventName}}
    ...attributes
  >
    {{@label}}
    <FlightIcon class="doc-link-with-icon__icon" @name={{@icon}} />
  </a>
{{/if}}