{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "KeyValueInputs full form demo - Frameless"}}

<Mock::App>
  <:main>
    <div {{style margin-bottom="24px"}}>
      <Hds::PageHeader as |PH|>
        <PH.Title>Create a Vault plugin</PH.Title>
        <PH.Breadcrumb>
          <Hds::Breadcrumb>
            <Hds::Breadcrumb::Item @text="Level" />
            <Hds::Breadcrumb::Item @text="Level" />
            <Hds::Breadcrumb::Item @text="Registry" />
            <Hds::Breadcrumb::Item @text="Create a plugin" />
          </Hds::Breadcrumb>
        </PH.Breadcrumb>
        <PH.IconTile @logo="vault" />
      </Hds::PageHeader>
    </div>
    <Hds::Stepper::Nav
      @currentStep={{0}}
      @steps={{array (hash title="Details") (hash title="Support") (hash title="Vetting")}}
      @ariaLabel="Create a Vault plugin"
      {{style margin-top="48px"}}
    >
      <:body>
        <Hds::Form id="create-plugin-form" {{on "submit" this.onSubmitForm}} as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup>
              <Hds::Form::TextInput::Field name="plugin-name" as |F|>
                <F.Label>Plugin name</F.Label>
                <F.HelperText>A short, descriptive, and easily discoverable phrase</F.HelperText>
              </Hds::Form::TextInput::Field>

              <Hds::Form::Select::Field @width="100%" name="plugin-type" as |F|>
                <F.Label>Type of plugin</F.Label>
                <F.HelperText>Type should match SDK choice</F.HelperText>
                <F.Options>
                  <option>Authentication method</option>
                </F.Options>
              </Hds::Form::Select::Field>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>

          <FORM.Section>
            <FORM.SectionMultiFieldGroup>
              <Hds::Form::TextInput::Field name="plugin-version" as |F|>
                <F.Label>Plugin version</F.Label>
                <F.HelperText>Use semantic versioning: Major.Minor.Patch</F.HelperText>
              </Hds::Form::TextInput::Field>

              <Hds::Form::Select::Field @width="100%" name="plugin-compatability" as |F|>
                <F.Label>Vault compatability</F.Label>
                <F.HelperText>The oldest compatible version of Vault</F.HelperText>
                <F.Options>
                  <option>1.16.2</option>
                </F.Options>
              </Hds::Form::Select::Field>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>

          <FORM.Section>

            <Hds::Form::Toggle::Field {{style margin-top="16px"}} name="plugin-enterprise-only" as |F|>
              <F.Label>Enterprise only</F.Label>
            </Hds::Form::Toggle::Field>

            <Hds::Form::Textarea::Field name="plugin-description" as |F|>
              <F.Label>Description</F.Label>
              <F.HelperText>A short summary of the capabilities of this plugin</F.HelperText>
              <F.CharacterCount>140 characters allowed</F.CharacterCount>
            </Hds::Form::Textarea::Field>

            <Hds::Form::KeyValueInputs @data={{this.sampleData}} @isOptional={{true}} {{style margin-top="24px"}}>
              <:header as |H|>
                <H.Legend>Plugin binaries</H.Legend>
                <H.HelperText>
                  A zipped binary file for each supported OS and Architecture pair
                </H.HelperText>
              </:header>

              <:row as |R|>
                {{#if (not-eq R.rowIndex undefined)}}
                  {{! @glint-expect-error - with the if statement above, we know R.rowIndex is defined }}
                  {{#let (get this.formErrors R.rowIndex) as |rowErrors|}}
                    <R.Field as |F|>
                      <F.Label>OS and architecture</F.Label>
                      <F.Select name="plugin-os">
                        <option></option>
                        {{! @glint-expect-error }}
                        <option selected={{if (eq "darwin - arm64" R.rowData.os) true}}>darwin - arm64</option>
                        {{! @glint-expect-error }}
                        <option selected={{if (eq "linux - 386" R.rowData.os) true}}>linux - 386</option>
                        {{! @glint-expect-error }}
                        <option selected={{if (eq "windows - amd64" R.rowData.os) true}}>windows - amd64</option>
                      </F.Select>
                    </R.Field>

                    {{#let (get rowErrors "pluginFile") as |fileError|}}
                      <R.Field @isInvalid={{(if (not-eq fileError undefined) true)}} as |F|>
                        <F.Label>File</F.Label>
                        <F.FileInput name="plugin-file" />
                        {{#if (not-eq fileError undefined)}}
                          <F.Error>
                            {{! @glint-expect-error - file error is unknown type for some reason }}
                            {{fileError}}
                          </F.Error>
                        {{/if}}
                      </R.Field>
                    {{/let}}
                    <R.DeleteRowButton @onClick={{this.onDeleteRowClick}} />
                  {{/let}}
                {{/if}}
              </:row>

              <:footer as |F|>
                <F.AddRowButton @text="Add configuration" @onClick={{this.onAddRowClick}} />
              </:footer>
            </Hds::Form::KeyValueInputs>

            <Hds::Form::FileInput::Field name="plugin-documentation" as |F|>
              <F.Label>Plugin documentation</F.Label>
              <F.HelperText>A one-page introductory guide. Accepted formats: .xml, .html, .txt</F.HelperText>
            </Hds::Form::FileInput::Field>

          </FORM.Section>
          <FORM.Footer as |FF|>
            <FF.ButtonSet>
              <Hds::Button @text="Submit" type="submit" form="create-plugin-form" />
              <Hds::Button @text="Cancel" @color="secondary" form="create-plugin-form" />
            </FF.ButtonSet>
          </FORM.Footer>
        </Hds::Form>
      </:body>
    </Hds::Stepper::Nav>
  </:main>
</Mock::App>