{{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}

<ul class='doc-table-of-contents'>
  {{#each-in @structuredPageTree as |key item|}}
    {{#if item.pageURL}}
      <li
        class='doc-table-of-contents__item doc-table-of-contents__item--with-link'
        style={{this.leftPadStyle}}
      >
        {{! convert to LinkTo with @route='show' and @model=item.id }}
        <a href="/{{item.pageURL}}">
          {{capitalize item.pageAttributes.title}}
        </a>
      </li>
    {{else}}
      <li class='doc-table-of-contents__item'>
        <span style={{this.leftPadStyle}}>
          {{capitalize key}}
        </span>
        <DocTableOfContents @structuredPageTree={{item}} @level={{add @level 1}} />
      </li>
    {{/if}}
  {{/each-in}}
</ul>