{{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}

<ul class='doc-table-of-contents'>
  {{#each this.sortedTocs as |toc|}}
    {{#if toc.pages}}
      <li class='doc-table-of-contents__item'>
        <span style={{this.leftPadStyle}}>
          {{capitalize toc.title}}
        </span>
        <DocTableOfContents @tocs={{toc.pages}} @level={{add @level 1}} />
      </li>
    {{else}}
      <li
        class='doc-table-of-contents__item doc-table-of-contents__item--with-link'
        style={{this.leftPadStyle}}
      >
        <LinkTo @route='show' @model={{toc.id}}>
          {{capitalize toc.title}}
        </LinkTo>
      </li>
    {{/if}}
  {{/each}}
</ul>