<div
  class="hds-badge {{this.typeClass}} {{this.colorClass}} {{this.sizeClass}}" ...attributes
>
  {{#if @icon}}
    <div class="hds-badge__icon">
      {{!-- placeholder while we wait for https://github.com/hashicorp/flight/pull/328 --}}
      <div title="placeholder" style="width: 100%; height: 100%; display: block; background: #F0F;"></div>
      {{!-- <FlightIcon @name={{this.iconName}} @size="16" stretched="true" /> --}}
    </div>
  {{/if}}
  {{#if @text}}
    <div class="hds-badge__text">
      {{@text}}
    </div>
  {{/if}}
</div>