{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Translation"}}

<Shw::Text::H1>Translation</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Demo</Shw::Text::H2>
  <Shw::Text::Body>
    This page demonstrates the use of the
    <code>hds-t</code>
    helper for internationalizing text. Selecting a language from the dropdown below will set the global locale used by
    <code>ember-intl</code>
    to translate the text on this page. Selecting
    <code>None</code>
    demonstrates the fallback translation, which is used in consuming applications that have not yet set up
    internationalization through
    <code>ember-intl</code>. The locale will be reset back to its initial value when leaving the page.
  </Shw::Text::Body>

  <Hds::Form::Select::Field @value={{this.lang}} {{on "change" this.setLang}} as |F|>
    <F.Label>{{hds-t
        "showcase.pages.internationalization.translation.language"
        default="Language (Fallback translation)"
      }}</F.Label>

    <F.Options>
      <option value="" selected={{eq this.lang ""}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.none"
          default="None (Fallback translation)"
        }}
      </option>
      <option value="en-us" selected={{eq this.lang "en-us"}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.en"
          default="English (Fallback translation)"
        }}
      </option>
      <option value="es-es" selected={{eq this.lang "es-es"}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.es"
          default="Spanish (Fallback translation)"
        }}
      </option>
      <option value="fr-fr" selected={{eq this.lang "fr-fr"}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.fr"
          default="French (Fallback translation)"
        }}
      </option>
    </F.Options>
  </Hds::Form::Select::Field>

  <Hds::ApplicationState as |A|>
    <A.Header
      @title={{hds-t
        "showcase.pages.internationalization.translation.title"
        default="Selected language (Fallback translation)."
      }}
      @icon="flag"
    />
    <A.Body
      @text={{hds-t
        "showcase.pages.internationalization.translation.body"
        default="The text is displayed in the selected language (Fallback translation)."
      }}
    />
    <A.Footer as |F|>
      <F.Button
        @color="primary"
        @text={{hds-t
          "showcase.pages.internationalization.translation.actions.primary"
          default="Primary action (Fallback translation)"
        }}
      />
      <F.Button
        @color="secondary"
        @text={{hds-t
          "showcase.pages.internationalization.translation.actions.secondary"
          default="Secondary action (Fallback translation)"
        }}
      />
    </A.Footer>
  </Hds::ApplicationState>
</section>