{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Translation"}}

<Shw::Text::H1>Translation</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Demo</Shw::Text::H2>
  <Shw::Text::Body>
    This page demonstrates the use of the
    <code>hds-t</code>
    helper and
    <code>hds-intl</code>
    service for internationalizing text. Selecting a language from the dropdown below will set the global locale used by
    <code>ember-intl</code>
    to translate the text on this page. Selecting
    <code>None</code>
    demonstrates the fallback translation, which is used in consuming applications that have not yet set up
    internationalization through
    <code>ember-intl</code>. The locale will be reset back to its initial value when leaving the page.
  </Shw::Text::Body>

  <Hds::Form::Select::Field @value={{this.lang}} {{on "change" this.setLang}} as |F|>
    <F.Label>{{hds-t
        "showcase.pages.internationalization.translation.language"
        default="Language (Fallback translation)"
      }}</F.Label>

    <F.Options>
      <option value="" selected={{eq this.lang ""}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.none"
          default="None (Fallback translation)"
        }}
      </option>
      <option value="en-us" selected={{eq this.lang "en-us"}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.en"
          default="English (Fallback translation)"
        }}
      </option>
      <option value="es-es" selected={{eq this.lang "es-es"}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.es"
          default="Spanish (Fallback translation)"
        }}
      </option>
      <option value="fr-fr" selected={{eq this.lang "fr-fr"}}>
        {{hds-t
          "showcase.pages.internationalization.translation.language-options.fr"
          default="French (Fallback translation)"
        }}
      </option>
    </F.Options>
  </Hds::Form::Select::Field>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Helpers / Services</Shw::Text::H4>

  <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
    <SG.Item as |SGI|>
      <SGI.Label>Using the <code>hds-t</code> helper</SGI.Label>
      <Hds::ApplicationState as |A|>
        <A.Header
          @title={{hds-t
            "showcase.pages.internationalization.translation.title"
            default="Selected language (Fallback translation)."
          }}
          @icon="flag"
        />
        <A.Body
          @text={{hds-t
            "showcase.pages.internationalization.translation.body"
            default="The text is displayed in the selected language (Fallback translation)."
          }}
        />
        <A.Footer as |F|>
          <F.Button
            @color="primary"
            @text={{hds-t
              "showcase.pages.internationalization.translation.actions.primary"
              default="Primary action (Fallback translation)"
            }}
          />
          <F.Button
            @color="secondary"
            @text={{hds-t
              "showcase.pages.internationalization.translation.actions.secondary"
              default="Secondary action (Fallback translation)"
            }}
          />
        </A.Footer>
      </Hds::ApplicationState>
    </SG.Item>
    <SG.Item as |SGI|>
      <SGI.Label>Using the <code>ember-intl</code> <code>t</code> helper</SGI.Label>
      {{#if (eq this.lang "")}}
        <Shw::Text::Body>
          <code>ember-intl</code>
          does not support fallback translations.
        </Shw::Text::Body>
      {{else}}
        <Hds::ApplicationState as |A|>
          <A.Header @title={{t "showcase.pages.internationalization.translation.title"}} @icon="flag" />
          <A.Body @text={{t "showcase.pages.internationalization.translation.body"}} />
          <A.Footer as |F|>
            <F.Button @color="primary" @text={{t "showcase.pages.internationalization.translation.actions.primary"}} />
            <F.Button
              @color="secondary"
              @text={{t "showcase.pages.internationalization.translation.actions.secondary"}}
            />
          </A.Footer>
        </Hds::ApplicationState>
      {{/if}}
    </SG.Item>
    <SG.Item as |SGI|>
      <SGI.Label>Using the <code>hds-intl</code> service</SGI.Label>
      <Hds::ApplicationState as |A|>
        <A.Header @title={{this.hdsIntlTranslations.title}} @icon="flag" />
        <A.Body @text={{this.hdsIntlTranslations.body}} />
        <A.Footer as |F|>
          <F.Button @color="primary" @text={{this.hdsIntlTranslations.primaryAction}} />
          <F.Button @color="secondary" @text={{this.hdsIntlTranslations.secondaryAction}} />
        </A.Footer>
      </Hds::ApplicationState>
    </SG.Item>
    <SG.Item as |SGI|>
      <SGI.Label>Using the <code>ember-intl</code> <code>intl</code> service</SGI.Label>
      {{#if (eq this.lang "")}}
        <Shw::Text::Body>
          <code>ember-intl</code>
          does not support fallback translations.
        </Shw::Text::Body>
      {{else}}
        <Hds::ApplicationState as |A|>
          <A.Header @title={{this.emberIntlTranslations.title}} @icon="flag" />
          <A.Body @text={{this.emberIntlTranslations.body}} />
          <A.Footer as |F|>
            <F.Button @color="primary" @text={{this.emberIntlTranslations.primaryAction}} />
            <F.Button @color="secondary" @text={{this.emberIntlTranslations.secondaryAction}} />
          </A.Footer>
        </Hds::ApplicationState>
      {{/if}}
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Overriding of HDS translations</Shw::Text::H4>

  <Shw::Flex as |SF|>
    <SF.Item @grow={{true}} as |SFI|>
      <SFI.Label><code>app-footer</code> with overridden (local) translations</SFI.Label>
      <Hds::AppFooter as |F|>
        <F.LegalLinks />
      </Hds::AppFooter>
    </SF.Item>
  </Shw::Flex>

</section>