{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "AppSideNav Component"}}

<Shw::Text::H1>
  AppSideNav
</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Text::H3>With generic content</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Body base invocation">
      <div class="shw-component-sim-app-side-nav-root-container">
        <Hds::AppSideNav @isResponsive={{false}}>
          <Shw::Placeholder @text="body" />
        </Hds::AppSideNav>
      </div>
    </SF.Item>

    <SF.Item @label="Body (scrollable)">
      <div class="shw-component-sim-app-side-nav-root-container">
        <Hds::AppSideNav @isResponsive={{false}}>
          <Shw::Placeholder @height="800px" @text="body" @background="#d2f4ff" tabindex="0" />
        </Hds::AppSideNav>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>With content injected via "portal"</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Body with PortalTarget/Portal">
      <div class="shw-component-sim-app-side-nav-root-container">
        <Hds::AppSideNav @isResponsive={{false}}>
          <Hds::AppSideNav::Portal::Target @targetName="sidenav-portal-demo-1" />
        </Hds::AppSideNav>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Hds::AppSideNav::Portal @targetName="sidenav-portal-demo-1" @ariaLabel="Primary on portal demo 1" as |Nav|>
    <Nav.ExtraBefore><Shw::Placeholder @height="72px" @text="extraBefore" @background="#f3d9c5" /></Nav.ExtraBefore>
    <Nav.Item><Shw::Placeholder @height="200px" @text="portaled content" /></Nav.Item>
    <Nav.ExtraAfter><Shw::Placeholder @height="72px" @text="extraAfter" @background="#f3d9c5" /></Nav.ExtraAfter>
  </Hds::AppSideNav::Portal>
</section>

<Shw::Divider @level={{2}} />

<section data-test-percy>
  <Shw::Text::H2>Examples of sidebar navigation</Shw::Text::H2>

  <Shw::Grid @columns={{3}} as |SG|>
    <SG.Item>
      <Shw::Text::H3>Content injected via portal</Shw::Text::H3>
      <Shw::Flex as |SF|>
        <SF.Item @label="With PortalTarget + Portal with “nav” items">
          <div class="shw-component-sim-app-side-nav-root-container" {{style height="auto"}}>
            <Hds::AppSideNav @isResponsive={{false}}>
              <Hds::AppSideNav::Portal::Target @targetName="sidenav-portal-demo-2" />
            </Hds::AppSideNav>
          </div>
        </SF.Item>
      </Shw::Flex>
      <Hds::AppSideNav::Portal @targetName="sidenav-portal-demo-2" @ariaLabel="Primary on portal demo 2" as |Nav|>
        <Nav.Link @icon="dashboard" @text="Dashboard" @isActive={{true}} />
        <Nav.Title>Services</Nav.Title>
        <Nav.Link @text="Boundary" @icon="boundary" @href="#" />
        <Nav.Link @text="Consul" @icon="consul" @href="#" />
        <Nav.Link @text="Packer" @icon="packer" @href="#" />
        <Nav.Link @text="Vault" @icon="vault" @href="#" />
        <Nav.Link @text="Vault Secrets" @icon="vault-secrets-square" @href="#" />
        <Nav.Link @text="Terraform" @icon="terraform" @href="#" />
        <Nav.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
        <Nav.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} />
        <Nav.Title>Default Org</Nav.Title>
        <Nav.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
        <Nav.Link @text="Access control (IAM)" @icon="users" @href="#" @hasSubItems={{true}} />
        <Nav.Link @text="Billing" @icon="credit-card" @href="#" @hasSubItems={{true}} />
        <Nav.Link @text="Settings" @icon="settings" @href="#" @hasSubItems={{true}} />
        <Nav.Link @href="#" @isHrefExternal={{true}} @icon="guide" @text="Documentation" />
      </Hds::AppSideNav::Portal>
    </SG.Item>

    <SG.Item>
      <Shw::Text::H3>Yielded content</Shw::Text::H3>

      <Shw::Flex as |SF|>
        <SF.Item @label="With product icons using text color">
          <div class="shw-component-sim-app-side-nav-root-container" {{style height="auto"}}>
            <Hds::AppSideNav @isResponsive={{false}}>
              <Hds::AppSideNav::List aria-label="Dashboard" as |SNL|>
                <SNL.Link @icon="dashboard" @text="Dashboard" @isActive={{true}} />
              </Hds::AppSideNav::List>

              <Hds::AppSideNav::List aria-label="Services" as |SNL|>
                <SNL.Title>Services</SNL.Title>
                <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
                <SNL.Link @text="Consul" @icon="consul" @href="#" />
                <SNL.Link @text="Packer" @icon="packer" @href="#" />
                <SNL.Link @text="Vault" @icon="vault" @href="#" />
                <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @href="#" />
                <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
                <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
                <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} />
              </Hds::AppSideNav::List>

              <Hds::AppSideNav::List aria-label="Organization" as |SNL|>
                <SNL.Title>Default Org</SNL.Title>
                <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
                <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" @hasSubItems={{true}} />
                <SNL.Link @text="Billing" @icon="credit-card" @href="#" @hasSubItems={{true}} />
                <SNL.Link @text="Settings" @icon="settings" @href="#" @hasSubItems={{true}} />
                <SNL.Link @href="#" @isHrefExternal={{true}} @icon="guide" @text="Documentation" />
              </Hds::AppSideNav::List>
            </Hds::AppSideNav>
          </div>
        </SF.Item>
      </Shw::Flex>
    </SG.Item>

    <SG.Item>
      <Shw::Text::H3>Yielded content</Shw::Text::H3>

      <Shw::Flex as |SF|>
        <SF.Item @label="With back link">
          <div class="shw-component-sim-app-side-nav-root-container">
            <Hds::AppSideNav @isResponsive={{false}}>
              <Hds::AppSideNav::List as |SNL|>
                <SNL.BackLink @text="A “back” link" @href="#" />
                <SNL.Title>A section title</SNL.Title>
                <SNL.Link @text="A link with just text" @href="#" />
                <SNL.Link @text="A link with an icon" @icon="network" @href="#" />
                <SNL.Link @text="With a “count”" @icon="users" @count="12" @href="#" />
                <SNL.Link @text="With a “badge” " @icon="credit-card" @badge="Beta" @href="#" />
                <SNL.Link @text="With “sub items” indicator" @icon="settings" @hasSubItems={{true}} />
                <SNL.Link @href="#" @isHrefExternal={{true}} @icon="guide" @text="As an “external” link" />
              </Hds::AppSideNav::List>
            </Hds::AppSideNav>
          </div>
        </SF.Item>
      </Shw::Flex>
    </SG.Item>
  </Shw::Grid>
</section>

<Shw::Divider />

<section data-test-percy>
  <Shw::Text::H2>Hds::AppSideNav::List</Shw::Text::H2>

  <Shw::Text::H3>Content</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Title with multiple items">
      <div class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List aria-label="Multiple items" as |SNL|>
          <SNL.Title>Services</SNL.Title>

          <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
          <SNL.Link @text="Consul" @icon="consul" @href="#" />
          <SNL.Link @text="Packer" @icon="packer" @href="#" />
          <SNL.Link @text="Vault" @icon="vault" @href="#" />
          <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @badge="Alpha" @href="#" />
          <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
          <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
          <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} @href="#" />

          <SNL.Title>Default Org</SNL.Title>

          <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
          <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" />
          <SNL.Link @text="Billing" @icon="credit-card" @href="#" />
          <SNL.Link @text="Settings" @icon="settings" @href="#" />
        </Hds::AppSideNav::List>
      </div>
    </SF.Item>

    <SF.Item @label="Multiple groups">
      <div class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List aria-label="Dashboard (multiple groups)" as |SNL|>
          <SNL.Link @text="Dashboard" @icon="dashboard" @href="#" />
        </Hds::AppSideNav::List>
        <Hds::AppSideNav::List aria-label="Services (multiple groups)" as |SNL|>
          <SNL.Title>Services</SNL.Title>

          <SNL.Link @text="Boundary" @icon="boundary" @href="#" />
          <SNL.Link @text="Consul" @icon="consul" @href="#" />
          <SNL.Link @text="Packer" @icon="packer" @href="#" />
          <SNL.Link @text="Vault" @icon="vault" @href="#" />
          <SNL.Link @text="Vault Secrets" @icon="vault-secrets-square" @badge="Alpha" @href="#" />
          <SNL.Link @text="Terraform" @icon="terraform" @href="#" />
          <SNL.Link @text="Vagrant" @icon="vagrant" @badge="Alpha" @href="#" />
          <SNL.Link @text="Waypoint" @icon="waypoint" @badge="Alpha" @hasSubItems={{true}} @href="#" />
        </Hds::AppSideNav::List>
        <Hds::AppSideNav::List aria-label="Organization (multiple groups)" as |SNL|>
          <SNL.Title>Default Org</SNL.Title>

          <SNL.Link @text="HashiCorp Virtual Networks" @icon="network" @href="#" />
          <SNL.Link @text="Access control (IAM)" @icon="users" @href="#" />
          <SNL.Link @text="Billing" @icon="credit-card" @href="#" />
          <SNL.Link @text="Settings" @icon="settings" @href="#" />
        </Hds::AppSideNav::List>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>AppSideNav::List::Title</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Base">
      <ul class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List::Title>Group title</Hds::AppSideNav::List::Title>
        <Hds::AppSideNav::List::Item>
          <Shw::Placeholder @height="108px" @text="following content" />
        </Hds::AppSideNav::List::Item>
      </ul>
    </SF.Item>
    <SF.Item @label="With very long text">
      <ul class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List::Title>This is a long text that should go on two lines</Hds::AppSideNav::List::Title>
        <Hds::AppSideNav::List::Item>
          <Shw::Placeholder @height="108px" @text="following content" />
        </Hds::AppSideNav::List::Item>
      </ul>
    </SF.Item>
    <SF.Item @label="With very long text and no spaces">
      <ul class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List::Title
        >ThisIsLongTextThatShouldWrapToTwoLinesAndNotOverflow</Hds::AppSideNav::List::Title>
        <Hds::AppSideNav::List::Item>
          <Shw::Placeholder @height="108px" @text="following content" />
        </Hds::AppSideNav::List::Item>
      </ul>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>AppSideNav::List::Item</Shw::Text::H3>

  <ul class="shw-component-sim-app-side-nav-body">
    <Hds::AppSideNav::List::Item>
      <Shw::Placeholder @height="36px" @text="item" />
    </Hds::AppSideNav::List::Item>
  </ul>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>AppSideNav::List::Link</Shw::Text::H3>

  <Shw::Text::H4>Content</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    <SG.Item @label="Just text">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @text="Boundary" @href="#" />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @href="#" />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + badge">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @badge="Alpha" />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + count">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @count="3" />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + count + badge">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @count="3" @badge="Alpha" />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + yielded badgecount/badge">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary">
          <Hds::BadgeCount @type="inverted" @size="small" @text="3" />
          <Hds::Badge @type="inverted" @size="small" @color="success" @text="Beta" />
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + long text">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="This is a long text that should go on two lines" />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + long text + count + badge">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link
          @icon="boundary"
          @text="This is a long text that should go on two lines"
          @count="3"
          @badge="Alpha"
        />
      </ul>
    </SG.Item>

    <SG.Item @label="Text, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @text="Boundary" @href="#" @hasSubItems={{true}} />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @href="#" @hasSubItems={{true}} />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + badge, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @badge="Alpha" @hasSubItems={{true}} />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + count, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @count="3" @hasSubItems={{true}} />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + count + badge, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link
          @icon="boundary"
          @text="Boundary"
          @count="3"
          @badge="Alpha"
          @hasSubItems={{true}}
        />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + yielded badgecount/badge, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @hasSubItems={{true}}>
          <Hds::BadgeCount @type="inverted" @size="small" @text="3" />
          <Hds::Badge @type="inverted" @size="small" @color="success" @text="Beta" />
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + long text, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link
          @icon="boundary"
          @text="This is a long text that should go on two lines"
          @hasSubItems={{true}}
        />
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + long text + count + badge, hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link
          @icon="boundary"
          @text="This is a long text that should go on two lines"
          @count="3"
          @badge="Alpha"
          @hasSubItems={{true}}
        />
      </ul>
    </SG.Item>

    <SG.Item @label="Just yielded content">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link>
          <Shw::Placeholder @height="20px" @text="yielded content" />
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + yielded content">
      {{! we've added an empty label on purpose, to test the layout in this case }}
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="">
          <Shw::Placeholder @height="20px" @text="yielded content" />
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Icon + text + yielded content">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary">
          <Shw::Placeholder @height="20px" @width="auto" @flex="1 1 0" @text="yielded content" />
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="With hasSubItems">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="boundary" @text="Boundary" @hasSubItems={{true}}>
          <Shw::Placeholder @height="20px" @width="auto" @flex="1 1 0" @text="yielded content" />
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Text with no style">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link>
          This text needs local styling
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Text with local style">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link>
          <span class="hds-typography-body-200 hds-font-weight-medium">
            This text is locally styled
          </span>
        </Hds::AppSideNav::List::Link>
      </ul>
    </SG.Item>
    <SG.Item @label="Default link">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link @icon="hashicorp" @text="HashiCorp Cloud Platform" @href="#" />
      </ul>
    </SG.Item>
    <SG.Item @label="External link">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link
          @icon="hashicorp"
          @text="HashiCorp Cloud Platform"
          @isHrefExternal={{true}}
          @href="#"
        />
      </ul>
    </SG.Item>
    <SG.Item @label="Internal link">
      <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
        <Hds::AppSideNav::List::Link
          @icon="hashicorp"
          @text="HashiCorp Cloud Platform"
          @isHrefExternal={{false}}
          @href="#"
        />
      </ul>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H4>States</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    {{#let (array "default" "hover" "active" "focus") as |states|}}
      {{#each states as |state|}}
        <SG.Item @label={{state}}>
          <Shw::Flex as |SF|>
            <SF.Item @grow={{true}}>
              <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
                <Hds::AppSideNav::List::Link @text="Packer" @icon="packer" @href="#" />
                <Hds::AppSideNav::List::Link
                  @text="Terraform"
                  @icon="terraform"
                  @badge="Alpha"
                  @count="3"
                  @href="#"
                  mock-state-value={{state}}
                />
                <Hds::AppSideNav::List::Link @text="Vagrant" @icon="vagrant" @href="#" />
              </ul>
            </SF.Item>
            <SF.Item @grow={{true}}>
              <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
                <Hds::AppSideNav::List::Link @text="Packer" @icon="packer" @href="#" />
                <Hds::AppSideNav::List::Link
                  @text="This is a long text that should go on two lines"
                  @icon="terraform"
                  @href="#"
                  mock-state-value={{state}}
                />
                <Hds::AppSideNav::List::Link @text="Vagrant" @icon="vagrant" @href="#" />
              </ul>
            </SF.Item>
            <SF.Item @grow={{true}}>
              <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
                <Hds::AppSideNav::List::Link @text="Packer" @icon="packer" @href="#" />
                <Hds::AppSideNav::List::Link
                  @text="Terraform"
                  @icon="terraform"
                  @href="#"
                  @hasSubItems={{true}}
                  mock-state-value={{state}}
                />
                <Hds::AppSideNav::List::Link @text="Vagrant" @icon="vagrant" @href="#" />
              </ul>
            </SF.Item>
          </Shw::Flex>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Grid @label="with @isActive=true (link is 'current')" @columns={{4}} as |SG|>
    {{#let (array "default" "hover" "active" "focus") as |states|}}
      {{#each states as |state|}}
        <SG.Item>
          <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
            <Hds::AppSideNav::List::Link @text="Packer" @icon="packer" @href="#" />
            <Hds::AppSideNav::List::Link
              @text="Terraform"
              @icon="terraform"
              @href="#"
              @hasSubItems={{true}}
              @isActive={{true}}
              mock-state-value={{state}}
            />
            <Hds::AppSideNav::List::Link @text="Vagrant" @icon="vagrant" @href="#" />
          </ul>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Text::H4>Focus before/after</Shw::Text::H4>

  {{#let (array "before" "after") as |positions|}}
    {{#each positions as |position|}}
      <Shw::Grid @columns={{4}} as |SG|>
        {{#let (array "default" "active") as |states|}}
          {{#each states as |state|}}
            <SG.Item @label="{{state}} / focus {{position}}">
              <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
                <Hds::AppSideNav::List::Link
                  @text="Packer"
                  @icon="packer"
                  @href="#"
                  mock-state-value={{if (eq position "before") "focus"}}
                />
                <Hds::AppSideNav::List::Link @text="Terraform" @icon="terraform" @href="#" mock-state-value={{state}} />
                <Hds::AppSideNav::List::Link
                  @text="Vagrant"
                  @icon="vagrant"
                  @href="#"
                  mock-state-value={{if (eq position "after") "focus"}}
                />
              </ul>
            </SG.Item>
          {{/each}}
        {{/let}}
        <SG.Item @label="with @isActive=true / focus {{position}}">
          <ul class="shw-component-sim-app-side-nav-list-link-wrapper">
            <Hds::AppSideNav::List::Link
              @text="Packer"
              @icon="packer"
              @href="#"
              mock-state-value={{if (eq position "before") "focus"}}
            />
            <Hds::AppSideNav::List::Link
              @text="Terraform"
              @icon="terraform"
              @href="#"
              @hasSubItems={{true}}
              @isActive={{true}}
            />
            <Hds::AppSideNav::List::Link
              @text="Vagrant"
              @icon="vagrant"
              @href="#"
              mock-state-value={{if (eq position "after") "focus"}}
            />
          </ul>
        </SG.Item>
      </Shw::Grid>
    {{/each}}
  {{/let}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>AppSideNav::List::BackLink</Shw::Text::H3>

  <Shw::Text::H4>Content</Shw::Text::H4>

  <Shw::Flex as |SF|>
    <SF.Item @label="Base">
      <ul class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List::BackLink @text="Back to parent page" @href="#" />
      </ul>
    </SF.Item>
    <SF.Item @label="With very long text">
      <ul class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List::BackLink @text="This is a long text that should go on two lines" @href="#" />
      </ul>
    </SF.Item>
    <SF.Item @label="With very long text and no spaces">
      <ul class="shw-component-sim-app-side-nav-body">
        <Hds::AppSideNav::List::BackLink @text="ThisIsLongTextThatShouldWrapToTwoLinesAndNotOverflow" @href="#" />
      </ul>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>States</Shw::Text::H4>

  <Shw::Grid @columns={{4}} as |SG|>
    {{#let (array "default" "hover" "active" "focus") as |states|}}
      {{#each states as |state|}}
        <SG.Item @label={{state}}>
          <Shw::Flex @direction="column" as |SF|>
            <SF.Item>
              <ul class="shw-component-sim-app-side-nav-body">
                <Hds::AppSideNav::List::BackLink @text="Back to parent page" @href="#" mock-state-value={{state}} />
              </ul>
            </SF.Item>
            <SF.Item>
              <ul class="shw-component-sim-app-side-nav-body">
                <Hds::AppSideNav::List::BackLink
                  @text="This is a long text that should go on two lines"
                  @href="#"
                  mock-state-value={{state}}
                />
              </ul>
            </SF.Item>
          </Shw::Flex>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>AppSideNav::ToggleButton</Shw::Text::H2>

  <Shw::Text::H3>Content</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Minimized">
      <div class="shw-component-sim-toggle-button">
        <Hds::AppSideNav::ToggleButton aria-label="Open menu" @icon="chevrons-right" />
      </div>
    </SF.Item>
    <SF.Item @label="Expanded">
      <div class="shw-component-sim-toggle-button">
        <Hds::AppSideNav::ToggleButton aria-label="Close menu" @icon="chevrons-left" />
      </div>
    </SF.Item>
    <SF.Item @label="Custom icon">
      <div class="shw-component-sim-toggle-button">
        <Hds::AppSideNav::ToggleButton aria-label="Menu" @icon="menu" />
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>States</Shw::Text::H4>

  <Shw::Flex as |SF|>
    {{#let (array "default" "hover" "active" "focus") as |states|}}
      {{#each states as |state|}}
        <SF.Item @label={{state}}>
          <div class="shw-component-sim-toggle-button">
            <Hds::AppSideNav::ToggleButton aria-label="Close menu" @icon="chevrons-left" mock-state-value={{state}} />
          </div>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>
</section>

{{! For some reason, Ember tests don't play well with iframes (URL not found) so we can't take snapshots of these examples in Percy }}
<section>

  <Shw::Divider />

  <Shw::Text::H2>Responsiveness</Shw::Text::H2>

  <Shw::Frame
    @id="demo-full-app-side-nav-large-viewports"
    @src="/components/app-side-nav/frameless/demo-responsiveness"
    @height="780"
    @label="Large viewport"
  />

  <Shw::Frame
    @id="demo-full-app-side-nav-small-viewports"
    @src="/components/app-side-nav/frameless/demo-responsiveness"
    @width="800"
    @height="780"
    @label="Small viewport (< 1088px)"
  />

  <Shw::Divider />

  <Shw::Text::H2>Demo</Shw::Text::H2>

  <Shw::Frame
    @id="demo-full-app-frame-with-app-header-and-app-side-nav"
    @src="/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav"
    @height="780"
    @label="Full AppFrame with AppHeader & AppSideNav"
  />
  <Shw::Divider />

  <Shw::Frame
    @id="demo-full-app-frame-with-app-header-and-app-side-nav-small-viewport"
    @src="/layouts/app-frame/frameless/demo-full-app-frame-with-app-header-and-app-side-nav"
    @width="800"
    @height="780"
    @label="Full AppFrame with AppHeader & AppSideNav (small viewport)"
  />

  <Shw::Divider />

  <Shw::Frame
    @id="demo-full-app-frame-with-remove-from-dom"
    @src="/components/app-side-nav/frameless/demo-remove-from-dom"
    @height="780"
    @width="800"
    @label="Remove AppSideNav from DOM when collapse"
  />
  <Shw::Text::Body>
    This demo verifies that when the `AppSideNav` component is removed from the DOM while page overflow styles are
    overridden, the page's scroll functionality is properly restored.
  </Shw::Text::Body>

  <Shw::Text::Body>
    To check this, expand and then collapse the AppSideNav. Then try to scroll the page.
  </Shw::Text::Body>

</section>