{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Form / Base elements"}}

<Shw::Text::H1>Form / Base elements</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Label</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With simple text">
      <Hds::Form::Label>This is a simple label</Hds::Form::Label>
    </SF.Item>
    <SF.Item @label="With required indicator">
      <Hds::Form::Label @isRequired={{true}}>This is the label</Hds::Form::Label>
    </SF.Item>
    <SF.Item @label="With optional indicator">
      <Hds::Form::Label @isOptional={{true}}>This is the label</Hds::Form::Label>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With structured content (eg. a <code>flex</code> layout and a <code>&lt;Badge&gt;</code>)</SF.Label>
      <Hds::Form::Label>
        <div class="shw-component-form-base-elements-container-with-badge">
          This is the label
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </div>
      </Hds::Form::Label>
    </SF.Item>
    <SF.Item>
      <SF.Label>With structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>) and required indicator</SF.Label>
      <Hds::Form::Label @isRequired={{true}}>
        <div class="shw-component-form-base-elements-container-with-badge">
          This is the label
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </div>
      </Hds::Form::Label>
    </SF.Item>
    <SF.Item>
      <SF.Label>With structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>) and optional indicator</SF.Label>
      <Hds::Form::Label @isOptional={{true}}>
        <Shw::Outliner class="shw-component-form-base-elements-container-with-badge">
          This is the label
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </Shw::Outliner>
      </Hds::Form::Label>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines">
      <Shw::Outliner {{style max-width="250px"}}>
        <Hds::Form::Label>This is a very long label text that should go on multiple lines</Hds::Form::Label>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines and required indicator">
      <Shw::Outliner {{style max-width="250px"}}>
        <Hds::Form::Label @isRequired={{true}}>This is a very long label text that should go on multiple lines</Hds::Form::Label>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines and optional indicator">
      <Shw::Outliner {{style max-width="250px"}}>
        <Hds::Form::Label @isOptional={{true}}>This is a very long label text that should go on multiple lines</Hds::Form::Label>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With text that spans multiple lines, structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>) and required indicator
      </SFI.Label>
      <Shw::Outliner {{style max-width="250px"}}>
        <Hds::Form::Label @isRequired={{true}}>
          This is a very long label text that should go on multiple lines
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </Hds::Form::Label>
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Helper text</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With simple text">
      <Hds::Form::HelperText>This is the helper text, usually used jointly with the label.</Hds::Form::HelperText>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With <code>&lt;Link::Inline&gt;</code></SF.Label>
      <Hds::Form::HelperText>This is a helper text
        <Hds::Link::Inline @route="index">with a link</Hds::Link::Inline></Hds::Form::HelperText>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With <code>&lt;Link::Inline&gt;</code> and <code>secondary</code> color</SF.Label>
      <Hds::Form::HelperText>This is a helper text
        <Hds::Link::Inline @route="index" @color="secondary">with a secondary link</Hds::Link::Inline></Hds::Form::HelperText>
    </SF.Item>
    <SF.Item @label="With structured content (eg. HTML tags)">
      <Hds::Form::HelperText>
        A helper text may contain some
        <code>&lt;code&gt;</code>
        for example, or a
        <strong>&lt;strong&gt;</strong>.
      </Hds::Form::HelperText>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines">
      <Shw::Outliner {{style max-width="250px"}}>
        <Hds::Form::HelperText>This is a very long helper text that should go on multiple lines</Hds::Form::HelperText>
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Indicator</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item @label="isRequired">
      <Hds::Form::Indicator @isRequired={{true}} />
    </SF.Item>
    <SF.Item @label="isOptional">
      <Hds::Form::Indicator @isOptional={{true}} />
    </SF.Item>
    <SF.Item @label="No arguments">
      <Hds::Form::Indicator />
    </SF.Item>
  </Shw::Flex>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Character count</Shw::Text::H2>

  <Shw::Text::H3>Default content</Shw::Text::H3>

  <Shw::Text::Body>Base</Shw::Text::Body>

  {{! template-lint-disable require-input-label }}
  <Shw::Grid @columns={{4}} as |SG|>
    <SG.Item @label="currentLength = 0">
      <input type="text" aria-label="currentLength = 0" id="cc-cl-eq-0" />
      <Hds::Form::CharacterCount @controlId="cc-cl-eq-0" />
    </SG.Item>
    <SG.Item @label="currentLength > 0">
      <input type="text" value="cl" aria-label="currentLength > 0" id="cc-cl-gt-0" />
      <Hds::Form::CharacterCount @controlId="cc-cl-gt-0" />
    </SG.Item>
  </Shw::Grid>
  {{! template-lint-enable require-input-label }}

  <Shw::Text::Body>maxLength</Shw::Text::Body>

  {{! template-lint-disable require-input-label }}
  <Shw::Grid @columns={{4}} as |SG|>
    <SG.Item @label="currentLength = 0">
      {{#let (unique-id) as |controlId|}}
        <input type="text" aria-label="currentLength = 0" id={{controlId}} />
        <Hds::Form::CharacterCount @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength < maxLength">
      {{#let (unique-id) as |controlId|}}
        <input type="text" value="cluster" aria-label="currentLength < maxLength" id={{controlId}} />
        <Hds::Form::CharacterCount @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength = maxLength">
      {{#let (unique-id) as |controlId|}}
        <input type="text" value="cluster-length-is-longer-" aria-label="currentLength = maxLength" id={{controlId}} />
        <Hds::Form::CharacterCount @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength > maxLength">
      {{#let (unique-id) as |controlId|}}
        <input
          type="text"
          value="cluster-length-is-longer-than"
          aria-label="currentLength > maxLength"
          id={{controlId}}
        />
        <Hds::Form::CharacterCount @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
  </Shw::Grid>
  {{! template-lint-enable require-input-label }}

  <Shw::Text::Body>minLength</Shw::Text::Body>

  {{! template-lint-disable require-input-label }}
  <Shw::Grid @columns={{4}} as |SG|>
    <SG.Item @label="currentLength = 0">
      {{#let (unique-id) as |controlId|}}
        <input type="text" aria-label="currentLength = 0" id={{controlId}} />
        <Hds::Form::CharacterCount @minLength={{3}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength < maxLength">
      {{#let (unique-id) as |controlId|}}
        <input type="text" value="c" aria-label="currentLength < maxLength" id={{controlId}} />
        <Hds::Form::CharacterCount @minLength={{3}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength >= minLength">
      {{#let (unique-id) as |controlId|}}
        <input type="text" value="clu" aria-label="currentLength >= minLength" id={{controlId}} />
        <Hds::Form::CharacterCount @minLength={{3}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item />
  </Shw::Grid>
  {{! template-lint-enable require-input-label }}

  <Shw::Text::Body>minLength + maxLength</Shw::Text::Body>

  {{! template-lint-disable require-input-label }}
  <Shw::Grid @columns={{4}} as |SG|>
    <SG.Item @label="currentLength = 0">
      {{#let (unique-id) as |controlId|}}
        <input type="text" aria-label="currentLength = 0" id={{controlId}} />
        <Hds::Form::CharacterCount @minLength={{3}} @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength < minLength">
      {{#let (unique-id) as |controlId|}}
        <input type="text" value="c" aria-label="currentLength < minLength" id={{controlId}} />
        <Hds::Form::CharacterCount @minLength={{3}} @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="minLength <= currentLength <= maxLength">
      {{#let (unique-id) as |controlId|}}
        <input type="text" value="cluster" aria-label="minLength <= currentLength <= maxLength" id={{controlId}} />
        <Hds::Form::CharacterCount @minLength={{3}} @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
    <SG.Item @label="currentLength > maxLength">
      {{#let (unique-id) as |controlId|}}
        <input
          type="text"
          value="cluster-length-is-longer-than"
          aria-label="currentLength > maxLength"
          id={{controlId}}
        />
        <Hds::Form::CharacterCount @minLength={{3}} @maxLength={{25}} @controlId={{controlId}} />
      {{/let}}
    </SG.Item>
  </Shw::Grid>
  {{! template-lint-enable require-input-label }}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Custom content</Shw::Text::H3>

  {{! template-lint-disable require-input-label }}
  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With custom content (and callback function)">
      {{#let (unique-id) as |controlId|}}
        <input type="text" aria-label="with callback function" value="Lorem ipsum dolor" id={{controlId}} />
        <Hds::Form::CharacterCount
          @minLength={{20}}
          @maxLength={{40}}
          @onInput={{this.onInput}}
          @controlId={{controlId}}
          as |CC|
        >
          maxLength={{CC.maxLength}}; minLength={{CC.minLength}}; remaining={{CC.remaining}}; shortfall={{CC.shortfall}};
          currentLength={{CC.currentLength}};
        </Hds::Form::CharacterCount>
      {{/let}}
    </SF.Item>
  </Shw::Flex>
  {{! template-lint-enable require-input-label }}

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Error</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With simple text">
      <Hds::Form::Error>This is a simple error message</Hds::Form::Error>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines">
      <Shw::Outliner {{style width="250px"}}>
        <Hds::Form::Error>This is a very long error message that should span on multiple lines</Hds::Form::Error>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="With multiple error messages">
      <Hds::Form::Error as |Error|>
        {{#each @model.SAMPLE_ERROR_MESSAGES as |message|}}
          <Error.Message>{{message}}</Error.Message>
        {{/each}}
      </Hds::Form::Error>
    </SF.Item>
  </Shw::Flex>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Legend</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With simple text">
      <Hds::Form::Legend>This is a simple legend</Hds::Form::Legend>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With <code>&lt;Link::Inline&gt;</code></SF.Label>
      <Hds::Form::Legend>This is a legend
        <Hds::Link::Inline @route="index">with a link</Hds::Link::Inline></Hds::Form::Legend>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With <code>&lt;Link::Inline&gt;</code> and <code>secondary</code> color</SF.Label>
      <Hds::Form::Legend>This is a legend
        <Hds::Link::Inline @route="index" @color="secondary">with a secondary link</Hds::Link::Inline></Hds::Form::Legend>
    </SF.Item>
    <SF.Item @label="With required indicator">
      <Hds::Form::Legend @isRequired={{true}}>This is a simple legend</Hds::Form::Legend>
    </SF.Item>
    <SF.Item @label="With optional indicator">
      <Hds::Form::Legend @isOptional={{true}}>This is a simple legend</Hds::Form::Legend>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>)
      </SF.Label>
      <Hds::Form::Legend>
        <div class="shw-component-form-base-elements-container-with-badge">This is the legend
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </div>
      </Hds::Form::Legend>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>) and required indicator
      </SF.Label>
      <div class="shw-component-form-base-elements-container-with-badge">
        <Hds::Form::Legend @isRequired={{true}}>
          This is the legend
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </Hds::Form::Legend>
      </div>
    </SF.Item>
    <SF.Item as |SF|>
      <SF.Label>With structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>) and optional indicator
      </SF.Label>
      <div class="shw-component-form-base-elements-container-with-badge">
        <Hds::Form::Legend @isOptional={{true}}>
          This is the legend
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </Hds::Form::Legend>
      </div>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines">
      <Shw::Outliner class="shw-component-form-base-elements-container-with-badge" {{style max-width="250px"}}>
        <Hds::Form::Legend>This is a very long legend text that should go on multiple lines</Hds::Form::Legend>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines and required indicator">
      <Shw::Outliner class="shw-component-form-base-elements-container-with-badge" {{style max-width="250px"}}>
        <Hds::Form::Legend @isRequired={{true}}>This is a very long legend text that should go on multiple lines</Hds::Form::Legend>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="With text that spans multiple lines and optional indicator">
      <Shw::Outliner class="shw-component-form-base-elements-container-with-badge" {{style max-width="250px"}}>
        <Hds::Form::Legend @isOptional={{true}}>This is a very long legend text that should go on multiple lines</Hds::Form::Legend>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>With text that spans multiple lines, structured content (eg. a
        <code>flex</code>
        layout and a
        <code>&lt;Badge&gt;</code>) and required indicator
      </SFI.Label>
      <Shw::Outliner class="shw-component-form-base-elements-container-with-badge" {{style max-width="250px"}}>
        <Hds::Form::Legend @isRequired={{true}}>
          This is a very long legend text that should go on multiple lines
          <Hds::Badge @size="small" @text="Some badge" @color="highlight" />
        </Hds::Form::Legend>
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Field</Shw::Text::H2>

  <button id="dummy-toggle-highlight" type="button" {{on "click" this.toggleHighlight}}>{{if
      this.showHighlight
      "Hide"
      "Show"
    }}
    layout highlight</button>

  <div class="{{if this.showHighlight 'shw-component-form-base-elements-layout-highlight'}}">

    <Shw::Text::H3>Layout</Shw::Text::H3>

    <Shw::Grid @columns={{3}} as |SG|>
      {{#let (array "vertical" "flag") as |layouts|}}
        {{#each layouts as |layout|}}
          <SG.Item @label={{capitalize layout}}>
            <Hds::Form::Field @layout={{layout}} as |F|>
              <F.Label>This is the label</F.Label>
              <F.HelperText>This is the helper text</F.HelperText>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
              <F.Error>This is the error</F.Error>
            </Hds::Form::Field>
          </SG.Item>
        {{/each}}
      {{/let}}
    </Shw::Grid>

    {{#let (array "vertical" "flag") as |layouts|}}
      {{#each layouts as |layout|}}
        <Shw::Divider @level={{2}} />
        <Shw::Text::H3>Content / "{{layout}}" layout</Shw::Text::H3>
        <Shw::Grid @columns={{3}} as |SG|>

          <SG.Item @label="Only label">
            <Hds::Form::Field @layout={{layout}} as |F|>
              <F.Label>This is the label text</F.Label>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
            </Hds::Form::Field>
          </SG.Item>
          <SG.Item @label="Label + Helper text">
            <Hds::Form::Field @layout={{layout}} as |F|>
              <F.Label>This is the label text</F.Label>
              <F.HelperText>This is the helper text</F.HelperText>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
            </Hds::Form::Field>
          </SG.Item>
          <SG.Item @label="Label + Helper text + Indicator">
            <Hds::Form::Field @layout={{layout}} @isRequired={{true}} as |F|>
              <F.Label>This is the label text</F.Label>
              <F.HelperText>This is the helper text</F.HelperText>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
            </Hds::Form::Field>
          </SG.Item>
        </Shw::Grid>

        <br />

        <Shw::Grid @columns={{3}} as |SG|>
          <SG.Item @albel="Label + Error">
            <Hds::Form::Field @layout={{layout}} as |F|>
              <F.Label>This is the label</F.Label>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
              <F.Error>This is the error</F.Error>
            </Hds::Form::Field>
          </SG.Item>
          <SG.Item @albel="Label + Helper text + Error">
            <Hds::Form::Field @layout={{layout}} as |F|>
              <F.Label>This is the label</F.Label>
              <F.HelperText>This is the helper text</F.HelperText>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
              <F.Error>This is the error</F.Error>
            </Hds::Form::Field>
          </SG.Item>
          <SG.Item @albel="Label + Helper text + Errors">
            <Hds::Form::Field @layout={{layout}} as |F|>
              <F.Label>This is the label</F.Label>
              <F.HelperText>This is the helper text</F.HelperText>
              <F.Control>
                {{#if (eq layout "vertical")}}
                  <Shw::Placeholder @text="control" @width="100%" @height="32" />
                {{/if}}
                {{#if (eq layout "flag")}}
                  <Shw::Placeholder @text="✔" @width="16" @height="16" />
                {{/if}}
              </F.Control>
              <F.Error as |E|>
                <E.Message>First error message</E.Message>
                <E.Message>Second error message</E.Message>
              </F.Error>
            </Hds::Form::Field>
          </SG.Item>
        </Shw::Grid>
      {{/each}}
    {{/let}}

    {{#let (array "vertical" "flag") as |layouts|}}
      {{#each layouts as |layout|}}
        <Shw::Divider @level={{2}} />
        <Shw::Text::H3>Containers / "{{layout}}" layout</Shw::Text::H3>
        <Shw::Grid @columns={{3}} as |SG|>
          {{#let (array "block" "flex" "grid") as |displays|}}
            {{#each displays as |display|}}
              <SG.Item>
                <Shw::Label>Parent with <code>display: {{display}}</code></Shw::Label>
                <div {{style display=display}}>
                  <Hds::Form::Field @layout={{layout}} @isRequired={{true}} as |F|>
                    <F.Label>This is the label</F.Label>
                    <F.HelperText>This is the helper text</F.HelperText>
                    <F.Control>
                      {{#if (eq layout "vertical")}}
                        <Shw::Placeholder @text="control" @width="100%" @height="32" />
                      {{/if}}
                      {{#if (eq layout "flag")}}
                        <Shw::Placeholder @text="✔" @width="16" @height="16" />
                      {{/if}}
                    </F.Control>
                    <F.Error>This is the error</F.Error>
                  </Hds::Form::Field>
                </div>
                <br />
                <div {{style display=display}}>
                  <Hds::Form::Field @layout={{layout}} @isRequired={{true}} as |F|>
                    <F.Label>This is the label text that should go on multiple lines</F.Label>
                    <F.HelperText>This is the helper text that should go on multiple lines</F.HelperText>
                    <F.Control>
                      {{#if (eq layout "vertical")}}
                        <Shw::Placeholder @text="control" @width="100%" @height="32" />
                      {{/if}}
                      {{#if (eq layout "flag")}}
                        <Shw::Placeholder @text="✔" @width="16" @height="16" />
                      {{/if}}
                    </F.Control>
                    <F.Error as |E|>
                      <E.Message>This is the first error text</E.Message>
                      <E.Message>This is the second error text that should go on multiple lines</E.Message>
                    </F.Error>
                  </Hds::Form::Field>
                </div>
              </SG.Item>
            {{/each}}
          {{/let}}
        </Shw::Grid>
      {{/each}}
    {{/let}}
  </div>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Fieldset</Shw::Text::H2>

  <button id="dummy-toggle-highlight-2" type="button" {{on "click" this.toggleHighlight}}>{{if
      this.showHighlight
      "Hide"
      "Show"
    }}
    layout highlight</button>

  <div class="{{if this.showHighlight 'shw-component-form-base-elements-layout-highlight'}}">

    <Shw::Text::H3>Layout</Shw::Text::H3>
    <Shw::Flex {{style gap="48px"}} as |SF|>
      {{#let (array "vertical" "horizontal") as |layouts|}}
        {{#each layouts as |layout|}}
          <SF.Item @label={{capitalize layout}}>
            <Hds::Form::Fieldset @layout={{layout}} as |F|>
              <F.Legend>This is the legend</F.Legend>
              <F.HelperText>This is the helper text</F.HelperText>
              <F.Control>
                <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
              </F.Control>
              <F.Control>
                <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
              </F.Control>
              <F.Control>
                <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
              </F.Control>
              <F.Error>This is the error</F.Error>
            </Hds::Form::Fieldset>
          </SF.Item>
        {{/each}}
      {{/let}}
    </Shw::Flex>

    {{#let (array "vertical" "horizontal") as |layouts|}}
      {{#each layouts as |layout|}}
        <Shw::Divider @level={{2}} />
        <Shw::Text::H3>Containers / "{{layout}}" layout</Shw::Text::H3>
        <Shw::Grid @columns={{3}} as |SG|>
          {{#let (array "block" "flex" "grid") as |displays|}}
            {{#each displays as |display|}}
              <SG.Item>
                <Shw::Label>Parent with <code>display: {{display}}</code></Shw::Label>
                <div {{style display=display}}>
                  <Hds::Form::Fieldset @layout={{layout}} @isRequired={{true}} as |F|>
                    <F.Legend>This is the legend</F.Legend>
                    <F.HelperText>This is the helper text</F.HelperText>
                    <F.Control>
                      <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
                    </F.Control>
                    <F.Control>
                      <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
                    </F.Control>
                    <F.Error>This is the error</F.Error>
                  </Hds::Form::Fieldset>
                </div>
                <br />
                <div {{style display=display}}>
                  <Hds::Form::Fieldset @layout={{layout}} @isRequired={{true}} as |F|>
                    <F.Legend>This is the legend text that should go on multiple lines</F.Legend>
                    <F.HelperText>This is the helper text that should go on multiple lines</F.HelperText>
                    <F.Control>
                      <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
                    </F.Control>
                    <F.Control>
                      <Shw::Placeholder @text="field" @width="120" @height="32" class="hds-form-group__control-field" />
                    </F.Control>
                    <F.Error as |E|>
                      <E.Message>This is the first error text</E.Message>
                      <E.Message>This is the second error text that should go on multiple lines</E.Message>
                    </F.Error>
                  </Hds::Form::Fieldset>
                </div>
              </SG.Item>
            {{/each}}
          {{/let}}
        </Shw::Grid>
      {{/each}}
    {{/let}}
  </div>

  {{! ###################### }}

  <Shw::Divider />

  <Shw::Text::H2>Visibility toggle</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item @label="On">
      <Shw::Outliner>
        <Hds::Form::VisibilityToggle @isVisible={{true}} aria-label="is-visible" />
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="Off">
      <Shw::Outliner>
        <Hds::Form::VisibilityToggle @isVisible={{false}} aria-label="is-not-visible" />
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>
</section>