{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Form::Checkbox Component"}}

<Shw::Text::H1>Form::Checkbox</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>"Base" control</Shw::Text::H2>

  <Shw::Text::H3>Interaction status</Shw::Text::H3>

  <Shw::Flex {{style gap="2rem"}} as |SF|>
    <SF.Item @label="Unchecked">
      <Hds::Form::Checkbox::Base aria-label="Unchecked checkbox" />
    </SF.Item>
    <SF.Item @label="Checked">
      <Hds::Form::Checkbox::Base checked="checked" aria-label="Checked checkbox" />
    </SF.Item>
    <SF.Item @label="Indeterminate">
      <Hds::Form::Checkbox::Base indeterminate={{true}} aria-label="Indeterminate checkbox" />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>States (Base / Disabled)</Shw::Text::H3>

  <Shw::Flex {{style gap="2rem"}} as |SF|>
    {{#each @model.STATES as |state|}}
      <SF.Item @label={{capitalize state}}>
        <Shw::Grid @columns={{3}} mock-state-value={{state}} mock-state-selector="input" as |SG|>
          <SG.Item>
            <Hds::Form::Checkbox::Base aria-label="Checkbox" />
          </SG.Item>
          <SG.Item>
            <Hds::Form::Checkbox::Base checked="checked" aria-label="Checked checkbox" />
          </SG.Item>
          <SG.Item>
            <Hds::Form::Checkbox::Base indeterminate={{true}} aria-label="Indeterminate checkbox" />
          </SG.Item>
          {{! template-lint-disable simple-unless }}
          {{#unless (eq state "focus")}}
            <SG.Item>
              <Hds::Form::Checkbox::Base disabled="disabled" aria-label="Disabled checkbox" />
            </SG.Item>
            <SG.Item>
              <Hds::Form::Checkbox::Base
                checked="checked"
                disabled="disabled"
                aria-label="Checked, disabled checkbox"
              />
            </SG.Item>
            <SG.Item>
              <Hds::Form::Checkbox::Base
                indeterminate={{true}}
                disabled="disabled"
                aria-label="Indeterminate, disabled checkbox"
              />
            </SG.Item>
          {{/unless}}
          {{! template-lint-enable simple-unless }}
        </Shw::Grid>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Text::H3>Custom layout</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item>
      <div class="shw-component-form-checkbox-base-custom-layout">
        <label for="my-custom-checkbox-example">Custom label</label>
        <Hds::Form::Checkbox::Base id="my-custom-checkbox-example" />
        <span>Some extra content</span>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>"Field" control</Shw::Text::H2>

  <Shw::Text::H3>Content</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="Only label">
      <Hds::Form::Checkbox::Field as |F|>
        <F.Label>This is the label text</F.Label>
      </Hds::Form::Checkbox::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text">
      <Hds::Form::Checkbox::Field checked="checked" as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
      </Hds::Form::Checkbox::Field>
    </SG.Item>
    {{! left empty on purpose }}
    <SG.Item />
    <SG.Item @label="Label + Error">
      <Hds::Form::Checkbox::Field as |F|>
        <F.Label>This is the label</F.Label>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Checkbox::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Error">
      <Hds::Form::Checkbox::Field checked="checked" as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Checkbox::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Errors">
      <Hds::Form::Checkbox::Field checked="checked" as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Error as |E|>
          <E.Message>First error message</E.Message>
          <E.Message>Second error message</E.Message>
        </F.Error>
      </Hds::Form::Checkbox::Field>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>"Group" of controls</Shw::Text::H2>

  <Shw::Text::H3>Vertical layout</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="With legend">
      <Hds::Form::Checkbox::Group @name="control-vertical-01" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SG.Item>
    <SG.Item @label="With legend / With helper text">
      <Hds::Form::Checkbox::Group @name="control-vertical-02" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
          <F.HelperText>Helper text for control #1</F.HelperText>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
          <F.HelperText>Helper text for control #2</F.HelperText>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
          <F.HelperText>Helper text for control #3</F.HelperText>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SG.Item>
    <SG.Item @label="Without legend">
      <Hds::Form::Checkbox::Group @name="control-vertical-03" as |G|>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SG.Item>
    <SG.Item @label="Without legend / With helper text">
      <Hds::Form::Checkbox::Group @name="control-vertical-04" as |G|>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
          <F.HelperText>Helper text for control #1</F.HelperText>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
          <F.HelperText>Helper text for control #2</F.HelperText>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
          <F.HelperText>Helper text for control #3</F.HelperText>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SG.Item>
    <SG.Item @label="With helper text at group level">
      <Hds::Form::Checkbox::Group @name="control-vertical-05" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.HelperText>Helper text for the entire group</G.HelperText>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SG.Item>
    <SG.Item @label="With error at group level">
      <Hds::Form::Checkbox::Group @name="control-vertical-06" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
        <G.Error>Error for the entire group</G.Error>
      </Hds::Form::Checkbox::Group>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Horizontal layout</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With legend">
      <Hds::Form::Checkbox::Group @layout="horizontal" @name="control-horizontal-01" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
    <SF.Item @label="Without legend">
      <Hds::Form::Checkbox::Group @layout="horizontal" @name="control-horizontal-02" as |G|>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
    <SF.Item @label="With helper text at group level">
      <Hds::Form::Checkbox::Group @layout="horizontal" @name="control-horizontal-03" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.HelperText>Helper text for the entire group</G.HelperText>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
    <SF.Item @label="With error at group level">
      <Hds::Form::Checkbox::Group @layout="horizontal" @name="control-horizontal-04" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
        <G.Error>Error for the entire group</G.Error>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
    <SF.Item @label="With controls on multiple lines" {{style width="450px"}}>
      <Hds::Form::Checkbox::Group @layout="horizontal" @name="control-horizontal-05" as |G|>
        <G.Legend>Lorem ipsum dolor</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Sit amet</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Consectetur adipiscing</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field as |F|>
          <F.Label>Elit</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field as |F|>
          <F.Label>Pellentesque erat</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field as |F|>
          <F.Label>Lacinia</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>At magna</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>Required and optional</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="With legend + Required">
      <Hds::Form::Checkbox::Group @isRequired={{true}} @name="control-required" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
    <SF.Item @label="With legend + Optional">
      <Hds::Form::Checkbox::Group @isOptional={{true}} @name="control-optional" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Checkbox::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Checkbox::Field>
        <G.Checkbox::Field indeterminate={{true}} as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Checkbox::Field>
      </Hds::Form::Checkbox::Group>
    </SF.Item>
  </Shw::Flex>

</section>