{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Form Component"}}

<Shw::Text::H1>Form / Layout components</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Containers</Shw::Text::H2>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}">
    <Hds::Form as |FORM|>
      <FORM.Header>
        <FORM.HeaderTitle>
          <Shw::Placeholder @height="3.2em" @text="HeaderTitle" @background="#e4c5f3" />
        </FORM.HeaderTitle>
        <FORM.HeaderDescription>
          <Shw::Placeholder @height="4.8em" @text="HeaderDescription" @background="#e4c5f3" />
        </FORM.HeaderDescription>
      </FORM.Header>

      <FORM.Section as |FS|>
        <Shw::Placeholder @height="2.4em" @text="FormField" @background="#add8e6" />
        <Shw::Placeholder @height="2.4em" @text="FormField" @background="#add8e6" />

        <Hds::Form::Separator />

        <FS.Header as |FSH|>
          <FSH.Title>
            <Shw::Placeholder @height="2.8em" @text="SectionHeaderTitle" @background="#e5ffd2" />
          </FSH.Title>
          <FORM.SectionHeaderDescription>
            <Shw::Placeholder @height="4.8em" @text="SectionHeaderDescription" @background="#e5ffd2" />
          </FORM.SectionHeaderDescription>
        </FS.Header>

        <Shw::Placeholder @height="2.4em" @text="FormField" @background="#add8e6" />
      </FORM.Section>

      <FORM.Section>
        <FORM.SectionMultiFieldGroup>
          <Shw::Placeholder @height="2.4em" @text="MultiFieldGroup FormField 1" @background="#add8e6" />
          <Shw::Placeholder @height="2.4em" @text="MultiFieldGroup FormField 2" @background="#add8e6" />
        </FORM.SectionMultiFieldGroup>

        <FORM.SectionMultiFieldGroup @direction="column">
          <Shw::Placeholder @height="2.4em" @text="MultiFieldGroup FormField 1" @background="#add8e6" />
          <Shw::Placeholder
            @height="2.4em"
            @width="max-content"
            {{style padding="0 1em"}}
            @text="MultiFieldGroup FormField 2"
            @background="#add8e6"
          />
        </FORM.SectionMultiFieldGroup>
      </FORM.Section>

      <Hds::Form::Separator />

      <FORM.Section>
        <Shw::Placeholder @height="2.4em" @text="FormField" @background="#add8e6" />
        <Shw::Placeholder @height="2.4em" @text="FormField" @background="#add8e6" />
        <Shw::Placeholder @height="2.4em" @text="FormField" @background="#add8e6" />
      </FORM.Section>

      <FORM.Footer>
        <Shw::Placeholder @height="2.25rem" @text="ButtonSet wrapped in Section" @background="#fff8d2" />
      </FORM.Footer>
    </Hds::Form>
  </div>

  <Shw::Divider />

  <Shw::Text::H2>Content</Shw::Text::H2>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}">
    <Hds::Form as |FORM|>
      <FORM.Header>
        <FORM.HeaderTitle>Form header title</FORM.HeaderTitle>
        <FORM.HeaderDescription>
          Form Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam vel
          facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt quibusdam dolor
          obcaecati consequatur tenetur.
        </FORM.HeaderDescription>
      </FORM.Header>

      <FORM.Section>
        <Hds::Alert @type="inline" @color="critical" as |A|>
          <A.Title @tag="h2">Form submission error</A.Title>
          <A.Description>Correct the formatting of the following fields to update your user profile:</A.Description>
          <A.Description>
            <Hds::Link::Inline @href="#" @color="secondary">Expiration date</Hds::Link::Inline>
          </A.Description>
        </Hds::Alert>
      </FORM.Section>

      <FORM.Section>
        <FORM.SectionHeader>
          <FORM.SectionHeaderTitle>Section header title</FORM.SectionHeaderTitle>
          <FORM.SectionHeaderDescription>
            Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
            vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt quibusdam
            dolor obcaecati consequatur tenetur.
          </FORM.SectionHeaderDescription>
        </FORM.SectionHeader>

        <Hds::Form::TextInput::Field name="field-1-name" as |F|>
          <F.Label>Field 1</F.Label>
        </Hds::Form::TextInput::Field>

        <Hds::Form::Radio::Group @layout="horizontal" @name="field-2-name" as |G|>
          <G.Legend>Field 2</G.Legend>
          <G.RadioField as |F|>
            <F.Label>Option 1</F.Label>
          </G.RadioField>
          <G.RadioField as |F|>
            <F.Label>Option 2</F.Label>
          </G.RadioField>
          <G.RadioField as |F|>
            <F.Label>Option 3</F.Label>
          </G.RadioField>
        </Hds::Form::Radio::Group>

        <Hds::Form::Select::Field name="field-3-name" as |F|>
          <F.Label>Field 3</F.Label>
          <F.Options>
            <option value="Kubernetes">Kubernetes</option>
            <option value="Other" selected>Selected</option>
          </F.Options>
        </Hds::Form::Select::Field>

        <Hds::Form::Textarea::Field name="field-4-name" as |F|>
          <F.Label>Field 4</F.Label>
        </Hds::Form::Textarea::Field>
      </FORM.Section>

      <FORM.Section @isFullWidth={{true}} @hasBorder={{true}}>
        <FORM.SectionHeader>
          <FORM.SectionHeaderTitle>Section header title</FORM.SectionHeaderTitle>
          <FORM.SectionHeaderDescription>
            Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
            vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt quibusdam
            dolor obcaecati consequatur tenetur.
          </FORM.SectionHeaderDescription>
        </FORM.SectionHeader>

        <Hds::Form::RadioCard::Group @name="radio-card-align-center" @alignment="center" as |G|>
          <G.Legend>Group legend</G.Legend>
          {{#each @model.RADIOCARDS_GENERIC as |item|}}
            <G.RadioCard @checked={{item.checked}} @value={{item.value}} as |R|>
              <R.Icon @name="hexagon" />
              <R.Label>{{item.label}}</R.Label>
              <R.Badge @text={{item.badge}} />
              <R.Description>{{item.description}}</R.Description>
            </G.RadioCard>
          {{/each}}
        </Hds::Form::RadioCard::Group>
      </FORM.Section>

      <FORM.Section>
        <Hds::Form::Checkbox::Group @name="field-5-name" as |G|>
          <G.Legend>Field 5</G.Legend>
          <G.CheckboxField as |F|>
            <F.Label>Option 1</F.Label>
          </G.CheckboxField>
          <G.CheckboxField as |F|>
            <F.Label>Option 2</F.Label>
          </G.CheckboxField>
          <G.CheckboxField as |F|>
            <F.Label>Option 3</F.Label>
          </G.CheckboxField>
        </Hds::Form::Checkbox::Group>

        <Hds::Form::FileInput::Field name="field-6-name" as |F|>
          <F.Label>Field 6</F.Label>
        </Hds::Form::FileInput::Field>

        <Hds::Form::Toggle::Group as |G|>
          <G.Legend>Field 7 Legend</G.Legend>
          <G.ToggleField name="field-7-name" @id="field-7-name" as |F|>
            <F.Label>Field 7</F.Label>
            <F.HelperText>Helper text lorem ipsum dolor sit amet consectetur adipisicing elit praesentium.</F.HelperText>
          </G.ToggleField>
        </Hds::Form::Toggle::Group>
      </FORM.Section>

      <FORM.Separator />

      <FORM.Section>
        <FORM.SectionMultiFieldGroup>
          <Hds::Form::TextInput::Field as |F|>
            <F.Label>Field group 1, field 1</F.Label>
            <F.HelperText>Lorem ipsum dolor sit amet consectetur.</F.HelperText>
          </Hds::Form::TextInput::Field>

          <Hds::Form::TextInput::Field as |F|>
            <F.Label>Field group 1, field 2</F.Label>
          </Hds::Form::TextInput::Field>
        </FORM.SectionMultiFieldGroup>

        <FORM.SectionMultiFieldGroup @direction="column">
          <Hds::Form::TextInput::Field as |F|>
            <F.Label>Field group 2, field 1</F.Label>
          </Hds::Form::TextInput::Field>
          <Hds::Form::Toggle::Field name="demo-cost-estimate" as |F|>
            <F.Label>Field group 2, field 2</F.Label>
          </Hds::Form::Toggle::Field>
        </FORM.SectionMultiFieldGroup>
      </FORM.Section>

      <FORM.Footer>
        <Hds::Button @text="Submit" type="submit" />
        <Hds::Button @text="Cancel" @color="secondary" @href="https://hashicorp.com" />
      </FORM.Footer>
    </Hds::Form>
  </div>

  <Shw::Divider />

  <Shw::Text::H2>Components</Shw::Text::H2>

  <Shw::Text::H3>Form</Shw::Text::H3>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <Shw::Text::H4>width</Shw::Text::H4>

  <Shw::Flex
    @direction="column"
    @gap="2rem"
    class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements-and-placeholders'}}"
    as |SF|
  >
    {{#let (array undefined "32em" "100%" "none") as |sectionMaxWidths|}}
      {{#each sectionMaxWidths as |sectionMaxWidth|}}
        <SF.Item @label="" as |SFI|>
          <SFI.Label>
            {{#if sectionMaxWidth}}
              sectionMaxWidth={{sectionMaxWidth}}
            {{else}}
              default widths
            {{/if}}
          </SFI.Label>
          <Hds::Form @sectionMaxWidth={{sectionMaxWidth}} as |FORM|>
            <FORM.Header>
              <Shw::Placeholder @height="36px" @text="Header" @background="#e4c5f3" />
            </FORM.Header>
            <FORM.Section>
              <Shw::Placeholder @height="36px" @text="Section" @background="#add8e6" />
            </FORM.Section>
            <FORM.Separator />
            <FORM.Section @isFullWidth={{true}}>
              <Shw::Placeholder @height="36px" @text="Section / Full width" @background="#add8e6" />
            </FORM.Section>
            <FORM.Separator @isFullWidth={{true}} />
          </Hds::Form>
        </SF.Item>
      {{/each}}
    {{/let}}
  </Shw::Flex>

  <Shw::Text::H4>tag</Shw::Text::H4>

  <div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements-and-placeholders'}}">
    <Shw::Grid @columns={{2}} @gap="2rem" as |SG|>
      <SG.Item @label="Form using default form tag">
        <Hds::Form>
          <Shw::Placeholder @height="50px" @text="Form" />
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="Form using div tag">
        <Hds::Form @tag="div">
          <Shw::Placeholder @height="50px" @text="Form" />
        </Hds::Form>
      </SG.Item>
    </Shw::Grid>
  </div>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>FormHeader w/ Title &amp; Description</Shw::Text::H3>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <Shw::Text::H4>width</Shw::Text::H4>

  <Shw::Flex
    @direction="column"
    @gap="2rem"
    class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements-and-placeholders'}}"
    as |SF|
  >
    <SF.Item @label="isFullWidth=false (default)">
      <Hds::Form as |FORM|>
        <FORM.Header>
          <Shw::Placeholder @height="2.4em" @text="HeaderTitle" />
          <Shw::Placeholder @height="2.4em" @text="HeaderDescription" />
        </FORM.Header>
      </Hds::Form>
    </SF.Item>

    <SF.Item @label="inherited sectionMaxWidth=32em set on Form parent">
      <Hds::Form @sectionMaxWidth="32em" as |FORM|>
        <FORM.Header>
          <Shw::Placeholder @height="2.4em" @text="HeaderTitle" />
          <Shw::Placeholder @height="2.4em" @text="HeaderDescription" />
        </FORM.Header>
      </Hds::Form>
    </SF.Item>

    <SF.Item @label="isFullWidth=true">
      <Hds::Form as |FORM|>
        <FORM.Header @isFullWidth={{true}}>
          <Shw::Placeholder @height="2.4em" @text="HeaderTitle" />
          <Shw::Placeholder @height="2.4em" @text="HeaderDescription" />
        </FORM.Header>
      </Hds::Form>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>content</Shw::Text::H4>

  <Shw::Flex
    @direction="column"
    @gap="1.4rem"
    class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}"
    as |SF|
  >
    <SF.Item as |SFI|>
      <SFI.Label>content yielded via <code>FORM</code></SFI.Label>
      <Hds::Form as |FORM|>
        <FORM.Header>
          <FORM.HeaderTitle>Section header title</FORM.HeaderTitle>
          <FORM.HeaderDescription>
            Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
            vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt quibusdam
            dolor obcaecati consequatur tenetur.
          </FORM.HeaderDescription>
        </FORM.Header>
      </Hds::Form>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>content yielded via <code>FORM_SECTION</code></SFI.Label>
      <Hds::Form>
        <Hds::Form::Header as |FORM_HEADER|>
          <FORM_HEADER.Title>Section header title</FORM_HEADER.Title>
          <FORM_HEADER.Description>
            Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
            vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt quibusdam
            dolor obcaecati consequatur tenetur.
          </FORM_HEADER.Description>
        </Hds::Form::Header>
      </Hds::Form>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4>FormHeaderTitle sizes</Shw::Text::H4>

  <Shw::Grid @columns={{1}} @gap="1.4rem" as |SG|>
    {{#each @model.DISPLAY_AVAILABLE_SIZES as |size|}}
      <SG.Item @label="size={{size}} {{if (eq size @model.FORM_HEADER_TITLE_DEFAULT_SIZE) '(default)'}}">
        <Hds::Form::Header::Title @size={{size}}>
          Form Header Title w/ size of ({{size}})
        </Hds::Form::Header::Title>
      </SG.Item>
    {{/each}}
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>FormSection</Shw::Text::H3>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <Shw::Text::H4>width</Shw::Text::H4>

  <div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements-and-placeholders'}}">
    <Shw::Grid @columns={{1}} @gap="2rem" as |SG|>
      <SG.Item @label="isFullWidth=false (default)">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionHeader>
              <Shw::Placeholder @height="2.4em" @text="SectionHeaderTitle" />
              <Shw::Placeholder @height="2.4em" @text="SectionHeaderDescription" />
            </FORM.SectionHeader>
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="inherited sectionMaxWidth=32em set on Form parent">
        <Hds::Form @sectionMaxWidth="32em" as |FORM|>
          <FORM.Section>
            <FORM.SectionHeader>
              <Shw::Placeholder @height="2.4em" @text="SectionHeaderTitle" />
              <Shw::Placeholder @height="2.4em" @text="SectionHeaderDescription" />
            </FORM.SectionHeader>
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="isFullWidth=true">
        <Hds::Form as |FORM|>
          <FORM.Section @isFullWidth={{true}}>
            <FORM.SectionHeader>
              <Shw::Placeholder @height="2.4em" @text="SectionHeaderTitle" />
              <Shw::Placeholder @height="2.4em" @text="SectionHeaderDescription" />
            </FORM.SectionHeader>
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
          </FORM.Section>
        </Hds::Form>
      </SG.Item>
    </Shw::Grid>
  </div>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4>border</Shw::Text::H4>

  <div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements-and-placeholders'}}">
    <Shw::Grid @columns={{1}} @gap="2rem" as |SG|>
      <SG.Item @label="hasBorder=false (default)">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="hasBorder=true">
        <Hds::Form as |FORM|>
          <FORM.Section @hasBorder={{true}}>
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="Bordered Section nested in another bordered Section">
        <Hds::Form as |FORM|>
          <FORM.Section @hasBorder={{true}}>
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />
            <Shw::Placeholder @height="2.4em" @text="FormField" />

            <FORM.Section @hasBorder={{true}}>
              <Shw::Placeholder @height="2.4em" @text="FormField" />
              <Shw::Placeholder @height="2.4em" @text="FormField" />
              <Shw::Placeholder @height="2.4em" @text="FormField" />
            </FORM.Section>

            <Shw::Placeholder @height="2.4em" @text="FormField" />
          </FORM.Section>
        </Hds::Form>
      </SG.Item>
    </Shw::Grid>
  </div>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>SectionHeader w/ Title &amp; Description</Shw::Text::H3>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <Shw::Text::H4>content</Shw::Text::H4>

  <Shw::Flex
    @direction="column"
    @gap="1.4rem"
    class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}"
    as |SF|
  >
    <SF.Item as |SFI|>
      <SFI.Label>content yielded via <code>FORM</code></SFI.Label>
      <Hds::Form as |FORM|>
        <FORM.Section>
          <FORM.SectionHeader>
            <FORM.SectionHeaderTitle>Section header title</FORM.SectionHeaderTitle>
            <FORM.SectionHeaderDescription>
              Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
              vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt
              quibusdam dolor obcaecati consequatur tenetur.
            </FORM.SectionHeaderDescription>
          </FORM.SectionHeader>
        </FORM.Section>
      </Hds::Form>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>content yielded via <code>FORM_SECTION</code></SFI.Label>
      <Hds::Form>
        <Hds::Form::Section as |FORM_SECTION|>
          <FORM_SECTION.Header>
            <FORM_SECTION.HeaderTitle>Section header title</FORM_SECTION.HeaderTitle>
            <FORM_SECTION.HeaderDescription>
              Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
              vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt
              quibusdam dolor obcaecati consequatur tenetur.
            </FORM_SECTION.HeaderDescription>
          </FORM_SECTION.Header>
        </Hds::Form::Section>
      </Hds::Form>
    </SF.Item>
    <SF.Item as |SFI|>
      <SFI.Label>content yielded via <code>FORM_SECTION_HEADER</code></SFI.Label>
      <Hds::Form>
        <Hds::Form::Section>
          <Hds::Form::Section::Header as |FORM_SECTION_HEADER|>
            <FORM_SECTION_HEADER.Title>Section header title</FORM_SECTION_HEADER.Title>
            <FORM_SECTION_HEADER.Description>
              Section Header description—lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eum neque totam
              vel facere itaque necessitatibus quisquam omnis deserunt! Dicta, explicabo quia quis odio nesciunt
              quibusdam dolor obcaecati consequatur tenetur.
            </FORM_SECTION_HEADER.Description>
          </Hds::Form::Section::Header>
        </Hds::Form::Section>
      </Hds::Form>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Section MultiFieldGroup</Shw::Text::H3>

  <button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
    {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
  </button>

  <Shw::Text::H4>Content</Shw::Text::H4>

  <div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}">
    <Shw::Grid @columns={{1}} @gap="2rem" as |SG|>
      <SG.Item @label="with equal widths (default)">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 1</F.Label>
                <F.HelperText>Lorem ipsum dolor sit amet consectetur.</F.HelperText>
              </Hds::Form::TextInput::Field>

              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 2</F.Label>
              </Hds::Form::TextInput::Field>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="with one error">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 1</F.Label>
                <F.HelperText>Lorem ipsum dolor sit amet consectetur.</F.HelperText>
              </Hds::Form::TextInput::Field>

              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 2</F.Label>
                <F.Error>This is a field-level error</F.Error>
              </Hds::Form::TextInput::Field>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="with two errors">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 1</F.Label>
                <F.HelperText>Lorem ipsum dolor sit amet consectetur.</F.HelperText>
              </Hds::Form::TextInput::Field>

              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 2</F.Label>
                <F.Error>This is a field-level error.</F.Error>
                <F.Error>Yet another error example for a total of two.</F.Error>
              </Hds::Form::TextInput::Field>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="with mixed widths (80% & 20%)">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup as |FG|>
              <FG.Item @width="80%">
                <Hds::Form::TextInput::Field as |F|>
                  <F.Label>Control 1</F.Label>
                </Hds::Form::TextInput::Field>
              </FG.Item>

              <FG.Item @width="20%">
                <Hds::Form::TextInput::Field as |F|>
                  <F.Label>Control 2</F.Label>
                </Hds::Form::TextInput::Field>
              </FG.Item>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label=" with 3 fields of equal width">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 1</F.Label>
              </Hds::Form::TextInput::Field>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 2</F.Label>
                <F.HelperText>Lorem ipsum dolor sit amet consectetur.</F.HelperText>
              </Hds::Form::TextInput::Field>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>Control 3</F.Label>
              </Hds::Form::TextInput::Field>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>
        </Hds::Form>
      </SG.Item>

      <SG.Item @label="3 fields, mix of widths (remaining available space, auto, & 8em)">
        <Hds::Form as |FORM|>
          <FORM.Section>
            <FORM.SectionMultiFieldGroup as |FG|>
              <Hds::Form::TextInput::Field as |F|>
                <F.Label>City</F.Label>
              </Hds::Form::TextInput::Field>

              <FG.Item @width="auto">
                <Hds::Form::Select::Field as |F|>
                  <F.Label>State</F.Label>
                  <F.Options>
                    <option value="state-1">Ohio</option>
                    <option value="state-2">Massachusetts</option>
                    <option value="state-3">Washington</option>
                    <option value="state-4">Florida</option>
                    <option value="state-4">North Carolina</option>
                  </F.Options>
                </Hds::Form::Select::Field>
              </FG.Item>

              <FG.Item @width="8em">
                <Hds::Form::TextInput::Field as |F|>
                  <F.Label>Zip</F.Label>
                </Hds::Form::TextInput::Field>
              </FG.Item>
            </FORM.SectionMultiFieldGroup>
          </FORM.Section>
        </Hds::Form>
      </SG.Item>
    </Shw::Grid>
  </div>
</section>

<Shw::Divider @level={{2}} />

<Shw::Text::H3>FormSeparator</Shw::Text::H3>

<button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
  {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
</button>

<Shw::Text::H4>isFullWidth</Shw::Text::H4>

<div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}">
  <Shw::Grid @columns={{1}} @gap="2rem" as |SG|>
    <SG.Item @label="isFullWidth=false (default)">
      <Hds::Form {{style padding="16px 0"}} as |FORM|>
        <FORM.Separator />
      </Hds::Form>
    </SG.Item>

    <SG.Item @label="inherited sectionMaxWidth=32em set on Form parent">
      <Hds::Form @sectionMaxWidth="32em" {{style padding="16px 0"}} as |FORM|>
        <FORM.Separator />
      </Hds::Form>
    </SG.Item>

    <SG.Item @label="isFullWidth=true">
      <Hds::Form {{style padding="16px 0"}}>
        <Hds::Form::Separator @isFullWidth={{true}} />
      </Hds::Form>
    </SG.Item>
  </Shw::Grid>
</div>

<Shw::Divider @level={{2}} />

<Shw::Text::H3>Form Footer</Shw::Text::H3>

<button type="button" class="shw-component-form-layout-button-highlight" {{on "click" this.toggleHighlight}}>
  {{if this.showHighlight "Hide layout highlight" "Show layout highlight"}}
</button>

<Shw::Text::H4>width</Shw::Text::H4>

<div class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements'}}">
  <Shw::Flex
    @direction="column"
    @gap="2rem"
    class="{{if this.showHighlight 'shw-component-form-layout-highlight-elements-and-placeholders'}}"
    as |SF|
  >
    <SF.Item @label="isFullWidth=false (default)">
      <Hds::Form as |FORM|>
        <FORM.Footer>
          <Hds::Button @text="Submit" type="submit" />
          <Hds::Button @text="Cancel" @color="secondary" @href="https://hashicorp.com" />
        </FORM.Footer>
      </Hds::Form>
    </SF.Item>

    <SF.Item @label="inherited sectionMaxWidth=32em set on Form parent">
      <Hds::Form @sectionMaxWidth="32em" as |FORM|>
        <FORM.Footer>
          <Hds::Button @text="Submit" type="submit" />
          <Hds::Button @text="Cancel" @color="secondary" @href="https://hashicorp.com" />
        </FORM.Footer>
      </Hds::Form>
    </SF.Item>

    <SF.Item @label="isFullWidth=true">
      <Hds::Form as |FORM|>
        <FORM.Footer @isFullWidth={{true}}>
          <Hds::Button @text="Submit" type="submit" />
          <Hds::Button @text="Cancel" @color="secondary" @href="https://hashicorp.com" />
        </FORM.Footer>
      </Hds::Form>
    </SF.Item>
  </Shw::Flex>
</div>

<Shw::Divider />

<section class="shw-component-form-layout-examples-wrapper" data-test-percy>
  <Shw::Text::H2>Examples of forms</Shw::Text::H2>

  <Shw::Text::H4 @tag="h3">Simple forms</Shw::Text::H4>

  <Shw::Label>With just fields</Shw::Label>

  <Hds::Form as |FORM|>
    <FORM.Section>
      <Hds::Form::TextInput::Field @isRequired={{true}} as |F|>
        <F.Label>Group name</F.Label>
        <F.HelperText>Valid characters include ASCII letters, numbers, as well as spaces, periods (.), dashes (-), and
          underscores (_).</F.HelperText>
      </Hds::Form::TextInput::Field>
      <Hds::Form::TextInput::Field @isOptional={{true}} as |F|>
        <F.Label>Group description</F.Label>
        <F.HelperText>A brief description can help others understand this group's purpose</F.HelperText>
      </Hds::Form::TextInput::Field>
    </FORM.Section>
  </Hds::Form>

  <Shw::Divider @level={{2}} />

  <Shw::Label>With just fields and actions</Shw::Label>
  <Hds::Form as |FORM|>
    <FORM.Section>
      <Hds::Form::TextInput::Field @isRequired={{true}} as |F|>
        <F.Label>Project name</F.Label>
        <F.HelperText>
          <ul {{style margin="0" padding-left="15px"}}>
            <li>Valid characters include ASCII letters, numbers, spaces, as well as dashes (-), and underscores (_).</li>
            <li>Cannot begin or end with spaces.</li>
          </ul>
        </F.HelperText>
        <F.CharacterCount @minLength={{3}} />
      </Hds::Form::TextInput::Field>
      <Hds::Form::Textarea::Field @isOptional={{true}} as |F|>
        <F.Label>Project description</F.Label>
        <F.HelperText>Help others understand what this project's purpose is</F.HelperText>
        <F.CharacterCount @maxLength={{256}} />
      </Hds::Form::Textarea::Field>
    </FORM.Section>
    <FORM.Footer>
      <Hds::Button @color="primary" @text="Create project" type="submit" />
      <Hds::Button @color="secondary" @text="Cancel" @href="#" />
    </FORM.Footer>
  </Hds::Form>

  <Shw::Divider @level={{2}} />

  <Shw::Label>With extra alert before the actions</Shw::Label>
  <Hds::Form as |FORM|>
    <FORM.Section>
      <Hds::Form::TextInput::Field @isRequired={{true}} as |F|>
        <F.Label>Cluster name</F.Label>
        <F.HelperText>Provide a meaningful name for your cluster</F.HelperText>
      </Hds::Form::TextInput::Field>
      <Hds::Form::Select::Field as |F|>
        <F.Label>Cluster type</F.Label>
        <F.HelperText>What type of cluster do you need</F.HelperText>
        <F.Options>
          <option value=""></option>
          <option value="foo">foo</option>
          <option value="bar">bar</option>
          <option value="baz">baz</option>
        </F.Options>
      </Hds::Form::Select::Field>
    </FORM.Section>

    <Hds::Alert @color="highlight" @icon="info-fill" @type="compact" as |A|>
      <A.Description>Clusters are scoped to a single project for now and cannot connect to other clusters in other
        projects.</A.Description>
    </Hds::Alert>

    <FORM.Footer>
      <Hds::Button @color="primary" @text="Create cluster" type="submit" />
      <Hds::Button @color="secondary" @text="Cancel" @href="#" />
    </FORM.Footer>
  </Hds::Form>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Forms with headers</Shw::Text::H4>

  <Shw::Label>Main header with title/description</Shw::Label>
  <Hds::Form as |FORM|>
    <FORM.Header>
      <FORM.HeaderTitle @tag="h2">Auth Token TTL</FORM.HeaderTitle>
      <FORM.HeaderDescription>
        Edit the auth token TTL issued by Boundary controllers. Changes are not immediate, and will only affect new
        sessions.
      </FORM.HeaderDescription>
    </FORM.Header>
    <FORM.Section>
      <Hds::Form::TextInput::Field @isRequired={{true}} as |F|>
        <F.Label>Time to Live</F.Label>
        <F.HelperText>Maximum time to live for all auth tokens, globally, in hours (defaults to {ttl}).</F.HelperText>
      </Hds::Form::TextInput::Field>
      <Hds::Form::TextInput::Field @isOptional={{true}} as |F|>
        <F.Label>Time to Stale</F.Label>
        <F.HelperText>Maximum time for inactivity for all auth tokens, globally, in hours (defaults to 24 hours).</F.HelperText>
      </Hds::Form::TextInput::Field>
    </FORM.Section>
    <FORM.Footer>
      <Hds::Button @color="primary" @text="Save" type="submit" />
      <Hds::Button @color="secondary" @text="Cancel" @href="#" />
    </FORM.Footer>
  </Hds::Form>

  <Shw::Divider @level={{2}} />

  <Shw::Label>Main header + section headers</Shw::Label>
  <Hds::Form as |FORM|>
    <FORM.Header>
      <FORM.HeaderTitle @size="400" @tag="h2">Cluster details</FORM.HeaderTitle>
      <Hds::Alert @icon="info-fill" @type="compact" as |A|>
        <A.Description>You are creating a stand-alone cluster. If you want to create a secondary cluster in a federated
          set of clusters, go to the primary cluster and select the Federation tab.</A.Description>
      </Hds::Alert>
    </FORM.Header>
    <FORM.Separator />
    <FORM.Section>
      <FORM.SectionHeader>
        <FORM.SectionHeaderTitle @tag="h3">Cluster customization</FORM.SectionHeaderTitle>
      </FORM.SectionHeader>
      <Hds::Form::TextInput::Field @isRequired={{true}} as |F|>
        <F.Label>Cluster ID</F.Label>
        <F.HelperText>Must be a unique set of 3-36 characters. May include numbers, hyphens, and lowercase letters. Must
          start with a letter and end with a letter or number.</F.HelperText>
        <F.CharacterCount @minLength={{3}} @maxLength={{36}} />
      </Hds::Form::TextInput::Field>
      <Hds::Alert @icon="info-fill" @type="compact" as |A|>
        <A.Description>We’d like your feedback on our cluster tiers, size, and billing plan offerings. Provide your
          feedback
          <Hds::Link::Inline @href="#">here</Hds::Link::Inline></A.Description>
      </Hds::Alert>
      <Hds::Form::Select::Field @isRequired={{true}} as |F|>
        <F.Label>Cluster tier</F.Label>
        <F.HelperText>Compare features across tiers in more detail in
          <Hds::Link::Inline @href="#">our documentation</Hds::Link::Inline>.</F.HelperText>
        <F.Options>
          <option value="development">Development</option>
          <option value="standard">Standard</option>
          <option value="plus">Plus</option>
        </F.Options>
      </Hds::Form::Select::Field>
      <FORM.Separator />
      <FORM.SectionHeader>
        <FORM.SectionHeaderTitle @tag="h3">Cluster accessibility</FORM.SectionHeaderTitle>
        <FORM.SectionHeaderDescription>
          Configure network access to your cluster. Internal (RPC and Gossip) communication is always secure to Consul
          servers over a private peering or a transit gateway connection. For increased security, limit the IP addresses
          allowed to connect using the “Allow select IPs only” section below.
        </FORM.SectionHeaderDescription>
      </FORM.SectionHeader>
      <Hds::Form::Radio::Group as |G|>
        <G.RadioField checked={{true}} as |F|>
          <F.Label>Private</F.Label>
          <F.HelperText>Most secure, the clusters endpoint is private and not accessible to the public internet, only
            connected networks have access to the cluster's endpoint via HTTPS or gRPC.</F.HelperText>
        </G.RadioField>
        <G.RadioField as |F|>
          <F.Label>Public</F.Label>
          <F.HelperText>Less secure, the clusters endpoint is accessible from any connection outside of your network via
            HTTPS.</F.HelperText>
        </G.RadioField>
      </Hds::Form::Radio::Group>
      <Hds::Form::Toggle::Field as |F|>
        <F.Label>Allow select IPs only</F.Label>
        <F.HelperText>When enabled, any address ranges not included in the IP allowlist will be denied network access.
          Input up to 3 IPV4 address ranges in CIDR notation.</F.HelperText>
      </Hds::Form::Toggle::Field>
    </FORM.Section>
  </Hds::Form>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H4 @tag="h3">Forms with different types of content</Shw::Text::H4>

  <Shw::Label>Mixed section widths</Shw::Label>
  <Hds::Form>
    {{! Here we use Mock::App components to avoid too much code repetition  }}
    <Mock::App::Main::GenericForm::Partials::AddPolicy />
  </Hds::Form>

</section>

<Shw::Divider />

<section>

  <Shw::Text::H2>Within containers</Shw::Text::H2>

  <Shw::Flex @direction="column" @gap="2rem" as |SF|>
    <SF.Item @label="Within Tabs">
      <Hds::Tabs as |T|>
        <T.Tab>Simple form</T.Tab>
        <T.Tab>Complex form</T.Tab>
        <T.Tab>Generic content</T.Tab>
        <T.Panel>
          <div {{style padding="24px 0"}}>
            {{! Here we use Mock::App components to avoid too much code repetition  }}
            <Mock::App::Main::GenericForm::Partials::AccountSignup />
          </div>
        </T.Panel>
        <T.Panel>
          <div {{style padding="24px 0"}}>
            {{! Here we use Mock::App components to avoid too much code repetition  }}
            <Hds::Form>
              <Mock::App::Main::GenericForm::Partials::AddUser @isHeaderFullWidth={{true}} />
              <Hds::Form::Separator />
              <Mock::App::Main::GenericForm::Partials::AddPolicy />
              <Mock::App::Main::GenericForm::Partials::Actions />
            </Hds::Form>
          </div>
        </T.Panel>
        <T.Panel>
          <div {{style padding="24px 0"}}>
            <Shw::Placeholder @text="Generic content" @height="250" />
          </div>
        </T.Panel>
      </Hds::Tabs>
    </SF.Item>
    <SF.Item @label="Within a Modal">
      <button type="button" {{on "click" this.activateModal}}>Open modal</button>
      {{#if this.isModalActive}}
        <Hds::Modal id="test-form-in-modal" @onClose={{this.deactivateModal}} as |M|>
          <M.Header>Account signup form</M.Header>
          <M.Body>
            {{! Here we use Mock::App components to avoid too much code repetition  }}
            <Mock::App::Main::GenericForm::Partials::AccountSignup @hideHeader={{true}} @hideActions={{true}} />
          </M.Body>
          <M.Footer as |F|>
            {{! TODO! replace with partials/actions and pass callback as argument }}
            <Hds::ButtonSet>
              <Hds::Button type="submit" @text="Submit" {{on "click" this.deactivateModal}} />
              <Hds::Button type="button" @text="Cancel" @color="secondary" {{on "click" F.close}} />
            </Hds::ButtonSet>
          </M.Footer>
        </Hds::Modal>
      {{/if}}
    </SF.Item>
    <SF.Item @label="Within a Flyout">
      <button type="button" {{on "click" this.activateFlyout}}>Open flyout</button>
      {{#if this.isFlyoutActive}}
        <Hds::Flyout id="test-form-in-flyout" @onClose={{this.deactivateFlyout}} as |F|>
          <F.Header>Account signup form</F.Header>
          <F.Body>
            {{! Here we use Mock::App components to avoid too much code repetition  }}
            <Mock::App::Main::GenericForm::Partials::AccountSignup @hideHeader={{true}} @hideActions={{true}} />
          </F.Body>
          <F.Footer as |F|>
            {{! TODO! replace with partials/actions and pass callback as argument }}
            <Hds::ButtonSet>
              <Hds::Button type="submit" @text="Submit" {{on "click" this.deactivateFlyout}} />
              <Hds::Button type="button" @text="Cancel" @color="secondary" {{on "click" F.close}} />
            </Hds::ButtonSet>
          </F.Footer>
        </Hds::Flyout>
      {{/if}}
    </SF.Item>
  </Shw::Flex>

</section>

<Shw::Divider />

{{! For some reason, Ember tests don't play well with iframes (URL not found) so we can't take snapshots of these examples in Percy }}
<section>

  <Shw::Text::H2>Responsiveness</Shw::Text::H2>

  <Shw::Text::H3>Basic form</Shw::Text::H3>

  <Shw::Frame
    @id="demo-form-layout-large-viewports"
    @src="/components/form/frameless/demo-form-basic"
    @height="850"
    @label="Large viewport - simple form"
  />

  <Shw::Frame
    @id="demo-form-layout-small-viewports"
    @src="/components/form/frameless/demo-form-basic"
    @width="479"
    @height="980"
    @label="Small viewport (< 480px) - simple form"
  />

  <Shw::Text::H3>Complex form</Shw::Text::H3>

  <Shw::Frame
    @id="demo-form-layout-large-viewports-complex"
    @src="/components/form/frameless/demo-form-complex"
    @height="550"
    @label="Large viewport - complex form"
  />

  <Shw::Frame
    @id="demo-form-layout-small-viewports-complex"
    @src="/components/form/frameless/demo-form-complex"
    @width="479"
    @height="850"
    @label="Small viewport (< 480px) - complex form"
  />

</section>