{{! @glint-nocheck: not typesafe yet }}
{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "SuperSelect Components"}}

<Shw::Text::H1>SuperSelect</Shw::Text::H1>

<section data-test-percy>
  <Shw::Text::H2>Temporary WIP experiments (delete or move once finished)</Shw::Text::H2>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="SuperSelect together with Form Primitives">
      <Hds::Form::Field @isRequired={{true}} as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Control>
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.OPTIONS}}
            @selected={{@model.SELECTED}}
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </F.Control>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Field>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Single selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item>
      <Shw::Flex @direction="row" as |SF|>
        <SF.Item {{style flex="1"}} @label="Default (no selection)">
          <Hds::Form::SuperSelect::Single @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>

        <SF.Item {{style flex="1"}} @label="No selection with custom placeholder">
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.OPTIONS}}
            @placeholder="Placeholder text"
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>
      </Shw::Flex>
    </SF.Item>

    <SF.Item {{style max-width="50%"}} @label="Selected">
      <Hds::Form::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Dropdown</Shw::Text::H4>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1" padding-bottom="11em"}} @label="No search">
      <Hds::Form::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>

    <SF.Item {{style flex="1" padding-bottom="11em"}} @label="Search enabled">
      <Hds::Form::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @searchEnabled={{true}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>States</Shw::Text::H3>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1"}} @label="Default">
      <Hds::Form::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
    <SF.Item {{style flex="1"}} @label="Focus">
      <Hds::Form::SuperSelect::Single
        class="mock-focus"
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
    <SF.Item {{style flex="1"}} @label="Disabled">
      <Hds::Form::SuperSelect::Single
        @disabled={{true}}
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>List layout</Shw::Text::H3>

  <Shw::Text::H4>List position</Shw::Text::H4>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item>
      <Shw::Flex as |SF|>
        <SF.Item {{style flex="1"}} @label="Below (default)">
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.OPTIONS}}
            @selected={{@model.SELECTED}}
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>
        <SF.Item {{style flex="1"}} @label="Above">
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.OPTIONS}}
            @selected={{@model.SELECTED}}
            @verticalPosition="above"
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>
      </Shw::Flex>
    </SF.Item>

    <SF.Item>
      <Shw::Flex as |SF|>
        <SF.Item {{style flex="1"}} @label="Left (+ matchTriggerWidth=False)">
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.PLACES_OPTIONS}}
            @selected={{@model.PLACES_SELECTED}}
            @matchTriggerWidth={{false}}
            @horizontalPosition="left"
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>
        <SF.Item {{style flex="1"}} @label="Center (+ matchTriggerWidth=False)">
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.PLACES_OPTIONS}}
            @selected={{@model.PLACES_SELECTED}}
            @matchTriggerWidth={{false}}
            @horizontalPosition="center"
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>
        <SF.Item {{style flex="1"}} @label="Right (+ matchTriggerWidth=False)">
          <Hds::Form::SuperSelect::Single
            @onChange={{this.noop}}
            @options={{@model.PLACES_OPTIONS}}
            @selected={{@model.PLACES_SELECTED}}
            @matchTriggerWidth={{false}}
            @horizontalPosition="right"
            as |option|
          >
            {{option}}
          </Hds::Form::SuperSelect::Single>
        </SF.Item>
      </Shw::Flex>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>List matches trigger width</Shw::Text::H4>

  <Shw::Flex {{style padding-bottom="11em"}} as |SF|>
    <SF.Item {{style min-width="10em"}} @label="= true (default)">
      <Hds::Form::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
    <SF.Item @label="= false">
      <Hds::Form::SuperSelect::Single
        @onChange={{this.noop}}
        @options={{@model.PLACES_OPTIONS}}
        @selected={{@model.PLACES_SELECTED}}
        @initiallyOpened={{true}}
        @matchTriggerWidth={{false}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>After & before options</Shw::Text::H3>

  <Shw::Text::H4>With generic content</Shw::Text::H4>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1" padding-bottom="13em"}} @label="before options content">
      <Hds::Form::SuperSelect::Single
        @beforeOptionsComponent={{component "form/power-select/generic-content"}}
        @searchEnabled={{true}}
        @onChange={{this.noop}}
        @options={{@model.PLACES_OPTIONS}}
        @selected={{@model.PLACES_SELECTED}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
    <SF.Item {{style flex="1" padding-bottom="15em"}} @label="after options content">
      <Hds::Form::SuperSelect::Single
        @afterOptionsComponent={{component "form/power-select/generic-content"}}
        @searchEnabled={{true}}
        @onChange={{this.noop}}
        @options={{@model.PLACES_OPTIONS}}
        @selected={{@model.PLACES_SELECTED}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Single>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Multiple selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1"}} @label="Default (no selection)">
      <Hds::Form::SuperSelect::Multiple @onChange={{this.noop}} @options={{@model.OPTIONS}} as |option|>
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>

    <SF.Item {{style flex="1"}} @label="With selections">
      <Hds::Form::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED_MULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H4>Dropdown</Shw::Text::H4>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1" padding-bottom="9em"}} @label="No search">
      <Hds::Form::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED_MULTIPLE}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>

    <SF.Item {{style flex="1" padding-bottom="9em"}} @label="Search enabled">
      <Hds::Form::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED_MULTIPLE}}
        @searchEnabled={{true}}
        @initiallyOpened={{true}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level="2" />

  <Shw::Text::H3>States</Shw::Text::H3>

  <Shw::Flex @direction="row" as |SF|>
    <SF.Item {{style flex="1"}} @label="Default">
      <Hds::Form::SuperSelect::Multiple
        @onChange={{this.noop}}
        @options={{@model.PLACES_OPTIONS}}
        @selected={{@model.PLACES_SELECTED_MULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>

    <SF.Item {{style flex="1"}} @label="Focus">
      <Hds::Form::SuperSelect::Multiple
        class="mock-focus"
        @onChange={{this.noop}}
        @options={{@model.PLACES_OPTIONS}}
        @selected={{@model.PLACES_SELECTED_MULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>

    <SF.Item {{style flex="1"}} @label="Disabled">
      <Hds::Form::SuperSelect::Multiple
        @disabled={{true}}
        @onChange={{this.noop}}
        @options={{@model.PLACES_OPTIONS}}
        @selected={{@model.PLACES_SELECTED_MULTIPLE}}
        as |option|
      >
        {{option}}
      </Hds::Form::SuperSelect::Multiple>
    </SF.Item>
  </Shw::Flex>
</section>