{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Form::Textarea Component"}}

<Shw::Text::H1>Form::Textarea</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>"Base" control</Shw::Text::H2>

  <Shw::Text::H3>Interaction status</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="Default">
      <Hds::Form::Textarea::Base aria-label="default textarea example" />
    </SF.Item>
    <SF.Item @label="With placeholder">
      <Hds::Form::Textarea::Base aria-label="textarea example with placeholder" placeholder="Lorem ipsum dolor" />
    </SF.Item>
    <SF.Item @label="With value">
      <Hds::Form::Textarea::Base
        aria-label="textarea example with value"
        @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
      />
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>States</Shw::Text::H3>

  {{#let (array "base" "invalid" "readonly" "disabled") as |variants|}}
    {{#each variants as |variant|}}
      <Shw::Grid @columns={{3}} as |SG|>
        {{#each @model.STATES as |state|}}
          {{! template-lint-disable simple-unless }}
          {{#unless (and (eq variant "disabled") (eq state "focus"))}}
            <SG.Item
              @label="{{capitalize variant}} / {{capitalize state}}"
              mock-state-value={{state}}
              mock-state-selector="textarea"
            >
              <Shw::Flex @direction="column" as |SF|>
                <SF.Item>
                  <Hds::Form::Textarea::Base
                    aria-label="textarea example as {{state}}"
                    disabled={{if (eq variant "disabled") "disabled"}}
                    readonly={{if (eq variant "readonly") "readonly"}}
                    @isInvalid={{if (eq variant "invalid") true}}
                  />
                </SF.Item>
                <SF.Item>
                  <Hds::Form::Textarea::Base
                    aria-label="textarea example as with placeholder in{{state}}"
                    placeholder="Placeholder"
                    disabled={{if (eq variant "disabled") "disabled"}}
                    readonly={{if (eq variant "readonly") "readonly"}}
                    @isInvalid={{if (eq variant "invalid") true}}
                  />
                </SF.Item>
                <SF.Item>
                  <Hds::Form::Textarea::Base
                    aria-label="textarea example with value as {{state}}"
                    @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
                    disabled={{if (eq variant "disabled") "disabled"}}
                    readonly={{if (eq variant "readonly") "readonly"}}
                    @isInvalid={{if (eq variant "invalid") true}}
                  />
                </SF.Item>
              </Shw::Flex>
            </SG.Item>
          {{/unless}}
          {{! template-lint-enable simple-unless }}
        {{/each}}
      </Shw::Grid>
    {{/each}}
  {{/let}}

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Custom layout</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="With custom layout">
      <div class="shw-component-form-textarea-base-custom-layout">
        <div class="shw-component-form-textarea-base-custom-layout__heading">
          <label for="my-custom-textare-example">Custom label</label>
          <span>Some content</span>
        </div>
        <Hds::Form::Textarea::Base
          id="my-custom-textare-example"
          class="shw-component-form-textarea-base-custom-layout__control"
          @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        />
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Containers</Shw::Text::H3>

  <Shw::Grid @columns={{3}} as |SG|>
    {{#let (array "block" "flex" "grid") as |displays|}}
      {{#each displays as |display|}}
        <SG.Item>
          <Shw::Label>Parent with <code>display: {{display}}</code></Shw::Label>
          <Shw::Flex as |SF|>
            <SF.Item @grow={{true}} {{style display=display}}>
              <Hds::Form::Textarea::Base aria-label="textarea example as {{display}}" @value="Default width" />
            </SF.Item>
            <SF.Item @grow={{true}} {{style display=display}}>
              <Hds::Form::Textarea::Base
                aria-label="textarea example as {{display}}"
                @value="Custom width and height"
                @width="248px"
                @height="150px"
              />
            </SF.Item>
          </Shw::Flex>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>"Field" control</Shw::Text::H2>

  <Shw::Text::H3>Content</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="Only label">
      <Hds::Form::Textarea::Field @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco" as |F|>
        <F.Label>This is the label text</F.Label>
      </Hds::Form::Textarea::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text">
      <Hds::Form::Textarea::Field @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco" as |F|>
        <F.Label>This is the label text</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
      </Hds::Form::Textarea::Field>
    </SG.Item>
    {{! left empty on purpose }}
    <SG.Item />
    <SG.Item @label="Label + Error">
      <Hds::Form::Textarea::Field
        @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        @isInvalid={{true}}
        as |F|
      >
        <F.Label>This is the label</F.Label>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Textarea::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Error">
      <Hds::Form::Textarea::Field
        @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        @isInvalid={{true}}
        as |F|
      >
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Textarea::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Errors">
      <Hds::Form::Textarea::Field @isInvalid={{true}} as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Error as |E|>
          <E.Message>First error message</E.Message>
          <E.Message>Second error message</E.Message>
        </F.Error>
      </Hds::Form::Textarea::Field>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Character count</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="Label + Character count">
      <Hds::Form::Textarea::Field @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco" as |F|>
        <F.Label>This is the label text</F.Label>
        <F.CharacterCount @maxLength={{100}} />
      </Hds::Form::Textarea::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Character count (custom)">
      <Hds::Form::Textarea::Field @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco" as |F|>
        <F.Label>This is the label text</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.CharacterCount @maxLength={{100}} as |CC|>
          Entered
          {{CC.currentLength}}
          out of
          {{CC.maxLength}}
          characters
        </F.CharacterCount>
      </Hds::Form::Textarea::Field>
    </SG.Item>
    <SG.Item @label="Label + Character count + Error">
      <Hds::Form::Textarea::Field
        @isInvalid={{this.fieldIsInvalid}}
        @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        as |F|
      >
        <F.Label>This is the label text</F.Label>
        <F.CharacterCount @maxLength={{50}} @onInput={{this.onFieldInput}} />
        {{#if this.fieldIsInvalid}}
          <F.Error>Maximum numbers of characters exceeded</F.Error>
        {{/if}}
      </Hds::Form::Textarea::Field>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Required and optional</Shw::Text::H3>

  <Shw::Grid @columns={{3}} as |SG|>
    <SG.Item @label="Label + Required">
      <Hds::Form::Textarea::Field
        @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        @isRequired={{true}}
        as |F|
      >
        <F.Label>This is the label text</F.Label>
      </Hds::Form::Textarea::Field>
    </SG.Item>
    <SG.Item @label="Label + Optional">
      <Hds::Form::Textarea::Field
        @value="Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        @isOptional={{true}}
        as |F|
      >
        <F.Label>This is the label text</F.Label>
      </Hds::Form::Textarea::Field>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Text::H3>Containers</Shw::Text::H3>

  <Shw::Grid @columns={{3}} as |SG|>
    {{#let (array "block" "flex" "grid") as |displays|}}
      {{#each displays as |display|}}
        <SG.Item>
          <Shw::Label>Parent with <code>display: {{display}}</code></Shw::Label>
          <Shw::Flex as |SF|>
            <SF.Item @grow={{true}} {{style display=display}}>
              <Hds::Form::Textarea::Field @value="Default width" @isInvalid={{true}} as |F|>
                <F.Label>This is the label</F.Label>
                <F.HelperText>This is the helper text</F.HelperText>
                <F.Error>This is the error</F.Error>
              </Hds::Form::Textarea::Field>
            </SF.Item>
            <SF.Item @grow={{true}} {{style display=display}}>
              <Hds::Form::Textarea::Field
                @value="Custom width and height"
                @width="248px"
                @height="150px"
                @isInvalid={{true}}
                as |F|
              >
                <F.Label>This is the label</F.Label>
                <F.HelperText>This is the helper text</F.HelperText>
                <F.Error>This is the error</F.Error>
              </Hds::Form::Textarea::Field>
            </SF.Item>
          </Shw::Flex>
        </SG.Item>
      {{/each}}
    {{/let}}
  </Shw::Grid>

</section>