{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Form::Toggle Component"}}

<Shw::Text::H1>Form::Toggle</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>"Base" control</Shw::Text::H2>

  <Shw::Text::H3>Interaction status</Shw::Text::H3>

  <Shw::Flex {{style gap="2rem"}} as |SF|>
    <SF.Item @label="Unchecked">
      <Hds::Form::Toggle::Base aria-label="Unchecked toggle" />
    </SF.Item>
    <SF.Item @label="Checked">
      <Hds::Form::Toggle::Base checked="checked" aria-label="Checked toggle" />
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>States (Base / Disabled)</Shw::Text::H3>

  <Shw::Flex {{style gap="2rem"}} as |SF|>
    {{#each @model.STATES as |state|}}
      <SF.Item @label={{capitalize state}}>
        <Shw::Grid @columns={{2}} mock-state-value={{state}} mock-state-selector="input" as |SG|>
          <SG.Item>
            <Hds::Form::Toggle::Base aria-label="Toggle" />
          </SG.Item>
          <SG.Item>
            <Hds::Form::Toggle::Base checked="checked" aria-label="Checked toggle" />
          </SG.Item>
          {{! template-lint-disable simple-unless }}
          {{#unless (eq state "focus")}}
            <SG.Item>
              <Hds::Form::Toggle::Base disabled="disabled" aria-label="Disabled toggle" />
            </SG.Item>
            <SG.Item>
              <Hds::Form::Toggle::Base checked="checked" disabled="disabled" aria-label="Checked, disabled toggle" />
            </SG.Item>
          {{/unless}}
          {{! template-lint-enable simple-unless }}
        </Shw::Grid>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Text::H3>Custom layout</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item>
      <div class="shw-component-form-toggle-base-custom-layout">
        <label for="my-custom-toggle-example">Custom label</label>
        <Hds::Form::Toggle::Base id="my-custom-toggle-example" />
        <span>Some extra content</span>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>"Field" control</Shw::Text::H2>

  <Shw::Text::H3>Content</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="Only label">
      <Hds::Form::Toggle::Field as |F|>
        <F.Label>This is the label text</F.Label>
      </Hds::Form::Toggle::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text">
      <Hds::Form::Toggle::Field checked="checked" as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
      </Hds::Form::Toggle::Field>
    </SG.Item>
    {{! left empty on purpose }}
    <SG.Item />
    <SG.Item @label="Label + Error">
      <Hds::Form::Toggle::Field as |F|>
        <F.Label>This is the label</F.Label>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Toggle::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Error">
      <Hds::Form::Toggle::Field checked="checked" as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Error>This is the error</F.Error>
      </Hds::Form::Toggle::Field>
    </SG.Item>
    <SG.Item @label="Label + Helper text + Errors">
      <Hds::Form::Toggle::Field checked="checked" as |F|>
        <F.Label>This is the label</F.Label>
        <F.HelperText>This is the helper text</F.HelperText>
        <F.Error as |E|>
          <E.Message>First error message</E.Message>
          <E.Message>Second error message</E.Message>
        </F.Error>
      </Hds::Form::Toggle::Field>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>"Group" of controls</Shw::Text::H2>

  <Shw::Text::H3>Vertical layout / Single field</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="With legend">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>This is the label</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="With legend / With helper text">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>This is the label</F.Label>
          <F.HelperText>This is the helper text</F.HelperText>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="Without legend">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.HelperText>Helper text for the entire group</G.HelperText>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>This is the label</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="Without legend / With helper text">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>This is the label</F.Label>
        </G.Toggle::Field>
        <G.Error>Error for the entire group</G.Error>
      </Hds::Form::Toggle::Group>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Vertical layout / Multiple fields</Shw::Text::H3>

  <Shw::Grid @columns="3" as |SG|>
    <SG.Item @label="With legend">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="With legend / With helper text">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
          <F.HelperText>Helper text for control #1</F.HelperText>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
          <F.HelperText>Helper text for control #2</F.HelperText>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
          <F.HelperText>Helper text for control #3</F.HelperText>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="Without legend">
      <Hds::Form::Toggle::Group as |G|>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="Without legend / With helper text">
      <Hds::Form::Toggle::Group as |G|>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
          <F.HelperText>Helper text for control #1</F.HelperText>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
          <F.HelperText>Helper text for control #2</F.HelperText>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
          <F.HelperText>Helper text for control #3</F.HelperText>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="With helper text at group level">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.HelperText>Helper text for the entire group</G.HelperText>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SG.Item>
    <SG.Item @label="With error at group level">
      <Hds::Form::Toggle::Group as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
        <G.Error>Error for the entire group</G.Error>
      </Hds::Form::Toggle::Group>
    </SG.Item>
  </Shw::Grid>

  <Shw::Text::H3>Horizontal layout</Shw::Text::H3>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="With legend">
      <Hds::Form::Toggle::Group @layout="horizontal" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SF.Item>
    <SF.Item @label="Without legend">
      <Hds::Form::Toggle::Group @layout="horizontal" as |G|>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SF.Item>
    <SF.Item @label="With helper text at group level">
      <Hds::Form::Toggle::Group @layout="horizontal" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.HelperText>Helper text for the entire group</G.HelperText>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SF.Item>
    <SF.Item @label="With error at group level">
      <Hds::Form::Toggle::Group @layout="horizontal" as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
        <G.Error>Error for the entire group</G.Error>
      </Hds::Form::Toggle::Group>
    </SF.Item>
    <SF.Item @label="With controls on multiple lines" {{style width="450px"}}>
      <Hds::Form::Toggle::Group @layout="horizontal" as |G|>
        <G.Legend>Lorem ipsum dolor</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Sit amet</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Consectetur adipiscing</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Elit</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Pellentesque erat</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Lacinia</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>At magna</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>Required and optional</Shw::Text::H3>

  <Shw::Flex as |SF|>
    <SF.Item @label="With legend + Required">
      <Hds::Form::Toggle::Group @isRequired={{true}} as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SF.Item>
    <SF.Item @label="With legend + Optional">
      <Hds::Form::Toggle::Group @isOptional={{true}} as |G|>
        <G.Legend>Legend of the group</G.Legend>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #1</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field checked="checked" as |F|>
          <F.Label>Label of control #2</F.Label>
        </G.Toggle::Field>
        <G.Toggle::Field as |F|>
          <F.Label>Label of control #3</F.Label>
        </G.Toggle::Field>
      </Hds::Form::Toggle::Group>
    </SF.Item>
  </Shw::Flex>

</section>