{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "PowerSelect Component"}}

<Shw::Text::H1>PowerSelect</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Single selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>
  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <div class="hds-power-select">
        <PowerSelect @options={{@model.OPTIONS}} @onChange={{this.noop}} @renderInPlace={{true}} as |option|>
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
    <SF.Item @label="Selected">
      <div class="hds-power-select">
        <PowerSelect
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
    <SF.Item @label="Search enabled">
      <div class="hds-power-select">
        <PowerSelect
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          @searchEnabled={{true}}
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>States</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <div class="hds-power-select">
        <PowerSelect
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
    <SF.Item @label="Focus">
      <div class="hds-power-select">
        <PowerSelect
          class="mock-focus"
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
    <SF.Item @label="Disabled">
      <div class="hds-power-select">
        <PowerSelect
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @disabled={{true}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>List position</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Below (default)">
      <div class="hds-power-select">
        <PowerSelect
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
    <SF.Item @label="Above">
      <div class="hds-power-select">
        <PowerSelect
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTED}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          @verticalPosition="above"
          as |option|
        >
          {{option}}
        </PowerSelect>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H2>Multiple selection</Shw::Text::H2>

  <Shw::Text::H3>Interaction</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <div class="hds-power-select">
        <PowerSelectMultiple @options={{@model.OPTIONS}} @onChange={{this.noop}} @renderInPlace={{true}} as |option|>
          {{option}}
        </PowerSelectMultiple>
      </div>
    </SF.Item>
    <SF.Item @label="Selected">
      <div class="hds-power-select">
        <PowerSelectMultiple
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTEDMULTIPLE}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelectMultiple>
      </div>
    </SF.Item>
    <SF.Item @label="Search enabled">
      <div class="hds-power-select">
        <PowerSelectMultiple
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTEDMULTIPLE}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          @searchEnabled={{true}}
          as |option|
        >
          {{option}}
        </PowerSelectMultiple>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Text::H3>States</Shw::Text::H3>

  <Shw::Flex {{style max-width="50%"}} @direction="column" as |SF|>
    <SF.Item @label="Default">
      <div class="hds-power-select">
        <PowerSelectMultiple
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTEDMULTIPLE}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          @searchEnabled={{true}}
          as |option|
        >
          {{option}}
        </PowerSelectMultiple>
      </div>
    </SF.Item>
    <SF.Item @label="Focus">
      <div class="hds-power-select">
        <PowerSelectMultiple
          class="mock-focus"
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTEDMULTIPLE}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          as |option|
        >
          {{option}}
        </PowerSelectMultiple>
      </div>
    </SF.Item>
    <SF.Item @label="Disabled">
      <div class="hds-power-select">
        <PowerSelectMultiple
          @options={{@model.OPTIONS}}
          @selected={{@model.SELECTEDMULTIPLE}}
          @onChange={{this.noop}}
          @renderInPlace={{true}}
          @disabled={{true}}
          as |option|
        >
          {{option}}
        </PowerSelectMultiple>
      </div>
    </SF.Item>
  </Shw::Flex>

</section>