{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-page-cover" ...attributes>
  <div class="doc-page-cover__title-extra-wrapper">
    <h1 class="doc-page-cover__title">{{@title}}</h1>
    {{#if @status}}
      <Doc::Badge @type={{@status.type}}>{{@status.label}}</Doc::Badge>
    {{/if}}
    <div class="doc-page-cover__extra">
      {{#if this.links}}
        {{#each-in this.links as |service url|}}
          {{#if (eq service "figma")}}
            <a class="doc-page-cover__link doc-link-generic" href={{url}} target="_blank" rel="noopener noreferrer">
              <Hds::Icon @name="figma-color" />
              Figma
            </a>
          {{/if}}
          {{#if (eq service "github")}}
            <a class="doc-page-cover__link doc-link-generic" href={{url}} target="_blank" rel="noopener noreferrer">
              <Hds::Icon @name="github-color" />
              GitHub
            </a>
          {{/if}}
        {{/each-in}}
      {{/if}}
    </div>
  </div>
  {{#if @description}}
    <p class="doc-page-cover__description">{{@description}}</p>
  {{/if}}
</div>