<div class="doc-page-cover" ...attributes>
  <h1 class="doc-page-cover__title doc-text-h1">{{@title}}</h1>
  {{#if @description}}
    <p class="doc-page-cover__description doc-text-body-large">{{@description}}</p>
  {{/if}}
  <pre>@tabs = {{@tabs}}</pre>
  {{#each @tabs as |tab|}}
    <pre>tab = {{tab.name}}</pre>
  {{/each}}
  {{#each this.dynamicSections.sections as |section|}}
    <pre>dynamicSections.section = {{section.name}}</pre>
  {{/each}}
  {{#each this.dynamicSections.tabs as |tab|}}
    <pre>dynamicSections.tab = {{tab.label}}</pre>
  {{/each}}
  {{#each this.tabs as |tab|}}
    <pre>getTab = {{tab}}</pre>
  {{/each}}
  {{#if @tabs}}
    <div class="doc-page-cover__tabs">
      <Doc::Page::Tabs @tabs={{@tabs}} />
    </div>
  {{/if}}
</div>