<div class='doc-page-sidecar'>
  <p class='doc-page-sidecar__on-this-page doc-text-label' id="nav-sidecar">On this page:</p>
  {{#each @tocs as |toc|}}
    <ul class='doc-page-sidecar__list' id={{toc.id}} hidden={{not toc.isCurrent}} aria-labelledby="nav-sidecar">
      {{#each toc.list as |item|}}
        <li
          class='doc-page-sidecar__item doc-page-sidecar__item--depth-{{item.depth}}'
        >
          <a class="doc-text-navigation" href='#{{item.target}}'>{{item.text}}</a>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>