{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{! template-lint-disable no-invalid-role require-context-role }}
{{#if @tabs}}
  <ul class="doc-page-tabs" role="tablist" ...attributes>
    {{#each @tabs as |tab|}}
      <li class="doc-page-tabs__tab {{if tab.isCurrent 'doc-page-tabs__tab--is-current'}}" role="presentation">
        <button
          id={{tab.id}}
          type="button"
          role="tab"
          aria-controls={{tab.target}}
          aria-selected={{if tab.isCurrent "true" "false"}}
          {{on "click" (fn this.onClickTab tab)}}
        >{{capitalize tab.label}}</button>
      </li>
    {{/each}}
  </ul>
{{/if}}
{{! template-lint-enable no-invalid-role require-context-role }}