{{page-title "LinkTo (Standalone) Component"}}
<h2 class="dummy-h2">
  LinkTo (Standalone)
</h2>
<section>
  <ul>
    <li>
      This is intended for internal app links that are not inline and are used as standalone elements whose destination
      is a URL.
    </li>
    <li>
      It must always have a
      <a href="https://flight-hashicorp.vercel.app/">Flight Icon</a>
      defined.
    </li>
    <li>
      The
      <code>...attributes</code>
      syntax is supported on this component. See
      <a
        href="https://guides.emberjs.com/release/components/component-arguments-and-html-attributes/"
        rel="external"
      >the Ember Guides section on HTML attributes in components</a>
      if you are unfamiliar with the way Ember supports HTML attributes and/or the
      <code>
        ...attributes
      </code>
      syntax. Additionally, see
      <a
        href="https://guides.emberjs.com/release/in-depth-topics/patterns-for-components/#toc_attributes"
        rel="external"
      >Attribute Ordering</a>
      to understand how the position of
      <code>
        ...attributes
      </code>
      matters.
    </li>
  </ul>
</section>
<section>
  <h3 class="dummy-h3">
    Component API
  </h3>
  <p class="dummy-paragraph">
    Here is the API for the component:
  </p>
  <dl class="dummy-component-props">
    <dt>
      size
      <code>
        enum
      </code>
    </dt>
    <dd>
      <p>
        Acceptable values:
      </p>
      <ol>
        <li>
          small
        </li>
        <li class="default">
          medium
        </li>
        <li>
          large
        </li>
      </ol>
    </dd>
    <dt>
      text
      <code>
        string
      </code>
    </dt>
    <dd>
      <p>
        The text of the link (standalone).
      </p>
      <p>
        <em>
          If no text value is defined an error will be thrown.
        </em>
      </p>
    </dd>
    <dt>
      route
      <code>
        route name
      </code>
    </dt>
    <dd>
      The route that is passed to the link
    </dd>
    <dt>
      model/models
      <code>
        route model(s)
      </code>
    </dt>
    <dd>
      Use this to explicitly supply a model to the route
    </dd>
    <dt>
      query
      <code>
        query params as key value pairs
      </code>
    </dt>
    <dd>
      Use this to supply query parameters to the route
    </dd>
    <dt>
      icon
      <code>
        string
      </code>
    </dt>
    <dd>
      <p>
        Use this parameter to show an icon. Acceptable value: any Flight icon name.
      </p>
    </dd>
    <dt>iconPosition <code>enum</code></dt>
    <dd>
      <p>Positions the icon before or after the text. Acceptable values:</p>
      <ol>
        <li class="default">leading</li>
        <li>trailing</li>
      </ol>
    </dd>
    <dt>color <code>enum</code></dt>
    <dd>
      <p>Acceptable values:</p>
      <ol>
        <li class="default">primary</li>
        <li>secondary</li>
      </ol>
    </dd>
  </dl>
</section>
<section>
  <h3 class="dummy-h3">
    Usage
  </h3>
  <LinkToStandaloneDoc />
</section>
<section data-test-percy>
  <h3 class="dummy-h3">
    Showcase
  </h3>
  <h4 class="dummy-h4">
    Content
  </h4>
  <div class="dummy-button-base-sample">
    <Hds::LinkTo::Standalone @icon="plus" @text="text & leading icon" @route="components.link-to" />
    <Hds::LinkTo::Standalone
      @icon="arrow-right"
      @text="text & trailing icon"
      @route="components.link-to"
      @iconPosition="trailing"
    />
    <div class="dummy-button-max-width-container">
      <Hds::LinkTo::Standalone
        @icon="plus"
        @text="very long text that might wrap for multiple lines"
        @route="components.link-to"
      />
    </div>
  </div>
  <h4 class="dummy-h4">
    Sizes
  </h4>
  <Hds::LinkTo::Standalone @icon="plus" @text="small" @route="components.link-to" @size="small" />
  <Hds::LinkTo::Standalone @icon="plus" @text="medium" @route="components.link-to" />
  <Hds::LinkTo::Standalone @icon="plus" @text="large" @route="components.link-to" @size="medium" />
  <h4 class="dummy-h4">
    States (in each size)
  </h4>
  <div class="dummy-button-states-grid">
    {{#each @model.COLORS as |color|}}
      {{#each @model.SIZES as |size|}}
        {{#each @model.STATES as |state|}}
          <div>
            <span class="dummy-text-small">
              {{capitalize size}}/{{capitalize state}}/{{capitalize color}}
              :
            </span>
            <br />
            <Hds::LinkTo::Standalone
              @icon="plus"
              @text={{capitalize state}}
              @size={{size}}
              class="is-{{state}}"
              @route="components.link-to"
            />
          </div>
        {{/each}}
      {{/each}}
    {{/each}}
  </div>
</section>