<li class="doc-tokens-list__item">
  <div class="doc-tokens-list__preview {{this.token.previewClass}}">
    {{#if this.isColor}}
      {{! template-lint-disable no-inline-styles }}
      <span class="doc-tokens-list__item-color" style={{this.colorPreviewStyle}}></span>
    {{/if}}
    {{this.token.previewText}}
  </div>
  <div class="doc-tokens-list__content">
    <button type="button" class="doc-tokens-list__toggle" {{on "click" this.toggle}}><FlightIcon @name={{if this.isExpanded "chevron-up" "chevron-down"}} /><span class="doc-sr-only">{{this.isExpanded 'Collapse' 'Expand'}}</span></button>
    {{#if this.token.deprecated}}
      <Doc::MetaRow @label="Don't use" @valueToShow="This token is now deprecated" />
      <Doc::MetaRow class="doc-tokens-list__item--is-deprecated" @label="CSS var" @valueToShow={{this.token.name}}  />
    {{else}}
      <Doc::MetaRow @label="CSS var" @valueToCopy={{this.token.name}} @copyable={{true}} />
      {{! we don't want developers to use directly HEX values, so we don't add a "copy" button on purpose }}
      <Doc::MetaRow @label="Value" @valueToShow={{this.token.value}} />
    {{/if}}
    {{#if this.isExpanded}}
      <Doc::MetaRow @label="Type" @valueToShow={{this.token.type}} />
      {{#if this.isAlias}}
        <Doc::MetaRow @label="Alias of" @valueToShow={{this.token.original_value}} />
      {{/if}}
      {{#if this.token.comment}}
        <Doc::MetaRow @label="Comment" @valueToShow={{this.token.comment}} />
      {{/if}}
    {{/if}}
  </div>
</li>