{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<li class="doc-tokens-list__item">
  <div class="doc-tokens-list__preview">
    <Doc::TokenPreview @token={{this.token}} />
  </div>
  <div class="doc-tokens-list__content">
    <button
      type="button"
      class="doc-tokens-list__toggle"
      {{on "click" this.toggle}}
      aria-label={{(concat this.token.name " information list")}}
      aria-expanded={{if this.isExpanded "true" "false"}}
    ><Hds::Icon @name={{if this.isExpanded "chevron-up" "chevron-down"}} /></button>
    {{#if this.token.deprecated}}
      <Doc::MetaRow @label="Don't use" @valueToShow="This token is now deprecated" />
      <Doc::MetaRow class="doc-tokens-list__item--is-deprecated" @label="CSS var" @valueToShow={{this.token.name}} />
    {{else}}
      <Doc::MetaRow @label="CSS var" @valueToCopy="--{{this.token.name}}" @copyable={{true}} />
      {{! we don't want developers to use directly HEX values, so we don't add a "copy" button on purpose }}
      <Doc::MetaRow @label="Value" @valueToShow={{this.token.value}} @isClipped={{not this.isExpanded}} />
    {{/if}}
    {{#if this.isExpanded}}
      {{#if this.token.type}}
        <Doc::MetaRow @label="Type" @valueToShow={{this.token.type}} />
      {{/if}}
      {{#if this.isAlias}}
        <Doc::MetaRow @label="Alias of" @valueToShow={{this.token.original_value}} />
      {{/if}}
      {{#if this.token.aliases}}
        <Doc::MetaRow @label="Aliased as" @multipleValuesToShow={{this.token.aliases}} />
      {{/if}}
      {{#if this.token.comment}}
        <Doc::MetaRow @label="Comment" @valueToShow={{this.token.comment}} />
      {{/if}}
    {{/if}}
  </div>
</li>