{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Charts"}}

<Shw::Text::H1>Charts</Shw::Text::H1>

<Shw::Text::H2>Carbon Charts Donut</Shw::Text::H2>

<section data-test-percy>
  <Hds::Layout::Grid @columnWidth="33.33%" @gap="12">
    <Hds::Card::Container @hasBorder={{true}} {{style padding="1.5rem"}}>
      <Hds::Text::Display @size="300">Clusters</Hds::Text::Display>
      <Hds::Charts::Donut @data={{this.model.DONUT_CLUSTERS_DATA}} />
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} {{style padding="1.5rem"}}>
      <Hds::Layout::Flex @direction="column" @gap="12">
        <div>
          <Hds::Text::Display @tag="p" @size="300">Services</Hds::Text::Display>
          <Hds::Text::Body @tag="p" @size="200">From clusters above v1.14.0</Hds::Text::Body>
        </div>
        <Hds::Text::Display @tag="p" @size="500">5</Hds::Text::Display>
        <Hds::Link::Standalone @icon="arrow-right" @iconPosition="trailing" @text="View services" @href="#" />
      </Hds::Layout::Flex>
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} {{style padding="1.5rem"}}>
      <Hds::Text::Display @tag="p" @size="200">Service Instances</Hds::Text::Display>
      <Hds::Charts::Donut
        @title="Instances health"
        @data={{this.model.DONUT_SERVICE_HEALTH_DATA}}
        @colorMap={{hash Critical="#c00005" Warning="#d3a029" Healthy="#008a22"}}
      />
    </Hds::Card::Container>
  </Hds::Layout::Grid>

  <Shw::Text::H2>Carbon Charts Meter</Shw::Text::H2>

  <Hds::Layout::Grid @columnWidth="100%" @gap="12">
    <Hds::Card::Container @hasBorder={{true}} {{style padding="1.5rem"}}>
      <Hds::Charts::Meter @title="Pending run" @data={{this.model.METER_DATABASE_TRANSACTIONS_DATA}} />
    </Hds::Card::Container>

    <Hds::Card::Container @hasBorder={{true}} {{style padding="1.5rem"}}>
      <Hds::Charts::Meter
        @title="Billable managed resources"
        @data={{this.model.METER_BILLABLE_RESOURCES_DATA}}
        @total="50000"
      />
    </Hds::Card::Container>
  </Hds::Layout::Grid>

  <Shw::Text::H2>Carbon Charts Bar</Shw::Text::H2>

  <Hds::Card::Container @hasBorder={{true}} {{style padding="1.5rem"}}>
    <Hds::Charts::Bar @title="Average billable managed resources" @data={{this.model.BAR_MANAGED_RESOURCES_DATA}} />
  </Hds::Card::Container>
</section>