{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<header class="doc-page-header" ...attributes>
  <NavigationNarrator @routeChangeValidator={{@routeChangeValidator}} />
  <LinkTo @route="index" class="doc-page-header__logo" aria-label="home page">
    <Doc::Logo::DesignSystem />
  </LinkTo>
  <nav class="doc-page-header__nav-menu" aria-label="primary navigation" id="primary-navigation">
    <ul role="list" aria-labelledby="primary-navigation">
      <Doc::Page::Header::NavItem @label="About" @route="about" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Foundations" @route="foundations" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Components" @route="components" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Patterns" @route="patterns" @currentTopRoute={{@currentTopRoute}} />
      <li class="doc-page-header__nav-item-generic doc-page-header__nav-item--split">
        <div class="sr-only" id="search-button">This button opens a dialog containing an input field and some additional
          information that you may wish to explore. An automatic search will be performed as you type text into the
          search field, but the results may not be announced. Exploring the additional items in the modal will help you
          discover the search results.</div>
        <button
          type="button"
          class="doc-page-header__search-button"
          data-doc-algolia-search-autocomplete-secondary-trigger
          aria-describedby="search-button"
        >
          <Hds::Icon @name="search" />
          Search
        </button>
      </li>
      <Doc::Page::Header::NavItem
        @label="Support"
        @route="show"
        @model="about/support"
        @currentTopRoute={{@currentTopRoute}}
      />
      <li class="doc-page-header__nav-item-generic">
        <a href="https://github.com/hashicorp/design-system" target="_blank" rel="noopener noreferrer">
          <Hds::Icon @name="github" @size="24" @isInlineBlock={{false}} />
          <span class="doc-sr-only">GitHub</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="doc-page-header__mobile-only-menu">
    <button
      type="button"
      class="doc-page-header__mobile-only-menu-button"
      data-doc-algolia-search-autocomplete-secondary-trigger
      aria-describedby="search-button"
    >
      <Hds::Icon @name="search" />
      Search
    </button>
    <button type="button" class="doc-page-header__mobile-only-menu-button" {{on "click" @onToggleBurgerMenu}}>
      {{#if @isSidebarVisibleOnSmallViewport}}
        <Hds::Icon @name="x" />
        Close
      {{else}}
        <Hds::Icon @name="menu" />
        Menu
      {{/if}}
    </button>
  </div>
  {{! ALGOLIA SEARCH }}
  <Doc::Page::Header::AlgoliaSearch />
</header>