{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<header class="doc-page-header" ...attributes>
  <NavigationNarrator @routeChangeValidator={{@routeChangeValidator}} />
  <LinkTo @route="index" class="doc-page-header__logo" aria-label="home page">
    <Doc::Logo::DesignSystem />
  </LinkTo>
  <nav class="doc-page-header__nav-menu" aria-label="primary navigation" id="primary-navigation">
    <ul role="list" aria-labelledby="primary-navigation">
      <Doc::Page::Header::NavItem @label="About" @route="about" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Foundations" @route="foundations" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Content" @route="content" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Components" @route="components" @currentTopRoute={{@currentTopRoute}} />
      <Doc::Page::Header::NavItem @label="Patterns" @route="patterns" @currentTopRoute={{@currentTopRoute}} />
      <li class="doc-page-header__nav-item-generic doc-page-header__nav-item--split">
        <div class="sr-only" id="search-button-help">
          This button opens a dialog containing an input field and some additional information that you may wish to
          explore. An automatic search will be performed as you type text into the search field, but the results may not
          be announced. Exploring the additional items in the modal will help you discover the search results.
        </div>
        <button
          type="button"
          class="doc-page-header__desktop-icon-item"
          data-doc-algolia-search-autocomplete-secondary-trigger
          aria-describedby="search-button-help"
          aria-label="Search"
          id="search-button"
        >
          <Hds::Icon @name="search" @size="24" />
        </button>
      </li>
      <li class="doc-page-header__nav-item-generic">
        <LinkTo class="doc-page-header__desktop-icon-item" @route="show" @model="about/support" aria-label="Support">
          <Hds::Icon @name="help" @size="24" />
        </LinkTo>
      </li>
      <li class="doc-page-header__nav-item-generic">
        <a
          href="https://github.com/hashicorp/design-system"
          target="_blank"
          rel="noopener noreferrer"
          class="doc-page-header__desktop-icon-item"
          aria-label="GitHub"
        >
          <Hds::Icon @name="github" @size="24" />
        </a>
      </li>
    </ul>
  </nav>
  <div class="doc-page-header__mobile-only-menu">
    <button
      type="button"
      class="doc-page-header__mobile-only-menu-button"
      data-doc-algolia-search-autocomplete-secondary-trigger
      aria-describedby="search-button"
      aria-label="Search"
    >
      <Hds::Icon @name="search" @size="24" />
    </button>
    <button
      type="button"
      aria-label="Menu"
      aria-expanded={{if @isSidebarVisibleOnSmallViewport "true" "false"}}
      class="doc-page-header__mobile-only-menu-button"
      {{on "click" @onToggleBurgerMenu}}
    >
      {{#if @isSidebarVisibleOnSmallViewport}}
        <Hds::Icon @name="x" @size="24" />
      {{else}}
        <Hds::Icon @name="menu" @size="24" />
      {{/if}}
    </button>
  </div>
  {{! ALGOLIA SEARCH }}
  <Doc::Page::Header::AlgoliaSearch />
</header>