{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<li class="doc-page-header__nav-item-text" ...attributes>
  {{#if @model}}
    <LinkTo
      class="{{if (eq @currentTopRoute @route) 'is-current-route'}}"
      @route={{@route}}
      @model={{@model}}
    >{{@label}}</LinkTo>
  {{else}}
    <LinkTo class="{{if (eq @currentTopRoute @route) 'is-current-route'}}" @route={{@route}}>{{@label}}</LinkTo>
  {{/if}}
</li>