{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "ButtonSet Component"}}

<Shw::Text::H1>ButtonSet</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Flex @direction="column" as |SF|>
    <SF.Item @label="Default">
      <Hds::ButtonSet>
        <Hds::Button @text="Submit" type="submit" />
        <Hds::Button @text="Cancel" @color="secondary" @href="https://hashicorp.com" />
      </Hds::ButtonSet>
    </SF.Item>
    <SF.Item @label="Parent with max-width">
      <Shw::Outliner {{style width="300px"}}>
        <Hds::ButtonSet>
          <Hds::Button @text="This is a very long text" type="submit" />
          <Hds::Button @text="This is also a very long text" @color="secondary" @href="https://hashicorp.com" />
        </Hds::ButtonSet>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item @label="Parent with max-width and buttons full with">
      <Shw::Outliner {{style width="300px"}}>
        <Hds::ButtonSet>
          <Hds::Button @text="Save" @isFullWidth={{true}} />
          <Hds::Button @text="Cancel" @isFullWidth={{true}} @color="secondary" @href="#" />
        </Hds::ButtonSet>
      </Shw::Outliner>
    </SF.Item>
    <SF.Item {{style width="300px"}} @label="Idle/Loading states (click 'Save' to toggle)">
      <Shw::Outliner {{style width="300px"}}>
        <Hds::ButtonSet>
          <Hds::Button
            @text={{if this.isLoading "Loading" "Save"}}
            @icon={{if this.isLoading "loading"}}
            @isFullWidth={{true}}
            {{on "click" this.toggleIsLoading}}
          />
          <Hds::Button @text="Cancel" @isFullWidth={{true}} @color="secondary" @href="#" />
        </Hds::ButtonSet>
      </Shw::Outliner>
    </SF.Item>
  </Shw::Flex>

</section>