{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<ul class="doc-font-helpers-list" role="list">
  {{#each @items as |item|}}
    {{! role="listitem" is needed here because the class sets `display: contents` and some browsers and assistive technologies will ignore the implied role }}
    <li class="doc-font-helpers-list__item" role="listitem">
      <div class="doc-font-helpers-list__preview {{item.previewClass}}">{{item.previewText}}</div>
      <div class="doc-font-helpers-list__content">
        {{#if item.copyText}}
          <Doc::CopyButton @textToShow=".{{item.copyText}}" @textToCopy={{item.copyText}} @type="ghost" />
        {{/if}}
        {{#if item.otherText}}
          <code class="doc-font-helpers-list__simple-code">{{item.otherText}}</code>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>