{{#if @route}}
  <LinkTo class="hds-link-standalone {{this.sizeClass}}" @route={{this.to}} ...attributes>
    {{#if (eq this.iconPosition "leading")}}
      <div class="hds-link-standalone__icon">
        <FlightIcon @name={{this.icon}} @size={{this.iconSize}} @stretched={{true}} />
      </div>
      <div class="hds-link-standalone__text">
        {{this.text}}
      </div>
    {{else}}
      <div class="hds-link-standalone__text">
        {{this.text}}
      </div>
      <div class="hds-link-standalone__icon">
        <FlightIcon @name={{this.icon}} @size={{this.iconSize}} @stretched={{true}} />
      </div>
    {{/if}}
  </LinkTo>
{{else}}
  <a href={{this.to}} class="hds-link-standalone {{this.sizeClass}}" ...attributes>
    {{#if (eq this.iconPosition "leading")}}
      <div class="hds-link-standalone__icon">
        <FlightIcon @name={{this.icon}} @size={{this.iconSize}} @stretched={{true}} />
      </div>
      <div class="hds-link-standalone__text">
        {{this.text}}
      </div>
    {{else}}
      <div class="hds-link-standalone__text">
        {{this.text}}
      </div>
      <div class="hds-link-standalone__icon">
        <FlightIcon @name={{this.icon}} @size={{this.iconSize}} @stretched={{true}} />
      </div>
    {{/if}}
  </a>
{{/if}}