<button 
  class="hds-button {{this.sizeClass}} {{this.colorClass}}"
  ...attributes
  aria-label={{if this.isIconOnly @text null}} 
  type={{this.type}}
>
  {{#if this.isIconOnly}}
    <div class="hds-button__icon">
      <FlightIcon @name={{this.icon}} @size={{this.iconSize}} />
    </div>
  {{else}}
    {{#if this.icon}}
      {{#if (eq this.iconPos "leading")}}
        <div class="hds-button__icon">
          <FlightIcon @name={{this.icon}} @size={{this.iconSize}} />
        </div>
        <div class="hds-button__text">
          {{@text}}
        </div> 
      {{else}}
        <div class="hds-button__text">
          {{@text}}
        </div>
        <div class="hds-button__icon">
          <FlightIcon @name={{this.icon}} @size={{this.iconSize}} />
        </div>
      {{/if}}
    {{else}}
      <div class="hds-button__text">
          {{@text}}
      </div>
    {{/if}}
  {{/if}}

</button>