<button 
  class="hds-button {{this.sizeClass}} {{this.colorClass}}" 
  aria-label={{if this.isIconOnly @text null}} 
  type={{this.type}}
  ...attributes
>
  {{#if this.isIconOnly}}
    <FlightIcon @name={{this.icon}} />
  {{else}}
    {{#if this.icon}}
      {{#if (eq this.iconPos "leading")}}
        <FlightIcon @name={{this.icon}} @size={{if (eq this.size "large") "24" null}} />
        {{@text}}
      {{else}}
        {{@text}}
        <FlightIcon @name={{this.icon}} />
      {{/if}}
    {{else}}
      {{@text}}
    {{/if}}
  {{/if}}

</button>