<button 
  class="hds-button {{this.sizeClass}} {{this.colorClass}}" 
  aria-label={{if this.isIconOnly @text null}} 
  type={{this.type}}
>
  {{#if this.isIconOnly}}
    <FlightIcon />
  {{else}}
    {{#if this.hasIcon}}
      {{#if (eq this.iconPos "left")}}
        <FlightIcon />
        {{@text}}
      {{else}}
        {{@text}}
        <FlightIcon />
      {{/if}}
    {{/if}}
    {{@text}}
  {{/if}}
</button>