{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-form-filter {{if @isCompact 'doc-form-filter--compact'}}">
  {{#let (unique-id) as |filterId|}}
    {{#if @label}}
      <Doc::Form::Label @for={{filterId}} @label={{@label}} />
    {{/if}}
    <input
      type="search"
      name="filter"
      id={{filterId}}
      class="doc-form-filter__control"
      placeholder={{@placeholder}}
      aria-label={{@placeholder}}
      value={{@filterQuery}}
      {{on "input" (perform @onInput value="target.value")}}
      ...attributes
    />
  {{/let}}
</div>