{{!--
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
--}}

<div class="doc-form-search">
  {{#let (unique-id) as |searchId|}}
    <Doc::Form::Label @for={{searchId}} @label={{@label}} />
    <input
      type="search"
      name="search"
      id={{searchId}}
      class="doc-form-search__control"
      placeholder={{@placeholder}}
      value={{@searchQuery}}
      {{on "input" (perform @onInput value="target.value")}}
    />
  {{/let}}
</div>