{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="doc-form-select">
  {{#let (unique-id) as |selectId|}}
    <Doc::Form::Label @for={{selectId}} @label={{@label}} />
    <select class="doc-form-select__control" id={{selectId}} {{on "change" @onSelect}}>
      <option value="16" selected={{eq @selectedValue "16"}}>16px</option>
      <option value="24" selected={{eq @selectedValue "24"}}>24px</option>
    </select>
  {{/let}}
</div>