<Hds::Composite as |C|>
  <div role="grid" {{C.composite}}>
    <div role="row" {{C.group}}>
      <button type="button" role="gridcell" {{C.item}}>Row 1, Col 1</button>
      <button type="button" role="gridcell" {{C.item}}>Row 1, Col 2</button>
    </div>
    <div role="row" {{C.group}}>
      <button type="button" role="gridcell" {{C.item}}>Row 2, Col 1</button>
      <button type="button" role="gridcell" {{C.item}}>Row 2, Col 2</button>
    </div>
  </div>
</Hds::Composite>