{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Elevation"}}

<Shw::Text::H1>Elevation</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Elevation</Shw::Text::H2>
  <Shw::Text::Body>Standalone shadow effects</Shw::Text::Body>

  <Shw::Flex as |SF|>
    {{#each @model.ELEVATIONS as |elevation|}}
      <SF.Item>
        <div class="hds-elevation-{{elevation}}">
          <Shw::Placeholder @text={{elevation}} @width="100" @height="100" @background="transparent" />
        </div>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

  <Shw::Text::H2>Surface</Shw::Text::H2>
  <Shw::Text::Body>Shadow effects combined with an additional edge</Shw::Text::Body>

  <Shw::Flex as |SF|>
    {{#each @model.SURFACES as |surface|}}
      <SF.Item>
        <div class="hds-surface-{{surface}}">
          <Shw::Placeholder @text={{surface}} @width="100" @height="100" @background="transparent" />
        </div>
      </SF.Item>
    {{/each}}
  </Shw::Flex>

</section>