{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "Link::Inline component"}}

<Shw::Text::H1>Link::Inline</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Generated element</Shw::Text::H2>

  <Shw::Flex as |SF|>
    <SF.Item>
      <Shw::Label>With
        <code>@href</code>
        ⇒
        <code>&lt;a&gt;</code></Shw::Label>
      <div class="hds-typography-body-300">
        <Hds::Link::Inline @color="primary" @href="#">Lorem ipsum dolor</Hds::Link::Inline>
      </div>
    </SF.Item>
    <SF.Item>
      <Shw::Label>With
        <code>@route</code>
        ⇒
        <code>&lt;LinkTo&gt;</code>
        ⇒
        <code>&lt;a&gt;</code></Shw::Label>
      <div class="hds-typography-body-300">
        <Hds::Link::Inline @color="primary" @route="index">Lorem ipsum dolor</Hds::Link::Inline>
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider />

  <Shw::Text::H2>Content</Shw::Text::H2>

  <Shw::Grid
    @columns={{3}}
    {{style width="fit-content" grid-template-columns="repeat(3, auto)" gap="1rem 2rem"}}
    as |SG|
  >
    <SG.Item @label="Only text">
      <div class="hds-typography-body-300">
        <Hds::Link::Inline @color="primary" @href="#">Lorem ipsum dolor</Hds::Link::Inline>
      </div>
    </SG.Item>
    <SG.Item @label="Text + leading icon">
      <div class="hds-typography-body-300">
        <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#">Lorem ipsum dolor</Hds::Link::Inline>
      </div>
    </SG.Item>
    <SG.Item @label="Text + trailing icon">
      <div class="hds-typography-body-300">
        <Hds::Link::Inline @color="primary" @icon="arrow-right-circle" @iconPosition="trailing" @href="#">Lorem ipsum
          dolor</Hds::Link::Inline>
      </div>
    </SG.Item>
    <SG.Item @label="HDS::Text::Body">
      <Hds::Link::Inline @color="primary" @href="#"><Hds::Text::Body @size="300" @tag="span">Lorem ipsum dolor</Hds::Text::Body></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Body + leading icon">
      <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#"><Hds::Text::Body
          @size="300"
          @tag="span"
        >Lorem ipsum dolor</Hds::Text::Body></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Body + trailing icon">
      <Hds::Link::Inline @color="primary" @icon="arrow-right-circle" @iconPosition="trailing" @href="#"><Hds::Text::Body
          @size="300"
          @tag="span"
        >Lorem ipsum dolor</Hds::Text::Body></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Display">
      <Hds::Link::Inline @color="primary" @href="#"><Hds::Text::Display @size="200" @tag="span">Lorem ipsum dolor</Hds::Text::Display></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Display + leading icon">
      <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#"><Hds::Text::Display
          @size="200"
          @tag="span"
        >Lorem ipsum dolor</Hds::Text::Display></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Display + trailing icon">
      <Hds::Link::Inline
        @color="primary"
        @icon="arrow-right-circle"
        @iconPosition="trailing"
        @href="#"
      ><Hds::Text::Display @size="200" @tag="span">Lorem ipsum dolor</Hds::Text::Display></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Code">
      <Hds::Link::Inline @color="primary" @href="#"><Hds::Text::Code @size="200" @tag="code">Lorem ipsum dolor</Hds::Text::Code></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Code + leading icon">
      <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#"><Hds::Text::Code
          @size="200"
          @tag="code"
        >Lorem ipsum dolor</Hds::Text::Code></Hds::Link::Inline>
    </SG.Item>
    <SG.Item @label="HDS::Text::Code + trailing icon">
      <Hds::Link::Inline @color="primary" @icon="arrow-right-circle" @iconPosition="trailing" @href="#"><Hds::Text::Code
          @size="200"
          @tag="code"
        >Lorem ipsum dolor</Hds::Text::Code></Hds::Link::Inline>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider @level={{2}} />

  <Shw::Flex as |SF|>
    <SF.Item @label="With different text sizes">
      <div class="hds-typography-body-100">
        Lorem
        <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#">ipsum dolor</Hds::Link::Inline>
        sit amet
        <Hds::Link::Inline @color="primary" @icon="arrow-right-circle" @iconPosition="trailing" @href="#">consectetur
          adipiscing</Hds::Link::Inline>
        elit.
      </div>
      <div class="hds-typography-body-200">
        Lorem
        <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#">ipsum dolor</Hds::Link::Inline>
        sit amet
        <Hds::Link::Inline @color="primary" @icon="arrow-right-circle" @iconPosition="trailing" @href="#">consectetur
          adipiscing</Hds::Link::Inline>
        elit.
      </div>
      <div class="hds-typography-body-300">
        Lorem
        <Hds::Link::Inline @color="primary" @icon="globe" @iconPosition="leading" @href="#">ipsum dolor</Hds::Link::Inline>
        sit amet
        <Hds::Link::Inline @color="primary" @icon="arrow-right-circle" @iconPosition="trailing" @href="#">consectetur
          adipiscing</Hds::Link::Inline>
        elit.
      </div>
    </SF.Item>
  </Shw::Flex>

  <Shw::Divider @level={{2}} />

  <Shw::Grid @columns={{3}} as |SG|>
    <SG.Item @label="Within text block">
      <div class="hds-typography-body-300">
        <Hds::Link::Inline @color="primary" @href="#">Lorem ipsum dolor sit amet</Hds::Link::Inline>, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
      </div>
    </SG.Item>
    <SG.Item @label="Span two lines">
      <div class="hds-typography-body-300">
        Lorem ipsum dolor sit amet,
        <Hds::Link::Inline @color="primary" @href="#">consectetur adipiscing elit</Hds::Link::Inline>, sed do eiusmod
        tempor incididunt ut labore et dolore.
      </div>
    </SG.Item>
    <SG.Item @label="Span two lines and overlaps">
      <div class="hds-typography-body-300">
        Lorem ipsum dolor sit amet,
        <Hds::Link::Inline @color="primary" @href="#">consectetur adipiscing elit, sed do eiusmod tempor</Hds::Link::Inline>
        incididunt ut labore et dolore.
      </div>
    </SG.Item>
  </Shw::Grid>

  <Shw::Divider />

  <Shw::Text::H2>States</Shw::Text::H2>

  {{#each @model.COLORS as |color|}}
    <Shw::Text::H3>{{capitalize color}}</Shw::Text::H3>
    <Shw::Grid @columns={{4}} {{style width="fit-content"}} as |SG|>
      {{#each @model.STATES as |state|}}
        <SG.Item @label="{{capitalize state}}" class="shw-component-link-inline-state-samples">
          <div class="hds-typography-body-300">Lorem
            <Hds::Link::Inline @color={{color}} @href="/components/link/inline" mock-state-value={{state}}>ipsum dolor</Hds::Link::Inline>
            sit amet
          </div>
          <div class="hds-typography-body-300">Lorem
            <Hds::Link::Inline
              @color={{color}}
              @href="/components/link/inline"
              @icon="external-link"
              @iconPosition="trailing"
              mock-state-value={{state}}
            >ipsum dolor</Hds::Link::Inline>
            sit amet
          </div>
        </SG.Item>
      {{/each}}
    </Shw::Grid>
  {{/each}}

</section>