{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title "KeyValuePair Component"}}

<Shw::Text::H1>KeyValuePair</Shw::Text::H1>

<section data-test-percy>

  <Shw::Text::H2>Content</Shw::Text::H2>
  <Hds::KeyValuePair
    @isOptional={{true}}
    @data={{this.sampleData}}
    @onDeleteRowClick={{this.onDeleteRowClick}}
    @columns={{3}}
  >
    <:header as |H|>
      <H.Legend>Tags applied to this workspace</H.Legend>
      <H.HelperText>Use tags to correlate, organize or filter your resources using key-only or key/value pairs. You can
        add up to 3 tags per resource.</H.HelperText>
      <H.Error>There is an error.</H.Error>
    </:header>

    <:row as |R|>
      <R.Field as |F|>
        <F.Label>Key</F.Label>
        <F.HelperText>The key you enter should be a good key.</F.HelperText>
        <F.TextInput @value={{R.rowData.key}} />
      </R.Field>

      <R.Field as |F|>
        <F.Label>Value</F.Label>
        <F.TextInput @value={{R.rowData.value}} />
        {{#if R.rowData.error}}
          <F.Error>{{R.rowData.error}}</F.Error>
        {{/if}}
      </R.Field>
      <R.Field as |F|>
        <F.Generic>
          <Shw::Placeholder @height="36px" @text="generic" />
        </F.Generic>
      </R.Field>
      <R.DeleteRowButton />
    </:row>

    <:footer as |F|>
      <F.Generic>
        <Shw::Placeholder @height="36px" @text="generic" />
      </F.Generic>
      <F.AddRowButton />
    </:footer>
  </Hds::KeyValuePair>
</section>

<Shw::Divider />

<section>
  <Shw::Text::H2>Responsiveness</Shw::Text::H2>

  <Shw::Frame
    @id="demo-key-value-pair-large-viewports"
    @src="/components/key-value-pair/frameless/demo-responsiveness"
    @height="300"
    @label="Large viewport"
  />

  <Shw::Frame
    @id="demo-key-value-pair-small-viewports"
    @src="/components/key-value-pair/frameless/demo-responsiveness"
    @width="400"
    @height="650"
    @label="Small viewport (< 480px)"
  />
</section>